Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

accept otel configmap keys Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.tmpl
Labels: go

add otel-module to NIC images
  build/Dockerfile
Labels: docker

update zone-sync note
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

Update docker images d34cdc03
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
  tests/Dockerfile
Labels: docker

replace patch with delete and create
  tests/suite/utils/vs_vsr_resources_utils.py
Labels: python

Docker image update d34cdc03 (#7631)
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
  tests/Dockerfile
Labels: docker

Remove OpenTracing Support from NIC
  .github/workflows/build-ot-dependency.yml
  build/Dockerfile
  cmd/nginx-ingress/main.go
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/configmaps_test.go
  internal/configs/configurator.go
  internal/configs/configurator_test.go
  internal/configs/version1/config.go
  internal/configs/version1/nginx.tmpl
  internal/configs/version1/template_executor_test.go
  internal/nginx/fake_manager.go
  internal/nginx/manager.go
  internal/nginx/verify.go
  internal/nginx/verify_test.go
  site/content/configuration/global-configuration/configmap-resource.md
  site/content/technical-specifications.md
Labels: github_actions, go, docker

update test snapshots
  internal/configs/version1/__snapshots__/template_test.snap
Labels: none

re-add missing reload
  internal/configs/configurator.go
Labels: go

add deprecation notice
  site/content/configuration/global-configuration/configmap-resource.md
  site/content/installation/integrations/opentracing.md
Labels: none

update note
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

remove unused config map keys
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/version1/nginx-plus.tmpl
Labels: go

add retries to test logic
  tests/suite/test_rl_ingress.py
  tests/suite/test_rl_policies.py
Labels: python

remove redundant code
  tests/suite/test_rl_ingress.py
Labels: python

Apply suggestions from code review
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

Update the `zone-sync` ConfigMap key note (#7641)
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

fix indentation
  tests/suite/test_rl_ingress.py
Labels: python

fix sequence
  tests/suite/test_rl_ingress.py
Labels: python

Use pod labels as headless selector labels
  charts/nginx-ingress/templates/_helpers.tpl
  charts/tests/__snapshots__/helmunit_test.snap
  cmd/nginx-ingress/main.go
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  internal/k8s/service.go
  internal/telemetry/cluster_test.go
Labels: go, helm_chart

update wording
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

update opentracing cm docs (#7652)
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

Use pod labels as headless selector labels (#7651)
  charts/nginx-ingress/templates/_helpers.tpl
  charts/tests/__snapshots__/helmunit_test.snap
  cmd/nginx-ingress/main.go
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  internal/k8s/service.go
  internal/telemetry/cluster_test.go
Labels: go, helm_chart

add otel-module to NIC images
  build/Dockerfile
Labels: docker

remove extra chars in docs
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

Add release notes generation step
  .github/workflows/release.yml
Labels: github_actions

Release 4.1.0
  README.md
  charts/nginx-ingress/Chart.yaml
  charts/nginx-ingress/values-icp.yaml
  charts/nginx-ingress/values-plus.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  examples/custom-resources/app-protect-dos/README.md
  examples/custom-resources/app-protect-waf-v5/README.md
  examples/custom-resources/app-protect-waf/README.md
  examples/custom-resources/certmanager/README.md
  examples/custom-resources/security-monitoring/README.md
  examples/custom-resources/service-insight/README.md
  examples/ingress-resources/app-protect-dos/README.md
  examples/ingress-resources/app-protect-waf/README.md
  examples/ingress-resources/complete-example/README.md
  examples/ingress-resources/mergeable-ingress-types/README.md
  examples/ingress-resources/rate-limit/README.md
  examples/ingress-resources/security-monitoring/README.md
  site/content/releases.md
  site/layouts/shortcodes/nic-helm-version.html
  site/layouts/shortcodes/nic-operator-version.html
  site/layouts/shortcodes/nic-version.html
Labels: helm_chart

revert ip address in docs
  examples/custom-resources/app-protect-dos/README.md
  examples/custom-resources/app-protect-waf-v5/README.md
  examples/custom-resources/app-protect-waf/README.md
  examples/custom-resources/certmanager/README.md
  examples/custom-resources/security-monitoring/README.md
  examples/ingress-resources/app-protect-dos/README.md
  examples/ingress-resources/app-protect-waf/README.md
  examples/ingress-resources/complete-example/README.md
  examples/ingress-resources/mergeable-ingress-types/README.md
  examples/ingress-resources/rate-limit/README.md
  examples/ingress-resources/security-monitoring/README.md
Labels: none

Update to 5.0.0 release
  .github/data/version.txt
  README.md
  charts/nginx-ingress/Chart.yaml
  charts/nginx-ingress/values-icp.yaml
  charts/nginx-ingress/values-plus.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  charts/tests/__snapshots__/helmunit_test.snap
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  examples/custom-resources/service-insight/README.md
  site/content/releases.md
  site/layouts/shortcodes/nic-version.html
Labels: helm_chart

add go dependency update
  site/content/releases.md
Labels: none

update release notes
  site/content/releases.md
Labels: none

add link to zone-sync note at top of release notes
  site/content/releases.md
Labels: none

update release notes
  site/content/releases.md
Labels: none

additional 5.0.0 notes
  site/content/releases.md
Labels: none

advised when deprecation will occur
  site/content/releases.md
Labels: none

remove extra chars in zone-sync note (#7658)
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

add note about Otel
  site/content/releases.md
Labels: none

add full URL for rate limit with JWT example
  site/content/releases.md
Labels: none

Release 5.0.0 (#7617)
  .github/data/version.txt
  README.md
  charts/nginx-ingress/Chart.yaml
  charts/nginx-ingress/values-icp.yaml
  charts/nginx-ingress/values-plus.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  charts/tests/__snapshots__/helmunit_test.snap
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  examples/custom-resources/service-insight/README.md
  site/content/releases.md
  site/layouts/shortcodes/nic-helm-version.html
  site/layouts/shortcodes/nic-operator-version.html
  site/layouts/shortcodes/nic-version.html
Labels: helm_chart

update to next NIC versions
  .github/data/version.txt
  charts/nginx-ingress/Chart.yaml
Labels: helm_chart

update helm snaps
  charts/tests/__snapshots__/helmunit_test.snap
Labels: none

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'
