Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

formatted example clone repo command as codeblock
  site/content/installation/installing-nic/installation-with-manifests.md
Labels: none

Update docker images a36d55e8
  tests/Dockerfile
Labels: docker

update triage dates
  README.md
Labels: none

[cherry-pick] chore(deps): bump the python group in /tests with 3 updates (#7726)
  tests/requirements.txt
Labels: python

update codegen & update IPv4/v6 validation
  internal/externaldns/sync.go
  pkg/apis/configuration/validation/globalconfiguration.go
  pkg/apis/externaldns/validation/externaldns.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/typed/configuration/v1/configuration_client.go
  pkg/client/clientset/versioned/typed/dos/v1beta1/dos_client.go
  pkg/client/clientset/versioned/typed/externaldns/v1/externaldns_client.go
  pkg/client/informers/externalversions/configuration/v1/globalconfiguration.go
  pkg/client/informers/externalversions/configuration/v1/policy.go
  pkg/client/informers/externalversions/configuration/v1/transportserver.go
  pkg/client/informers/externalversions/configuration/v1/virtualserver.go
  pkg/client/informers/externalversions/configuration/v1/virtualserverroute.go
  pkg/client/informers/externalversions/dos/v1beta1/dosprotectedresource.go
  pkg/client/informers/externalversions/externaldns/v1/dnsendpoint.go
Labels: go

Docker image update a36d55e8 (#7730)
  tests/Dockerfile
Labels: docker

remove collector from agent config
  charts/nginx-ingress/templates/_helpers.tpl
Labels: helm_chart

docs: removed unused configurations parameters for helm installation guide
  site/content/installation/installing-nic/installation-with-helm.md
Labels: none

Removed unused configurations parameters for helm installation (#7729)
  site/content/installation/installing-nic/installation-with-helm.md
Labels: none

[cherry-pick] Docker image update 81bc09dc (#7727)
  tests/Dockerfile
Labels: docker

Removed unused serviceMonitor configuration parameters from helm installation docs (#7733)
  site/content/installation/installing-nic/installation-with-helm.md
Labels: none

update agent repo, fix docker images, remove opentracing
  build/Dockerfile
Labels: docker

[cherry-pick] chore(deps): bump the go group across 1 directory with 8 updates (#7734)
  go.mod
  go.sum
  internal/externaldns/sync.go
  pkg/apis/configuration/validation/globalconfiguration.go
  pkg/apis/externaldns/validation/externaldns.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/typed/configuration/v1/configuration_client.go
  pkg/client/clientset/versioned/typed/dos/v1beta1/dos_client.go
  pkg/client/clientset/versioned/typed/externaldns/v1/externaldns_client.go
  pkg/client/informers/externalversions/configuration/v1/globalconfiguration.go
  pkg/client/informers/externalversions/configuration/v1/policy.go
  pkg/client/informers/externalversions/configuration/v1/transportserver.go
  pkg/client/informers/externalversions/configuration/v1/virtualserver.go
  pkg/client/informers/externalversions/configuration/v1/virtualserverroute.go
  pkg/client/informers/externalversions/dos/v1beta1/dosprotectedresource.go
  pkg/client/informers/externalversions/externaldns/v1/dnsendpoint.go
Labels: go

[cherry-pick] Docker image update a36d55e8 (#7732)
  tests/Dockerfile
Labels: docker

update kubernetes version to v1.33.0 in helm schema
  charts/nginx-ingress/values.schema.json
Labels: helm_chart

cherry pick to chosen branch
  .github/workflows/cherry-pick.yml
Labels: github_actions

ensure the commentor is a member of nic or docs
  .github/workflows/cherry-pick.yml
Labels: github_actions

remove unnessasary token & pin action sha
  .github/workflows/cherry-pick.yml
Labels: github_actions

tryout im-open/is-actor-team-member action
  .github/workflows/is-team-member.yml
Labels: github_actions

fix nic team name
  .github/workflows/is-team-member.yml
Labels: github_actions

use NGINX_PAT
  .github/workflows/is-team-member.yml
Labels: github_actions

correct NIC team name & give team check the correct permissions
  .github/workflows/cherry-pick.yml
Labels: github_actions

Add version check and collect deployment metadata and add as labels to agent
  cmd/nginx-ingress/main.go
  internal/common_cluster_info/common_cluster_info.go
  internal/metadata/metadata.go
  internal/metadata/metadata_test.go
  internal/nginx/manager.go
  internal/nginx/version.go
Labels: go

fix package to nginx instead of nginx_test
  internal/nginx/version_test.go
Labels: go

fix lint
  internal/common_cluster_info/common_cluster_info.go
Labels: go

Revert "cherry pick to chosen branch (#7678)"
  .github/workflows/cherry-pick.yml
Labels: github_actions

fix tests for agent version check, address comments
  internal/common_cluster_info/common_cluster_info.go
  internal/nginx/manager.go
  internal/nginx/version_test.go
Labels: go

Update docs
  site/content/configuration/global-configuration/command-line-arguments.md
  site/content/installation/installing-nic/installation-with-helm.md
Labels: none

Update docs for watch-secret-namespace (#7744)
  site/content/configuration/global-configuration/command-line-arguments.md
  site/content/installation/installing-nic/installation-with-helm.md
Labels: none

DO NOT MERGE
  internal/nginx/version.go
Labels: go

Update docs for watch-secret-namespace (#7745)
  site/content/configuration/global-configuration/command-line-arguments.md
  site/content/installation/installing-nic/installation-with-helm.md
Labels: none

Update version.go
  internal/nginx/version.go
Labels: go

do-not-merge
  internal/nginx/manager.go
Labels: go

add ;
  internal/configs/oidc/oidc_common.conf
Labels: none

add otel-module to NIC images
  build/Dockerfile
Labels: docker

remove unused config map keys
  internal/configs/configmaps.go
Labels: go

accept otel configmap keys Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  internal/configs/version1/nginx-plus.tmpl
Labels: none

remove unused config map keys
  internal/configs/version1/nginx-plus.tmpl
Labels: none

update templates to add OSS support
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.tmpl
Labels: none

Remove OpenTracing Support from NIC (#7633)
  build/Dockerfile
Labels: docker

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'
