Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'

add tiered ratelimit with apikey PoC
  charts/tests/__snapshots__/helmunit_test.snap
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  examples/custom-resources/rate-limit-tiered-apikey/README.md
  examples/custom-resources/rate-limit-tiered-apikey/api-key-policy.yaml
  examples/custom-resources/rate-limit-tiered-apikey/api-key-secret.yaml
  examples/custom-resources/rate-limit-tiered-apikey/cafe-secret.yaml
  examples/custom-resources/rate-limit-tiered-apikey/cafe-virtual-server.yaml
  examples/custom-resources/rate-limit-tiered-apikey/chocolate-virtual-server-route.yaml
  examples/custom-resources/rate-limit-tiered-apikey/chocolate.yaml
  examples/custom-resources/rate-limit-tiered-apikey/coffee.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits-route.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits-spec.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits.yaml
  examples/custom-resources/rate-limit-tiered-apikey/tea.yaml
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/validation/common.go
  pkg/apis/configuration/validation/policy.go
Labels: go

allow variables a list with maximum 1 item Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits.yaml
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/validation/policy.go
Labels: go

pluralise variable in log message
  pkg/apis/configuration/validation/policy.go
Labels: go

add request method rate limiting example
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits.yaml
  examples/custom-resources/rate-limit-tiered-request-method/README.md
  examples/custom-resources/rate-limit-tiered-request-method/cafe-virtual-server.yaml
  examples/custom-resources/rate-limit-tiered-request-method/coffee.yaml
  examples/custom-resources/rate-limit-tiered-request-method/rate-limits.yaml
Labels: none

Remove release page links to marketplaces
  site/content/releases.md
Labels: none

update the tiered rate limit with API Key example
  examples/custom-resources/rate-limit-tiered-apikey/README.md
  examples/custom-resources/rate-limit-tiered-apikey/api-key-secret.yaml
  examples/custom-resources/rate-limit-tiered-apikey/cafe-secret.yaml
  examples/custom-resources/rate-limit-tiered-apikey/cafe-virtual-server.yaml
  examples/custom-resources/rate-limit-tiered-apikey/chocolate-virtual-server-route.yaml
  examples/custom-resources/rate-limit-tiered-apikey/chocolate.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits-route.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits-spec.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits.yaml
  examples/custom-resources/rate-limit-tiered-apikey/tea.yaml
Labels: none

update docs with variables rate-limit condition
  site/content/configuration/policy-resource.md
Labels: none

Implement pkce in configs
  internal/configs/oidc/oidc_common.conf
  internal/configs/oidc/oidc_pkce_supplements.conf
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: none

Add PKCE Enabled flag
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/template_helper.go
  internal/configs/virtualserver.go
  pkg/apis/configuration/v1/types.go
Labels: go

Fix leading whitespace in tmpl files
  internal/configs/version2/nginx.virtualserver.tmpl
Labels: none

Add check for OIDC to guard for a nil pointer
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: none

Fix some whitespace alignment in tmpl files
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: none

Update snapshots to realign with whitespaces
  internal/configs/version2/__snapshots__/templates_test.snap
Labels: none

Add tests for PKCE enabled true
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver_test.go
Labels: go

Update CRDs based on policy files
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
Labels: none

Add PKCE pytest
  tests/data/oidc/pkce.yaml
  tests/suite/test_pkce.py
Labels: python

Add pkceEnabled to oidc pytest setup yaml
  tests/data/oidc/oidc.yaml
Labels: python

Set pkce enabled to an int instead of a string
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: none

OIDC test doesn't need pkce enabled
  tests/data/oidc/oidc.yaml
Labels: python

Terminate include directive with a ;
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: none

Remove a parameter from pkce test
  tests/suite/test_pkce.py
Labels: python

oidc and pkce pytest fixture scope to function
  tests/suite/test_oidc.py
  tests/suite/test_pkce.py
Labels: python

Update snapshot after changing a str -> int
  internal/configs/version2/__snapshots__/templates_test.snap
Labels: none

pkce test fixture should also be class scoped
  tests/suite/test_pkce.py
Labels: python

OIDC tests should be class fixtured
  tests/suite/test_oidc.py
Labels: python

Merge pkce test into oidc test file
  tests/suite/test_oidc.py
  tests/suite/test_pkce.py
Labels: python

Add unit tests for the bool to int util function
  internal/configs/version2/template_helper_test.go
Labels: go

Add docs to create keycloak client via api
  examples/custom-resources/oidc/keycloak_setup.md
Labels: none

Add debug prints
  tests/suite/test_oidc.py
  tests/suite/test_pkce.py
Labels: python

Add plus-mgmt-configmap.yaml to instructions
  examples/custom-resources/oidc/README.md
  site/content/includes/installation/manifests/deployment.md
Labels: none

OIDC example deploy keycloak into nginx-ingress ns
  examples/custom-resources/oidc/keycloak.yaml
Labels: none

Redo list numbers in oidc example readme
  examples/custom-resources/oidc/README.md
Labels: none

Reword options because no tabs
  examples/custom-resources/oidc/keycloak_setup.md
Labels: none

Fix product name in example readme
  examples/custom-resources/oidc/README.md
Labels: none

Add pkceEnabled to policy resource doc
  site/content/configuration/policy-resource.md
Labels: none

Turn choice into unordered list
  examples/custom-resources/oidc/keycloak_setup.md
Labels: none

Replace const default pkce secret with init val
  internal/configs/virtualserver.go
Labels: go

Move applying the plus mgmt to common resources
  site/content/includes/installation/create-common-resources.md
  site/content/includes/installation/manifests/deployment.md
Labels: none

Change pkce and client secret validations
  internal/configs/virtualserver.go
  internal/k8s/controller.go
  pkg/apis/configuration/validation/policy.go
Labels: go

Rename pkceEnabled from past to present tense
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
  site/content/configuration/policy-resource.md
  tests/data/oidc/pkce.yaml
Labels: go, python
