Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'

clean up test markers
  pyproject.toml
  tests/suite/test_rl_policies_vsr.py
Labels: python

skip plus test in oss
  tests/suite/test_rl_ingress.py
Labels: python

go mod tidy
  go.mod
Labels: go

Update docker images a8ca1c46
  build/Dockerfile
Labels: docker

[cherry-pick] chore(deps): bump docker/login-action from 3.3.0 to 3.4.0 in the actions group (#7525)
  .github/workflows/build-base-images.yml
  .github/workflows/build-oss.yml
  .github/workflows/build-ot-dependency.yml
  .github/workflows/build-plus.yml
  .github/workflows/build-single-image.yml
  .github/workflows/build-test-image.yml
  .github/workflows/build-ubi-dependency.yml
  .github/workflows/ci.yml
  .github/workflows/image-promotion.yml
  .github/workflows/oss-release.yml
  .github/workflows/patch-image.yml
  .github/workflows/plus-release.yml
  .github/workflows/publish-helm.yml
  .github/workflows/regression.yml
  .github/workflows/retag-images.yml
  .github/workflows/setup-smoke.yml
  .github/workflows/single-image-regression.yml
Labels: github_actions

remove comment as it works
  tests/suite/test_rl_policies_vsr.py
Labels: python

Update docker images ef726321
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
  tests/Dockerfile
Labels: docker

Docker image update a8ca1c46 (#7523)
  build/Dockerfile
Labels: docker

bump github.com/aws/aws-sdk-go-v2/service/marketplacemetering from 1.26.1 to 1.26.2 in the go group (#7529)
  go.mod
  go.sum
Labels: go

Docker image update a8ca1c46 (#7530)
  build/Dockerfile
Labels: docker

Update Basic configuration documentation
  site/content/configuration/ingress-resources/basic-configuration.md
Labels: none

Update docker images bf0ad572
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
  tests/Dockerfile
Labels: docker

update kubernetes version to v1.32.3 in helm schema
  charts/nginx-ingress/values.schema.json
Labels: helm_chart

Docker image update bf0ad572 (#7534)
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
  tests/Dockerfile
Labels: docker

[cherry-pick] Docker image update bf0ad572 (#7535)
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
  tests/Dockerfile
Labels: docker

update kubernetes version to v1.32.3 in helm schema
  charts/nginx-ingress/values.schema.json
Labels: helm_chart

Update docker images 55d12419
  build/Dockerfile
Labels: docker

[cherry-pick] chore(deps): bump the actions group across 1 directory with 6 updates (#7536)
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/build-single-image.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/image-promotion.yml
  .github/workflows/lint-format.yml
  .github/workflows/regression.yml
  .github/workflows/scorecards.yml
  .github/workflows/setup-smoke.yml
  .github/workflows/update-release-draft.yml
Labels: github_actions

add proxy directives to mgmt config
  Makefile
  build/Dockerfile
  charts/nginx-ingress/templates/controller-configmap.yaml
  charts/nginx-ingress/templates/controller-daemonset.yaml
  charts/nginx-ingress/templates/controller-deployment.yaml
  charts/nginx-ingress/values.yaml
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.tmpl
Labels: go, helm_chart, docker

add new directory for rofs
  charts/nginx-ingress/templates/_helpers.tpl
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  tests/suite/utils/resources_utils.py
Labels: python, helm_chart

fix integration tests
  tests/suite/utils/resources_utils.py
Labels: python

Docker image update 55d12419 (#7539)
  build/Dockerfile
Labels: docker

chore(deps): bump the go group with 4 updates
  go.mod
  go.sum
Labels: go

bump the pip group in /tests with 2 updates (#7544)
  tests/requirements.txt
Labels: python

Docker image update 55d12419
  build/Dockerfile
Labels: docker

add proxy directives to mgmt config
  Makefile
  build/Dockerfile
  charts/nginx-ingress/templates/controller-configmap.yaml
  charts/nginx-ingress/templates/controller-daemonset.yaml
  charts/nginx-ingress/templates/controller-deployment.yaml
  charts/nginx-ingress/values.yaml
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.tmpl
Labels: go, helm_chart, docker

add secret & proxy validation
  charts/nginx-ingress/templates/controller-daemonset.yaml
  charts/nginx-ingress/templates/controller-deployment.yaml
Labels: helm_chart

fix helm secret value validation
  charts/nginx-ingress/templates/controller-daemonset.yaml
  charts/nginx-ingress/templates/controller-deployment.yaml
Labels: helm_chart

allow 63 char top level domain name
  internal/validation/validation.go
Labels: go

update proxy secret name
  charts/nginx-ingress/templates/controller-daemonset.yaml
  charts/nginx-ingress/templates/controller-deployment.yaml
  charts/nginx-ingress/values.yaml
Labels: helm_chart

parse proxy host
  internal/configs/version1/nginx-plus.tmpl
Labels: none

updated documentation for proxyCredentialsSecretName
  charts/nginx-ingress/values.yaml
Labels: helm_chart

add schema validation for helm values
  charts/nginx-ingress/values.schema.json
Labels: helm_chart

revert testing changes
  Makefile
  build/Dockerfile
  charts/nginx-ingress/values.yaml
Labels: helm_chart, docker

[cherry-pick] chore(deps): bump the actions group across 1 directory with 2 updates (#7545)
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/build-single-image.yml
  .github/workflows/ci.yml
  .github/workflows/fossa.yml
  .github/workflows/image-promotion.yml
  .github/workflows/release.yml
  .github/workflows/setup-smoke.yml
Labels: github_actions

add configmap tests for proxyhost, pass, user.
  internal/configs/configmaps_test.go
Labels: go

template tests for proxy host, user, pass
  internal/configs/version1/template_test.go
Labels: go

check for nil usageReport object
  charts/nginx-ingress/templates/controller-daemonset.yaml
  charts/nginx-ingress/templates/controller-deployment.yaml
Labels: helm_chart

update snaps
  internal/configs/version1/__snapshots__/template_test.snap
Labels: none

[cherry-pick] chore(deps): bump github.com/golang-jwt/jwt/v4 from 4.5.1 to 4.5.2 in the go_modules group (#7547)
  go.mod
  go.sum
Labels: go
