Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'

Update docker images 1de54b35
  build/Dockerfile
Labels: docker

Docker image update 1de54b35 (#7855)
  build/Dockerfile
Labels: docker

add tiered ratelimit with apikey example
  examples/custom-resources/rate-limit-tiered-apikey-regex/README.md
  examples/custom-resources/rate-limit-tiered-apikey-regex/api-key-policy.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/api-key-secret.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/cafe-secret.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/cafe-virtual-server.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/coffee.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits-combo.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits-exact.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits-list.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits-regex.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits.yaml
Labels: none

allow users to use apikey_ in rate limiting variables
  pkg/apis/configuration/validation/policy.go
Labels: go

add APIKeyCondition to RateLimitCondition
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  pkg/apis/configuration/v1/types.go
Labels: go

add apikey_client_name variable to nginx config
  internal/configs/njs/apikey_auth.js
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
Labels: none

rename jwt claim tests
  internal/configs/virtualserver_test.go
Labels: go

rename example folder
  examples/custom-resources/rate-limit-tiered-apikey/README.md
  examples/custom-resources/rate-limit-tiered-apikey/api-key-policy.yaml
  examples/custom-resources/rate-limit-tiered-apikey/api-key-secret.yaml
  examples/custom-resources/rate-limit-tiered-apikey/cafe-secret.yaml
  examples/custom-resources/rate-limit-tiered-apikey/cafe-virtual-server.yaml
  examples/custom-resources/rate-limit-tiered-apikey/coffee.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits-exact.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits-list.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits.yaml
Labels: none

working PoC
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits-combo.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits-exact.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits-list.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits-regex.yaml
  internal/configs/njs/apikey_auth.js
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
  internal/configs/virtualserver.go
Labels: go

allow match to generate valid nginx maps
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits-exact.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits-regex.yaml
  internal/configs/virtualserver.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/validation/common.go
  pkg/apis/configuration/validation/policy.go
Labels: go

tidy up MVP
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  examples/custom-resources/rate-limit-tiered-apikey/api-key-secret.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits-exact.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits-list.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits.yaml
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  pkg/apis/configuration/v1/types.go
Labels: go

add comment
  internal/configs/oidc/oidc.conf
Labels: none

update snaps
  charts/tests/__snapshots__/helmunit_test.snap
Labels: none

pin agent images to v2
  build/Dockerfile
Labels: docker

fix typo
  build/Dockerfile
Labels: docker

fix agent for WAF v4 with FIPS
  build/Dockerfile
Labels: docker

Update CRDs based on policy files
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
Labels: none

Add check for OIDC to guard for a nil pointer
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: none

Terminate include directive with a ;
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: none

Add PKCE Enabled flag
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/template_helper.go
  internal/configs/virtualserver.go
  pkg/apis/configuration/v1/types.go
Labels: go

Fix leading whitespace in tmpl files
  internal/configs/version2/nginx.virtualserver.tmpl
Labels: none

Implement pkce in configs
  internal/configs/oidc/oidc_common.conf
  internal/configs/oidc/oidc_pkce_supplements.conf
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: none

Update snapshots to realign with whitespaces
  internal/configs/version2/__snapshots__/templates_test.snap
Labels: none

Add pkceEnabled to oidc pytest setup yaml
  tests/data/oidc/oidc.yaml
Labels: python

OIDC test doesn't need pkce enabled
  tests/data/oidc/oidc.yaml
Labels: python

Set pkce enabled to an int instead of a string
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: none

Add tests for PKCE enabled true
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver_test.go
Labels: go

Fix some whitespace alignment in tmpl files
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: none

pkce test fixture should also be class scoped
  tests/suite/test_pkce.py
Labels: python

OIDC example deploy keycloak into nginx-ingress ns
  examples/custom-resources/oidc/keycloak.yaml
Labels: none

Add docs to create keycloak client via api
  examples/custom-resources/oidc/keycloak_setup.md
Labels: none

Merge pkce test into oidc test file
  tests/suite/test_oidc.py
  tests/suite/test_pkce.py
Labels: python

Reword options because no tabs
  examples/custom-resources/oidc/keycloak_setup.md
Labels: none

Remove a parameter from pkce test
  tests/suite/test_pkce.py
Labels: python

Update snapshot after changing a str -> int
  internal/configs/version2/__snapshots__/templates_test.snap
Labels: none

Add debug prints
  tests/suite/test_oidc.py
  tests/suite/test_pkce.py
Labels: python

oidc and pkce pytest fixture scope to function
  tests/suite/test_oidc.py
  tests/suite/test_pkce.py
Labels: python

Add unit tests for the bool to int util function
  internal/configs/version2/template_helper_test.go
Labels: go

OIDC tests should be class fixtured
  tests/suite/test_oidc.py
Labels: python

Add PKCE pytest
  tests/data/oidc/pkce.yaml
  tests/suite/test_pkce.py
Labels: python
