Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'

add e2e tests for tiered rate limits
  tests/data/rate-limit/policies/rate-limit-tiered-basic-no-default-jwt-claim-sub.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-basic-with-default-jwt-claim-sub.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-bronze-with-default-jwt-claim-sub.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-gold-no-default-jwt-claim-sub.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-premium-no-default-jwt-claim-sub.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-silver-no-default-jwt-claim-sub.yaml
  tests/data/rate-limit/route-subroute/virtual-server-route-mutliple-tiered-jwt-claim-sub.yaml
  tests/data/rate-limit/route-subroute/virtual-server-route-tiered-basic-premium-jwt-claim-sub.yaml
  tests/data/rate-limit/spec/virtual-server-route-tiered-basic-premium-jwt-claim-sub.yaml
  tests/data/rate-limit/spec/virtual-server-tiered-basic-premium-jwt-claim-sub.yaml
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
Labels: python

make apply_and_assert_valid_policy() policy function
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
  tests/suite/utils/policy_resources_utils.py
Labels: python

make check_rate_limit() for re-usable rate limit check logic
  tests/suite/test_rl_policies.py
Labels: python

refactor existing tests to use check_rate_limit()
  tests/suite/test_rl_policies.py
Labels: python

update to use vsr patch and assert function
  tests/suite/test_rl_policies_vsr.py
  tests/suite/utils/vs_vsr_resources_utils.py
Labels: python

correct variable name
  tests/suite/utils/vs_vsr_resources_utils.py
Labels: python

update and assert vs in rate limit policies
  tests/suite/test_rl_policies.py
Labels: python

Update docker images 22228ad2
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
  tests/Dockerfile
Labels: docker

allow to suppress config print
  tests/suite/test_rl_policies_vsr.py
  tests/suite/utils/vs_vsr_resources_utils.py
Labels: python

allow all tests in the class to run and complete
  tests/suite/test_rl_policies_vsr.py
Labels: python

fix selector and domain for hl service
  cmd/nginx-ingress/main.go
  internal/configs/configmaps.go
  internal/k8s/service.go
Labels: go

add test where vsr & vs get different tiered rate limits
  tests/data/rate-limit/route-subroute/virtual-server-route-tiered-bronze-silver-gold-jwt-claim-sub.yaml
  tests/data/rate-limit/route-subroute/virtual-server-vsr-tiered-basic-premium-route-override.yaml
  tests/data/rate-limit/route-subroute/virtual-server-vsr-tiered-basic-premium-spec-override.yaml
  tests/suite/test_rl_policies_vsr.py
Labels: python

remove unused permissions for ingressclass and move resolver outside of zone sync sever block
  charts/nginx-ingress/templates/clusterrole.yaml
  internal/configs/version1/nginx-plus.tmpl
Labels: helm_chart

add tests to check for duplicate default jwt conditions
  tests/data/rate-limit/policies/rate-limit-tiered-premium-with-default-jwt-claim-sub.yaml
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
  tests/suite/utils/vs_vsr_resources_utils.py
Labels: python

allow container image to be built in project root or tests directory
  tests/Dockerfile
  tests/Makefile
Labels: docker

add vsr test to rate limit by JWT claim
  tests/data/rate-limit/route-subroute/virtual-server-route-jwt-claim-sub.yaml
  tests/requirements.txt
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
Labels: python

make all nginx variables use underscores rather than hyphens
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
Labels: go

add e2e tests for tiered rate limits
  tests/data/rate-limit/policies/rate-limit-tiered-basic-no-default-jwt-claim-sub.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-basic-with-default-jwt-claim-sub.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-bronze-with-default-jwt-claim-sub.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-gold-no-default-jwt-claim-sub.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-premium-no-default-jwt-claim-sub.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-premium-with-default-jwt-claim-sub.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-silver-no-default-jwt-claim-sub.yaml
  tests/data/rate-limit/route-subroute/virtual-server-route-mutliple-tiered-jwt-claim-sub.yaml
  tests/data/rate-limit/route-subroute/virtual-server-route-tiered-basic-premium-jwt-claim-sub.yaml
  tests/data/rate-limit/route-subroute/virtual-server-route-tiered-bronze-silver-gold-jwt-claim-sub.yaml
  tests/data/rate-limit/route-subroute/virtual-server-vsr-tiered-basic-premium-route-override.yaml
  tests/data/rate-limit/route-subroute/virtual-server-vsr-tiered-basic-premium-spec-override.yaml
  tests/data/rate-limit/spec/virtual-server-route-tiered-basic-premium-jwt-claim-sub.yaml
  tests/data/rate-limit/spec/virtual-server-tiered-basic-premium-jwt-claim-sub.yaml
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
  tests/suite/utils/policy_resources_utils.py
  tests/suite/utils/vs_vsr_resources_utils.py
Labels: python

make resolver only for zone-sync
  internal/configs/version1/nginx-plus.tmpl
Labels: none

update retry logic
  tests/suite/test_v_s_route_weight_changes_dynamic_reload_many_splits.py
Labels: python

set tries to 10
  tests/suite/test_v_s_route_weight_changes_dynamic_reload_many_splits.py
Labels: python

allow +1 request in rate limit tests
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
  tests/suite/utils/custom_assertions.py
  tests/suite/utils/resources_utils.py
  tests/suite/utils/vs_vsr_resources_utils.py
Labels: python

Update packages listed by govuncheck
  go.mod
  go.sum
Labels: go

add debug
  tests/suite/utils/resources_utils.py
Labels: python

Update indirect dependency
  go.mod
  go.sum
Labels: go

Update go.sum
  go.sum
Labels: go

test only one rl test
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
  tests/suite/utils/resources_utils.py
Labels: python

only run my test please
  .github/data/matrix-smoke-nap.json
  .github/data/matrix-smoke-oss.json
  .github/data/matrix-smoke-plus.json
  pyproject.toml
  tests/suite/test_rl_policies_vsr.py
Labels: python

re-add all tests
  .github/data/matrix-smoke-nap.json
  .github/data/matrix-smoke-oss.json
  .github/data/matrix-smoke-plus.json
  pyproject.toml
Labels: none

Update packages listed by govuncheck (#7415)
  go.mod
  go.sum
Labels: go

remove custom marker
  tests/suite/test_rl_policies_vsr.py
Labels: python

remove debug line
  tests/suite/utils/resources_utils.py
Labels: python

use delete and create
  tests/suite/test_v_s_route_weight_changes_dynamic_reload_many_splits.py
  tests/suite/utils/vs_vsr_resources_utils.py
Labels: python

add event debug
  tests/suite/utils/resources_utils.py
Labels: python

add markers
  pyproject.toml
  tests/suite/test_rl_policies_vsr.py
Labels: python

update oidc example
  examples/custom-resources/oidc-zone-sync/README.md
  examples/custom-resources/oidc-zone-sync/client-secret.yaml
  examples/custom-resources/oidc-zone-sync/keycloak.png
  examples/custom-resources/oidc-zone-sync/keycloak.yaml
  examples/custom-resources/oidc-zone-sync/keycloak_setup.md
  examples/custom-resources/oidc-zone-sync/logout.png
  examples/custom-resources/oidc-zone-sync/nginx-config.yaml
  examples/custom-resources/oidc-zone-sync/oidc.yaml
  examples/custom-resources/oidc-zone-sync/tls-secret.yaml
  examples/custom-resources/oidc-zone-sync/virtual-server-idp.yaml
  examples/custom-resources/oidc-zone-sync/virtual-server.yaml
  examples/custom-resources/oidc-zone-sync/webapp.png
  examples/custom-resources/oidc-zone-sync/webapp.yaml
  examples/custom-resources/oidc/README.md
  examples/custom-resources/oidc/nginx-config.yaml
  examples/custom-resources/oidc/nginx-ingress-headless.yaml
Labels: none

build binary if it doesn't exist
  .github/workflows/build-single-image.yml
Labels: github_actions

build test image if requirements has changed
  .github/workflows/single-image-regression.yml
Labels: github_actions

use the test image we just built
  .github/workflows/single-image-regression.yml
Labels: github_actions

debug full event message
  tests/suite/utils/resources_utils.py
Labels: python
