Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

remove unused config map keys
  internal/configs/configmaps.go
Labels: go

add otel-module to NIC images
  build/Dockerfile
Labels: docker

update templates to add OSS support
  internal/configs/version1/nginx-plus.tmpl
Labels: none

remove unused config map keys
  internal/configs/version1/nginx-plus.tmpl
Labels: none

update templates to add OSS support
  internal/configs/version1/nginx-plus.tmpl
Labels: none

Update internal/metadata/metadata.go
  internal/metadata/metadata.go
Labels: go

accept otel configmap keys Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  internal/configs/configmaps.go
  internal/configs/version1/nginx-plus.tmpl
Labels: go

add otel-module to NIC images
  build/Dockerfile
Labels: docker

remove unused config map keys
  internal/configs/version1/nginx-plus.tmpl
Labels: none

add CA to Otel exporter on startup
  internal/configs/version1/nginx-plus.tmpl
Labels: none

fix linting Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  internal/configs/configmaps_test.go
Labels: go

fix rebase Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  build/Dockerfile
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/configmaps_test.go
  internal/configs/version1/config.go
Labels: go, docker

Remove cert processing, rename configmap keys, fix tests
  cmd/nginx-ingress/main.go
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/configmaps_test.go
  internal/configs/configurator.go
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.tmpl
  internal/k8s/controller.go
Labels: go

add otel pytests
  tests/Makefile
  tests/data/otel/configmap-with-all.yaml
  tests/data/otel/configmap-with-endpoint.yaml
  tests/data/otel/configmap-with-header.yaml
  tests/data/otel/configmap-with-only-header-name.yaml
  tests/data/otel/configmap-with-only-header-value.yaml
  tests/data/otel/configmap-with-otel-trace.yaml
  tests/data/otel/configmap-with-service-name.yaml
  tests/data/otel/default-configmap.yaml
  tests/suite/test_otel.py
  tests/suite/utils/resources_utils.py
Labels: python

build c-ares packages on UBI for Otel module
  .github/workflows/build-ubi-dependency.yml
  build/dependencies/Dockerfile.ubi
  build/dependencies/Dockerfile.ubi8
  build/dependencies/Dockerfile.ubi9
Labels: github_actions

push image
  .github/workflows/build-ubi-dependency.yml
Labels: github_actions

add template test Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  internal/configs/configmaps_test.go
  internal/configs/version1/__snapshots__/template_test.snap
  internal/configs/version1/template_test.go
Labels: go

trigger build by changing CI file
  .github/workflows/build-ubi-dependency.yml
Labels: github_actions

remove testing branch from dependency dockerfile
  .github/workflows/build-ubi-dependency.yml
Labels: github_actions

add c-ares to all ubi based images
  build/Dockerfile
Labels: docker

remove duplicated package installation
  build/Dockerfile
Labels: docker

add otel tests to all images
  .github/data/matrix-smoke-nap.json
  .github/data/matrix-smoke-oss.json
  .github/data/matrix-smoke-plus.json
  pyproject.toml
  tests/suite/test_otel.py
Labels: python

move extract_block() to resource_utils package
  tests/suite/test_otel.py
  tests/suite/utils/resources_utils.py
Labels: python

update docs Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

add single qoutes to all otel test markers
  .github/data/matrix-smoke-oss.json
  .github/data/matrix-smoke-plus.json
Labels: none

add example
  examples/shared-examples/otel/README.md
  examples/shared-examples/otel/nginx-config.yaml
Labels: none

add single qoutes to NAP test markers
  .github/data/matrix-smoke-nap.json
Labels: none

add test to ensure otel is disabled if endpoint is missing
  tests/data/otel/configmap-with-all-except-endpoint.yaml
  tests/suite/test_otel.py
Labels: python

tryout unordered list for modules
  site/content/technical-specifications.md
Labels: none

complete list of modules in tech specs
  site/content/technical-specifications.md
Labels: none

add additional comment to configmap
  examples/shared-examples/otel/nginx-config.yaml
Labels: none

allow partially valid otel config, add validation and unit tests Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  internal/configs/configmaps.go
  internal/configs/configmaps_test.go
Labels: go

replace unordered list with single line break
  site/content/technical-specifications.md
Labels: none

update plus modules
  site/content/technical-specifications.md
Labels: none

fix rebase issue
  internal/configs/version1/nginx-plus.tmpl
Labels: none

remove unused image import
  build/Dockerfile
Labels: docker

update checking logs
  site/content/installation/integrations/nic-saas-console.md
Labels: none

rename jwt claim tests
  internal/configs/virtualserver_test.go
Labels: go

add tiered ratelimit with apikey example
  examples/custom-resources/rate-limit-tiered-apikey-regex/README.md
  examples/custom-resources/rate-limit-tiered-apikey-regex/api-key-policy.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/api-key-secret.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/cafe-secret.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/cafe-virtual-server.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/coffee.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits-combo.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits-exact.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits-list.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits-regex.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits.yaml
Labels: none

add apikey_client_name variable to nginx config
  internal/configs/njs/apikey_auth.js
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
Labels: none

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'
