Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

allow request_method in rate limiting variables
  pkg/apis/configuration/validation/policy.go
  site/content/configuration/policy-resource.md
Labels: go

allow users to use apikey_ in rate limiting variables
  pkg/apis/configuration/validation/policy.go
Labels: go

add APIKeyCondition to RateLimitCondition
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  pkg/apis/configuration/v1/types.go
Labels: go

Docker image update 5b83e3f7 (#7825)
  build/Dockerfile
Labels: docker

[cherry-pick] chore(deps): bump the go group with 2 updates (#7828)
  go.mod
  go.sum
Labels: go

Update docker images 346af195
  tests/Dockerfile
Labels: docker

add request_method
  pkg/apis/configuration/validation/policy.go
  pkg/apis/configuration/validation/policy_test.go
  site/content/configuration/policy-resource.md
Labels: go

fix formatting
  pkg/apis/configuration/validation/policy_test.go
Labels: go

Update docker images 76ca6f7d
  tests/Dockerfile
Labels: docker

Docker image update 5b83e3f7 (#7829)
  build/Dockerfile
Labels: docker

update mend workflow
  .github/workflows/mend.yml
Labels: github_actions

update mend workflow
  .github/workflows/mend.yml
Labels: github_actions

Docker image update 76ca6f7d (#7833)
  tests/Dockerfile
Labels: docker

make minor changes due to Alans feedback
  site/content/installation/integrations/nic-n1-console.md
  site/content/installation/integrations/nic-saas-console.md
Labels: none

update kubernetes version to v1.33.1 in helm schema (#7808)
  charts/nginx-ingress/values.schema.json
Labels: helm_chart

fix markdown linter issues (#7822)
  CHANGELOG.md
  CONTRIBUTING.md
  deployments/README.md
  examples/custom-resources/oidc/README.md
  examples/ingress-resources/daemon-set/README.md
  examples/shared-examples/rbac/README.md
Labels: none

Rename Agent Deployment metadata to match N1C requirements (#7827)
  internal/metadata/metadata.go
Labels: go

Docker image update 5b83e3f7 (#7825)
  build/Dockerfile
Labels: docker

add request_method to rate-limit policy (#7832)
  pkg/apis/configuration/validation/policy.go
  pkg/apis/configuration/validation/policy_test.go
  site/content/configuration/policy-resource.md
Labels: go

Docker image update 76ca6f7d (#7833)
  tests/Dockerfile
Labels: docker

run codeql from referenced workflow
  .github/workflows/codeql-analysis.yml
Labels: github_actions

make minor changes due to Alans feedback
  site/content/installation/integrations/nic-n1-console.md
Labels: none

make changes based on Alans feedback
  site/content/installation/integrations/nic-n1-console.md
Labels: none

make indent changes
  site/content/installation/integrations/nic-n1-console.md
Labels: none

[cherry-pick] [pre-commit.ci] pre-commit autoupdate (#7841)
  .pre-commit-config.yaml
Labels: none

trigger an image rebuild if the js or conf files change, don't trigger a binary built
  .github/scripts/variables.sh
Labels: none

Docker image update 76ca6f7d (#7835)
  tests/Dockerfile
Labels: docker

[cherry-pick] chore(deps): bump the python group in /tests with 3 updates (#7842)
  tests/requirements.txt
Labels: python

remove duplicate flag set
  internal/configs/configmaps.go
Labels: go

[cherry-pick] chore(deps): bump the actions group across 1 directory with 6 updates (#7836)
  .github/workflows/build-base-images.yml
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/build-test-image.yml
  .github/workflows/build-ubi-dependency.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/image-promotion.yml
  .github/workflows/lint-format.yml
  .github/workflows/oss-release.yml
  .github/workflows/patch-image.yml
  .github/workflows/plus-release.yml
  .github/workflows/regression.yml
  .github/workflows/release.yml
  .github/workflows/scorecards.yml
  .github/workflows/setup-smoke.yml
  .github/workflows/single-image-regression.yml
Labels: github_actions

address feedback
  .github/workflows/update-docker-sha.yml
  site/content/configuration/global-configuration/configmap-resource.md
Labels: github_actions

add control-id as required for N1C
  internal/nginx/manager.go
Labels: go

add control-id as required for N1C
  internal/nginx/manager.go
Labels: go

update snaps
  charts/tests/__snapshots__/helmunit_test.snap
Labels: none

branch updated
  charts/tests/__snapshots__/helmunit_test.snap
  internal/configs/version2/__snapshots__/templates_test.snap
Labels: none

[cherry-pick] chore(deps): bump docker/build-push-action from 6.17.0 to 6.18.0 in the actions group (#7848)
  .github/workflows/build-base-images.yml
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/build-test-image.yml
  .github/workflows/build-ubi-dependency.yml
  .github/workflows/ci.yml
  .github/workflows/patch-image.yml
  .github/workflows/setup-smoke.yml
  .github/workflows/single-image-regression.yml
Labels: github_actions

chore(deps): bump docker/scout-action from 1.18.0 to 1.18.1 in the actions group (#7844)
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/image-promotion.yml
Labels: github_actions

Update mend and codeql versions to commit at v0.2
  .github/workflows/codeql-analysis.yml
  .github/workflows/mend.yml
Labels: github_actions

Update with custom redirect URI
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: none

update template tests
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/templates_test.go
Labels: go

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'
