Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, docker

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/', '^bugfix/']

chore:
  - head-branch: ['^chore/']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - head-branch: ['^tests?/']

documentation:
  - head-branch: ['^docs?/']

dependencies:
  - head-branch: ['^deps?/', '^dependabot/', '^renovate/', 'pre-commit-ci-update-config']

helm_chart:
  - head-branch: ['^helm/', '^chart/']

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile*'

Update docker images 79d70b3a
  build/Dockerfile
  build/dependencies/Dockerfile.ubi9
Labels: docker

Clean up docker scout scan job names
  .github/workflows/image-promotion.yml
Labels: github_actions

update n1c labels the new required ones
  internal/nginx/manager.go
Labels: go

update WAFv5 version
  build/Dockerfile
Labels: docker

Fix: Issue 7968: Correct link to installation guide in contributing.md
  CONTRIBUTING.md
Labels: none

chore: update operator workflow
  .github/workflows/release.yml
Labels: github_actions

fix operator
  .github/workflows/release.yml
Labels: github_actions

update permissions
  .github/workflows/release.yml
Labels: github_actions

remove if
  .github/workflows/release.yml
Labels: github_actions

Update release workflow
  .github/workflows/release.yml
Labels: github_actions
