Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'

Add pkceEnabled to policy resource doc
  site/content/configuration/policy-resource.md
Labels: none

Move applying the plus mgmt to common resources
  site/content/includes/installation/create-common-resources.md
  site/content/includes/installation/manifests/deployment.md
Labels: none

Add note on not using client secret for PKCE
  examples/custom-resources/oidc/README.md
  internal/configs/virtualserver.go
Labels: go

Turn choice into unordered list
  examples/custom-resources/oidc/keycloak_setup.md
Labels: none

Fix product name in example readme
  examples/custom-resources/oidc/README.md
Labels: none

Reset keycloak to be in default namespace
  examples/custom-resources/oidc/keycloak.yaml
Labels: none

Rename pkceEnabled from past to present tense
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
  site/content/configuration/policy-resource.md
  tests/data/oidc/pkce.yaml
Labels: go, python

Change console code type to shell
  examples/custom-resources/oidc/README.md
  examples/custom-resources/oidc/keycloak_setup.md
Labels: none

Redo list numbers in oidc example readme
  examples/custom-resources/oidc/README.md
Labels: none

Add plus-mgmt-configmap.yaml to instructions
  examples/custom-resources/oidc/README.md
  site/content/includes/installation/manifests/deployment.md
Labels: none

Update docker images c537f0cf
  build/Dockerfile
  tests/Dockerfile
Labels: docker

Replace const default pkce secret with init val
  internal/configs/virtualserver.go
Labels: go

update Dockerfile to supprot agentv3 and otel
  build/Dockerfile
Labels: docker

add tiered ratelimit with apikey example
  examples/custom-resources/rate-limit-tiered-apikey-regex/README.md
  examples/custom-resources/rate-limit-tiered-apikey-regex/api-key-policy.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/api-key-secret.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/cafe-secret.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/cafe-virtual-server.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/coffee.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits-combo.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits-exact.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits-list.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits-regex.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits.yaml
Labels: none

allow match to generate valid nginx maps
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits-exact.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits-regex.yaml
  internal/configs/virtualserver.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/validation/common.go
  pkg/apis/configuration/validation/policy.go
Labels: go

rename jwt claim tests
  internal/configs/virtualserver_test.go
Labels: go

working PoC
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits-combo.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits-exact.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits-list.yaml
  examples/custom-resources/rate-limit-tiered-apikey-regex/rate-limits-regex.yaml
  internal/configs/njs/apikey_auth.js
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
  internal/configs/virtualserver.go
Labels: go

add APIKeyCondition to RateLimitCondition
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  pkg/apis/configuration/v1/types.go
Labels: go

allow users to use apikey_ in rate limiting variables
  pkg/apis/configuration/validation/policy.go
Labels: go

add apikey_client_name variable to nginx config
  internal/configs/njs/apikey_auth.js
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
Labels: none

add GenerateVirtualServerConfig() tests
  internal/configs/virtualserver_test.go
Labels: go

tidy up MVP
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  examples/custom-resources/rate-limit-tiered-apikey/api-key-secret.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits-exact.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits-list.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits.yaml
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  pkg/apis/configuration/v1/types.go
Labels: go

rename condition from apiKey to variable
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/validation/policy.go
Labels: go

testing spec & route level policies
  examples/custom-resources/rate-limit-tiered-apikey/api-key-policy.yaml
  examples/custom-resources/rate-limit-tiered-apikey/api-key-secret.yaml
  examples/custom-resources/rate-limit-tiered-apikey/cafe-virtual-server.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits-route.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits-spec.yaml
  examples/custom-resources/rate-limit-tiered-apikey/tea.yaml
Labels: none

rename example folder
  examples/custom-resources/rate-limit-tiered-apikey/README.md
  examples/custom-resources/rate-limit-tiered-apikey/api-key-policy.yaml
  examples/custom-resources/rate-limit-tiered-apikey/api-key-secret.yaml
  examples/custom-resources/rate-limit-tiered-apikey/cafe-secret.yaml
  examples/custom-resources/rate-limit-tiered-apikey/cafe-virtual-server.yaml
  examples/custom-resources/rate-limit-tiered-apikey/coffee.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits-exact.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits-list.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits.yaml
Labels: none

update examples
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits-route.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits-spec.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits.yaml
Labels: none

fix variable name, update helm snaps
  charts/tests/__snapshots__/helmunit_test.snap
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/templates_test.go
Labels: go

update agent test marker
  .github/data/matrix-regression.json
Labels: none

add group to ratelimit condition spec
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  examples/custom-resources/rate-limit-tiered-apikey/cafe-virtual-server.yaml
  examples/custom-resources/rate-limit-tiered-apikey/chocolate-virtual-server-route.yaml
  examples/custom-resources/rate-limit-tiered-apikey/chocolate.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits-route.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits-spec.yaml
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
Labels: go

update regex for group parameter
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  pkg/apis/configuration/v1/types.go
Labels: go

update createHeadlessService
  cmd/nginx-ingress/main.go
Labels: go

remove ObjectMeta
  cmd/nginx-ingress/main.go
Labels: go

add base64 encoded path to rate limit condition map Variable field
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits-route.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits-spec.yaml
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
Labels: go

remove custom base64 encoding scheme
  internal/configs/virtualserver.go
Labels: go

sort map parameters before sorting maps
  internal/configs/virtualserver_test.go
Labels: go

add more tests
  internal/configs/virtualserver_test.go
Labels: go

Update README.md to include a pointer to the NGINX Community Forum
  README.md
Labels: none

add generatePolicies() unit test
  internal/configs/virtualserver_test.go
Labels: go

add template tests
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/templates_test.go
Labels: go

allow variables a list with maximum 1 item Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits.yaml
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/validation/policy.go
Labels: go
