Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

Remove the DOCS code from the frontmatter
  site/content/installation/installing-nic/deploy-with-nap-using-helm.md
Labels: none

fix tests
  internal/telemetry/cluster_test.go
  internal/telemetry/collector_test.go
Labels: go

update comments
  charts/nginx-ingress/values.yaml
  internal/telemetry/cluster.go
Labels: go, helm_chart

Minor fixes to RN 5.0.0. (#7667)
  site/content/releases.md
Labels: none

Minor fixes to RN 5.0.0. (#7667) (#7699)
  site/content/releases.md
Labels: none

address comments
  internal/telemetry/cluster.go
  internal/telemetry/cluster_test.go
  internal/telemetry/collector_test.go
  internal/telemetry/exporter.go
Labels: go

fix gomod import
  go.mod
Labels: go

remove extra /
  site/content/releases.md
Labels: none

revert error return
  go.mod
  internal/telemetry/exporter.go
Labels: go

Update docker images 4e475a5b
  build/Dockerfile
  tests/Dockerfile
Labels: docker

testing for realese issue
  .github/workflows/determine_version.py
  .github/workflows/release.py
  .github/workflows/test.py
Labels: none

allow source output from text and json
  cmd/nginx-ingress/main.go
  cmd/nginx-ingress/main_test.go
Labels: go

[cherry-pick] chore(deps): bump golang.org/x/net from 0.36.0 to 0.38.0 in the go_modules group (#7668)
  go.mod
  go.sum
Labels: go

[cherry-pick] add separator to the end of the new release notes (#7690)
  hack/changelog-template.txt
Labels: none

get auth working
  .github/workflows/test.py
Labels: none

[cherry-pick] [pre-commit.ci] pre-commit autoupdate (#7706)
  .pre-commit-config.yaml
Labels: none

update method to use lbc metadata
  internal/k8s/controller.go
  internal/k8s/controller_test.go
Labels: go

added PyYaml to parse the release.yml file
  .github/workflows/test.py
Labels: none

Update all self-referential Release links from production URLs
  site/content/releases.md
Labels: none

Update docker images c1e42434
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
  tests/Dockerfile
Labels: docker

[cherry-pick] chore(deps): bump the actions group across 1 directory with 7 updates (#7707)
  .github/workflows/build-base-images.yml
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/build-single-image.yml
  .github/workflows/build-test-image.yml
  .github/workflows/build-ubi-dependency.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-hugo.yml
  .github/workflows/image-promotion.yml
  .github/workflows/oss-release.yml
  .github/workflows/patch-image.yml
  .github/workflows/plus-release.yml
  .github/workflows/regression.yml
  .github/workflows/release.yml
  .github/workflows/retag-images.yml
  .github/workflows/scorecards.yml
  .github/workflows/setup-smoke.yml
  .github/workflows/single-image-regression.yml
Labels: github_actions

updates to python
  .github/workflows/test.py
Labels: none

docs: Adds installation guide for NIC and waf (#7688)
  site/content/installation/installing-nic/deploy-with-nap-using-helm.md
Labels: none

Cherry pick wafv5 install doc(#7416) (#7715)
  site/content/installation/installing-nic/deploy-with-nap-using-helm.md
Labels: none

update codegen & update IPv4/v6 validation
  pkg/apis/configuration/validation/globalconfiguration.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/typed/configuration/v1/configuration_client.go
  pkg/client/clientset/versioned/typed/dos/v1beta1/dos_client.go
  pkg/client/clientset/versioned/typed/externaldns/v1/externaldns_client.go
  pkg/client/informers/externalversions/configuration/v1/globalconfiguration.go
  pkg/client/informers/externalversions/configuration/v1/policy.go
  pkg/client/informers/externalversions/configuration/v1/transportserver.go
  pkg/client/informers/externalversions/configuration/v1/virtualserver.go
  pkg/client/informers/externalversions/configuration/v1/virtualserverroute.go
  pkg/client/informers/externalversions/dos/v1beta1/dosprotectedresource.go
  pkg/client/informers/externalversions/externaldns/v1/dnsendpoint.go
Labels: go

Docker image update c1e42434 (#7714)
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
  tests/Dockerfile
Labels: docker

Update site/content/releases.md
  site/content/releases.md
Labels: none

Update site/content/releases.md
  site/content/releases.md
Labels: none

[cherry-pick] chore(deps): bump the python group in /tests with 4 updates (#7709)
  tests/requirements.txt
Labels: python

Update all self-referential Release links from production URLs (#7708)
  site/content/releases.md
Labels: none

Update all self-referential Release links from production URLs (#7720)
  site/content/releases.md
Labels: none

update files with ref impl
  internal/configs/oidc/oidc.conf
  internal/configs/oidc/oidc_common.conf
  internal/configs/oidc/openid_connect.js
Labels: none

fix #7721
  config/crd/bases/appprotect.f5.com_appolicies.yaml
Labels: none

Update docker images 81bc09dc
  tests/Dockerfile
Labels: docker

adding outputs from make update-crds command
  deploy/crds-nap-waf.yaml
Labels: none

Docker image update c1e42434 (#7717)
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
  tests/Dockerfile
Labels: docker

[cherry-pick] [pre-commit.ci] pre-commit autoupdate (#7718)
  .pre-commit-config.yaml
Labels: none

Docker image update 81bc09dc (#7724)
  tests/Dockerfile
Labels: docker

remove old config from agent.conf
  charts/nginx-ingress/templates/_helpers.tpl
Labels: helm_chart

add startup probe
  charts/nginx-ingress/templates/controller-deployment.yaml
  charts/nginx-ingress/values.yaml
Labels: helm_chart

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'
