Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'

update kubernetes version to v1.33.1 in helm schema
  charts/nginx-ingress/values.schema.json
Labels: helm_chart

update default agent log level to match agent.conf
  charts/nginx-ingress/values.yaml
Labels: helm_chart

[cherry-pick] [pre-commit.ci] pre-commit autoupdate (#7813)
  .pre-commit-config.yaml
Labels: none

[cherry-pick] chore(deps): bump the python group across 1 directory with 6 updates (#7812)
  tests/requirements.txt
Labels: python

[cherry-pick] chore(deps): bump the go group with 4 updates (#7814)
  go.mod
  go.sum
Labels: go

Fix #7778
  internal/k8s/controller.go
Labels: go

Update docker images 21db13d1
  tests/Dockerfile
Labels: docker

remove saas from nginx one console name
  site/content/installation/integrations/nic-saas-console.md
Labels: none

update kubernetes version to v1.33.1 in helm schema
  charts/nginx-ingress/values.schema.json
Labels: helm_chart

Docker image update 21db13d1 (#7816)
  tests/Dockerfile
Labels: docker

update AWS LB doc
  site/content/installation/installing-nic/installation-with-manifests.md
Labels: none

update AWS LB doc (#7818)
  site/content/installation/installing-nic/installation-with-manifests.md
Labels: none

update AWS LB doc (#7819)
  site/content/installation/installing-nic/installation-with-manifests.md
Labels: none

update kubernetes version to v1.33.1 in helm schema (#7808)
  charts/nginx-ingress/values.schema.json
Labels: helm_chart

Docker image update 21db13d1 (#7817)
  tests/Dockerfile
Labels: docker

update kubernetes version to v1.33.1 in helm schema
  charts/nginx-ingress/values.schema.json
Labels: helm_chart

fix markdown linter issues
  CHANGELOG.md
  CONTRIBUTING.md
  deployments/README.md
  examples/custom-resources/oidc/README.md
  examples/ingress-resources/daemon-set/README.md
  examples/shared-examples/rbac/README.md
Labels: none

[cherry-pick] update kubernetes version to v1.33.1 in helm schema (#7820)
  charts/nginx-ingress/values.schema.json
Labels: helm_chart

fix: service insight for cross namespace configuration
  internal/configs/configurator.go
  internal/configs/configurator_test.go
Labels: go

Update docker images 5b83e3f7
  build/Dockerfile
Labels: docker

rename deployment metadata to required fields
  internal/common_cluster_info/common_cluster_info.go
  internal/metadata/metadata.go
  internal/metadata/metadata_test.go
  internal/nginx/manager.go
Labels: go

rename deployment metadata to required fields
  internal/common_cluster_info/common_cluster_info.go
  internal/metadata/metadata.go
  internal/metadata/metadata_test.go
  internal/nginx/manager.go
Labels: go

accept otel configmap keys Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.tmpl
Labels: go

update templates to add OSS support
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.tmpl
Labels: none

accept otel configmap keys Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  internal/configs/configmaps.go
  internal/configs/version1/nginx-plus.tmpl
Labels: go

add otel-module to NIC images
  build/Dockerfile
Labels: docker

remove unused config map keys
  internal/configs/configmaps.go
  internal/configs/version1/nginx-plus.tmpl
Labels: go

remove unused config map keys
  internal/configs/configmaps.go
  internal/configs/version1/nginx-plus.tmpl
Labels: go

add otel-module to NIC images
  build/Dockerfile
Labels: docker

add runtime config for Otel CA cert updates
  internal/configs/configmaps.go
  internal/configs/configurator.go
  internal/k8s/controller.go
Labels: go

add CA to Otel exporter on startup
  cmd/nginx-ingress/main.go
  internal/configs/configmaps.go
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.tmpl
Labels: go

rename mgmt trusted secret function
  cmd/nginx-ingress/main.go
  internal/configs/version1/config.go
Labels: go

remove unused otel flag
  internal/configs/config_params.go
  internal/configs/configmaps.go
Labels: go

add nil check
  internal/k8s/controller.go
Labels: go

add otel-module to NIC images
  build/Dockerfile
Labels: docker

remove unused config map keys
  internal/configs/version1/nginx-plus.tmpl
Labels: none

accept otel configmap keys Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  internal/configs/version1/nginx-plus.tmpl
Labels: none

Remove OpenTracing Support from NIC (#7633)
  build/Dockerfile
Labels: docker

accept otel configmap keys Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  internal/configs/configmaps.go
Labels: go

add otel-module to NIC images
  build/Dockerfile
Labels: docker
