Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

Verify OTracing only for N+
  cmd/nginx-ingress/main.go
  internal/nginx/version.go
  internal/nginx/version_test.go
Labels: go

Remove ref to OT in plus tmpl
  internal/configs/version1/nginx-plus.tmpl
Labels: none

Update snaps
  internal/configs/version1/__snapshots__/template_test.snap
Labels: none

fix spacing
  Makefile
Labels: none

do version check of agent for agent 2 instancegroup parameter
  internal/nginx/manager.go
  internal/nginx/version.go
  internal/nginx/version_test.go
Labels: go

correct equality check for dataplaneKey value
  charts/nginx-ingress/templates/_helpers.tpl
Labels: helm_chart

add helm unit template tests
  charts/tests/__snapshots__/helmunit_test.snap
  charts/tests/helmunit_test.go
  charts/tests/testdata/app-protect-waf-agentv2.yaml
  charts/tests/testdata/app-protect-wafv5-agentv2.yaml
  charts/tests/testdata/oss-agentv3.yaml
  charts/tests/testdata/plus-agentv3-all.yaml
  charts/tests/testdata/plus-agentv3.yaml
Labels: go

re-shuffle oss image builds to allow access to nginx-files stage
  build/Dockerfile
Labels: docker

Update docker images 23b2f89a
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
Labels: docker

remove config sync groups
  charts/nginx-ingress/templates/_helpers.tpl
Labels: helm_chart

add certs to OSS builds for installing agent
  Makefile
Labels: none

update triage call dates
  README.md
Labels: none

add agent v3 to OSS & Plus only images
  build/Dockerfile
Labels: docker

remove unsupported architctures for agent v3
  .github/data/matrix-images-oss.json
Labels: none

Update docs for helm and security monitoring
  site/content/installation/installing-nic/installation-with-helm.md
  site/content/releases.md
  site/content/tutorials/security-monitoring.md
Labels: none

Update site/content/releases.md
  site/content/releases.md
Labels: none

remove note from installation page
  site/content/installation/installing-nic/installation-with-helm.md
Labels: none

Add knob for creating ClusterRoleBinding
  charts/nginx-ingress/templates/clusterrolebinding.yaml
  charts/nginx-ingress/values.yaml
Labels: helm_chart

Update documentation for ClusterRoleBinding knob
  site/content/installation/installing-nic/installation-with-helm.md
Labels: none

Add latest NAP versions for 4.1 compatibility table
  site/content/includes/compatibility-tables/nic-nap.md
  site/content/installation/integrations/app-protect-waf-v5/configuration.md
  site/content/installation/integrations/app-protect-waf-v5/installation.md
Labels: none

feat: Update frontmatter, page titles
  site/content/installation/integrations/app-protect-waf-v5/configuration.md
  site/content/installation/integrations/app-protect-waf-v5/installation.md
Labels: none

Move troubleshooting document, update frontmatter for affected files
  site/content/installation/integrations/app-protect-waf-v5/troubleshoot-app-protect-waf.md
  site/content/installation/integrations/app-protect-waf/configuration.md
  site/content/installation/integrations/app-protect-waf/installation.md
Labels: none

fix: service insight for cross namespace configuration
  internal/configs/configurator.go
  internal/configs/configurator_test.go
Labels: go

Update docs for helm and security monitoring (#7576)
  site/content/releases.md
  site/content/tutorials/security-monitoring.md
Labels: none

[cherry-pick] chore(deps): bump the python group in /tests with 17 updates (#7561)
  tests/requirements.txt
Labels: python

Update NIC + NIC compatibility table.
  site/content/includes/compatibility-tables/nic-nap.md
Labels: none

Update table formatting
  site/content/includes/compatibility-tables/nic-nap.md
Labels: none

Add ConfigMapKeys and MGMTConfigMapKeys to telemetry
  charts/nginx-ingress/values.yaml
  internal/k8s/controller.go
  internal/telemetry/cluster.go
  internal/telemetry/cluster_test.go
  internal/telemetry/collector.go
  internal/telemetry/data.avdl
  internal/telemetry/exporter.go
  internal/telemetry/nicresourcecounts_attributes_generated.go
  site/content/overview/product-telemetry.md
Labels: go, helm_chart

Update advanced configuration list
  site/content/configuration/ingress-resources/basic-configuration.md
Labels: none

Update Basic configuration documentation (#7531)
  site/content/configuration/ingress-resources/basic-configuration.md
Labels: none

Update docker images 325fefe1
  build/Dockerfile
Labels: docker

Update docs to fix kubernates typos
  site/content/installation/installing-nic/installation-with-helm.md
Labels: none

add proxy directives to mgmt config
  Makefile
  build/Dockerfile
  charts/nginx-ingress/templates/controller-configmap.yaml
  charts/nginx-ingress/templates/controller-daemonset.yaml
  charts/nginx-ingress/templates/controller-deployment.yaml
  charts/nginx-ingress/values.yaml
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.tmpl
Labels: go, helm_chart, docker

fix helm secret value validation
  charts/nginx-ingress/templates/controller-daemonset.yaml
  charts/nginx-ingress/templates/controller-deployment.yaml
Labels: helm_chart

parse proxy host
  internal/configs/version1/nginx-plus.tmpl
Labels: none

update proxy secret name
  charts/nginx-ingress/templates/controller-daemonset.yaml
  charts/nginx-ingress/templates/controller-deployment.yaml
  charts/nginx-ingress/values.yaml
Labels: helm_chart

allow 63 char top level domain name
  internal/validation/validation.go
Labels: go

add schema validation for helm values
  charts/nginx-ingress/values.schema.json
Labels: helm_chart

add secret & proxy validation
  charts/nginx-ingress/templates/controller-daemonset.yaml
  charts/nginx-ingress/templates/controller-deployment.yaml
Labels: helm_chart

updated documentation for proxyCredentialsSecretName
  charts/nginx-ingress/values.yaml
Labels: helm_chart

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'
