Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

gofumpt
  internal/configs/configmaps_test.go
Labels: go

add pytest and catch (fail?)
  examples/custom-resources/rate-limit/rate-limit.yaml
  internal/configs/configurator_test.go
  internal/configs/virtualserver.go
  tests/suite/test_rl_policies.py
Labels: go, python

hore(deps): bump the go group with 2 updates (#7476)
  go.mod
  go.sum
Labels: go

cleanup
  examples/custom-resources/rate-limit/rate-limit.yaml
  internal/configs/configurator_test.go
Labels: go

Update site/content/configuration/policy-resource.md
  site/content/configuration/policy-resource.md
Labels: none

Update docker images a8474d83
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
Labels: docker

Docker image update a8474d83 (#7490)
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
Labels: docker

update pytests, add events for policies on vs and vsr
  internal/configs/configurator_test.go
  internal/configs/virtualserver.go
  internal/k8s/controller.go
  internal/k8s/controller_test.go
  tests/suite/test_rl_policies.py
Labels: go, python

go mod tidy
  go.mod
Labels: go

added tests for lbc.configurator.AddOrUpdateVirtualServer() & lbc.updateVirtualServerStatusAndEvents()
  internal/configs/configurator_test.go
  internal/k8s/controller.go
  internal/k8s/controller_test.go
Labels: go

update version of golangci-lint
  .pre-commit-config.yaml
Labels: none

chore(deps): bump github/codeql-action from 3.28.10 to 3.28.11 in the actions group (#7495)
  .github/workflows/codeql-analysis.yml
  .github/workflows/image-promotion.yml
  .github/workflows/scorecards.yml
Labels: github_actions

update version of golangci-lint (#7497)
  .pre-commit-config.yaml
Labels: none

suppress scale when using zone sync on ratelimit policy
  internal/configs/configurator_test.go
  internal/configs/ingress.go
  internal/configs/ingress_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  internal/configs/warnings.go
  internal/k8s/controller.go
  internal/k8s/controller_test.go
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
Labels: go, python

[cherry-pick] update version of golangci-lint (#7499)
  .pre-commit-config.yaml
Labels: none

Added SNI support for JWT secrets retrieved from HTTPS URL
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: none

remove ref namespace check, update tests
  internal/k8s/controller.go
  internal/k8s/controller_test.go
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
Labels: go, python

Update docker images 2c4c8bbd
  tests/Dockerfile
Labels: docker

suppress scale when using zone sync on ratelimit policy
  internal/configs/ingress.go
  internal/configs/ingress_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  tests/suite/test_rl_policies_vsr.py
Labels: go, python

bump golang.org/x/net from 0.35.0 to 0.36.0 in the go_modules group (#7506)
  go.mod
  go.sum
Labels: go

Docker image update 2c4c8bbd (#7504)
  tests/Dockerfile
Labels: docker

bump golangci/golangci-lint-action from 6.5.0 to 6.5.1 in the actions group (#7508)
  .github/workflows/lint-format.yml
Labels: github_actions

remove warning event from vs
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
Labels: go, python

Update docker images 339b9945
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
Labels: docker

add ingress zonesync test
  tests/suite/test_rl_ingress.py
  tests/suite/utils/resources_utils.py
Labels: python

Docker image update 2c4c8bbd (#7507)
  tests/Dockerfile
Labels: docker

Docker image update 339b9945 (#7511)
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
Labels: docker

update kubernetes version to v1.32.3 in helm schema
  charts/nginx-ingress/values.schema.json
Labels: helm_chart

[cherry-pick] [pre-commit.ci] pre-commit autoupdate (#7498)
  .pre-commit-config.yaml
Labels: none

bump kindest/node from v1.32.2 to v1.32.3 in /tests in the docker-tests group (#7514)
  tests/Dockerfile
Labels: docker

update kubernetes version to v1.32.3 in helm schema
  charts/nginx-ingress/values.schema.json
Labels: helm_chart

fix VS becoming invalid when applying zone-sync after VS
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/virtualserver.go
Labels: go

[cherry-pick] chore(deps): bump the go group with 2 updates (#7496)
  go.mod
  go.sum
Labels: go

fix ingress bug becoming invalid when applying zone-sync after ingress and update tests
  internal/configs/ingress.go
  internal/configs/version1/__snapshots__/template_test.snap
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.ingress.tmpl
  internal/configs/version1/template_test.go
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/virtualserver_test.go
  pyproject.toml
  tests/suite/test_rl_ingress.py
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
Labels: go, python

add new directory for rofs
  charts/nginx-ingress/templates/_helpers.tpl
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  tests/suite/utils/resources_utils.py
Labels: python, helm_chart

Update docker images 2c057116
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
Labels: docker

updates to simplify zone name with sync
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
Labels: go

Docker image update 2c057116 (#7520)
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
Labels: docker

update ingress tests
  internal/configs/ingress.go
  internal/configs/ingress_test.go
  internal/configs/version1/__snapshots__/template_test.snap
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.ingress.tmpl
  internal/configs/version1/template_test.go
Labels: go

set correct ingress name for minion test
  tests/suite/test_rl_ingress.py
Labels: python

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'
