Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'

remove scaling test
  tests/suite/test_zone_sync.py
Labels: python

ensure zone sync is ready before rate limit tests start
  tests/suite/test_rl_policies.py
Labels: python

allow wider range of results for many replicas with zone sync
  tests/suite/test_rl_policies.py
Labels: python

Update docker images 4192c62a
  build/Dockerfile
Labels: docker

Addressing security patch issued for Go 1.24.0
  go.mod
Labels: go

update nginx versions in docs
  site/content/technical-specifications.md
Labels: none

Release 4.0.1 (#7279)
  README.md
  charts/nginx-ingress/Chart.yaml
  charts/nginx-ingress/values-icp.yaml
  charts/nginx-ingress/values-plus.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  examples/custom-resources/service-insight/README.md
  site/content/releases.md
  site/layouts/shortcodes/nic-helm-version.html
  site/layouts/shortcodes/nic-operator-version.html
  site/layouts/shortcodes/nic-version.html
Labels: helm_chart

Update 4.0.1 release note to 2025 from 2024 (#7389)
  site/content/releases.md
Labels: none

[cherry-pick] chore(deps): bump peter-evans/create-pull-request from 7.0.7 to 7.0.8 in the actions group (#7463)
  .github/workflows/release-pr.yml
  .github/workflows/update-docker-sha.yml
  .github/workflows/update-kubernetes-version.yml
  .github/workflows/version-bump.yml
Labels: github_actions

Update build docker image for Go 1.24
  build/Dockerfile
Labels: docker

Docker image update 4192c62a (#7461)
  build/Dockerfile
Labels: docker

reduce replica count
  tests/suite/test_rl_policies.py
Labels: python

add check for zone in zone_sync api struct
  tests/suite/test_rl_policies.py
Labels: python

Update Go version to v1.24.1 (#7457)
  .github/workflows/ci.yml
  build/Dockerfile
  go.mod
Labels: github_actions, go, docker

[cherry-pick] chore(deps): bump github.com/prometheus/client_golang from 1.21.0 to 1.21.1 in the go group (#7464)
  go.mod
  go.sum
Labels: go

Fix linter issues (#7431)
  internal/k8s/appprotect/app_protect_configuration.go
  internal/k8s/appprotectdos/app_protect_dos_configuration.go
Labels: go

move zone sync checks to nginx_api_utils & add VSR test
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
  tests/suite/utils/nginx_api_utils.py
Labels: python

add ingress zone sync with rate limit test
  tests/suite/test_rl_ingress.py
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
Labels: python

update alpine to latest supported versions for Plus & NAP
  build/Dockerfile
  site/content/technical-specifications.md
Labels: docker

ensure openssl libraries are updated
  build/Dockerfile
Labels: docker

Fix linter issues (#7431) (#7469)
  internal/k8s/appprotect/app_protect_configuration.go
  internal/k8s/appprotectdos/app_protect_dos_configuration.go
Labels: go

revert to 3.19
  build/Dockerfile
Labels: docker

[cherry-pick] Update Go version to v1.24.1 (#7466)
  .github/workflows/ci.yml
  build/Dockerfile
  go.mod
Labels: github_actions, go, docker

add warning for zone sync with rate limit scale
  internal/configs/ingress.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
Labels: go

add warning for zone sync with rate limit scale
  internal/configs/ingress.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
Labels: go

add unit test for scale & rate limit with zone sync on VS
  internal/configs/virtualserver_test.go
  internal/configs/warnings.go
Labels: go

update docs and add ingress unit test
  internal/configs/ingress_test.go
  site/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  site/content/configuration/policy-resource.md
Labels: go

Update docker images b41a319d
  build/Dockerfile
  tests/Dockerfile
Labels: docker

Docker image update b41a319d (#7474)
  build/Dockerfile
  tests/Dockerfile
Labels: docker

remove zonesync markers
  pyproject.toml
  tests/suite/test_rl_ingress.py
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
  tests/suite/test_zone_sync.py
Labels: python

Update docs
  site/content/installation/installing-nic/installation-with-manifests.md
Labels: none

Docker image update b41a319d (#7475)
  build/Dockerfile
  tests/Dockerfile
Labels: docker

Update manifest install (#7477)
  site/content/installation/installing-nic/installation-with-manifests.md
Labels: none

Update manifest install (#7478)
  site/content/installation/installing-nic/installation-with-manifests.md
Labels: none

update zone sync docs to describe the functionality
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

update rate limit docs to describe zone sync
  site/content/configuration/policy-resource.md
Labels: none

add rate limit zone sync docs
  site/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  site/content/configuration/policy-resource.md
Labels: none

pull docs into seperate pr (#7481)
  site/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  site/content/configuration/policy-resource.md
Labels: none

set params to false when ot is disabled
  internal/configs/configmaps.go
Labels: go

add unit tests
  internal/configs/configmaps.go
  internal/configs/configmaps_test.go
Labels: go
