Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

remove community slack notification
  .github/workflows/release.yml
Labels: github_actions

[cherry-pick] chore(deps): bump the actions group with 2 updates (#7659)
  .github/workflows/ci.yml
  .github/workflows/image-promotion.yml
  .github/workflows/regression.yml
  .github/workflows/update-release-draft.yml
Labels: github_actions

Remove community slack notification (#7663)
  .github/workflows/release.yml
Labels: github_actions

Remove community slack notification (#7664)
  .github/workflows/release.yml
Labels: github_actions

Minor fixes to RN 5.0.0.
  site/content/releases.md
Labels: none

update tech spec
  site/content/technical-specifications.md
Labels: none

Update language
  site/content/technical-specifications.md
Labels: none

start adding test structure
  .gitignore
  tests/data/ap-waf/disallowed-geolocations.yaml
  tests/data/appprotect/disallowed-geolocations.yaml
  tests/suite/test_app_protect_waf_policies.py
Labels: python

add separator to the end of the new release notes
  hack/changelog-template.txt
Labels: none

Update language
  site/content/technical-specifications.md
Labels: none

update tech spec with supported versions (#7674)
  site/content/technical-specifications.md
Labels: none

update tech spec with supported versions (#7677)
  site/content/technical-specifications.md
Labels: none

cherry pick to chosen branch
  .github/workflows/cherry-pick.yml
Labels: github_actions

ensure the commentor is a member of nic or docs
  .github/workflows/cherry-pick.yml
Labels: github_actions

Update the ConfigMap Zone Sync documentation
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

Update site/content/configuration/global-configuration/configmap-resource.md
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

Update the ConfigMap Zone Sync documentation (#7681)
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

[cherry-pick] Update the ConfigMap Zone Sync documentation (#7689)
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

cleanup removal of ConfigSyncGroups
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  charts/tests/__snapshots__/helmunit_test.snap
  charts/tests/testdata/plus-agentv3-all.yaml
Labels: helm_chart

add signal based fix
  cmd/nginx-ingress/main.go
  internal/k8s/configmap.go
  internal/k8s/controller.go
Labels: go

add separator to the end of the new release notes (#7676)
  hack/changelog-template.txt
Labels: none

Remove Step X from headings
  site/content/installation/installing-nic/deploy-with-nap-using-helm.md
Labels: none

Update site/content/installation/installing-nic/deploy-with-nap-using-helm.md
  site/content/installation/installing-nic/deploy-with-nap-using-helm.md
Labels: none

Update site/content/installation/installing-nic/deploy-with-nap-using-helm.md
  site/content/installation/installing-nic/deploy-with-nap-using-helm.md
Labels: none

docs: Adds installation guide for NIC and waf
  site/content/installation/installing-nic/deploy-with-nap-using-helm.md
Labels: none

Update site/content/installation/installing-nic/deploy-with-nap-using-helm.md
  site/content/installation/installing-nic/deploy-with-nap-using-helm.md
Labels: none

Update site/content/installation/installing-nic/deploy-with-nap-using-helm.md
  site/content/installation/installing-nic/deploy-with-nap-using-helm.md
Labels: none

Replace bash code type with shell
  site/content/installation/installing-nic/deploy-with-nap-using-helm.md
Labels: none

Rework creating license secrets section
  site/content/installation/installing-nic/deploy-with-nap-using-helm.md
Labels: none

Update site/content/installation/installing-nic/deploy-with-nap-using-helm.md
  site/content/installation/installing-nic/deploy-with-nap-using-helm.md
Labels: none

simplify logic and add tests
  internal/k8s/controller.go
  internal/k8s/controller_test.go
Labels: go

fix formatting
  internal/k8s/controller_test.go
Labels: go

fix test-case
  internal/k8s/controller_test.go
Labels: go

fix linting issues and add context cancellation check
  internal/k8s/configmap.go
  internal/k8s/controller_test.go
Labels: go

Fix a yml/yaml inconsistency
  site/content/installation/installing-nic/deploy-with-nap-using-helm.md
Labels: none

Fix helm command and add instruction to install manifest
  site/content/installation/installing-nic/deploy-with-nap-using-helm.md
Labels: none

Apply suggestions from code review
  site/content/installation/installing-nic/deploy-with-nap-using-helm.md
Labels: none

Update docker images 04163421
  tests/Dockerfile
Labels: docker

test watch-secret-namespace without watch-namespace flag
  tests/suite/test_watch_secret_namespace.py
Labels: python

Specify that we're using WAF v5
  site/content/installation/installing-nic/deploy-with-nap-using-helm.md
Labels: none

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'
