Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

add more markers
  pyproject.toml
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
Labels: python

build binary if it doesn't exist
  .github/workflows/build-single-image.yml
  .github/workflows/single-image-regression.yml
Labels: github_actions

allow container image to be built in project root or tests directory
  tests/Dockerfile
  tests/Makefile
Labels: docker

add e2e tests for tiered rate limits
  tests/data/rate-limit/policies/rate-limit-tiered-basic-no-default-jwt-claim-sub.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-basic-with-default-jwt-claim-sub.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-bronze-with-default-jwt-claim-sub.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-gold-no-default-jwt-claim-sub.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-premium-no-default-jwt-claim-sub.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-premium-with-default-jwt-claim-sub.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-silver-no-default-jwt-claim-sub.yaml
  tests/data/rate-limit/route-subroute/virtual-server-route-mutliple-tiered-jwt-claim-sub.yaml
  tests/data/rate-limit/route-subroute/virtual-server-route-tiered-basic-premium-jwt-claim-sub.yaml
  tests/data/rate-limit/route-subroute/virtual-server-route-tiered-bronze-silver-gold-jwt-claim-sub.yaml
  tests/data/rate-limit/route-subroute/virtual-server-vsr-tiered-basic-premium-route-override.yaml
  tests/data/rate-limit/route-subroute/virtual-server-vsr-tiered-basic-premium-spec-override.yaml
  tests/data/rate-limit/spec/virtual-server-route-tiered-basic-premium-jwt-claim-sub.yaml
  tests/data/rate-limit/spec/virtual-server-tiered-basic-premium-jwt-claim-sub.yaml
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
  tests/suite/utils/policy_resources_utils.py
  tests/suite/utils/vs_vsr_resources_utils.py
Labels: python

only run my test please
  .github/data/matrix-smoke-nap.json
  .github/data/matrix-smoke-oss.json
  .github/data/matrix-smoke-plus.json
  pyproject.toml
  tests/suite/test_rl_policies_vsr.py
Labels: python

make all nginx variables use underscores rather than hyphens
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
Labels: go

add vsr test to rate limit by JWT claim
  tests/data/rate-limit/route-subroute/virtual-server-route-jwt-claim-sub.yaml
  tests/requirements.txt
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
Labels: python

add debug
  tests/suite/utils/resources_utils.py
Labels: python

test only one rl test
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
  tests/suite/utils/resources_utils.py
Labels: python

allow +1 request in rate limit tests
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
  tests/suite/utils/custom_assertions.py
  tests/suite/utils/resources_utils.py
  tests/suite/utils/vs_vsr_resources_utils.py
Labels: python

re-add all tests
  .github/data/matrix-smoke-nap.json
  .github/data/matrix-smoke-oss.json
  .github/data/matrix-smoke-plus.json
  pyproject.toml
Labels: none

remove debug line
  tests/suite/utils/resources_utils.py
Labels: python

remove custom marker
  tests/suite/test_rl_policies_vsr.py
Labels: python

remove event assertion
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
Labels: python

fix snaps
  charts/tests/__snapshots__/helmunit_test.snap
  internal/configs/version1/nginx-plus.tmpl
Labels: none

Update packages listed by govuncheck (#7415)
  go.mod
  go.sum
Labels: go

ensure images built are in the dev folder in gcr
  .github/workflows/build-single-image.yml
Labels: github_actions

use delete and create
  tests/suite/test_rl_policies_vsr.py
  tests/suite/utils/vs_vsr_resources_utils.py
Labels: python

run rl tests in own job
  .github/data/matrix-smoke-plus.json
Labels: none

Testing NIC compilation with Go v1.24
  go.mod
Labels: go

Make linter happy in preparation for Go v1.24
  internal/k8s/appprotect/app_protect_configuration.go
  internal/k8s/appprotectdos/app_protect_dos_configuration.go
Labels: go

Fix error pkg
  internal/k8s/appprotectdos/app_protect_dos_configuration.go
Labels: go

Update WAF v5 docs to reference WAF Compiler
  site/content/installation/integrations/app-protect-waf-v5/configuration.md
Labels: none

update way headless service is created
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

add removal of service in doc
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

add notice for upgrading and updated oidc usage
  site/content/configuration/global-configuration/configmap-resource.md
  site/content/configuration/policy-resource.md
Labels: none

change zone-sync title configmap
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

add zone-sync docs
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

all clarity to how headless service works
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

add note to tell user about headless service sharing
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

zone-sync configMap docs
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

Update WAF v5 docs to reference WAF Compiler (#7432)
  site/content/installation/integrations/app-protect-waf-v5/configuration.md
Labels: none

Update WAF v5 docs to reference WAF Compiler (#7433)
  site/content/installation/integrations/app-protect-waf-v5/configuration.md
Labels: none

Update site/content/configuration/global-configuration/configmap-resource.md
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

run rl tests in own job
  .github/data/matrix-smoke-plus.json
  tests/suite/test_rl_policies_vsr.py
  tests/suite/utils/vs_vsr_resources_utils.py
Labels: python

Update site/content/configuration/global-configuration/configmap-resource.md
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

Update site/content/configuration/global-configuration/configmap-resource.md
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

remove additional a
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

Cherry-pick updated packages (#7424)
  go.mod
  go.sum
Labels: go

Apply suggestions from code review
  site/content/configuration/global-configuration/configmap-resource.md
  site/content/configuration/policy-resource.md
Labels: none

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'
