Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

check for nil usageReport object
  charts/nginx-ingress/templates/controller-daemonset.yaml
  charts/nginx-ingress/templates/controller-deployment.yaml
Labels: helm_chart

template tests for proxy host, user, pass
  internal/configs/version1/template_test.go
Labels: go

revert testing changes
  Makefile
  build/Dockerfile
  charts/nginx-ingress/values.yaml
Labels: helm_chart, docker

update snaps
  internal/configs/version1/__snapshots__/template_test.snap
Labels: none

add configmap tests for proxyhost, pass, user.
  internal/configs/configmaps_test.go
Labels: go

add docs for proxy host and creds
  site/content/configuration/global-configuration/mgmt-configmap-resource.md
  site/content/installation/installing-nic/installation-with-helm.md
Labels: none

fix broken yaml in deploment/daemonset
  charts/nginx-ingress/templates/controller-daemonset.yaml
  charts/nginx-ingress/templates/controller-deployment.yaml
Labels: helm_chart

update helm template tests
  charts/tests/__snapshots__/helmunit_test.snap
  charts/tests/helmunit_test.go
  charts/tests/testdata/plus-mgmt-custom-endpoint.yaml
  charts/tests/testdata/plus-mgmt-proxy-host-auth.yaml
  charts/tests/testdata/plus-mgmt-proxy-host.yaml
  charts/tests/testdata/plus-mgmt.yaml
Labels: go

clean up template test
  internal/configs/version1/template_test.go
Labels: go

indent NGINX_PLUS_VERSION in makefile
  Makefile
Labels: none

Remove note on recompiling policies
  site/content/installation/integrations/app-protect-waf-v5/configuration.md
  site/content/installation/integrations/app-protect-waf-v5/installation.md
Labels: none

fix oss alpine build
  build/Dockerfile
Labels: docker

Update docs to fix kubernates typos (#7591)
  site/content/installation/installing-nic/installation-with-helm.md
Labels: none

removal of agent toggle flags
  .github/workflows/build-base-images.yml
  .github/workflows/build-plus.yml
  .github/workflows/setup-smoke.yml
  Makefile
  build/scripts/agent.sh
Labels: github_actions

tidy waf & agent docker build steps
  build/Dockerfile
Labels: docker

add collector tests
  internal/telemetry/cluster.go
  internal/telemetry/collector.go
  internal/telemetry/collector_test.go
Labels: go

fix ubi 9 nap images
  build/Dockerfile
Labels: docker

clean up debian dockerfile targets
  build/Dockerfile
Labels: docker

go mod tidy
  go.mod
Labels: go

regenerate crds
  config/crd/bases/appprotectdos.f5.com_dosprotectedresources.yaml
  config/crd/bases/externaldns.nginx.org_dnsendpoints.yaml
  config/crd/bases/k8s.nginx.org_globalconfigurations.yaml
  config/crd/bases/k8s.nginx.org_policies.yaml
  config/crd/bases/k8s.nginx.org_transportservers.yaml
  config/crd/bases/k8s.nginx.org_virtualserverroutes.yaml
  config/crd/bases/k8s.nginx.org_virtualservers.yaml
  deploy/crds-nap-dos.yaml
  deploy/crds.yaml
Labels: none

Update docs to fix kubernates typos (#7593)
  site/content/installation/installing-nic/installation-with-helm.md
Labels: none

Update Basic configuration documentation (#7586)
  site/content/configuration/ingress-resources/basic-configuration.md
Labels: none

Update docs for helm and security monitoring (#7585)
  site/content/releases.md
  site/content/tutorials/security-monitoring.md
Labels: none

Docker image update 23b2f89a (#7569)
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
Labels: docker

initial crd update
  config/crd/bases/appprotect.f5.com_appolicies.yaml
  deploy/crds-nap-waf.yaml
  pkg/apis/configuration/validation/appprotect.go
Labels: go

update community call timezone
  README.md
Labels: none

[cherry-pick] chore(deps): bump the python group in /tests with 3 updates (#7599)
  tests/requirements.txt
Labels: python

Docker image update 325fefe1 (#7590)
  build/Dockerfile
Labels: docker

[cherry-pick] chore(deps): bump the actions group across 1 directory with 4 updates (#7598)
  .github/workflows/build-single-image.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/dockerhub-description.yml
  .github/workflows/image-promotion.yml
  .github/workflows/notifications.yml
  .github/workflows/release.yml
  .github/workflows/updates-notification.yml
Labels: github_actions

allow setting of pull policy for minikube tests
  tests/Makefile
Labels: none

remove custom agent v3 make target
  Makefile
Labels: none

Determine if OpenTracing should be supported
  internal/nginx/version.go
  internal/nginx/version_test.go
Labels: go

Update snaps
  internal/configs/version1/__snapshots__/template_test.snap
Labels: none

Set OpenTracing config
  cmd/nginx-ingress/main.go
Labels: go

check nginxplus flag, add tests
  build/Dockerfile
  internal/configs/configmaps.go
  internal/configs/configmaps_test.go
  internal/nginx/version.go
  internal/nginx/version_test.go
Labels: go, docker

Don't load OT module if not enabled
  cmd/nginx-ingress/main.go
Labels: go

Add docs for function
  internal/nginx/version.go
Labels: go

Verify OTracing only for N+
  cmd/nginx-ingress/main.go
  internal/nginx/version.go
  internal/nginx/version_test.go
Labels: go

fix linting, update dockerfile
  build/Dockerfile
  internal/configs/configmaps_test.go
Labels: go, docker

Don't install opentracing on N+ images
  build/Dockerfile
Labels: docker

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'
