Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

refactor VS/VSR Upstream generation
  internal/configs/virtualserver.go
Labels: go

generate auth_jwt_claim_set directive Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
Labels: go

add test, fix template, remove pointers, generate crd Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
Labels: go

add auth_jwt_claim_set to spec, route, subroute Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
Labels: go

rough validation regex's might need more work
  pkg/apis/configuration/v1/types.go
Labels: go

update crds
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  pkg/apis/configuration/v1/types.go
Labels: go

fix linting Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  internal/configs/virtualserver_test.go
Labels: go

remove TODO
  internal/configs/virtualserver_test.go
Labels: go

update codegen Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/v1/zz_generated.deepcopy.go
Labels: go

add validation and tests for JWTCondition
  pkg/apis/configuration/validation/policy.go
  pkg/apis/configuration/validation/policy_test.go
Labels: go

Correct JWTCondition comment
  pkg/apis/configuration/v1/types.go
Labels: go

make JWTCondition a pointer
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/v1/zz_generated.deepcopy.go
Labels: go

move AuthJWTClaimSets to policyCfg.RateLimit
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
Labels: go

add examples
  examples/custom-resources/rate-limit-tiered-jwt-claim/README.md
  examples/custom-resources/rate-limit-tiered-jwt-claim/cafe-secret.yaml
  examples/custom-resources/rate-limit-tiered-jwt-claim/cafe-virtual-server.yaml
  examples/custom-resources/rate-limit-tiered-jwt-claim/coffee-virtual-server-route.yaml
  examples/custom-resources/rate-limit-tiered-jwt-claim/coffee.yaml
  examples/custom-resources/rate-limit-tiered-jwt-claim/namespaces.yaml
  examples/custom-resources/rate-limit-tiered-jwt-claim/nginx.conf
  examples/custom-resources/rate-limit-tiered-jwt-claim/rate-limits.yaml
  examples/custom-resources/rate-limit-tiered-jwt-claim/tea-virtual-server-route.yaml
  examples/custom-resources/rate-limit-tiered-jwt-claim/tea.yaml
Labels: none

add GroupName & GroupVariables to LimitReqZone struct
  internal/configs/version2/http.go
  internal/configs/virtualserver.go
Labels: go

allow customization of service http and https port names through helm chart
  charts/nginx-ingress/templates/controller-service.yaml
  charts/nginx-ingress/values.yaml
Labels: helm_chart

update example
  examples/common-secrets/cafe-secret-cafe.example.com.yaml
  examples/custom-resources/rate-limit-tiered-jwt-claim/rate-limits.yaml
Labels: none

move RandStringBytes() to common helpers
  go.mod
  go.sum
  internal/certmanager/test_files/context_builder.go
  internal/certmanager/test_files/util.go
  internal/configs/commonhelpers/common_template_helpers.go
Labels: go

generate maps for tiered rate limit groups
  internal/configs/version2/http.go
  internal/configs/virtualserver.go
Labels: go

update tests
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
Labels: go

zone-sync configMap docs
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

Update docker images 0adb7ebe
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
  tests/Dockerfile
Labels: docker

allow container image to be built in project root or tests directory
  tests/Dockerfile
  tests/Makefile
Labels: docker

add vsr test to rate limit by JWT claim
  tests/data/rate-limit/route-subroute/virtual-server-route-jwt-claim-sub.yaml
  tests/requirements.txt
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
Labels: python

headless svc lookup
  tests/suite/test_zone_sync.py
Labels: python

assert headless service
  tests/suite/test_zone_sync.py
Labels: python

fix ports in data for tests
  tests/data/zone-sync/configmap-with-zonesync-disabled-with-all-fields.yaml
  tests/data/zone-sync/configmap-with-zonesync-port-resolver.yaml
  tests/suite/test_zone_sync.py
Labels: python

add assertions for headless service
  tests/suite/test_zone_sync.py
Labels: python

Update assertions
  tests/suite/test_zone_sync.py
Labels: python

Update docker images af343fe2
  build/Dockerfile
Labels: docker

fix domain from ingressclass, make default port if zone-sync-port has failed so zone-sync stil works, addresses comments
  internal/configs/configmaps.go
  internal/k8s/controller.go
  internal/k8s/service.go
Labels: go

Mount info to /tmp, cp into images later
  build/Dockerfile
Labels: docker

Update assertion func
  tests/suite/test_zone_sync.py
Labels: python

Update test port
  tests/data/zone-sync/configmap-with-zonesync-disabled-with-all-fields.yaml
  tests/data/zone-sync/configmap-with-zonesync-port-resolver.yaml
  tests/suite/test_zone_sync.py
Labels: python

Create the directory /etc/nginx/reporting
  build/Dockerfile
Labels: docker

Break mkdir into its own line
  build/Dockerfile
Labels: docker

Tidy up &&s in the RUN command
  build/Dockerfile
Labels: docker

clean up template tests and reduce calls to createCombinedDeploymentHeadlessServiceName
  deployments/deployment/nginx-plus-ingress.yaml
  internal/configs/version1/__snapshots__/template_test.snap
  internal/configs/version1/template_test.go
  internal/k8s/controller.go
Labels: go

revert mistake deployment commit
  deployments/deployment/nginx-plus-ingress.yaml
Labels: none

make all nginx variables use underscores rather than hyphens
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
Labels: go

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'
