Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'

Add note on not using client secret for PKCE
  examples/custom-resources/oidc/README.md
  internal/configs/virtualserver.go
Labels: go

Change console code type to shell
  examples/custom-resources/oidc/README.md
  examples/custom-resources/oidc/keycloak_setup.md
Labels: none

Update snapshots
  charts/tests/__snapshots__/helmunit_test.snap
Labels: none

Reset keycloak to be in default namespace
  examples/custom-resources/oidc/keycloak.yaml
Labels: none

Do not use default client secret
  internal/configs/virtualserver.go
Labels: go

Add more validation and tests
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
Labels: go

Add note to OIDC policy docs about pkce-clientsecret
  site/content/configuration/policy-resource.md
Labels: none

Remove clientsecret from e2e test for pkce
  tests/data/oidc/pkce.yaml
Labels: python

add rate limit conditions telemetry
  internal/telemetry/cluster.go
  internal/telemetry/collector.go
  internal/telemetry/collector_test.go
  internal/telemetry/data.avdl
  internal/telemetry/exporter.go
  internal/telemetry/nicresourcecounts_attributes_generated.go
Labels: go

add beginnings of python tests
  tests/data/rate-limit/policies/api-key-policy.yaml
  tests/data/rate-limit/policies/api-key-secret.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-basic-with-default-variables-apikey.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-premium-no-default-variables-apikey.yaml
  tests/data/rate-limit/spec/virtual-server-tiered-basic-premium-variables-apikey.yaml
  tests/suite/test_rl_policies.py
  tests/suite/utils/resources_utils.py
Labels: python

add unit tests
  cmd/nginx-ingress/main.go
  cmd/nginx-ingress/main_test.go
Labels: go

make format
  cmd/nginx-ingress/main_test.go
Labels: go

run mend workflow on main and release branches
  .github/workflows/mend.yml
Labels: github_actions

add test for rate limits with request_method
  tests/data/rate-limit/policies/api-key-secret.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-read-no-default-variables-request-method.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-write-no-default-variables-request-method.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-write-with-default-variables-request-method.yaml
  tests/data/rate-limit/spec/virtual-server-tiered-read-write-variables-request-method.yaml
  tests/suite/test_rl_policies.py
  tests/suite/utils/policy_resources_utils.py
  tests/suite/utils/resources_utils.py
Labels: python

update rate limits in examples
  examples/custom-resources/rate-limit-tiered-apikey/README.md
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits.yaml
  examples/custom-resources/rate-limit-tiered-request-method/README.md
  examples/custom-resources/rate-limit-tiered-request-method/rate-limits.yaml
Labels: none

add vsr test with multiple policy types
  tests/data/rate-limit/policies/api-key-secret.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-bronze-with-default-apikey.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-gold-no-default-apikey.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-silver-no-default-apikey.yaml
  tests/data/rate-limit/route-subroute/virtual-server-route-tiered-bronze-silver-gold-apikey.yaml
  tests/data/rate-limit/route-subroute/virtual-server-vsr-tiered-apikey-basic-premium-route-override.yaml
  tests/data/rate-limit/route-subroute/virtual-server-vsr-tiered-apikey-basic-premium-spec-override.yaml
  tests/data/rate-limit/route-subroute/virtual-server-vsr-tiered-jwt-basic-premium-route-override.yaml
  tests/data/rate-limit/route-subroute/virtual-server-vsr-tiered-jwt-basic-premium-spec-override.yaml
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
Labels: python

add test for multiple uses of the same policy tiers
  tests/data/rate-limit/route-subroute/virtual-server-route-mutliple-tiered-variables-apikey.yaml
  tests/suite/fixtures/custom_resource_fixtures.py
  tests/suite/test_rl_policies_vsr.py
Labels: python

remove change to RateLimitPolicies schema
  internal/telemetry/data.avdl
  internal/telemetry/exporter.go
Labels: go

update codegen
  pkg/apis/configuration/v1/zz_generated.deepcopy.go
Labels: go

remove nginx-pat from release-branch generation
  .github/workflows/create-release-branch.yml
Labels: github_actions

remove nginx-pat from version bump
  .github/workflows/version-bump.yml
Labels: github_actions

add write permission for pull-requests for GITHUB_TOKEN
  .github/workflows/version-bump.yml
Labels: github_actions

switch to using js_var to set the intial apikey_client_name variable
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
Labels: none

update snaps
  internal/configs/version2/__snapshots__/templates_test.snap
Labels: none

Version Bump for 5.2.0
  .github/data/version.txt
  charts/nginx-ingress/Chart.yaml
Labels: helm_chart

remove nginx-pat from release-docs
  .github/workflows/release-pr.yml
Labels: github_actions

remove nginx-pat from cherry-pick workflow & release tag
  .github/workflows/cherry-pick.yml
  .github/workflows/release.yml
Labels: github_actions

switch to using GITHUB_TOKEN for docker sha updates
  .github/workflows/update-docker-sha.yml
Labels: github_actions

remove nginx-pat from k8s update workflow
  .github/workflows/update-kubernetes-version.yml
Labels: github_actions

Update docker images 61b675bc
  build/Dockerfile
  build/dependencies/Dockerfile.ubi8
  tests/Dockerfile
Labels: docker

allow docker sha update to create pull requests
  .github/workflows/update-docker-sha.yml
Labels: github_actions

scorecard should be able to use GITHUB_TOKEN now we are using rulesets for branch protection
  .github/workflows/scorecards.yml
Labels: github_actions

Update NGINX OSS to 1.27.5
  build/Dockerfile
  site/content/technical-specifications.md
Labels: docker

Move internal docs folder outside of website docs folder
  docs/developer/README.md
  docs/developer/debugging.md
  docs/developer/telemetry-schema-generation.md
Labels: none

remove 3.1.1 from tech specs
  site/content/technical-specifications.md
Labels: none

add BUILD OS & Arch to rhel system registration host name
  build/Dockerfile
Labels: docker

Update go version to 1.24.4
  go.mod
Labels: go

Update NGINX OSS to 1.27.5 (#7890)
  build/Dockerfile
  site/content/technical-specifications.md
Labels: docker

add changeable dataplane key via Kubernetes secrets
  charts/nginx-ingress/templates/_helpers.tpl
Labels: helm_chart

Update Dockerfile syntax version to 1.16 https://docs.docker.com/build/buildkit/dockerfile-release-notes/
  build/Dockerfile
  build/dependencies/Dockerfile.ubi8
  build/dependencies/Dockerfile.ubi9
  tests/Dockerfile
Labels: docker
