Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'

Update go version to 1.24.4 (#7896)
  go.mod
Labels: go

Update docker images 6913142a
  build/Dockerfile
Labels: docker

Update UBI9 version to 9.6 as 9.5 is no longer updated
  build/Dockerfile
  build/dependencies/Dockerfile.ubi9
Labels: docker

correct sha for minimal ubi
  build/Dockerfile
Labels: docker

Move internal docs folder outside of website docs folder (#7892)
  docs/developer/README.md
  docs/developer/debugging.md
  docs/developer/telemetry-schema-generation.md
Labels: none

add dev docs exception
  .markdownlint-cli2.yaml
Labels: none

Add additional validation to otel endpoint
  internal/configs/configmaps.go
  internal/configs/configmaps_test.go
Labels: go

Add new ValidateURI function and tests
  internal/configs/configmaps.go
  internal/validation/validation.go
  internal/validation/validation_test.go
Labels: go

Further refine URI validation and add more tests
  internal/configs/configmaps_test.go
  internal/validation/validation.go
  internal/validation/validation_test.go
Labels: go

add dockerfile changes from main
  build/Dockerfile
Labels: docker

update comment on the dataplane key in helm
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
Labels: helm_chart

Remove references to site folder and Hugo from code verification
  .github/workflows/ci.yml
Labels: github_actions

pin to current version of agent v3.0.2
  build/Dockerfile
Labels: docker

Update additional documentation website file references
  .fossa.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .pre-commit-config.yaml
  CODEOWNERS
  CONTRIBUTING.md
  README.md
Labels: github_actions

update snaps
  charts/tests/__snapshots__/helmunit_test.snap
  internal/configs/version2/__snapshots__/templates_test.snap
Labels: none

update snaps
  charts/tests/__snapshots__/helmunit_test.snap
Labels: none

Update docker images 3f2f3172
  build/Dockerfile
Labels: docker

add tiered ratelimit with apikey PoC
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  examples/custom-resources/rate-limit-tiered-apikey/README.md
  examples/custom-resources/rate-limit-tiered-apikey/api-key-policy.yaml
  examples/custom-resources/rate-limit-tiered-apikey/api-key-secret.yaml
  examples/custom-resources/rate-limit-tiered-apikey/cafe-secret.yaml
  examples/custom-resources/rate-limit-tiered-apikey/cafe-virtual-server.yaml
  examples/custom-resources/rate-limit-tiered-apikey/chocolate-virtual-server-route.yaml
  examples/custom-resources/rate-limit-tiered-apikey/chocolate.yaml
  examples/custom-resources/rate-limit-tiered-apikey/coffee.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits-route.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits-spec.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits.yaml
  examples/custom-resources/rate-limit-tiered-apikey/tea.yaml
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/validation/common.go
  pkg/apis/configuration/validation/policy.go
Labels: go

allow variables a list with maximum 1 item Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits.yaml
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/validation/policy.go
Labels: go

pluralise variable in log message
  pkg/apis/configuration/validation/policy.go
Labels: go

add request method rate limiting example
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits.yaml
  examples/custom-resources/rate-limit-tiered-request-method/README.md
  examples/custom-resources/rate-limit-tiered-request-method/cafe-virtual-server.yaml
  examples/custom-resources/rate-limit-tiered-request-method/coffee.yaml
  examples/custom-resources/rate-limit-tiered-request-method/rate-limits.yaml
Labels: none

update the tiered rate limit with API Key example
  examples/custom-resources/rate-limit-tiered-apikey/README.md
  examples/custom-resources/rate-limit-tiered-apikey/api-key-secret.yaml
  examples/custom-resources/rate-limit-tiered-apikey/cafe-secret.yaml
  examples/custom-resources/rate-limit-tiered-apikey/cafe-virtual-server.yaml
  examples/custom-resources/rate-limit-tiered-apikey/chocolate-virtual-server-route.yaml
  examples/custom-resources/rate-limit-tiered-apikey/chocolate.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits-route.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits-spec.yaml
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits.yaml
  examples/custom-resources/rate-limit-tiered-apikey/tea.yaml
Labels: none

update rate limits in examples
  examples/custom-resources/rate-limit-tiered-apikey/README.md
  examples/custom-resources/rate-limit-tiered-apikey/rate-limits.yaml
  examples/custom-resources/rate-limit-tiered-request-method/README.md
  examples/custom-resources/rate-limit-tiered-request-method/rate-limits.yaml
Labels: none

add beginnings of python tests
  tests/data/rate-limit/policies/api-key-policy.yaml
  tests/data/rate-limit/policies/api-key-secret.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-basic-with-default-variables-apikey.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-premium-no-default-variables-apikey.yaml
  tests/data/rate-limit/spec/virtual-server-tiered-basic-premium-variables-apikey.yaml
  tests/suite/test_rl_policies.py
  tests/suite/utils/resources_utils.py
Labels: python

add test for rate limits with request_method
  tests/data/rate-limit/policies/api-key-secret.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-read-no-default-variables-request-method.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-write-no-default-variables-request-method.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-write-with-default-variables-request-method.yaml
  tests/data/rate-limit/spec/virtual-server-tiered-read-write-variables-request-method.yaml
  tests/suite/test_rl_policies.py
  tests/suite/utils/policy_resources_utils.py
  tests/suite/utils/resources_utils.py
Labels: python

add rate limit conditions telemetry
  internal/telemetry/cluster.go
  internal/telemetry/collector.go
  internal/telemetry/collector_test.go
  internal/telemetry/data.avdl
  internal/telemetry/exporter.go
  internal/telemetry/nicresourcecounts_attributes_generated.go
Labels: go

update codegen
  pkg/apis/configuration/v1/zz_generated.deepcopy.go
Labels: go

add vsr test with multiple policy types
  tests/data/rate-limit/policies/api-key-secret.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-bronze-with-default-apikey.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-gold-no-default-apikey.yaml
  tests/data/rate-limit/policies/rate-limit-tiered-silver-no-default-apikey.yaml
  tests/data/rate-limit/route-subroute/virtual-server-route-tiered-bronze-silver-gold-apikey.yaml
  tests/data/rate-limit/route-subroute/virtual-server-vsr-tiered-apikey-basic-premium-route-override.yaml
  tests/data/rate-limit/route-subroute/virtual-server-vsr-tiered-apikey-basic-premium-spec-override.yaml
  tests/data/rate-limit/route-subroute/virtual-server-vsr-tiered-jwt-basic-premium-route-override.yaml
  tests/data/rate-limit/route-subroute/virtual-server-vsr-tiered-jwt-basic-premium-spec-override.yaml
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
Labels: python

add test for multiple uses of the same policy tiers
  tests/data/rate-limit/route-subroute/virtual-server-route-mutliple-tiered-variables-apikey.yaml
  tests/suite/fixtures/custom_resource_fixtures.py
  tests/suite/test_rl_policies_vsr.py
Labels: python

switch to using js_var to set the intial apikey_client_name variable
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
Labels: none

remove change to RateLimitPolicies schema
  internal/telemetry/data.avdl
  internal/telemetry/exporter.go
Labels: go

update snaps
  internal/configs/version2/__snapshots__/templates_test.snap
Labels: none

address feedback on readme
  examples/custom-resources/rate-limit-tiered-apikey/README.md
  examples/custom-resources/rate-limit-tiered-request-method/README.md
Labels: none

Remove crts from OSS images as they are no longer required for agent
  .github/workflows/build-oss.yml
  .github/workflows/build-single-image.yml
  Makefile
Labels: github_actions

address more feedback
  examples/custom-resources/rate-limit-tiered-apikey/README.md
  examples/custom-resources/rate-limit-tiered-request-method/README.md
Labels: none

until the docs migration workflow is finalised, disable release note generation
  .github/scripts/release-version-update.sh
  .github/workflows/release-pr.yml
Labels: github_actions

disable publish helm chart to nginx-charts
  .github/workflows/release.yml
Labels: github_actions

disable operator trigger until nginx-bot issue is resolved
  .github/workflows/release.yml
Labels: github_actions

Disable marketplace build & publishing
  .github/config/config-gcr-retag
  .github/config/config-plus-gcr-release
  .github/data/matrix-images-nap.json
  .github/data/matrix-images-plus.json
  .github/workflows/release.yml
  .goreleaser.yml
Labels: github_actions

Update Preflight for Openshift certification
  .github/workflows/release.yml
Labels: github_actions
