Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'

Remove ref to OT in plus tmpl
  internal/configs/version1/nginx-plus.tmpl
Labels: none

Don't load OT module if not enabled
  cmd/nginx-ingress/main.go
Labels: go

Update docker images 2dc4280d
  build/Dockerfile
Labels: docker

add filters for configmap telemetry
  internal/telemetry/cluster.go
Labels: go

temporarily disable builds failing for NAP WAF v4 on UBI
  .github/data/matrix-images-nap.json
  .github/data/matrix-smoke-nap.json
Labels: none

remove ubi8 & 9 WAF v4 image publish
  .github/config/config-gcr-retag
  .github/config/config-plus-gcr-release
  .github/config/config-plus-nginx
Labels: none

Bump Go version to 1.24.2
  build/Dockerfile
  go.mod
Labels: go, docker

update plus version for waf
  build/Dockerfile
Labels: docker

update NGINX Plus to R34 and App Protect to 4.14 & 5.6
  .github/workflows/regression.yml
  .github/workflows/setup-smoke.yml
  Makefile
  build/Dockerfile
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  charts/tests/__snapshots__/helmunit_test.snap
  site/content/installation/installing-nic/installation-with-helm.md
  site/content/installation/integrations/app-protect-waf-v5/installation.md
  site/content/technical-specifications.md
  tests/settings.py
Labels: github_actions, python, helm_chart, docker

Revert "temporarily disable builds failing for NAP WAF v4 on UBI (#7606)"
  .github/config/config-gcr-retag
  .github/config/config-plus-gcr-release
  .github/config/config-plus-nginx
  .github/data/matrix-images-nap.json
  .github/data/matrix-smoke-nap.json
Labels: none

remove broken URL
  README.md
Labels: none

using make update-crds to update from bases
  config/crd/bases/appprotect.f5.com_appolicies.yaml
  deploy/crds-nap-waf.yaml
  deploy/crds.yaml
Labels: none

Bump Go version to 1.24.2 (#7607)
  build/Dockerfile
  go.mod
Labels: go, docker

update snaps
  internal/configs/version1/__snapshots__/template_test.snap
Labels: none

update snaps
  internal/configs/version1/__snapshots__/template_test.snap
Labels: none

only run race condition checks in pipeline
  Makefile
Labels: none

Update NAP documentation for 4.1 release (#7579)
  site/content/includes/compatibility-tables/nic-nap.md
  site/content/installation/integrations/app-protect-waf-v5/configuration.md
  site/content/installation/integrations/app-protect-waf-v5/installation.md
  site/content/installation/integrations/app-protect-waf-v5/troubleshoot-app-protect-waf.md
  site/content/installation/integrations/app-protect-waf/configuration.md
  site/content/installation/integrations/app-protect-waf/installation.md
Labels: none

[cherry-pick] Update NAP documentation for 4.1 release (#7615)
  site/content/includes/compatibility-tables/nic-nap.md
  site/content/installation/integrations/app-protect-waf-v5/configuration.md
  site/content/installation/integrations/app-protect-waf-v5/installation.md
  site/content/installation/integrations/app-protect-waf-v5/troubleshoot-app-protect-waf.md
  site/content/installation/integrations/app-protect-waf/configuration.md
  site/content/installation/integrations/app-protect-waf/installation.md
Labels: none

update kubernetes version to 1.32.3 in helm schema file
  charts/nginx-ingress/values.schema.json
Labels: helm_chart

Release 4.1.0
  README.md
  charts/nginx-ingress/Chart.yaml
  charts/nginx-ingress/values-icp.yaml
  charts/nginx-ingress/values-plus.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  examples/custom-resources/app-protect-dos/README.md
  examples/custom-resources/app-protect-waf-v5/README.md
  examples/custom-resources/app-protect-waf/README.md
  examples/custom-resources/certmanager/README.md
  examples/custom-resources/security-monitoring/README.md
  examples/custom-resources/service-insight/README.md
  examples/ingress-resources/app-protect-dos/README.md
  examples/ingress-resources/app-protect-waf/README.md
  examples/ingress-resources/complete-example/README.md
  examples/ingress-resources/mergeable-ingress-types/README.md
  examples/ingress-resources/rate-limit/README.md
  examples/ingress-resources/security-monitoring/README.md
  site/content/releases.md
  site/layouts/shortcodes/nic-helm-version.html
  site/layouts/shortcodes/nic-operator-version.html
  site/layouts/shortcodes/nic-version.html
Labels: helm_chart

revert ip address in docs
  examples/custom-resources/app-protect-dos/README.md
  examples/custom-resources/app-protect-waf-v5/README.md
  examples/custom-resources/app-protect-waf/README.md
  examples/custom-resources/certmanager/README.md
  examples/custom-resources/security-monitoring/README.md
  examples/ingress-resources/app-protect-dos/README.md
  examples/ingress-resources/app-protect-waf/README.md
  examples/ingress-resources/complete-example/README.md
  examples/ingress-resources/mergeable-ingress-types/README.md
  examples/ingress-resources/rate-limit/README.md
  examples/ingress-resources/security-monitoring/README.md
Labels: none

Update kubernetes version to 1.32.3 in helm schema file (#7616)
  charts/nginx-ingress/values.schema.json
Labels: helm_chart

Update kubernetes version to 1.32.3 in helm schema file (#7618)
  charts/nginx-ingress/values.schema.json
Labels: helm_chart

try includes for release notes
  site/content/includes/release-notes/release-4.0.0.md
  site/content/includes/release-notes/release-4.0.1.md
  site/content/releases.md
Labels: none

remove unused build args
  Makefile
Labels: none

remove unused opentracing steps
  build/Dockerfile
Labels: docker

add secrets for installing agentv3
  .github/workflows/build-oss.yml
Labels: github_actions

ensure repo credentials are always available
  .github/workflows/build-single-image.yml
Labels: github_actions

update zone sync note
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

re-add setcap
  build/Dockerfile
Labels: docker

allow more than single digit agent versions
  internal/nginx/manager.go
  internal/nginx/version_test.go
Labels: go

add policy markers for WAF tests
  tests/suite/test_app_protect_waf_policies_grpc.py
  tests/suite/test_batch_startup_times.py
Labels: python

make agent tests run on all images
  .github/data/matrix-smoke-nap.json
  tests/suite/test_agent.py
Labels: python

Update docker images 771213be
  build/Dockerfile
Labels: docker

Update docker images 5793db35
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
  tests/Dockerfile
Labels: docker

Update docker images 971ae21e
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
  tests/Dockerfile
Labels: docker

Update docker images d34cdc03
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
  tests/Dockerfile
Labels: docker

fix doc spacing
  site/content/overview/product-telemetry.md
Labels: none

fix one test and values file
  charts/nginx-ingress/values.yaml
  internal/telemetry/collector_test.go
Labels: go, helm_chart

update test snapshots
  internal/configs/version1/__snapshots__/template_test.snap
Labels: none
