Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

pin agent v3 to latest patch
  build/Dockerfile
Labels: docker

update helm snaps
  charts/tests/__snapshots__/helmunit_test.snap
  charts/tests/testdata/oss-agentv3.yaml
  charts/tests/testdata/plus-agentv3-all.yaml
  charts/tests/testdata/plus-agentv3.yaml
Labels: none

remove duplicated entries
  .github/config/config-gcr-retag
  .github/config/config-plus-gcr-release
Labels: none

remove arm, s390x & ppc64le references
  .github/actions/certify-openshift-image/action.yml
  .github/data/matrix-smoke-plus.json
  .github/data/patch-images.json
  .github/workflows/certify-ubi-image.yml
Labels: github_actions

fix ubi nap image and remove not needed crts from oss images
  build/Dockerfile
Labels: docker

remove exotic archs
  .github/data/matrix-smoke-oss.json
Labels: none

rename dataplaneKey to dataplaneSecretName for clearer name similar to LicenseTokenSecretName
  charts/nginx-ingress/templates/_helpers.tpl
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  charts/tests/testdata/oss-agentv3.yaml
  charts/tests/testdata/plus-agentv3-all.yaml
  charts/tests/testdata/plus-agentv3.yaml
Labels: helm_chart

Apply suggestions from code review
  build/Dockerfile
Labels: docker

Quote bash variables to prevent globbing
  hack/docker.sh
Labels: none

Pin mvdan/gofumpt to v0.8.0 instead of latest
  .github/workflows/ci.yml
Labels: github_actions

add missing pygments dependency
  tests/requirements.txt
Labels: python

Update docker images fd7ea1f4
  build/Dockerfile
Labels: docker

Use GITHUB_TOKEN for auto merge
  .github/workflows/dependabot-auto-merge.yml
Labels: github_actions

add build_os to breaking ubi8 waf image
  build/Dockerfile
Labels: docker

Update github actions
  .github/config/config-gcr-retag
  .github/config/config-plus-gcr-release
  .github/data/matrix-images-nap.json
  .github/data/matrix-images-plus.json
  .github/scripts/release-version-update.sh
  .github/scripts/variables.sh
  .github/workflows/build-base-images.yml
  .github/workflows/build-test-image.yml
  .github/workflows/cherry-pick.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-release-branch.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependabot-hugo.yml
  .github/workflows/docs-build-push.yml
  .github/workflows/fossa.yml
  .github/workflows/image-promotion.yml
  .github/workflows/mend.yml
  .github/workflows/patch-image.yml
  .github/workflows/release-pr.yml
  .github/workflows/release.yml
  .github/workflows/scorecards.yml
  .github/workflows/update-docker-sha.yml
  .github/workflows/update-kubernetes-version.yml
  .github/workflows/update-release-draft.yml
  .github/workflows/version-bump.yml
Labels: github_actions

Update .github/data/matrix-smoke-oss.json
  .github/data/matrix-smoke-oss.json
Labels: none

Update go dependencies
  go.mod
  go.sum
Labels: go

only one syntax per dockerfile
  build/dependencies/Dockerfile.ubi9
Labels: none

Update dockerfile dependencies
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
Labels: docker

Update references to migrated nginxinc projects
  .github/workflows/image-promotion.yml
  .github/workflows/release.yml
  .github/workflows/update-release-draft.yml
Labels: github_actions

Update docker images f3e2b9fa
  build/Dockerfile
Labels: docker

Remove references to the Marketplace images
  .github/workflows/image-promotion.yml
  .github/workflows/update-release-draft.yml
Labels: github_actions

Version Bump for 5.2.0
  .github/data/version.txt
  charts/nginx-ingress/Chart.yaml
Labels: helm_chart

Release 5.1.0
  README.md
  charts/nginx-ingress/Chart.yaml
  charts/nginx-ingress/values-icp.yaml
  charts/nginx-ingress/values-plus.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  examples/custom-resources/service-insight/README.md
Labels: helm_chart

add namespaced secret
  examples/common-secrets/cafe-secret-cafe-ns.example.com.yaml
  examples/custom-resources/cross-namespace-configuration/cafe-secret.yaml
Labels: none

add namespaced secret to example (#7941)
  examples/common-secrets/cafe-secret-cafe-ns.example.com.yaml
  examples/custom-resources/cross-namespace-configuration/cafe-secret.yaml
Labels: none

Update docker images 1e04714a
  build/Dockerfile
  build/dependencies/Dockerfile.ubi8
Labels: docker

update tests readMe
  tests/README.md
Labels: none

use make target for venv
  tests/README.md
Labels: none

Update docker images 79d70b3a
  build/Dockerfile
  build/dependencies/Dockerfile.ubi9
Labels: docker

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'
