Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

add otel-module to NIC images
  build/Dockerfile
Labels: docker

accept otel configmap keys Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/version1/config.go
Labels: go

add otel-module to NIC images
  build/Dockerfile
Labels: docker

Revert "add ; in oidc files (#7748)"
  internal/configs/oidc/oidc_common.conf
Labels: none

Revert "update OIDC files with reference implementation (#7722)"
  internal/configs/oidc/oidc.conf
  internal/configs/oidc/oidc_common.conf
  internal/configs/oidc/openid_connect.js
Labels: none

update ci files to build on oidc conf changes
  .github/scripts/variables.sh
  internal/configs/oidc/oidc.conf
Labels: none

add metadata to agent
  internal/metadata/metadata.go
  internal/metadata/metadata_test.go
Labels: go

Update version_test.go
  internal/nginx/version_test.go
Labels: go

update NIC about page
  site/content/overview/about.md
Labels: none

improve regex, fix tests
  internal/nginx/manager.go
  internal/nginx/version.go
  internal/nginx/version_test.go
Labels: go

update NIC about page (#7755)
  site/content/overview/about.md
Labels: none

update NIC about page (#7756)
  site/content/overview/about.md
Labels: none

add agent v2 helm tests, clarify pytest, clean up agent values.yaml file
  charts/nginx-ingress/values.yaml
  charts/tests/__snapshots__/helmunit_test.snap
  charts/tests/helmunit_test.go
  charts/tests/testdata/app-protect-waf-agentv2.yaml
  charts/tests/testdata/app-protect-wafv5-agentv2.yaml
  cmd/nginx-ingress/flags.go
  tests/suite/test_agent_app_protect.py
Labels: go, python, helm_chart

allow setting of pull policy for minikube tests and add more app protect labels
  tests/Makefile
  tests/suite/test_app_protect_waf_policies_grpc.py
  tests/suite/test_batch_startup_times.py
Labels: python

docs: NIC+NAP wafv5 install guide perm fix
  site/content/installation/installing-nic/deploy-with-nap-using-helm.md
Labels: none

readd agent label for now
  tests/suite/test_agent_app_protect.py
Labels: python

Change the destination of an mv to /Users/g.javorszky/Projects/NIC/kubernetes-ingress-docs instead of .
  site/content/installation/installing-nic/deploy-with-nap-using-helm.md
Labels: none

Fix a typo for the downloaded file name
  site/content/installation/installing-nic/deploy-with-nap-using-helm.md
Labels: none

add oidc refactor commit from ref impl
  internal/configs/oidc/oidc.conf
  internal/configs/oidc/openid_connect.js
Labels: none

chore(deps): bump the python group in /tests with 3 updates (#7761)
  tests/requirements.txt
Labels: python

docs: NIC+NAP wafv5 install guide perm fix (#7760)
  site/content/installation/installing-nic/deploy-with-nap-using-helm.md
Labels: none

[cherry-pick] docs: NIC+NAP wafv5 install guide perm fix (#7763)
  site/content/installation/installing-nic/deploy-with-nap-using-helm.md
Labels: none

remove future comment and add back accidental code
  charts/nginx-ingress/values.yaml
  cmd/nginx-ingress/flags.go
Labels: go, helm_chart

Add PKCE Enabled flag
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/template_helper.go
  internal/configs/virtualserver.go
  pkg/apis/configuration/v1/types.go
Labels: go

Fix leading whitespace in tmpl files
  internal/configs/version2/nginx.virtualserver.tmpl
Labels: none

Implement pkce in configs
  internal/configs/oidc/oidc_common.conf
  internal/configs/oidc/oidc_pkce_supplements.conf
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: none

Add check for OIDC to guard for a nil pointer
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: none

Fix some whitespace alignment in tmpl files
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: none

Update snapshots to realign with whitespaces
  internal/configs/version2/__snapshots__/templates_test.snap
Labels: none

Add tests for PKCE enabled true
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver_test.go
Labels: go

Update CRDs based on policy files
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
Labels: none

Update docker images 01d2dc20
  build/Dockerfile
Labels: docker

accept otel configmap keys Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.tmpl
Labels: go

remove unused config map keys
  internal/configs/configmaps.go
  internal/configs/version1/nginx-plus.tmpl
Labels: go

update templates to add OSS support
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.tmpl
Labels: none

accept otel configmap keys Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  internal/configs/configmaps.go
  internal/configs/version1/nginx-plus.tmpl
Labels: go

add otel-module to NIC images
  build/Dockerfile
Labels: docker

add otel-module to NIC images
  build/Dockerfile
Labels: docker

add runtime config for Otel CA cert updates
  internal/configs/configmaps.go
  internal/configs/configurator.go
  internal/k8s/controller.go
Labels: go

add CA to Otel exporter on startup
  cmd/nginx-ingress/main.go
  internal/configs/configmaps.go
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.tmpl
Labels: go

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'
