Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'

remove unused config map keys
  internal/configs/version1/nginx-plus.tmpl
Labels: none

add otel-module to NIC images
  build/Dockerfile
Labels: docker

accept otel configmap keys Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/version1/config.go
Labels: go

remove unused otel flag
  internal/configs/config_params.go
  internal/configs/configmaps.go
Labels: go

add CA to Otel exporter on startup
  cmd/nginx-ingress/main.go
  internal/configs/configmaps.go
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.tmpl
Labels: go

accept otel configmap keys Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  internal/configs/configmaps.go
  internal/configs/version1/nginx-plus.tmpl
Labels: go

rename mgmt trusted secret function
  cmd/nginx-ingress/main.go
  internal/configs/version1/config.go
Labels: go

add otel-module to NIC images
  build/Dockerfile
Labels: docker

add template test Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  internal/configs/configmaps_test.go
  internal/configs/version1/__snapshots__/template_test.snap
  internal/configs/version1/template_test.go
Labels: go

fix linting Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  internal/configs/configmaps_test.go
Labels: go

fix rebase Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  build/Dockerfile
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/configmaps_test.go
  internal/configs/version1/config.go
Labels: go, docker

remove unused config map keys
  internal/configs/version1/nginx-plus.tmpl
Labels: none

update templates to add OSS support
  internal/configs/version1/nginx-plus.tmpl
Labels: none

add runtime config for Otel CA cert updates
  internal/configs/configmaps.go
  internal/configs/configurator.go
  internal/k8s/controller.go
Labels: go

Remove cert processing, rename configmap keys, fix tests
  cmd/nginx-ingress/main.go
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/configmaps_test.go
  internal/configs/configurator.go
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.tmpl
  internal/k8s/controller.go
Labels: go

remove unused config map keys
  internal/configs/configmaps.go
  internal/configs/version1/nginx-plus.tmpl
Labels: go

add otel-module to NIC images
  build/Dockerfile
Labels: docker

add nil check
  internal/k8s/controller.go
Labels: go

add otel-module to NIC images
  build/Dockerfile
Labels: docker

[cherry-pick] [pre-commit.ci] pre-commit autoupdate (#7795)
  .pre-commit-config.yaml
Labels: none

Docker image update 78a6243e (#7790)
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
  tests/Dockerfile
Labels: docker

add otel pytests
  tests/Makefile
  tests/data/otel/configmap-with-all.yaml
  tests/data/otel/configmap-with-endpoint.yaml
  tests/data/otel/configmap-with-header.yaml
  tests/data/otel/configmap-with-only-header-name.yaml
  tests/data/otel/configmap-with-only-header-value.yaml
  tests/data/otel/configmap-with-otel-trace.yaml
  tests/data/otel/configmap-with-service-name.yaml
  tests/data/otel/default-configmap.yaml
  tests/suite/test_otel.py
  tests/suite/utils/resources_utils.py
Labels: python

remove otel trusted cert code
  internal/configs/configurator.go
  internal/k8s/controller.go
Labels: go

revert mgmt trusted cert function name change
  cmd/nginx-ingress/main.go
Labels: go

revert newline
  cmd/nginx-ingress/main.go
Labels: go

add docs for nic n1 console with agent v3
  site/content/installation/integrations/nic-saas-console.md
Labels: none

build c-ares packages on UBI for Otel module
  .github/workflows/build-ubi-dependency.yml
  build/dependencies/Dockerfile.ubi
  build/dependencies/Dockerfile.ubi8
  build/dependencies/Dockerfile.ubi9
Labels: github_actions

push image
  .github/workflows/build-ubi-dependency.yml
Labels: github_actions

trigger build by changing CI file
  .github/workflows/build-ubi-dependency.yml
Labels: github_actions

[cherry-pick] update kubernetes version to v1.33.0 in helm schema (#7796)
  charts/nginx-ingress/values.schema.json
Labels: helm_chart

Implement pkce in configs
  internal/configs/oidc/oidc_common.conf
  internal/configs/oidc/oidc_pkce_supplements.conf
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: none

Fix leading whitespace in tmpl files
  internal/configs/version2/nginx.virtualserver.tmpl
Labels: none

Add PKCE Enabled flag
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/template_helper.go
  internal/configs/virtualserver.go
  pkg/apis/configuration/v1/types.go
Labels: go

Add check for OIDC to guard for a nil pointer
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: none

Update snapshots to realign with whitespaces
  internal/configs/version2/__snapshots__/templates_test.snap
Labels: none

Fix some whitespace alignment in tmpl files
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: none

Add tests for PKCE enabled true
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver_test.go
Labels: go

Update CRDs based on policy files
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
Labels: none

Add pkceEnabled to oidc pytest setup yaml
  tests/data/oidc/oidc.yaml
Labels: python

Terminate include directive with a ;
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: none
