Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'

remove unused config map keys
  internal/configs/configmaps.go
  internal/configs/version1/nginx-plus.tmpl
Labels: go

rename mgmt trusted secret function
  cmd/nginx-ingress/main.go
  internal/configs/version1/config.go
Labels: go

remove unused otel flag
  internal/configs/config_params.go
  internal/configs/configmaps.go
Labels: go

add nil check
  internal/k8s/controller.go
Labels: go

remove unsupported image architectures
  .github/data/matrix-images-oss.json
Labels: none

Update test_agent_app_protect.py
  tests/suite/test_agent_app_protect.py
Labels: python

update crds
  config/crd/bases/appprotectdos.f5.com_dosprotectedresources.yaml
  config/crd/bases/externaldns.nginx.org_dnsendpoints.yaml
  config/crd/bases/k8s.nginx.org_globalconfigurations.yaml
  config/crd/bases/k8s.nginx.org_policies.yaml
  config/crd/bases/k8s.nginx.org_transportservers.yaml
  config/crd/bases/k8s.nginx.org_virtualserverroutes.yaml
  config/crd/bases/k8s.nginx.org_virtualservers.yaml
  deploy/crds-nap-dos.yaml
  deploy/crds.yaml
Labels: none

allow getting other deployment id
  internal/common_cluster_info/common_cluster_info.go
Labels: go

[cherry-pick] chore(deps): bump the actions group across 1 directory with 6 updates (#7774)
  .github/workflows/build-single-image.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependabot-hugo.yml
  .github/workflows/dependency-review.yml
  .github/workflows/image-promotion.yml
  .github/workflows/lint-format.yml
  .github/workflows/oss-release.yml
  .github/workflows/plus-release.yml
  .github/workflows/regression.yml
  .github/workflows/release.yml
  .github/workflows/scorecards.yml
  .github/workflows/update-release-draft.yml
Labels: github_actions

update snaps
  charts/tests/__snapshots__/helmunit_test.snap
Labels: none

Improve batch reload
  internal/k8s/controller.go
Labels: go

allow more than 1 owner
  internal/common_cluster_info/common_cluster_info.go
Labels: go

add note to remove archs in next release
  site/content/releases.md
  site/content/technical-specifications.md
Labels: none

Update site/content/technical-specifications.md
  site/content/technical-specifications.md
Labels: none

revert releases.md
  site/content/releases.md
Labels: none

Add note to the Tech Specs about removal of archs (#7782)
  site/content/technical-specifications.md
Labels: none

remove s390x, arm/7 and ppc64le
  .github/data/matrix-images-oss.json
  .github/data/matrix-regression.json
  .github/data/patch-images.json
  .github/workflows/build-base-images.yml
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/build-ubi-dependency.yml
  .github/workflows/patch-image.yml
  .goreleaser.yml
  site/content/installation/build-nginx-ingress-controller.md
  site/content/technical-specifications.md
Labels: github_actions

Update .goreleaser.yml
  .goreleaser.yml
Labels: none

revert patch images
  .github/data/patch-images.json
Labels: none

[cherry-pick] Add note to the Tech Specs about removal of archs (#7783)
  site/content/technical-specifications.md
Labels: none

revert test_app_protect_waf_policies_grpc.py
  tests/suite/test_app_protect_waf_policies_grpc.py
Labels: python

Update test_batch_startup_times.py
  tests/suite/test_batch_startup_times.py
Labels: python

change agent marker to agentv2
  .github/data/matrix-smoke-nap.json
  pyproject.toml
  tests/suite/test_agent_app_protect.py
Labels: python

correct namespace for mgmt secrets
  internal/k8s/controller.go
Labels: go

Update docker images 78a6243e
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
  tests/Dockerfile
Labels: docker

fix owner.Kind to owner.name and uuid for installationID and based on feedback from N1C team, change productNamespace to deploymentNamespace
  internal/common_cluster_info/common_cluster_info.go
  internal/metadata/metadata.go
  internal/metadata/metadata_test.go
  internal/nginx/manager.go
Labels: go

[cherry-pick] chore(deps): bump the actions group with 2 updates (#7785)
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/dependency-review.yml
  .github/workflows/image-promotion.yml
Labels: github_actions

update kubernetes version to v1.33.0 in helm schema
  charts/nginx-ingress/values.schema.json
Labels: helm_chart

Docker image update 78a6243e (#7788)
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
  tests/Dockerfile
Labels: docker

restore nginx_test package and made extractAgentVersion based on feedback from PR and to align with main,
  internal/nginx/manager.go
  internal/nginx/version.go
  internal/nginx/version_test.go
Labels: go

fix values file to align with main
  charts/nginx-ingress/values.yaml
Labels: helm_chart

[cherry-pick] chore(deps): bump the go group with 2 updates (#7775)
  config/crd/bases/appprotectdos.f5.com_dosprotectedresources.yaml
  config/crd/bases/externaldns.nginx.org_dnsendpoints.yaml
  config/crd/bases/k8s.nginx.org_globalconfigurations.yaml
  config/crd/bases/k8s.nginx.org_policies.yaml
  config/crd/bases/k8s.nginx.org_transportservers.yaml
  config/crd/bases/k8s.nginx.org_virtualserverroutes.yaml
  config/crd/bases/k8s.nginx.org_virtualservers.yaml
  deploy/crds-nap-dos.yaml
  deploy/crds.yaml
  go.mod
  go.sum
Labels: go

fix pytests to align with feedback, add a separate file for agent tests
  .github/data/matrix-smoke-oss.json
  .github/data/matrix-smoke-plus.json
  pyproject.toml
  tests/suite/test_app_protect_agent.py
  tests/suite/test_app_protect_waf_policies_grpc.py
  tests/suite/test_batch_startup_times.py
Labels: python

[cherry-pick] chore(deps): bump fossas/fossa-action from 1.6.0 to 1.7.0 in the actions group (#7793)
  .github/workflows/fossa.yml
Labels: github_actions

update kubernetes version to v1.33.0 in helm schema (#7735)
  charts/nginx-ingress/values.schema.json
Labels: helm_chart

accept otel configmap keys Signed-off-by: Haywood Shannon <5781935+haywoodsh@users.noreply.github.com>
  internal/configs/version1/nginx-plus.tmpl
Labels: none

add otel-module to NIC images
  build/Dockerfile
Labels: docker

Remove OpenTracing Support from NIC (#7633)
  build/Dockerfile
Labels: docker

update templates to add OSS support
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.tmpl
Labels: none

remove unused config map keys
  internal/configs/configmaps.go
Labels: go
