Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

OIDC test doesn't need pkce enabled
  tests/data/oidc/oidc.yaml
Labels: python

Set pkce enabled to an int instead of a string
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: none

Add PKCE pytest
  tests/data/oidc/pkce.yaml
  tests/suite/test_pkce.py
Labels: python

Update snapshot after changing a str -> int
  internal/configs/version2/__snapshots__/templates_test.snap
Labels: none

[cherry-pick] chore(deps): bump kindest/node from v1.32.3 to v1.33.0 in /tests in the docker-tests group (#7736)
  tests/Dockerfile
Labels: docker

add c-ares to all ubi based images
  build/Dockerfile
Labels: docker

remove testing branch from dependency dockerfile
  .github/workflows/build-ubi-dependency.yml
Labels: github_actions

remove duplicated package installation
  build/Dockerfile
Labels: docker

add otel tests to all images
  .github/data/matrix-smoke-nap.json
  .github/data/matrix-smoke-oss.json
  .github/data/matrix-smoke-plus.json
  pyproject.toml
  tests/suite/test_otel.py
Labels: python

oidc and pkce pytest fixture scope to function
  tests/suite/test_oidc.py
  tests/suite/test_pkce.py
Labels: python

Made changes based on feedback
  site/content/installation/integrations/nic-saas-console.md
Labels: none

OIDC tests should be class fixtured
  tests/suite/test_oidc.py
Labels: python

Remove a parameter from pkce test
  tests/suite/test_pkce.py
Labels: python

pkce test fixture should also be class scoped
  tests/suite/test_pkce.py
Labels: python

Add debug prints
  tests/suite/test_oidc.py
  tests/suite/test_pkce.py
Labels: python

Replace archive.builds with .ids in goreleaser
  .goreleaser.yml
Labels: none

update troubleshooting docs and minor adjustments
  site/content/installation/integrations/nic-saas-console.md
Labels: none

Add PKCE Enabled flag
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/template_helper.go
  internal/configs/virtualserver.go
  pkg/apis/configuration/v1/types.go
Labels: go

Fix leading whitespace in tmpl files
  internal/configs/version2/nginx.virtualserver.tmpl
Labels: none

Implement pkce in configs
  internal/configs/oidc/oidc_common.conf
  internal/configs/oidc/oidc_pkce_supplements.conf
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: none

Fix some whitespace alignment in tmpl files
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: none

Update CRDs based on policy files
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
Labels: none

Add check for OIDC to guard for a nil pointer
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: none

Update snapshots to realign with whitespaces
  internal/configs/version2/__snapshots__/templates_test.snap
Labels: none

Add tests for PKCE enabled true
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver_test.go
Labels: go

Add PKCE pytest
  tests/data/oidc/pkce.yaml
  tests/suite/test_pkce.py
Labels: python

Add pkceEnabled to oidc pytest setup yaml
  tests/data/oidc/oidc.yaml
Labels: python

Set pkce enabled to an int instead of a string
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: none

OIDC test doesn't need pkce enabled
  tests/data/oidc/oidc.yaml
Labels: python

Terminate include directive with a ;
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: none

oidc and pkce pytest fixture scope to function
  tests/suite/test_oidc.py
  tests/suite/test_pkce.py
Labels: python

Update snapshot after changing a str -> int
  internal/configs/version2/__snapshots__/templates_test.snap
Labels: none

pkce test fixture should also be class scoped
  tests/suite/test_pkce.py
Labels: python

Remove a parameter from pkce test
  tests/suite/test_pkce.py
Labels: python

OIDC tests should be class fixtured
  tests/suite/test_oidc.py
Labels: python

Add debug prints
  tests/suite/test_oidc.py
  tests/suite/test_pkce.py
Labels: python

Merge pkce test into oidc test file
  tests/suite/test_oidc.py
  tests/suite/test_pkce.py
Labels: python

[cherry-pick] chore(deps): bump kindest/node from v1.33.0 to v1.33.1 in /tests in the docker-tests group (#7809)
  tests/Dockerfile
Labels: docker

fix #7721
  config/crd/bases/appprotect.f5.com_appolicies.yaml
Labels: none

adding outputs from make update-crds command
  deploy/crds-nap-waf.yaml
Labels: none

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'
