Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'

fix note
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

Update docker images eefee85c
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
  tests/Dockerfile
Labels: docker

update ratelimit examples to use the same jwk secret as jwt example
  examples/custom-resources/rate-limit-tiered-jwt-claim/basic-token.jwt
  examples/custom-resources/rate-limit-tiered-jwt-claim/default-token.jwt
  examples/custom-resources/rate-limit-tiered-jwt-claim/premium-token.jwt
Labels: none

move tiered rate limit tests to their own class
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
Labels: python

re-add wait for event check to duplicate default policy test
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
Labels: python

replace deprecated snapshot.name_template config option
  .goreleaser.yml
Labels: none

add zone-sync support to OIDC tests
  tests/data/oidc/nginx-config-zs.yaml
  tests/suite/test_oidc.py
  tests/suite/test_zone_sync.py
Labels: python

update kubernetes version to v1.32.1 in helm schema (#7351)
  charts/nginx-ingress/values.schema.json
Labels: helm_chart

refactor
  tests/suite/test_oidc.py
Labels: python

Bump the go group across 1 directory with 6 updates (#7369)
  go.mod
  go.sum
Labels: go

[cherry-pick] chore(deps): bump kindest/node from v1.32.1 to v1.32.2 in /tests in the docker-tests group (#7371)
  tests/Dockerfile
Labels: docker

update docs and crd descriptions
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  pkg/apis/configuration/v1/types.go
  site/content/configuration/policy-resource.md
Labels: go

update descriptons of fields.
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  examples/custom-resources/rate-limit-tiered-jwt-claim/README.md
  pkg/apis/configuration/v1/types.go
  site/content/configuration/policy-resource.md
Labels: go

fix rebase error
  site/content/configuration/policy-resource.md
Labels: none

update crd
  config/crd/bases/k8s.nginx.org_policies.yaml
Labels: none

go mod tidy
  go.mod
  go.sum
Labels: go

[cherry-pick] chore(deps): bump github.com/gkampitakis/go-snaps from 0.5.10 to 0.5.11 in the go group (#7380)
  go.mod
  go.sum
Labels: go

update zone-sync headless service selector label
  charts/nginx-ingress/templates/_helpers.tpl
  charts/tests/__snapshots__/helmunit_test.snap
  cmd/nginx-ingress/main.go
  deployments/deployment/nginx-plus-ingress.yaml
  internal/k8s/service.go
  internal/telemetry/cluster_test.go
Labels: go, helm_chart

update zone-sync headless service selector label
  charts/nginx-ingress/templates/_helpers.tpl
  charts/tests/__snapshots__/helmunit_test.snap
  cmd/nginx-ingress/main.go
  deployments/deployment/nginx-plus-ingress.yaml
  internal/k8s/service.go
  internal/telemetry/cluster_test.go
Labels: go, helm_chart

add latest version to bug report template
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Labels: github_actions

update daemonset yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
Labels: none

Docker image update 22228ad2 (#7409)
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
  tests/Dockerfile
Labels: docker

Docker image update 0adb7ebe (#7387)
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
  tests/Dockerfile
Labels: docker

update kubernetes version to v1.32.2 in helm schema
  charts/nginx-ingress/values.schema.json
Labels: helm_chart

add zonesync to virtual server rate limiting
  internal/configs/version1/config.go
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  internal/k8s/controller.go
  internal/k8s/controller_test.go
Labels: go

have labels match selector labels
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
Labels: none

update kubernetes version to v1.32.2 in helm schema (#7442)
  charts/nginx-ingress/values.schema.json
Labels: helm_chart

[cherry-pick] chore(deps): bump the actions group across 1 directory with 15 updates (#7443)
  .github/workflows/build-base-images.yml
  .github/workflows/build-oss.yml
  .github/workflows/build-ot-dependency.yml
  .github/workflows/build-plus.yml
  .github/workflows/build-single-image.yml
  .github/workflows/build-test-image.yml
  .github/workflows/build-ubi-dependency.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/image-promotion.yml
  .github/workflows/lint-format.yml
  .github/workflows/patch-image.yml
  .github/workflows/regression.yml
  .github/workflows/release-pr.yml
  .github/workflows/release.yml
  .github/workflows/scorecards.yml
  .github/workflows/setup-smoke.yml
  .github/workflows/single-image-regression.yml
  .github/workflows/update-docker-sha.yml
  .github/workflows/update-kubernetes-version.yml
  .github/workflows/update-release-draft.yml
  .github/workflows/version-bump.yml
Labels: github_actions

Update docker images 66cacfd5
  build/Dockerfile
  tests/Dockerfile
Labels: docker

Docker image update 66cacfd5 (#7454)
  build/Dockerfile
  tests/Dockerfile
Labels: docker

Update docker images a05499ad
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
  tests/Dockerfile
Labels: docker

[cherry-pick] [pre-commit.ci] pre-commit autoupdate (#7450)
  .pre-commit-config.yaml
Labels: none

[cherry-pick] chore(deps): bump skopeo/stable from v1.17.0 to v1.18.0 in /tests in the docker-tests group (#7441)
  tests/Dockerfile
Labels: docker

Update Go version
  go.mod
Labels: go

[cherry-pick] chore(deps): bump the go group across 1 directory with 3 updates (#7444)
  go.mod
  go.sum
Labels: go

Docker image update a05499ad (#7456)
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
  tests/Dockerfile
Labels: docker

[cherry-pick] chore(deps): bump the go group with 3 updates (#7391)
  go.mod
  go.sum
Labels: go

add zone sync to ingress rate limit req zone
  internal/configs/ingress.go
  internal/configs/ingress_test.go
  internal/configs/version1/__snapshots__/template_test.snap
  internal/configs/version1/nginx-plus.ingress.tmpl
  internal/configs/version1/template_test.go
  internal/configs/virtualserver.go
  internal/k8s/controller.go
  internal/k8s/controller_test.go
Labels: go

update zone-sync tests
  tests/suite/test_rl_policies.py
  tests/suite/test_zone_sync.py
Labels: python

Use newest staticcheck version
  .github/workflows/ci.yml
Labels: github_actions
