Repository nginx/kubernetes-ingress, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, go, python, helm_chart, docker

fix integration tests
  tests/suite/utils/resources_utils.py
Labels: python

add new directory for rofs
  charts/nginx-ingress/templates/_helpers.tpl
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  tests/suite/utils/resources_utils.py
Labels: python, helm_chart

Update docker images 26a66cc2
  build/Dockerfile
Labels: docker

remove typecheck from linters
  .golangci.yml
Labels: none

update golangci lint config to support v2
  .golangci.yml
Labels: none

Docker image update 26a66cc2 (#7551)
  build/Dockerfile
Labels: docker

update golangci lint config to support v2 (#7554)
  .golangci.yml
Labels: none

[cherry-pick] chore(deps): bump the actions group with 2 updates (#7552)
  .github/workflows/codeql-analysis.yml
  .github/workflows/image-promotion.yml
  .github/workflows/lint-format.yml
  .github/workflows/scorecards.yml
  .golangci.yml
Labels: github_actions

Update zone sync doc
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

[cherry-pick] [pre-commit.ci] pre-commit autoupdate (#7553)
  .pre-commit-config.yaml
Labels: none

Docker image update 26a66cc2 (#7556)
  build/Dockerfile
Labels: docker

fix broken yaml in deploment/daemonset
  charts/nginx-ingress/templates/controller-daemonset.yaml
  charts/nginx-ingress/templates/controller-deployment.yaml
Labels: helm_chart

update helm template tests
  charts/tests/__snapshots__/helmunit_test.snap
  charts/tests/helmunit_test.go
  charts/tests/testdata/plus-mgmt-custom-endpoint.yaml
  charts/tests/testdata/plus-mgmt-proxy-host-auth.yaml
  charts/tests/testdata/plus-mgmt-proxy-host.yaml
  charts/tests/testdata/plus-mgmt.yaml
Labels: go

add docs for proxy host and creds
  site/content/configuration/global-configuration/mgmt-configmap-resource.md
  site/content/installation/installing-nic/installation-with-helm.md
Labels: none

clean up template test
  internal/configs/version1/template_test.go
Labels: go

build plus image
  .github/workflows/agent-v3.yml
  build/Dockerfile-plus
Labels: github_actions

update file path
  build/Dockerfile-plus
Labels: none

change directory
  .github/workflows/agent-v3.yml
Labels: github_actions

updates to build process
  Makefile
  build/Dockerfile
  charts/nginx-ingress/templates/_helpers.tpl
  cmd/nginx-ingress/flags.go
Labels: go, helm_chart, docker

update to NAP
  .github/workflows/agent-v3.yml
Labels: github_actions

update creds
  .github/workflows/agent-v3.yml
Labels: github_actions

testing agentv3
  .github/workflows/agent-v3.yml
  Makefile
  build/Dockerfile
  build/Dockerfile-custom
  build/Dockerfile-plus
  charts/nginx-ingress/templates/_helpers.tpl
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
Labels: github_actions, helm_chart, docker

Update docs for zone sync tls setup
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

Update site/content/configuration/global-configuration/configmap-resource.md
  site/content/configuration/global-configuration/configmap-resource.md
Labels: none

Update docker images b0fecf81
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
Labels: docker

Docker image update b0fecf81 (#7564)
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
Labels: docker

Don't install opentracing on N+ images
  build/Dockerfile
Labels: docker

updates after sync with agent team
  .github/workflows/agent-v3.yml
  Makefile
  build/Dockerfile
  build/Dockerfile-custom
  build/scripts/agent.sh
  charts/nginx-ingress/templates/_helpers.tpl
  charts/nginx-ingress/values.yaml
  internal/nginx/manager.go
Labels: github_actions, go, helm_chart, docker

Determine if OpenTracing should be supported
  internal/nginx/version.go
  internal/nginx/version_test.go
Labels: go

add dataplane key to helm schema
  charts/nginx-ingress/values.schema.json
Labels: helm_chart

remove unused tls config
  charts/nginx-ingress/templates/_helpers.tpl
Labels: helm_chart

Set OpenTracing config
  cmd/nginx-ingress/main.go
Labels: go

Don't load OT module if not enabled
  cmd/nginx-ingress/main.go
Labels: go

revert change to default instanceGroup parameter
  cmd/nginx-ingress/flags.go
Labels: go

revert to initial values file inputs for agent v2
  charts/nginx-ingress/values.yaml
Labels: helm_chart

Don't load OT module if not enabled
  cmd/nginx-ingress/main.go
Labels: go

Add docs for function
  internal/nginx/version.go
Labels: go

revert to agentv2 config
  charts/nginx-ingress/templates/_helpers.tpl
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
Labels: helm_chart

clean separation from v2 to v3 config
  charts/nginx-ingress/templates/_helpers.tpl
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
Labels: helm_chart

add a way to add plus version via make command
  Makefile
Labels: none

.github/labeler.yml:

change:
  - head-branch: ['^change/']

enhancement:
  - head-branch: ['^feature/', '^feat/', '^enhancement/', '^enh/']

bug:
  - head-branch: ['^fix/', '^bug/']

chore:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['.github/**/*', 'hack/**/*', '*']
      - all-globs-to-all-files: ['!*.md', '!go.mod', '!go.sum', '!*.go']

github_actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*.yml', '.github/**/*.yaml', '.github/**/*.md']

go:
  - changed-files:
    - any-glob-to-any-file: ['**/*.go', 'go.mod', 'go.sum']

python:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*.py', 'tests/**/requirements.txt', 'tests/**/*.yaml', 'perf-tests/**/*.py', 'perf-tests/**/*.yaml']

tests:
  - all:
    - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'perf-tests/**/*']
      - all-globs-to-all-files: ['!tests/requirements.txt', '!perf-tests/requirements.txt']

documentation:
  - head-branch: ['^docs/', '^doc/']
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

dependencies:
  - head-branch: ['^deps/', '^dep/', '^dependabot/', 'pre-commit-ci-update-config']
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

helm_chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/nginx-ingress/**/*'

docker:
  - changed-files:
    - any-glob-to-any-file: '**/Dockerfile'
