Repository nginx/kubernetes-ingress, pull requests merged in 2018-11, with the labels that each got.

#421 Update NGINX version to 1.15.6 for Release 1.3
  nginx-controller/Dockerfile
  nginx-controller/DockerfileForAlpine
Labels: enhancement

#423 Update NGINX version to 1.15.6
  build/Dockerfile
  build/DockerfileForAlpine
Labels: enhancement

#424 Update repo files for release 1.3.2
  CHANGELOG.md
  README.md
Labels: documentation

#425 Fix Helm Chart disable nginxStatus bug
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
Labels: bug

#418 fix link in documentation
  docs/nginx-ingress-controllers.md
Labels: documentation

#433 Fix link to configmap.md in documentation
  docs/nginx-ingress-controllers.md
Labels: documentation

#429 Fix panic with health checks
  internal/controller/controller.go
Labels: bug

#434 Improve consistency of templates
  internal/nginx/templates/nginx-plus.ingress.tmpl
  internal/nginx/templates/nginx-plus.tmpl
  internal/nginx/templates/nginx.tmpl
Labels: enhancement

#419 refactor write config
  internal/nginx/nginx.go
Labels: enhancement

#430 Add imagePullSecrets to helm chart
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/templates/controller-serviceaccount.yaml
  deployments/helm-chart/templates/rbac.yaml
  deployments/helm-chart/values.yaml
Labels: change, enhancement

#438 Update prometheus exporter to 0.2.0
  deployments/daemon-set/nginx-ingress-with-prometheus.yaml
  deployments/daemon-set/nginx-plus-ingress-with-prometheus.yaml
  deployments/deployment/nginx-ingress-with-prometheus.yaml
  deployments/deployment/nginx-plus-ingress-with-prometheus.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values.yaml
Labels: enhancement

#437 Use go 1.11
  .travis.yml
  Makefile
Labels: enhancement

#443 Fix TestVerifyClient performance
  internal/nginx/verify/client.go
  internal/nginx/verify/client_test.go
Labels: enhancement

#439 Fix lb-method validation
  internal/nginx/extensions.go
  internal/nginx/extensions_test.go
Labels: bug

#449 Fix formatting error in installation docs
  docs/installation.md
Labels: documentation

#452 Update NGINX version to 1.15.7
  build/Dockerfile
  build/DockerfileForAlpine
Labels: enhancement

#454 Update repo files for release 1.4.1
  CHANGELOG.md
  README.md
Labels: documentation
