Repository nginx/kubernetes-ingress, pull requests merged in 2018-08, with the labels that each got.

#325 Report ingress status
  docs/cli-arguments.md
  docs/installation.md
  docs/nginx-ingress-controllers.md
  docs/report-ingress-status.md
  examples/customization/README.md
  examples/openshift/nginx-ingress-rc.yaml
  examples/openshift/nginx-plus-ingress-rc.yaml
  helm-chart/templates/controller-daemonset.yaml
  helm-chart/templates/controller-deployment.yaml
  helm-chart/templates/rbac.yaml
  install/daemon-set/nginx-ingress.yaml
  install/daemon-set/nginx-plus-ingress-with-prometheus.yaml
  install/daemon-set/nginx-plus-ingress.yaml
  install/deployment/nginx-ingress.yaml
  install/deployment/nginx-plus-ingress-with-prometheus.yaml
  install/deployment/nginx-plus-ingress.yaml
  install/rbac/rbac.yaml
  nginx-controller/controller/controller.go
  nginx-controller/controller/leader.go
  nginx-controller/controller/status.go
  nginx-controller/controller/utils.go
  nginx-controller/main.go
Labels: enhancement

#330 Update NGINX version to 1.15.2
  nginx-controller/Dockerfile
  nginx-controller/DockerfileForAlpine
Labels: enhancement

#331 Stop modifying minions
  install/rbac/rbac.yaml
  nginx-controller/controller/controller.go
  nginx-controller/controller/status.go
  nginx-controller/controller/status_test.go
  nginx-controller/controller/utils.go
Labels: bug

#329 Enforce annotations inheritance in minions
  examples/mergeable-ingress-types/README.md
  nginx-controller/nginx/configurator.go
  nginx-controller/nginx/configurator_test.go
  nginx-controller/nginx/ingress.go
Labels: enhancement

#311 Support JWT auth in mergeable minions
  examples/jwt/README.md
  examples/mergeable-ingress-types/README.md
  nginx-controller/controller/controller.go
  nginx-controller/controller/controller_test.go
  nginx-controller/controller/utils.go
  nginx-controller/main.go
  nginx-controller/nginx/configurator.go
  nginx-controller/nginx/configurator_test.go
  nginx-controller/nginx/ingress.go
  nginx-controller/nginx/nginx.go
  nginx-controller/nginx/templates/nginx-plus.ingress.tmpl
  nginx-controller/nginx/templates/templates_test.go
Labels: enhancement

#335 Helm: Add report-status & leader-election support
  helm-chart/Chart.yaml
  helm-chart/README.md
  helm-chart/templates/controller-daemonset.yaml
  helm-chart/templates/controller-deployment.yaml
  helm-chart/templates/rbac.yaml
  helm-chart/values-plus.yaml
  helm-chart/values.yaml
Labels: enhancement

#343 Add TCP/UDP load balancing example
  docs/nginx-ingress-controllers.md
  examples/customization/README.md
  examples/tcp-udp/README.md
  examples/tcp-udp/dns.yaml
  examples/tcp-udp/nginx-config.yaml
  examples/tcp-udp/nginx-plus-config.yaml
Labels: documentation

#342 add log-level to the templates in order to injecting the log level from config map
  examples/customization/README.md
  examples/customization/nginx-config.yaml
  nginx-controller/nginx/config.go
  nginx-controller/nginx/configurator.go
  nginx-controller/nginx/nginx.go
  nginx-controller/nginx/templates/nginx-plus.tmpl
  nginx-controller/nginx/templates/nginx.tmpl
Labels: enhancement

#344 Expose API/stub_status on a custom port
  docs/cli-arguments.md
  docs/installation.md
  examples/complete-example/README.md
  nginx-controller/controller/controller_test.go
  nginx-controller/main.go
  nginx-controller/main_test.go
  nginx-controller/nginx/configurator_test.go
  nginx-controller/nginx/nginx.go
  nginx-controller/nginx/template_executor.go
  nginx-controller/nginx/templates/nginx-plus.tmpl
  nginx-controller/nginx/templates/nginx.tmpl
Labels: enhancement

#347 Use edge version in manifests and Helm chart
  README.md
  examples/openshift/nginx-ingress-rc.yaml
  examples/openshift/nginx-plus-ingress-rc.yaml
  helm-chart/Chart.yaml
  helm-chart/README.md
  helm-chart/values-icp.yaml
  helm-chart/values-plus.yaml
  helm-chart/values.yaml
  install/daemon-set/nginx-ingress.yaml
  install/daemon-set/nginx-plus-ingress-with-prometheus.yaml
  install/daemon-set/nginx-plus-ingress.yaml
  install/deployment/nginx-ingress.yaml
  install/deployment/nginx-plus-ingress-with-prometheus.yaml
  install/deployment/nginx-plus-ingress.yaml
  nginx-controller/Makefile
  nginx-controller/README.md
Labels: enhancement

#348 Fix Configurator error check
  nginx-controller/controller/controller.go
  nginx-controller/nginx/configurator.go
  nginx-controller/nginx/configurator_test.go
Labels: bug

#349 Fix in docs. kuebctl -> kubectl
  docs/installation.md
Labels: documentation

#346 Add support for oss prometheus exporter
  docs/installation.md
  docs/nginx-ingress-controllers.md
  helm-chart/README.md
  helm-chart/templates/controller-daemonset.yaml
  helm-chart/templates/controller-deployment.yaml
  helm-chart/values.yaml
  install/daemon-set/nginx-ingress-with-prometheus.yaml
  install/deployment/nginx-ingress-with-prometheus.yaml
Labels: documentation, enhancement

#351 Make socket address obvious
  nginx-controller/main.go
Labels: enhancement
