Repository nginx/kubernetes-ingress, pull requests merged in 2018-09, with the labels that each got.

#362 Reduce reloads
  internal/controller/controller.go
  internal/nginx/configurator.go
  internal/nginx/configurator_test.go
  internal/nginx/ingress.go
Labels: enhancement

#365 Don't enqueue ingress for some service changes
  internal/handlers/service.go
  internal/handlers/service_test.go
Labels: bug

#379 Fix configmap update
  internal/controller/controller.go
Labels: bug

#381 Fix installation instructions
  docs/installation.md
Labels: documentation
