Repository nginx/kubernetes-ingress, pull requests merged in 2018-12, with the labels that each got.

#456 Feature - Add nodeSelector, affinity and tolerations to daemonset and deployment templates
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values.yaml
Labels: change, enhancement

#460 Update NGINX Plus version to R17
  build/DockerfileForPlus
Labels: enhancement

#462 Update repo files for release 1.4.2
  CHANGELOG.md
  README.md
Labels: documentation

#467 Add a doc about running multiple ICs
  docs/multiple-ingress-controllers.md
  examples/multiple-ingress-controllers/README.md
Labels: documentation
