Repository nginx/kubernetes-ingress, pull requests merged in 2019-12, with the labels that each got.

#779 Enable CRDs by default
  cmd/nginx-ingress/main.go
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values.yaml
  docs/cli-arguments.md
  docs/installation.md
  docs/virtualserver-and-virtualserverroute.md
Labels: proposal, setup

#781 Update NGINX Plus version to R20
  build/DockerfileForPlus
  build/DockerfileWithOpentracingForPlus
Labels: enhancement

#786 Fix X-Forwarded-Proto proxy header for TLSRedirect
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
Labels: bug

#785 Document installation from helm edge repo
  deployments/helm-chart/README.md
Labels: documentation

#780 Add support for canned responses to VS/VSR
  docs/virtualserver-and-virtualserverroute.md
  internal/configs/version2/config.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/v1/zz_generated.deepcopy.go
  pkg/apis/configuration/validation/validation.go
  pkg/apis/configuration/validation/validation_test.go
Labels: enhancement

#788 Fix VSR updates when namespace is set implicitly
  internal/k8s/controller.go
Labels: bug

#792 Update repo files for release 1.6.0
  CHANGELOG.md
  README.md
Labels: documentation
