Repository nginx/kubernetes-ingress, pull requests merged in 2019-08, with the labels that each got.

#632 Fix hsts support when not using SSL
  internal/configs/version1/nginx-plus.ingress.tmpl
  internal/configs/version1/nginx.ingress.tmpl
Labels: bug

#646 Update NGINX Plus version to R18p1
  build/DockerfileForPlus
  build/DockerfileWithOpentracingForPlus
Labels: enhancement

#648 Update repo files for release 1.5.3
  CHANGELOG.md
  README.md
Labels: documentation

#641 Add support for ExternalName Services for vs/vsr
  docs/virtualserver-and-virtualserverroute.md
  internal/configs/configurator.go
  internal/configs/version2/config.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  internal/k8s/controller.go
Labels: enhancement

#664 Fix reporting events for minions
  internal/k8s/controller.go
Labels: bug

#660 Add ClientBodyMaxSize support in vs/vsr
  docs/virtualserver-and-virtualserverroute.md
  internal/configs/virtualserver.go
  pkg/apis/configuration/v1alpha1/types.go
  pkg/apis/configuration/validation/validation.go
  pkg/apis/configuration/validation/validation_test.go
Labels: enhancement

#665 Release 1.5.4
  CHANGELOG.md
  Makefile
  README.md
  build/README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
Labels: enhancement

#666 Update repo files for release 1.5.4
  CHANGELOG.md
  README.md
Labels: documentation

#668 Run golang-ci linter in travisci. Add golang-ci configuration
  .golangci.yml
  .travis.yml
  internal/configs/configurator.go
  internal/configs/ingress_test.go
  internal/configs/version1/config.go
  internal/configs/version1/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  internal/k8s/controller.go
  internal/k8s/handlers_test.go
  internal/k8s/leader.go
  internal/k8s/secret.go
  pkg/apis/configuration/validation/validation_test.go
Labels: enhancement

#655 Add slow-start support in vs/vsr
  docs/virtualserver-and-virtualserverroute.md
  internal/configs/version2/config.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1alpha1/types.go
  pkg/apis/configuration/validation/validation.go
Labels: enhancement

#674 Fix dynamic reconfiguration support in vs/vsr
  internal/configs/configurator.go
  internal/configs/configurator_test.go
  internal/configs/version2/config.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
Labels: bug
