Repository nginx/kubernetes-ingress, pull requests merged in 2019-07, with the labels that each got.

#607 Add fail-timeout and max-fails support to vs/vsr
  docs/virtualserver-and-virtualserverroute.md
  internal/configs/annotations.go
  internal/configs/annotations_test.go
  internal/configs/parsing_helpers.go
  internal/configs/parsing_helpers_test.go
  internal/configs/virtualserver.go
  pkg/apis/configuration/v1alpha1/types.go
  pkg/apis/configuration/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/configuration/validation/validation.go
  pkg/apis/configuration/validation/validation_test.go
Labels: enhancement

#613 Update repo files for release 1.5.1
  CHANGELOG.md
  README.md
Labels: documentation

#612 Add timeouts support to vs/vsr
  docs/virtualserver-and-virtualserverroute.md
  internal/configs/config_params.go
  internal/configs/version2/config.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1alpha1/types.go
  pkg/apis/configuration/validation/validation.go
Labels: enhancement

#615 Add support for Opentracing
  build/DockerfileWithOpentracing
  build/DockerfileWithOpentracingForPlus
  build/README.md
  cmd/nginx-ingress/main.go
  docs/configmap-and-annotations.md
  docs/opentracing.md
  examples/opentracing/README.md
  examples/opentracing/jaeger-ui.png
  examples/opentracing/nginx-config.yaml
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/configurator.go
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.tmpl
  internal/nginx/fake_manager.go
  internal/nginx/manager.go
  internal/nginx/verify.go
  internal/nginx/verify_test.go
Labels: enhancement

#614 Added max-conns annotation
  docs/configmap-and-annotations.md
  internal/configs/annotations.go
  internal/configs/config_params.go
  internal/configs/ingress.go
  internal/configs/version1/config.go
  internal/configs/version1/nginx.ingress.tmpl
  internal/configs/version1/templates_test.go
Labels: enhancement

#617 Add keepalive support to vs/vsr
  docs/virtualserver-and-virtualserverroute.md
  internal/configs/annotations.go
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/ingress.go
  internal/configs/version2/config.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1alpha1/types.go
  pkg/apis/configuration/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/configuration/validation/validation.go
  pkg/apis/configuration/validation/validation_test.go
Labels: enhancement

#630 Fix session stream zone metrics
  Gopkg.lock
  Gopkg.toml
  cmd/nginx-ingress/main.go
  internal/metrics/listener.go
  internal/nginx/fake_manager.go
  internal/nginx/manager.go
  vendor/github.com/nginxinc/nginx-plus-go-client/LICENSE
  vendor/github.com/nginxinc/nginx-plus-go-client/client/nginx.go
  vendor/github.com/nginxinc/nginx-prometheus-exporter/client/nginx.go
  vendor/github.com/nginxinc/nginx-prometheus-exporter/collector/nginx_plus.go
Labels: bug

#629 Added upstream zone directive annotation
  docs/configmap-and-annotations.md
  internal/configs/annotations.go
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/ingress.go
  internal/configs/ingress_test.go
  internal/configs/version1/config.go
  internal/configs/version1/nginx.ingress.tmpl
  internal/configs/version1/templates_test.go
Labels: enhancement

#636 [Helm charts] Add support to set resources for controller pods
  deployments/helm-chart/README.md
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/values.yaml
Labels: enhancement
