Repository nginx/kubernetes-ingress, pull requests merged in 2019-06, with the labels that each got.

#581 Nginx custom ports
  deployments/helm-chart/README.md
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/templates/controller-service.yaml
  deployments/helm-chart/values.yaml
Labels: enhancement

#583 Update mergeable ingresses doc
  examples/mergeable-ingress-types/README.md
Labels: documentation

#588 Fix daemonset template for helm
  deployments/helm-chart/templates/controller-daemonset.yaml
Labels: bug

#591 Update NGINX version to 1.17.0
  build/Dockerfile
  build/DockerfileForAlpine
Labels: enhancement

#592 Update NGINX version to 1.17.0 in Release-1.5
  build/Dockerfile
  build/DockerfileForAlpine
Labels: enhancement

#593 Use Controller name value for app selectors In Release 1.5
  deployments/helm-chart/templates/_helpers.tpl
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/templates/controller-service.yaml
Labels: bug

#596 Add lb-method support in vs and vsr
  docs/virtualserver-and-virtualserverroute.md
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  internal/k8s/controller.go
  pkg/apis/configuration/v1alpha1/types.go
  pkg/apis/configuration/validation/validation.go
  pkg/apis/configuration/validation/validation_test.go
Labels: enhancement

#600 Support setting log level in helm chart
  cmd/nginx-ingress/main.go
  deployments/helm-chart/README.md
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/values.yaml
Labels: enhancement
