Repository nginx/kubernetes-ingress, pull requests merged in 2019-10, with the labels that each got.

#710 Run IC as non-root
  build/Dockerfile
  build/DockerfileForAlpine
  build/DockerfileForPlus
  build/DockerfileWithOpentracing
  build/DockerfileWithOpentracingForPlus
  cmd/nginx-ingress/main.go
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.tmpl
  internal/configs/virtualserver.go
  internal/nginx/manager.go
  internal/nginx/verify.go
Labels: change

#713 Add reminder to delete nginx-ingress ClusterRole
  docs/installation.md
Labels: documentation

#712 Add service subselector support in vs/vsr
  deployments/helm-chart/templates/rbac.yaml
  deployments/rbac/rbac.yaml
  docs/virtualserver-and-virtualserverroute.md
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  internal/k8s/controller.go
  internal/k8s/controller_test.go
  internal/k8s/utils.go
  pkg/apis/configuration/v1alpha1/types.go
  pkg/apis/configuration/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/configuration/validation/validation.go
  pkg/apis/configuration/validation/validation_test.go
Labels: enhancement

#719 Add test: Dynamic update in vsr with subselector
  internal/configs/virtualserver_test.go
Labels: enhancement

#722 Fix trailing leader election cm when using helm
  deployments/helm-chart/templates/controller-leader-election-configmap.yaml
Labels: bug

#724 Add VS/VSR Prometheus metrics
  docs/prometheus.md
  internal/configs/configurator.go
  internal/k8s/controller.go
  internal/metrics/collectors/controller.go
Labels: enhancement

#728 Add session persistence in VS/VSR
  docs/virtualserver-and-virtualserverroute.md
  internal/configs/version2/config.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1alpha1/types.go
  pkg/apis/configuration/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/configuration/validation/validation.go
  pkg/apis/configuration/validation/validation_test.go
Labels: enhancement

#730 Hide VS/VSR metrics when CRDs disabled
  cmd/nginx-ingress/main.go
  internal/metrics/collectors/controller.go
Labels: enhancement

#731 Fix leader election logging
  go.mod
  go.sum
  vendor/golang.org/x/sys/unix/mkasm_darwin.go
  vendor/golang.org/x/sys/unix/mkpost.go
  vendor/golang.org/x/sys/unix/mksyscall.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc64.go
  vendor/golang.org/x/sys/unix/mksyscall_solaris.go
  vendor/golang.org/x/sys/unix/mksysnum.go
  vendor/golang.org/x/sys/unix/types_aix.go
  vendor/golang.org/x/sys/unix/types_darwin.go
  vendor/golang.org/x/sys/unix/types_dragonfly.go
  vendor/golang.org/x/sys/unix/types_freebsd.go
  vendor/golang.org/x/sys/unix/types_netbsd.go
  vendor/golang.org/x/sys/unix/types_openbsd.go
  vendor/golang.org/x/sys/unix/types_solaris.go
  vendor/golang.org/x/text/unicode/bidi/gen.go
  vendor/golang.org/x/text/unicode/bidi/gen_ranges.go
  vendor/golang.org/x/text/unicode/bidi/gen_trieval.go
  vendor/golang.org/x/text/unicode/norm/maketables.go
  vendor/golang.org/x/text/unicode/norm/triegen.go
  vendor/golang.org/x/tools/go/gcexportdata/main.go
  vendor/golang.org/x/tools/imports/mkindex.go
  vendor/golang.org/x/tools/imports/mkstdlib.go
  vendor/k8s.io/klog/.travis.yml
  vendor/k8s.io/klog/README.md
  vendor/k8s.io/klog/go.mod
  vendor/k8s.io/klog/go.sum
  vendor/k8s.io/klog/klog.go
  vendor/modules.txt
Labels: bug
