Repository nginx/kubernetes-ingress, pull requests merged in 2019-03, with the labels that each got.

#501 Use go 1.12
  .travis.yml
  Makefile
Labels: enhancement

#505 Move code of conduct to root of project
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Labels: documentation

#508 Update Helm doc with helm repo setup for latest stable release
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
Labels: documentation

#509 Release 1.4.4
  CHANGELOG.md
  Makefile
  README.md
  build/README.md
  deployments/daemon-set/nginx-ingress-with-prometheus.yaml
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress-with-prometheus.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress-with-prometheus.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress-with-prometheus.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  examples/openshift/nginx-ingress-rc.yaml
  examples/openshift/nginx-plus-ingress-rc.yaml
Labels: enhancement

#510 Update repo files for release 1.4.4
  CHANGELOG.md
  README.md
Labels: enhancement

#511 Add configmap keys
  docs/configmap-and-annotations.md
  internal/configs/config.go
  internal/configs/configurator.go
  internal/configs/nginx.go
  internal/configs/templates/nginx-plus.tmpl
  internal/configs/templates/nginx.tmpl
  internal/configs/templates/templates_test.go
Labels: enhancement

#516 Update maintainer email. Add chart icon
  deployments/helm-chart/.helmignore
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/chart-icon.png
Labels: enhancement

#520 Change prometheus port annotation to string
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
Labels: bug

#525 Update maintainer email. Add chart icon
  deployments/helm-chart/.helmignore
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/chart-icon.png
Labels: enhancement

#522 Update NGINX version to 1.15.10
  build/Dockerfile
  build/DockerfileForAlpine
Labels: enhancement

#524 Update repo files for release 1.4.5
  CHANGELOG.md
  README.md
Labels: documentation
