Repository nginx/kubernetes-ingress, pull requests merged in 2020-09, with the labels that each got.

#1120 Add RateLimit policy support
  deployments/common/policy-definition.yaml
  deployments/helm-chart/crds/policy.yaml
  docs-web/configuration/policy-resource.md
  examples-of-custom-resources/rate-limit/README.md
  examples-of-custom-resources/rate-limit/rate-limit.yaml
  examples-of-custom-resources/rate-limit/virtual-server.yaml
  examples-of-custom-resources/rate-limit/webapp.yaml
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  internal/k8s/controller_test.go
  pkg/apis/configuration/v1alpha1/types.go
  pkg/apis/configuration/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/configuration/validation/common.go
  pkg/apis/configuration/validation/common_test.go
  pkg/apis/configuration/validation/policy.go
  pkg/apis/configuration/validation/policy_test.go
  pkg/apis/configuration/validation/virtualserver.go
  pkg/apis/configuration/validation/virtualserver_test.go
Labels: enhancement

#1129 Support real-ip in default server
  internal/configs/configmaps.go
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.tmpl
Labels: bug

#1131 update packages and crds to AP 2.0
  build/appprotect/DockerfileWithAppProtectForPlus
  build/appprotect/DockerfileWithAppProtectForPlusForOpenShift
  deployments/common/ap-policy-definition.yaml
  deployments/helm-chart/crds/ap-policy.yaml
Labels: enhancement

#1132 update docs for t-shooting
  docs-web/app-protect/troubleshooting.md
Labels: documentation

#1144 Add health-status-uri to cli argument doc
  docs-web/configuration/global-configuration/command-line-arguments.md
Labels: documentation

#1154 Add JWT policy support
  deployments/common/policy-definition.yaml
  deployments/helm-chart/crds/policy.yaml
  docs-web/configuration/policy-resource.md
  examples-of-custom-resources/jwt/README.md
  examples-of-custom-resources/jwt/jwk-secret.yaml
  examples-of-custom-resources/jwt/jwt.yaml
  examples-of-custom-resources/jwt/token.jwt
  examples-of-custom-resources/jwt/virtual-server.yaml
  examples-of-custom-resources/jwt/webapp.yaml
  internal/configs/configurator.go
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  internal/k8s/controller.go
  internal/k8s/controller_test.go
  pkg/apis/configuration/v1alpha1/types.go
  pkg/apis/configuration/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/configuration/validation/common.go
  pkg/apis/configuration/validation/policy.go
  pkg/apis/configuration/validation/policy_test.go
  pkg/apis/configuration/validation/virtualserver.go
Labels: enhancement

#1158 Support variables in action proxy headers
  cmd/nginx-ingress/main.go
  internal/k8s/controller.go
  pkg/apis/configuration/validation/common.go
  pkg/apis/configuration/validation/common_test.go
  pkg/apis/configuration/validation/policy.go
  pkg/apis/configuration/validation/policy_test.go
  pkg/apis/configuration/validation/virtualserver.go
  pkg/apis/configuration/validation/virtualserver_test.go
Labels: enhancement
