Repository nginx/kubernetes-ingress, pull requests merged in 2020-02, with the labels that each got.

#842 Fix typos in docs
  docs-web/configuration/ingress-resources/basic-configuration.md
  docs-web/installation/building-ingress-controller-image.md
  docs-web/third-party-modules/opentracing.md
Labels: documentation

#839 Update NGINX version to 1.17.8
  build/Dockerfile
  build/DockerfileForAlpine
  build/DockerfileWithOpentracing
Labels: enhancement

#841 Update repo files for release 1.6.2
  CHANGELOG.md
  README.md
  docs-web/releases.md
Labels: documentation

#847 Add support for error pages for VS/VSR
  docs-web/configuration/virtualserver-and-virtualserverroute-resources.md
  internal/configs/version2/config.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/v1/zz_generated.deepcopy.go
  pkg/apis/configuration/validation/validation.go
  pkg/apis/configuration/validation/validation_test.go
Labels: change, enhancement

#845 Improvement for log_format directive configuration
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.tmpl
  internal/configs/version1/templates_test.go
Labels: enhancement

#854 Update debian base image to buster
  build/DockerfileForPlus
  build/DockerfileWithOpentracing
  build/DockerfileWithOpentracingForPlus
Labels: enhancement

#852 Add default-server-access-log-off to configmap
  docs-web/configuration/global-configuration/configmap-resource.md
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.tmpl
Labels: change

#858 Update travis build to use helm3 client
  .travis.yml
Labels: enhancement
