Repository nginx/kubernetes-ingress, pull requests merged in 2020-10, with the labels that each got.

#1170 Document variables in Action.Proxy headers
  docs-web/configuration/policy-resource.md
  docs-web/configuration/virtualserver-and-virtualserverroute-resources.md
Labels: documentation

#1175 Improve latency metrics documentation
  docs-web/configuration/global-configuration/command-line-arguments.md
  docs-web/logging-and-monitoring/prometheus.md
Labels: documentation

#1174 Document how policies are applied and validated
  docs-web/configuration/policy-resource.md
  docs-web/configuration/virtualserver-and-virtualserverroute-resources.md
Labels: documentation

#1179 Fix TransportServers in debian AppProtect image
  build/appprotect/DockerfileWithAppProtectForPlus
Labels: bug

#1181 Fix ignoring JWK secrets in VS route policies
  internal/k8s/controller.go
Labels: bug

#1183 Document how IC resolves host collisions
  docs-web/configuration/handling-host-collisions.md
  docs-web/configuration/index.rst
  docs-web/configuration/ingress-resources/basic-configuration.md
  docs-web/configuration/virtualserver-and-virtualserverroute-resources.md
Labels: documentation

#1185 Fix code lint issues
  deployments/helm-chart/templates/controller-ingress-class.yaml
  internal/configs/virtualserver.go
  internal/k8s/app_protect_resources.go
  internal/k8s/app_protect_resources_test.go
  internal/k8s/controller.go
  internal/k8s/reference_checkers.go
  internal/metrics/listener.go
  pkg/apis/configuration/validation/virtualserver.go
Labels: enhancement

#1197 Fix helm chart kubeVersion detection
  deployments/helm-chart/Chart.yaml
Labels: bug

#1189 Update repo files for release 1.9.0
  CHANGELOG.md
  README.md
  docs-web/app-protect/troubleshooting.md
  docs-web/configuration/global-configuration/configmap-resource.md
  docs-web/configuration/global-configuration/globalconfiguration-resource.md
  docs-web/configuration/ingress-resources/basic-configuration.md
  docs-web/releases.md
  docs-web/technical-specifications.md
Labels: documentation

#1210 Update supported k8s versions
  docs-web/technical-specifications.md
Labels: documentation
