Repository nginx/kubernetes-ingress, pull requests merged in 2020-08, with the labels that each got.

#1085 Add installation of threat campaigns package
  build/appprotect/DockerfileWithAppProtectForPlus
  build/appprotect/DockerfileWithAppProtectForPlusForOpenShift
Labels: enhancement

#1092 Fix path to UBI based AppProtect Dockerfile in docs
  docs-web/installation/building-ingress-controller-image.md
Labels: documentation

#1089 Add instalation with operator docs
  docs-web/installation/index.rst
  docs-web/installation/installation-with-operator.md
Labels: documentation

#1105 Fix GlobalConfiguration support in helm chart
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
Labels: bug

#1114 Fix GlobalConfiguration support in helm chart
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
Labels: bug

#1110 add missing threat campaigns key to crd
  deployments/common/ap-policy-definition.yaml
  deployments/helm-chart/crds/ap-policy.yaml
Labels: bug
