Repository nginx/kubernetes-ingress, pull requests merged in 2020-11, with the labels that each got.

#1220 Update supported k8s versions
  docs-web/installation/installation-with-helm.md
  docs-web/installation/installation-with-manifests.md
  docs-web/technical-specifications.md
Labels: documentation

#1227 Update the base ubi images to 8.3
  build/openshift/Dockerfile
  build/openshift/DockerfileForPlus
  docs-web/technical-specifications.md
Labels: enhancement

#1228 Fix installation of ingressclass resource via helm chart on certain kubernetes versions
  deployments/helm-chart/templates/controller-ingress-class.yaml
Labels: bug

#1237 Remove/Deprecate support for helm2 clients
  deployments/helm-chart/README.md
  docs-web/installation/installation-with-helm.md
  docs-web/technical-specifications.md
Labels: documentation

#1236 Add v1 crds for AP
  deployments/common/crds/appprotect.f5.com_aplogconfs.yaml
  deployments/common/crds/appprotect.f5.com_appolicies.yaml
Labels: configuration, enhancement

#1240 Validate TLS and CA secrets
  internal/k8s/controller_test.go
  internal/k8s/secret.go
  internal/k8s/secret_test.go
Labels: enhancement

#1232 Change imagePullSecrets of helm chart to type string
  deployments/helm-chart/README.md
  deployments/helm-chart/templates/controller-serviceaccount.yaml
  deployments/helm-chart/values.yaml
  docs-web/installation/installation-with-helm.md
Labels: change

#1239 Add imagePullSecretName support to helm chart
  deployments/helm-chart/README.md
  deployments/helm-chart/templates/controller-serviceaccount.yaml
  deployments/helm-chart/values.yaml
  docs-web/installation/installation-with-helm.md
Labels: enhancement
