Repository nginx/kubernetes-ingress, pull requests merged in 2020-01, with the labels that each got.

#807 Add pod PriorityClass support
  deployments/helm-chart/README.md
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/values.yaml
Labels: enhancement

#812 Add new docs
  README.md
  build/README.md
  deployments/README.md
  docs-web/configuration/configuration-examples.md
  docs-web/configuration/global-configuration/command-line-arguments.md
  docs-web/configuration/global-configuration/configmap-resource.md
  docs-web/configuration/global-configuration/custom-templates.md
  docs-web/configuration/global-configuration/index.rst
  docs-web/configuration/global-configuration/reporting-resources-status.md
  docs-web/configuration/index.rst
  docs-web/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs-web/configuration/ingress-resources/basic-configuration.md
  docs-web/configuration/ingress-resources/cross-namespace-configuration.md
  docs-web/configuration/ingress-resources/custom-annotations.md
  docs-web/configuration/ingress-resources/index.rst
  docs-web/configuration/virtualserver-and-virtualserverroute-resources.md
  docs-web/index.rst
  docs-web/installation/building-ingress-controller-image.md
  docs-web/installation/index.rst
  docs-web/installation/installation-with-helm.md
  docs-web/installation/installation-with-manifests.md
  docs-web/installation/running-multiple-ingress-controllers.md
  docs-web/logging-and-monitoring/index.rst
  docs-web/logging-and-monitoring/logging.md
  docs-web/logging-and-monitoring/prometheus.md
  docs-web/logging-and-monitoring/status-page.md
  docs-web/overview.md
  docs-web/releases.md
  docs-web/third-party-modules/index.rst
  docs-web/third-party-modules/opentracing.md
  docs-web/troubleshooting.md
  docs/README.md
  docs/cli-arguments.md
  docs/configmap-and-annotations.md
  docs/custom-annotations.md
  docs/installation.md
  docs/multiple-ingress-controllers.md
  docs/nginx-ingress-controllers.md
  docs/nginx-plus.md
  docs/opentracing.md
  docs/prometheus.md
  docs/report-ingress-status.md
  docs/troubleshooting.md
  docs/virtualserver-and-virtualserverroute.md
Labels: documentation

#810 Update chart docs for helm3 clients
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  docs-web/installation/installation-with-helm.md
Labels: documentation

#819 Update NGINX version to 1.17.7
  build/Dockerfile
  build/DockerfileForAlpine
  build/DockerfileWithOpentracing
Labels: enhancement

#820 Update helm chart docs for helm3 clients
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  docs-web/installation/installation-with-helm.md
Labels: documentation

#828 Fix action return type error message
  pkg/apis/configuration/validation/validation.go
Labels: bug

#825 Add multistage docker builds
  .gitignore
  .travis.yml
  Makefile
  build/Dockerfile
  build/DockerfileForAlpine
  build/DockerfileForPlus
  build/DockerfileWithOpentracing
  build/DockerfileWithOpentracingForPlus
  docs-web/installation/building-ingress-controller-image.md
Labels: enhancement
