Repository nginx/kubernetes-ingress, pull requests merged in 2021-09, with the labels that each got.

#1919 Pin app protect package versions
  build/Dockerfile
Labels: docker

#1920 Use one workflow for Edge and Nightly
  .github/actions/smoke-tests/action.yaml
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/notifications.yml
  build/Dockerfile
Labels: chore

#1923 Add Release workflow to CI
  .github/workflows/ci.yml
  .github/workflows/notifications.yml
  .github/workflows/release.yml
  tests/Makefile
Labels: chore

#1931 Upgrade libgcrypt in alpine
  build/Dockerfile
Labels: bug, dependencies

#1936 fix: DOCOPS-122 fix broken links in KIC and KIC-407 remove old TOCs
  docs/content/app-protect/configuration.md
  docs/content/app-protect/installation.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/running-multiple-ingress-controllers.md
  docs/content/troubleshooting/troubleshooting-with-app-protect.md
Labels: bug, documentation

#1937 KIC-407 remove old TOC (redundant)
  docs/content/configuration/global-configuration/globalconfiguration-resource.md
Labels: documentation

#1938 Docops 232 - Broken link in App-protect configuration doc
  docs/content/app-protect/configuration.md
Labels: documentation

#1940 Release 1.12.1
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs-web/app-protect/configuration.md
  docs-web/app-protect/installation.md
  docs-web/configuration/configuration-examples.md
  docs-web/configuration/global-configuration/configmap-resource.md
  docs-web/configuration/global-configuration/custom-templates.md
  docs-web/configuration/handling-host-and-listener-collisions.md
  docs-web/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs-web/configuration/ingress-resources/basic-configuration.md
  docs-web/configuration/ingress-resources/cross-namespace-configuration.md
  docs-web/configuration/ingress-resources/custom-annotations.md
  docs-web/configuration/policy-resource.md
  docs-web/configuration/transportserver-resource.md
  docs-web/configuration/virtualserver-and-virtualserverroute-resources.md
  docs-web/installation/building-ingress-controller-image.md
  docs-web/installation/installation-with-helm.md
  docs-web/installation/installation-with-manifests.md
  docs-web/releases.md
  docs-web/technical-specifications.md
Labels: documentation

#1941 Release 1.12.1 docs
  docs/content/app-protect/configuration.md
  docs/content/app-protect/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/releases.md
  docs/content/technical-specifications.md
  hack/prepare-minor-release.sh
Labels: documentation

#1942 docs: cherry-pick all changes from the docs-1.12 branch
  docs/config/production/config.toml
  docs/config/staging/config.toml
  docs/content/app-protect/configuration.md
  docs/content/app-protect/installation.md
  docs/content/configuration/global-configuration/globalconfiguration-resource.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/running-multiple-ingress-controllers.md
  docs/content/troubleshooting/troubleshooting-with-app-protect.md
Labels: documentation

#1927 Fix function name comments typo
  internal/k8s/controller.go
Labels: no-autoupdate

#1946 Fix multiline commit messages in notifications
  .github/workflows/ci.yml
  .github/workflows/notifications.yml
Labels: chore

#1932 docs: Add AWS Marketplace image IAM instructions
  docs/content/installation/using-aws-marketplace-image.md
  docs/static/img/ecr-pull-instructions.png
Labels: documentation

#1943 Cherry-pick release 1.12.1 into master
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs/content/app-protect/configuration.md
  docs/content/app-protect/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/releases.md
  docs/content/technical-specifications.md
Labels: documentation

#1949 fix: fix broken link DOCOPS-238
  docs/content/intro/nginx-ingress-controllers.md
Labels: bug, documentation

#1954 Docops 238b - reword link
  docs/content/intro/nginx-ingress-controllers.md
Labels: documentation

#1948 Update CI badge and notification
  .github/workflows/notifications.yml
  README.md
Labels: documentation, chore

#1959 fix: DOCOPS-228 fix links to examples
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
Labels: bug, documentation

#1961 docs: sync fixes from production branch
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
Labels: bug, documentation

#1965 Deregister subscription-manager on nap ubi build
  build/Dockerfile
Labels: chore

#1969 feat: bumped f5-theme to v12.1
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/all.min.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/docs-nginx-com/nginx-site-header.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/docs-nginx-com/style.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/f5-hugo.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/f5-hugo.old.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/js/coveo.js
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/js/docs-nginx-com/nginx-cookie.js
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/js/docs-nginx-com/nginx-gdpr.js
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/js/docs-nginx-com/nginx-gdpr2.js
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/js/docs-nginx-com/nginx-site-header.js
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/js/docs-nginx-com/search-page.js
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/js/gdprVars.js
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/config.toml
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/_default/api.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/_default/baseof.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/_default/docs.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/_default/list.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/api/list.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/feedback/single.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/index.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/breadcrumb.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/feedback-form.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/footer.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/gdpr2.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/header.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/list-main.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/load_jquery.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/meta.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/sidebar.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/trustarc.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/section/releases.html.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/fa.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/success/single.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/static/images/Conf-footer-bkgd-1366x157.jpg
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/static/images/black-dot-bg.png
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/static/images/green-background.png
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/static/images/nginx-doc-item-sprite-hover.png
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/static/images/nginx-doc-item-sprite.png
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/static/images/r12-background.png
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/static/images/yt-nginx@2x.png
  docs/_vendor/modules.txt
  docs/go.mod
  docs/go.sum
Labels: enhancement, dependencies

#1967 Add Docker images for arm, arm64, ppc64le and s390x for OpenTracing
  .github/workflows/ci.yml
  build/Dockerfile
  docs/content/technical-specifications.md
Labels: documentation, chore

#1968 Use k8s version in the filename for nightly tests
  .github/actions/smoke-tests/action.yaml
Labels: chore

#1925 update survey link
  .github/release-drafter.yml
  README.md
Labels: documentation

#1970 Fix IngressClass test
  tests/suite/test_ingress_class.py
Labels: bug

#1990 fix: f5-theme fix for NGINX Docs site link
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/_default/_markup/render-link.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/header.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/sidebar.html
  docs/_vendor/modules.txt
  docs/go.mod
  docs/go.sum
Labels: bug, dependencies

#1989 Update kubernetes-client python to 19.15.0a1
  tests/requirements.txt
Labels: dependencies

#1963 Release 1.13.0
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs/content/app-protect/configuration.md
  docs/content/app-protect/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
  hack/common-release-prep.sh
Labels: documentation

#1977 Restore section headers and links in VS doc
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
Labels: documentation

#1994 Release 2.0.0
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs/content/app-protect/configuration.md
  docs/content/app-protect/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
  hack/common-release-prep.sh
Labels: documentation

#1995 fix: bumped f5-theme to v12.6
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/f5-hugo.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/breadcrumb.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/footer.html
  docs/_vendor/modules.txt
  docs/go.mod
  docs/go.sum
Labels: bug, dependencies

#2003 Merge pull request #1995 from nginxinc/f5-hugo-theme-update-12.6
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/all.min.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/docs-nginx-com/nginx-site-header.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/docs-nginx-com/style.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/f5-hugo.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/f5-hugo.old.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/js/coveo.js
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/js/docs-nginx-com/nginx-cookie.js
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/js/docs-nginx-com/nginx-gdpr.js
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/js/docs-nginx-com/nginx-gdpr2.js
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/js/docs-nginx-com/nginx-site-header.js
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/js/docs-nginx-com/search-page.js
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/js/gdprVars.js
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/config.toml
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/_default/_markup/render-link.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/_default/api.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/_default/baseof.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/_default/docs.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/_default/list.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/api/list.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/feedback/single.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/index.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/breadcrumb.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/feedback-form.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/footer.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/gdpr2.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/header.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/list-main.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/load_jquery.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/meta.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/sidebar.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/trustarc.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/section/releases.html.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/fa.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/success/single.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/static/images/Conf-footer-bkgd-1366x157.jpg
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/static/images/black-dot-bg.png
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/static/images/green-background.png
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/static/images/nginx-doc-item-sprite-hover.png
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/static/images/nginx-doc-item-sprite.png
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/static/images/r12-background.png
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/static/images/yt-nginx@2x.png
  docs/_vendor/modules.txt
  docs/go.mod
  docs/go.sum
Labels: dependencies

#2006 fix: add back anchor links for cmdline arguments
  docs/content/configuration/global-configuration/command-line-arguments.md
Labels: bug, documentation

#2013 fix: KIC-545 fix broken link
  docs/content/installation/using-the-jwt-token-docker-secret.md
Labels: bug, documentation

#2014 Update branches after CI run
  .github/workflows/autoupdate-pr.yml
Labels: chore

#2007 fix: bumped f5-theme to v12.6
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/all.min.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/docs-nginx-com/nginx-site-header.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/docs-nginx-com/style.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/f5-hugo.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/f5-hugo.old.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/js/coveo.js
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/js/docs-nginx-com/nginx-cookie.js
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/js/docs-nginx-com/nginx-gdpr.js
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/js/docs-nginx-com/nginx-gdpr2.js
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/js/docs-nginx-com/nginx-site-header.js
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/js/docs-nginx-com/search-page.js
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/js/gdprVars.js
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/config.toml
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/_default/_markup/render-link.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/_default/api.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/_default/baseof.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/_default/docs.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/_default/list.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/api/list.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/feedback/single.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/index.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/breadcrumb.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/feedback-form.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/footer.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/gdpr2.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/header.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/list-main.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/load_jquery.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/meta.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/sidebar.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/trustarc.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/section/releases.html.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/fa.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/success/single.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/static/images/Conf-footer-bkgd-1366x157.jpg
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/static/images/black-dot-bg.png
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/static/images/green-background.png
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/static/images/nginx-doc-item-sprite-hover.png
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/static/images/nginx-doc-item-sprite.png
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/static/images/r12-background.png
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/static/images/yt-nginx@2x.png
  docs/_vendor/modules.txt
  docs/go.mod
  docs/go.sum
Labels: bug, dependencies

#2015 Add unit test for NewDefaultConfigParams
  internal/configs/config_params_test.go
Labels: enhancement

#1998 Bump N+ version
  Makefile
  build/Dockerfile
Labels: enhancement

#2023 Use suffix in latest tag, i.e. latest-alpine, don't overwrite latest
  .github/workflows/ci.yml
Labels: bug, chore

#2027 Update Docker Images workflow for v2.0
  .github/workflows/update-docker-images.yml
Labels: chore

#2028 Increase time before issues/PRs become stale
  .github/workflows/stale.yml
Labels: chore
