Repository nginx/kubernetes-ingress, pull requests merged in 2021-04, with the labels that each got.

#1497 docs: update the helm install instructions
  deployments/helm-chart/README.md
Labels: documentation

#1494 Add logs around NGINX Plus binary/flag mismatch
  cmd/nginx-ingress/main.go
  internal/nginx/fake_manager.go
  internal/nginx/manager.go
Labels: enhancement

#1499 fix: Update openssl libs in UBI base image & update nginx version
  build/Dockerfile
  docs-web/technical-specifications.md
Labels: bug, documentation

#1498 chore: update nginx version to 1.19.9
  build/Dockerfile
  docs-web/technical-specifications.md
Labels: chore, documentation

#1505 Update fossa to 1.1.6
  .github/workflows/fossa.yml
Labels: dependencies

#1504 Read Go version from go.mod in workflows
  .github/workflows/edge.yml
  .github/workflows/fossa.yml
  .github/workflows/nightly.yml
Labels: chore

#1493 Use master as target branch, move deps into separate category
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: chore

#1503 Remove NGINX_VERSION from base images
  build/Dockerfile
Labels: chore

#1492 Update the IC so GlobalConfig is not a dependency
  cmd/nginx-ingress/main.go
  deployments/common/global-configuration.yaml
  docs-web/configuration/global-configuration/command-line-arguments.md
  docs-web/configuration/global-configuration/globalconfiguration-resource.md
  docs-web/installation/installation-with-manifests.md
  internal/configs/configurator.go
  internal/configs/configurator_test.go
  internal/configs/globalconfiguration.go
  internal/configs/globalconfiguration_test.go
  internal/k8s/controller.go
  internal/k8s/controller_test.go
Labels: documentation

#1518 Update prometheus exporter to 0.9.0 and indirect deps
  go.mod
  go.sum
Labels: dependencies

#1495 Use latest tag in docs and manifests
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs-web/app-protect/configuration.md
  docs-web/app-protect/installation.md
  docs-web/configuration/configuration-examples.md
  docs-web/configuration/global-configuration/configmap-resource.md
  docs-web/configuration/global-configuration/custom-templates.md
  docs-web/configuration/handling-host-and-listener-collisions.md
  docs-web/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs-web/configuration/ingress-resources/basic-configuration.md
  docs-web/configuration/ingress-resources/cross-namespace-configuration.md
  docs-web/configuration/transportserver-resource.md
  docs-web/configuration/virtualserver-and-virtualserverroute-resources.md
  docs-web/installation/building-ingress-controller-image.md
  docs-web/installation/installation-with-helm.md
  docs-web/installation/installation-with-manifests.md
  docs-web/installation/installation-with-operator.md
  docs-web/integration-with-cis.md
Labels: chore, documentation

#1520 Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: chore

#1500 Support ssl_reject_handshake in Ingress and VS
  docs-web/configuration/ingress-resources/basic-configuration.md
  docs-web/configuration/virtualserver-and-virtualserverroute-resources.md
  internal/configs/configurator.go
  internal/configs/ingress.go
  internal/configs/ingress_test.go
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.ingress.tmpl
  internal/configs/version1/nginx.ingress.tmpl
  internal/configs/version1/templates_test.go
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
Labels: change, documentation, enhancement

#1514 Release 1.11.1
  CHANGELOG.md
  Makefile
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs-web/app-protect/configuration.md
  docs-web/app-protect/index.rst
  docs-web/app-protect/installation.md
  docs-web/configuration/configuration-examples.md
  docs-web/configuration/global-configuration/configmap-resource.md
  docs-web/configuration/global-configuration/custom-templates.md
  docs-web/configuration/global-configuration/globalconfiguration-resource.md
  docs-web/configuration/handling-host-and-listener-collisions.md
  docs-web/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs-web/configuration/ingress-resources/basic-configuration.md
  docs-web/configuration/ingress-resources/cross-namespace-configuration.md
  docs-web/configuration/ingress-resources/custom-annotations.md
  docs-web/configuration/policy-resource.md
  docs-web/configuration/transportserver-resource.md
  docs-web/configuration/virtualserver-and-virtualserverroute-resources.md
  docs-web/installation/building-ingress-controller-image.md
  docs-web/installation/installation-with-helm.md
  docs-web/installation/installation-with-manifests.md
  docs-web/installation/installation-with-operator.md
  docs-web/logging-and-monitoring/index.rst
  docs-web/releases.md
  docs-web/technical-specifications.md
  docs-web/third-party-modules/index.rst
Labels: documentation

#1515 Update repo files for release 1.11.1
  CHANGELOG.md
  README.md
  docs-web/releases.md
  docs-web/technical-specifications.md
Labels: documentation

#1512 Don't require default server TLS secret
  cmd/nginx-ingress/main.go
  docs-web/configuration/global-configuration/command-line-arguments.md
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/configurator.go
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.tmpl
Labels: documentation, enhancement

#1523 Use Fossa action in the workflow
  .github/workflows/fossa.yml
Labels: chore

#1516 Feature transport server status tests
  .github/workflows/edge.yml
  tests/data/transport-server-status/rejected-invalid.yaml
  tests/data/transport-server-status/rejected-warning.yaml
  tests/data/transport-server-status/standard/dns.yaml
  tests/data/transport-server-status/standard/global-configuration.yaml
  tests/data/transport-server-status/standard/transport-server.yaml
  tests/pytest.ini
  tests/suite/custom_resources_utils.py
  tests/suite/fixtures.py
  tests/suite/test_transport_server_status.py
Labels: documentation, enhancement

#1524 Cancel redundant pipelines and remove redundant build jobs
  .github/workflows/cancel.yml
  .github/workflows/edge.yml
  .github/workflows/nightly.yml
Labels: chore

#1534 Remove patch version from Docker image for tests
  tests/docker/Dockerfile
Labels: dependencies

#1536 Improve tests Dockerfile
  .dockerignore
  tests/docker/Dockerfile
Labels: python

#1533 Test all images
  .github/workflows/edge.yml
  .github/workflows/nightly.yml
Labels: chore

#1540 Support running tests in kind
  tests/Makefile
  tests/README.md
Labels: documentation, python

#1546 Update badge for Fossa
  README.md
Labels: chore, documentation

#1547 Revert changes in nightly for now
  .github/workflows/nightly.yml
Labels: chore

#1544 Merge release branch to master
  .github/workflows/release.yml
  Makefile
  build/Dockerfile
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs-web/app-protect/configuration.md
  docs-web/app-protect/index.rst
  docs-web/app-protect/installation.md
  docs-web/configuration/configuration-examples.md
  docs-web/configuration/global-configuration/configmap-resource.md
  docs-web/configuration/global-configuration/custom-templates.md
  docs-web/configuration/global-configuration/globalconfiguration-resource.md
  docs-web/configuration/handling-host-and-listener-collisions.md
  docs-web/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs-web/configuration/ingress-resources/basic-configuration.md
  docs-web/configuration/ingress-resources/cross-namespace-configuration.md
  docs-web/configuration/ingress-resources/custom-annotations.md
  docs-web/configuration/policy-resource.md
  docs-web/configuration/transportserver-resource.md
  docs-web/configuration/virtualserver-and-virtualserverroute-resources.md
  docs-web/index.rst
  docs-web/installation/building-ingress-controller-image.md
  docs-web/installation/installation-with-helm.md
  docs-web/installation/installation-with-manifests.md
  docs-web/installation/installation-with-operator.md
  docs-web/logging-and-monitoring/index.rst
  docs-web/releases.md
  docs-web/third-party-modules/index.rst
  docs-web/third-party-modules/opentracing.md
  docs/nginx-ingress-controllers.md
Labels: chore, documentation

#1549 Add GoReleaser
  .github/workflows/edge.yml
  .github/workflows/nightly.yml
  .gitignore
  .goreleaser.yml
  Makefile
  build/Dockerfile
  build/DockerfileWithAppProtectForPlusForOpenShift
  cmd/nginx-ingress/main.go
  docs-web/configuration/global-configuration/command-line-arguments.md
Labels: chore, documentation

#1552 Red Hat UBI 8 doesn't support armv7
  .github/workflows/edge.yml
Labels: bug

#1543 Add test for TransportServer load balancing config
  tests/data/common/service/nodeport-with-additional-ports.yaml
  tests/data/transport-server-status/standard/service_deployment.yaml
  tests/data/transport-server-tcp-load-balance/missing-service-transport-server.yaml
  tests/data/transport-server-tcp-load-balance/second-transport-server.yaml
  tests/data/transport-server-tcp-load-balance/standard/global-configuration.yaml
  tests/data/transport-server-tcp-load-balance/standard/service_deployment.yaml
  tests/data/transport-server-tcp-load-balance/standard/transport-server.yaml
  tests/data/transport-server-tcp-load-balance/wrong-port-transport-server.yaml
  tests/suite/fixtures.py
  tests/suite/resources_utils.py
  tests/suite/test_transport_server_status.py
  tests/suite/test_transport_server_tcp_load_balance.py
  tests/tcp-server/Dockerfile
  tests/tcp-server/README.md
  tests/tcp-server/main.go
Labels: documentation

#1557 NGINX only builds CentOS 8 packages for amd64/arm64
  .github/workflows/edge.yml
  build/Dockerfile
Labels: bug

#1466 Feature transportserver stream snippets
  deployments/common/crds/k8s.nginx.org_transportservers.yaml
  deployments/helm-chart/crds/k8s.nginx.org_transportservers.yaml
  docs-web/configuration/transportserver-resource.md
  internal/configs/transportserver.go
  internal/configs/transportserver_test.go
  internal/configs/version2/nginx-plus.transportserver.tmpl
  internal/configs/version2/nginx.transportserver.tmpl
  internal/configs/version2/stream.go
  internal/k8s/controller.go
  pkg/apis/configuration/v1alpha1/types.go
  pkg/apis/configuration/validation/transportserver.go
Labels: documentation, enhancement

#1559 Chore: Don't notify on cancelled edge pipeline
  .github/workflows/edge.yml
Labels: chore

#1560 Setup QEMU before building for multiple architectures
  .github/workflows/edge.yml
Labels: bug

#1563 fix policy example in web docs
  docs-web/configuration/policy-resource.md
Labels: bug, documentation
