Repository nginx/kubernetes-ingress, pull requests merged in 2021-05, with the labels that each got.

#1468 Update grpc notes
  docs-web/app-protect/configuration.md
Labels: documentation

#1573 Add workflow to push README to Docker Hub
  .github/workflows/dockerhub-description.yml
Labels: chore

#1553 Feature transportserver udp tests
  tests/data/common/service/nodeport-with-additional-ports.yaml
  tests/data/transport-server-udp-load-balance/missing-service-transport-server.yaml
  tests/data/transport-server-udp-load-balance/second-transport-server.yaml
  tests/data/transport-server-udp-load-balance/standard/global-configuration.yaml
  tests/data/transport-server-udp-load-balance/standard/service_deployment.yaml
  tests/data/transport-server-udp-load-balance/standard/transport-server.yaml
  tests/data/transport-server-udp-load-balance/wrong-port-transport-server.yaml
  tests/suite/fixtures.py
  tests/suite/resources_utils.py
  tests/suite/test_transport_server_tcp_load_balance.py
  tests/suite/test_transport_server_udp_load_balance.py
  tests/test-servers/Dockerfile
  tests/test-servers/README.md
  tests/test-servers/tcp/main.go
  tests/test-servers/udp/main.go
Labels: documentation, enhancement

#1580 Add container scanning for OSS images
  .github/workflows/edge.yml
Labels: chore

#1576 Update NGINX Plus builds
  build/Dockerfile
Labels: chore

#1592 Add NGINX version to ubi image building
  .github/workflows/edge.yml
Labels: chore

#1593 Workaround for bug in Dependabot for Docker
  build/Dockerfile
Labels: dependencies

#1607 chore: update nginx plus version
  build/Dockerfile
  build/DockerfileWithAppProtectForPlusForOpenShift
Labels: chore

#1608 Release 1.11.2
  CHANGELOG.md
  Makefile
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs-web/app-protect/configuration.md
  docs-web/app-protect/installation.md
  docs-web/configuration/configuration-examples.md
  docs-web/configuration/global-configuration/configmap-resource.md
  docs-web/configuration/global-configuration/custom-templates.md
  docs-web/configuration/handling-host-and-listener-collisions.md
  docs-web/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs-web/configuration/ingress-resources/basic-configuration.md
  docs-web/configuration/ingress-resources/cross-namespace-configuration.md
  docs-web/configuration/ingress-resources/custom-annotations.md
  docs-web/configuration/policy-resource.md
  docs-web/configuration/transportserver-resource.md
  docs-web/configuration/virtualserver-and-virtualserverroute-resources.md
  docs-web/installation/building-ingress-controller-image.md
  docs-web/installation/installation-with-helm.md
  docs-web/installation/installation-with-manifests.md
  docs-web/releases.md
  docs-web/technical-specifications.md
Labels: documentation

#1479 Add load balancing method to transport server config
  cmd/nginx-ingress/main.go
  deployments/common/crds/k8s.nginx.org_transportservers.yaml
  deployments/helm-chart/crds/k8s.nginx.org_transportservers.yaml
  docs-web/configuration/transportserver-resource.md
  internal/configs/parsing_helpers.go
  internal/configs/transportserver.go
  internal/configs/transportserver_test.go
  internal/configs/version2/nginx-plus.transportserver.tmpl
  internal/configs/version2/nginx.transportserver.tmpl
  internal/configs/version2/stream.go
  internal/k8s/configuration_test.go
  pkg/apis/configuration/v1alpha1/types.go
  pkg/apis/configuration/validation/transportserver.go
  pkg/apis/configuration/validation/transportserver_test.go
  tests/data/transport-server-tcp-load-balance/method-transport-server.yaml
  tests/suite/test_transport_server_tcp_load_balance.py
Labels: documentation, enhancement

#1609 Update repo files for release 1.11.2
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs-web/app-protect/configuration.md
  docs-web/app-protect/installation.md
  docs-web/configuration/configuration-examples.md
  docs-web/configuration/global-configuration/configmap-resource.md
  docs-web/configuration/global-configuration/custom-templates.md
  docs-web/configuration/handling-host-and-listener-collisions.md
  docs-web/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs-web/configuration/ingress-resources/basic-configuration.md
  docs-web/configuration/ingress-resources/cross-namespace-configuration.md
  docs-web/configuration/ingress-resources/custom-annotations.md
  docs-web/configuration/policy-resource.md
  docs-web/configuration/transportserver-resource.md
  docs-web/configuration/virtualserver-and-virtualserverroute-resources.md
  docs-web/installation/building-ingress-controller-image.md
  docs-web/installation/installation-with-helm.md
  docs-web/installation/installation-with-manifests.md
  docs-web/releases.md
  docs-web/technical-specifications.md
Labels: documentation

#1605 Revert dependabot to daily checks
  .github/dependabot.yml
  .github/workflows/edge.yml
  .github/workflows/lint.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/sync.yml
Labels: chore

#1601 Add gitlab pipeline and remove plus building from github
  .github/workflows/edge.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .gitlab-ci.yml
  tests/.gitignore
  tests/Makefile
  tests/ci-files/ci-kind-config.yaml
  tests/ci-files/helm-http-test.sh
  tests/docker/gitlab.Dockerfile
Labels: chore

#1623 Fix Nightly job
  .github/workflows/nightly.yml
Labels: bug

#1628 Release 1.11.3
  CHANGELOG.md
  Makefile
  README.md
  build/Dockerfile
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs-web/app-protect/configuration.md
  docs-web/app-protect/installation.md
  docs-web/configuration/configuration-examples.md
  docs-web/configuration/global-configuration/configmap-resource.md
  docs-web/configuration/global-configuration/custom-templates.md
  docs-web/configuration/handling-host-and-listener-collisions.md
  docs-web/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs-web/configuration/ingress-resources/basic-configuration.md
  docs-web/configuration/ingress-resources/cross-namespace-configuration.md
  docs-web/configuration/ingress-resources/custom-annotations.md
  docs-web/configuration/policy-resource.md
  docs-web/configuration/transportserver-resource.md
  docs-web/configuration/virtualserver-and-virtualserverroute-resources.md
  docs-web/installation/building-ingress-controller-image.md
  docs-web/installation/installation-with-helm.md
  docs-web/installation/installation-with-manifests.md
  docs-web/releases.md
  docs-web/technical-specifications.md
Labels: documentation

#1574 Add Docker image for Alpine with NGINX Plus
  Makefile
  build/Dockerfile
  docs-web/installation/building-ingress-controller-image.md
  docs-web/technical-specifications.md
Labels: chore, documentation

#1632 Filter previous releases only on master branch
  .github/release-drafter.yml
Labels: chore

#1629 Update repo files for release 1.11.3
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs-web/app-protect/configuration.md
  docs-web/app-protect/installation.md
  docs-web/configuration/configuration-examples.md
  docs-web/configuration/global-configuration/configmap-resource.md
  docs-web/configuration/global-configuration/custom-templates.md
  docs-web/configuration/handling-host-and-listener-collisions.md
  docs-web/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs-web/configuration/ingress-resources/basic-configuration.md
  docs-web/configuration/ingress-resources/cross-namespace-configuration.md
  docs-web/configuration/ingress-resources/custom-annotations.md
  docs-web/configuration/policy-resource.md
  docs-web/configuration/transportserver-resource.md
  docs-web/configuration/virtualserver-and-virtualserverroute-resources.md
  docs-web/installation/building-ingress-controller-image.md
  docs-web/installation/installation-with-helm.md
  docs-web/installation/installation-with-manifests.md
  docs-web/releases.md
  docs-web/technical-specifications.md
Labels: documentation

#1596 Switch to new NGINX Plus repo for UBI
  build/Dockerfile
Labels: chore

#1604 Update NGINX Plus to R24
  build/Dockerfile
  docs-web/app-protect/installation.md
  docs-web/installation/building-ingress-controller-image.md
Labels: dependencies, documentation

#1619 Add AWS Marketplace Entitlement verification
  cmd/nginx-ingress/aws.go
  cmd/nginx-ingress/main.go
  go.mod
  go.sum
Labels: dependencies, enhancement
