Repository nginx/kubernetes-ingress, pull requests merged in 2021-03, with the labels that each got.

#1417 Fix bug in TS health check
  deployments/common/crds-v1beta1/k8s.nginx.org_transportservers.yaml
  deployments/common/crds/k8s.nginx.org_transportservers.yaml
  deployments/helm-chart/crds/k8s.nginx.org_transportservers.yaml
  internal/configs/transportserver.go
  internal/configs/transportserver_test.go
  pkg/apis/configuration/v1alpha1/types.go
Labels: bug

#1241 Refactor Dockerfile and Makefile
  .dockerignore
  .github/workflows/edge.yml
  .github/workflows/nightly.yml
  Makefile
  build/Dockerfile
  build/DockerfileForAlpine
  build/DockerfileForPlus
  build/DockerfileWithAppProtectForPlusForOpenShift
  build/DockerfileWithOpentracing
  build/DockerfileWithOpentracingForPlus
  build/appprotect/DockerfileWithAppProtectForPlus
  build/log-default.json
  build/openshift/Dockerfile
  build/openshift/DockerfileForPlus
  docs-web/app-protect/installation.md
  docs-web/installation/building-ingress-controller-image.md
  docs-web/technical-specifications.md
  docs-web/third-party-modules/opentracing.md
  go.sum
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.tmpl
  perf-tests/README.md
  tests/suite/resources_utils.py
Labels: change, chore, dependencies, documentation

#1418 Add VS/VSR status update upon WAF policy User Defined Signature update
  internal/configs/configurator.go
  internal/k8s/configuration.go
  internal/k8s/controller.go
Labels: enhancement

#1424 Improve Makefile usage message
  Makefile
Labels: chore

#1423 Add IC version to images pushed to Docker Hub
  .github/workflows/edge.yml
Labels: bug

#1428 Bump Nginx App Protect version to 3.0
  build/Dockerfile
  build/DockerfileWithAppProtectForPlusForOpenShift
Labels: chore

#1420 Support IngressClassName in TransportServer
  cmd/nginx-ingress/main.go
  deployments/common/crds-v1beta1/k8s.nginx.org_transportservers.yaml
  deployments/common/crds/k8s.nginx.org_transportservers.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/crds/k8s.nginx.org_transportservers.yaml
  deployments/helm-chart/values.yaml
  docs-web/configuration/global-configuration/command-line-arguments.md
  docs-web/configuration/transportserver-resource.md
  docs-web/installation/installation-with-helm.md
  docs-web/installation/running-multiple-ingress-controllers.md
  internal/k8s/configuration.go
  internal/k8s/configuration_test.go
  internal/k8s/controller.go
  internal/k8s/controller_test.go
  pkg/apis/configuration/v1alpha1/types.go
Labels: documentation, enhancement

#1433 Add labels and label syncer
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/sync-labels.yml
Labels: chore

#1430 Add GitHub workflow to check for stale PRs and issues
  .github/workflows/stale.yml
Labels: chore

#1425 Add status field to TransportServer resource
  deployments/common/crds-v1beta1/k8s.nginx.org_transportservers.yaml
  deployments/common/crds/k8s.nginx.org_transportservers.yaml
  deployments/helm-chart/crds/k8s.nginx.org_transportservers.yaml
  docs-web/configuration/global-configuration/reporting-resources-status.md
  internal/configs/configurator.go
  internal/configs/configurator_test.go
  internal/k8s/controller.go
  internal/k8s/leader.go
  internal/k8s/status.go
  internal/k8s/status_test.go
  pkg/apis/configuration/v1alpha1/types.go
  pkg/apis/configuration/v1alpha1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/typed/configuration/v1alpha1/fake/fake_transportserver.go
  pkg/client/clientset/versioned/typed/configuration/v1alpha1/transportserver.go
Labels: documentation

#1441 Tests/fix test data
  tests/suite/test_v_s_route_upstream_options.py
Labels: bug

#1413 Add snippet feature to TransportServer
  cmd/nginx-ingress/main.go
  deployments/common/crds-v1beta1/k8s.nginx.org_transportservers.yaml
  deployments/common/crds/k8s.nginx.org_transportservers.yaml
  deployments/helm-chart/crds/k8s.nginx.org_transportservers.yaml
  docs-web/configuration/transportserver-resource.md
  internal/configs/configurator.go
  internal/configs/transportserver.go
  internal/configs/transportserver_test.go
  internal/configs/version2/nginx-plus.transportserver.tmpl
  internal/configs/version2/nginx.transportserver.tmpl
  internal/configs/version2/stream.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  internal/k8s/configuration_test.go
  pkg/apis/configuration/v1alpha1/types.go
  pkg/apis/configuration/validation/transportserver.go
  pkg/apis/configuration/validation/transportserver_test.go
Labels: documentation

#1444 Fix setting host header in action proxy
  docs-web/configuration/virtualserver-and-virtualserverroute-resources.md
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
Labels: bug, documentation

#1450 Increase operations per run to 100 in actions/stale
  .github/workflows/stale.yml
Labels: chore

#1449 Add support for ClusterIP in upstreams
  deployments/common/crds-v1beta1/k8s.nginx.org_virtualserverroutes.yaml
  deployments/common/crds-v1beta1/k8s.nginx.org_virtualservers.yaml
  deployments/common/crds/k8s.nginx.org_virtualserverroutes.yaml
  deployments/common/crds/k8s.nginx.org_virtualservers.yaml
  deployments/helm-chart/crds/k8s.nginx.org_virtualserverroutes.yaml
  deployments/helm-chart/crds/k8s.nginx.org_virtualservers.yaml
  docs-web/configuration/virtualserver-and-virtualserverroute-resources.md
  internal/k8s/configuration.go
  internal/k8s/controller.go
  internal/k8s/reference_checkers.go
  internal/k8s/reference_checkers_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/validation/virtualserver.go
  pkg/apis/configuration/validation/virtualserver_test.go
Labels: documentation, enhancement

#1446 Fix transport server description
  deployments/common/crds-v1beta1/k8s.nginx.org_transportservers.yaml
  deployments/common/crds/k8s.nginx.org_transportservers.yaml
  deployments/helm-chart/crds/k8s.nginx.org_transportservers.yaml
  pkg/apis/configuration/v1alpha1/types.go
Labels: bug

#1445 Add whitespace to invalid values for time fields in resources
  internal/configs/parsing_helpers.go
  internal/configs/parsing_helpers_test.go
Labels: bug

#1453 Fix type in transport server rbac
  deployments/rbac/rbac.yaml
Labels: bug

#1456 Update Go version to 1.16
  .github/workflows/edge.yml
  .github/workflows/fossa.yml
  .github/workflows/nightly.yml
  build/Dockerfile
  build/DockerfileWithAppProtectForPlusForOpenShift
  go.mod
Labels: dependencies

#1452 Add in_review label
  .github/labels.yml
Labels: chore

#1443 Prune labels
  .github/workflows/sync-labels.yml
Labels: chore

#1463 Use variables in Makefile to reduce noise
  Makefile
Labels: chore

#1462 Update files for release 1.10.1
  CHANGELOG.md
  README.md
  docs-web/releases.md
  docs-web/technical-specifications.md
Labels: chore, documentation

#1467 docs: remove broken opentracing example for now
  docs-web/configuration/global-configuration/configmap-resource.md
  docs-web/third-party-modules/opentracing.md
  examples/opentracing/README.md
  examples/opentracing/jaeger-ui.png
  examples/opentracing/nginx-config.yaml
Labels: documentation

#1477 docs: remove broken opentracing example for now (#1467)
  docs-web/configuration/global-configuration/configmap-resource.md
  docs-web/third-party-modules/opentracing.md
  examples/opentracing/README.md
  examples/opentracing/jaeger-ui.png
  examples/opentracing/nginx-config.yaml
Labels: documentation

#1478 Add tech support statement
  docs-web/technical-specifications.md
Labels: documentation

#1482 Add notes about CRDs requirement
  docs-web/installation/installation-with-helm.md
  docs-web/installation/installation-with-manifests.md
Labels: documentation

#1487 chore: Auto sync crds
  .github/sync.yml
  .github/workflows/sync-labels.yml
  .github/workflows/sync.yml
Labels: chore, github_actions

#1490 Temporary fix for release 1.11
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: bug, chore

#1464 Release 1.11.0
  CHANGELOG.md
  Makefile
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs-web/app-protect/configuration.md
  docs-web/app-protect/installation.md
  docs-web/configuration/configuration-examples.md
  docs-web/configuration/global-configuration/configmap-resource.md
  docs-web/configuration/global-configuration/custom-templates.md
  docs-web/configuration/global-configuration/globalconfiguration-resource.md
  docs-web/configuration/handling-host-and-listener-collisions.md
  docs-web/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs-web/configuration/ingress-resources/basic-configuration.md
  docs-web/configuration/ingress-resources/cross-namespace-configuration.md
  docs-web/configuration/ingress-resources/custom-annotations.md
  docs-web/configuration/policy-resource.md
  docs-web/configuration/transportserver-resource.md
  docs-web/configuration/virtualserver-and-virtualserverroute-resources.md
  docs-web/index.rst
  docs-web/installation/building-ingress-controller-image.md
  docs-web/installation/installation-with-helm.md
  docs-web/installation/installation-with-manifests.md
  docs-web/installation/installation-with-operator.md
  docs-web/integration-with-cis.md
  docs-web/releases.md
  docs-web/technical-specifications.md
  docs-web/third-party-modules/opentracing.md
  docs/nginx-ingress-controllers.md
Labels: documentation

#1488 docs: update docs for release
  CHANGELOG.md
  README.md
  docs-web/releases.md
  docs-web/technical-specifications.md
Labels: documentation
