Repository nginx/kubernetes-ingress, pull requests merged in 2021-08, with the labels that each got.

#1777 Disable default excludes for linters
  .golangci.yml
Labels: chore

#1787 fix issues with raw html code tags in docs
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/_default/_markup/render-link.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/header.html
  docs/_vendor/modules.txt
  docs/go.mod
  docs/go.sum
Labels: bug, dependencies

#1821 Update nginx-ingress-controllers.md
  docs/content/intro/nginx-ingress-controllers.md
Labels: documentation

#1824 Update pulling-ingress-controller-image.md
  docs/content/installation/pulling-ingress-controller-image.md
Labels: documentation

#1842 Auto-update theme, go.mod from gitlab.com/f5/nginx/controller/poc/f5-hugo.
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/f5-hugo.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/js/docs-nginx-com/main.js
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/_default/list.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/index.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/header.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/scripts.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/section/releases.html.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/versions.html
  docs/_vendor/modules.txt
  docs/go.mod
  docs/go.sum
Labels: dependencies

#1822 Delete nginx-ingress-controllers.md
  docs/nginx-ingress-controllers.md
Labels: documentation

#1841 Build binaries for all archs
  .github/workflows/update-docker-images.yml
Labels: chore

#1848 fix: Add left nav TOC to KIC docs (docs-1.12)
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/f5-hugo.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/js/docs-nginx-com/main.js
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/_default/list.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/index.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/header.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/scripts.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/section/releases.html.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/versions.html
  docs/_vendor/modules.txt
  docs/go.mod
  docs/go.sum
Labels: bug, dependencies

#1847 Add ppc64le and s390x for UBI based images
  .github/workflows/edge.yml
  .github/workflows/release.yml
  .github/workflows/update-docker-images.yml
Labels: chore

#1845 Add config for Fossa
  .fossa.yml
Labels: chore

#1849 Fix: Add left nav TOC to KIC docs (master)
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/f5-hugo.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/js/docs-nginx-com/main.js
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/_default/list.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/index.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/header.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/scripts.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/section/releases.html.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/versions.html
  docs/_vendor/modules.txt
  docs/go.mod
  docs/go.sum
Labels: bug, documentation

#1853 Revert add new archs
  .github/workflows/edge.yml
  .github/workflows/release.yml
  .github/workflows/update-docker-images.yml
Labels: chore

#1854 Update tests to use networking.k8s.io/v1
  .github/workflows/edge.yml
  deployments/common/ingress-class.yaml
  deployments/helm-chart/templates/controller-ingress-class.yaml
  perf-tests/data/appprotect-ingress.yaml
  perf-tests/data/non-ap-ingress.yaml
  perf-tests/suite/test_ap_reload_perf.py
  tests/Makefile
  tests/data/annotations/grpc/annotations-ingress.yaml
  tests/data/annotations/mergeable/annotations-ingress.yaml
  tests/data/annotations/mergeable/minion-annotations-differ.yaml
  tests/data/annotations/standard/annotations-ingress.yaml
  tests/data/appprotect/appprotect-ingress.yaml
  tests/data/appprotect/grpc/ingress.yaml
  tests/data/custom-annotations/mergeable/annotations-ingress.yaml
  tests/data/custom-annotations/standard/annotations-ingress.yaml
  tests/data/externalname-services/externalname-ingress.yaml
  tests/data/hsts/mergeable-tls/hsts-ingress.yaml
  tests/data/hsts/mergeable/hsts-ingress.yaml
  tests/data/hsts/standard-tls/hsts-ingress.yaml
  tests/data/hsts/standard/hsts-ingress.yaml
  tests/data/hsts/tls-no-secret/hsts-ingress.yaml
  tests/data/ingress-class/custom-class-ingress.yaml
  tests/data/ingress-class/nginx-class-ingress.yaml
  tests/data/ingress-class/no-class-ingress.yaml
  tests/data/ingress-class/resource/custom-ingress-class-res.yaml
  tests/data/jwt-auth-mergeable/mergeable/jwt-auth-ingress.yaml
  tests/data/jwt-secrets/mergeable/jwt-secrets-ingress.yaml
  tests/data/jwt-secrets/standard/jwt-secrets-ingress.yaml
  tests/data/smoke/mergeable/smoke-ingress.yaml
  tests/data/smoke/standard/smoke-ingress.yaml
  tests/data/tls/mergeable/ingress.yaml
  tests/data/tls/standard/ingress.yaml
  tests/data/watch-namespace/foreign-ns-ingress.yaml
  tests/data/watch-namespace/watched-ns-ingress.yaml
  tests/data/wildcard-tls-secret/mergeable/wildcard-secret-ingress.yaml
  tests/data/wildcard-tls-secret/standard/wildcard-secret-ingress.yaml
  tests/docker/Dockerfile
  tests/requirements.txt
  tests/suite/fixtures.py
  tests/suite/resources_utils.py
  tests/suite/test_annotations.py
  tests/suite/test_app_protect_integration.py
  tests/suite/test_externalname_service.py
  tests/suite/test_hsts.py
  tests/suite/test_tls.py
Labels: documentation, chore

#1846 Update CodeQL workflow
  .github/workflows/cancel.yml
  .github/workflows/codeql-analysis.yml
Labels: chore

#1851 Update docs and examples to use networking.k8s.io/v1
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-snippets.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  examples/appprotect/cafe-ingress.yaml
  examples/complete-example/cafe-ingress.yaml
  examples/custom-annotations/README.md
  examples/externalname-services/README.md
  examples/grpc-services/README.md
  examples/health-checks/README.md
  examples/jwt/README.md
  examples/mergeable-ingress-types/cafe-master.yaml
  examples/mergeable-ingress-types/coffee-minion.yaml
  examples/mergeable-ingress-types/tea-minion.yaml
  examples/rewrites/README.md
  examples/session-persistence/README.md
  examples/session-persistence/cafe-ingress-with-session-persistence.yaml
  examples/ssl-services/README.md
  examples/websocket/README.md
  examples/wildcard-tls-certificate/README.md
Labels: documentation, chore

#1856 Improvements for Edge workflow
  .github/workflows/cancel.yml
  .github/workflows/edge.yml
Labels: chore

#1855 Update minimum k8s version to 1.19
  cmd/nginx-ingress/main.go
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/templates/controller-ingress-class.yaml
  deployments/helm-chart/values.yaml
  docs/content/configuration/global-configuration/command-line-arguments.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/running-multiple-ingress-controllers.md
  internal/k8s/configuration_test.go
  internal/k8s/controller.go
  internal/k8s/controller_test.go
  tests/suite/test_ingress_class.py
Labels: enhancement, documentation

#1866 Update Debian libraries for CVE-2021-36222
  build/Dockerfile
Labels: chore

#1860 Move kubectl install to separate layer
  tests/docker/Dockerfile
Labels: chore

#1877 Use release branch for k8s python client
  tests/docker/Dockerfile
  tests/requirements.txt
Labels: chore

#1865 Fix cache and GOPATH
  .github/workflows/edge.yml
Labels: bug, chore

#1864 Use GitHub cache backend API
  .github/workflows/edge.yml
  .github/workflows/update-docker-images.yml
Labels: chore

#1879 Fix GitHub actions cache
  .github/workflows/edge.yml
  build/Dockerfile
Labels: bug, chore

#1880 Revert "Fix GitHub actions cache"
  .github/workflows/edge.yml
  build/Dockerfile
Labels: bug, chore

#1858 Feature/remove k8s less v18 test logic
  CHANGELOG.md
  deployments/helm-chart/values.yaml
  examples/complete-example/README.md
  examples/complete-example/cafe-ingress.yaml
  tests/suite/fixtures.py
  tests/suite/test_ingress_class.py
Labels: enhancement, documentation

#1863 Add Cancel for previous runs to more workflows
  .github/workflows/cancel.yml
  .github/workflows/dockerhub-description.yml
  .github/workflows/fossa.yml
  .github/workflows/lint.yml
  .github/workflows/sync.yml
Labels: chore

#1861 Add 1.22.0 to Nightly
  .github/workflows/nightly.yml
Labels: chore

#1878 Update to Go 1.17
  build/Dockerfile
  go.mod
  go.sum
  internal/k8s/secrets/store_test.go
  tests/test-servers/Dockerfile
Labels: dependencies

#1881 Update Dockerfile frontend to 1.3
  build/Dockerfile
  tests/docker/Dockerfile
  tests/docker/gitlab.Dockerfile
  tests/test-servers/Dockerfile
Labels: chore

#1882 Use different caches for binaries
  .github/workflows/edge.yml
Labels: chore

#1867 Add workflow for keeping PRs up-to-date with master
  .github/labels.yml
  .github/workflows/autoupdate-pr.yml
Labels: proposal, chore

#1885 Use PAT to trigger workflows in PRs
  .github/workflows/autoupdate-pr.yml
Labels: chore

#1895 Disable docker build cache for now
  .github/workflows/edge.yml
Labels: chore

#1884 Add pod labels to helm chart
  deployments/helm-chart/README.md
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/values.yaml
Labels: enhancement, documentation

#1892 Use workflow_run for notifications, avoid duplication
  .github/workflows/edge.yml
  .github/workflows/fossa.yml
  .github/workflows/nightly.yml
  .github/workflows/notifications.yml
  .github/workflows/release.yml
  .github/workflows/update-docker-images.yml
Labels: chore

#1908 Add ntlm support to virtual server resource
  deployments/common/crds/k8s.nginx.org_virtualserverroutes.yaml
  deployments/common/crds/k8s.nginx.org_virtualservers.yaml
  deployments/helm-chart/crds/k8s.nginx.org_virtualserverroutes.yaml
  deployments/helm-chart/crds/k8s.nginx.org_virtualservers.yaml
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/validation/virtualserver.go
  pkg/apis/configuration/validation/virtualserver_test.go
  tests/suite/test_virtual_server_upstream_options.py
Labels: enhancement, documentation

#1913 Use composite actions for Smoke Tests
  .github/actions/smoke-tests/action.yaml
  .github/workflows/edge.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  Makefile
  build/Dockerfile
Labels: chore
