Repository nginx/kubernetes-ingress, pull requests merged in 2021-01, with the labels that each got.

#1293 Update documentation for ingress annotation validation
  docs-web/configuration/ingress-resources/advanced-configuration-with-annotations.md
Labels: documentation

#1303 Document increased reload time for APUserSig
  docs-web/app-protect/configuration.md
  docs-web/app-protect/troubleshooting.md
Labels: documentation

#1314 Add whitespace characters as invalid for OIDC secret
  internal/k8s/secrets/validation.go
  internal/k8s/secrets/validation_test.go
Labels: enhancement

#1316 Fix enablePreviewPolicies arg when using daemonset
  deployments/helm-chart/templates/controller-daemonset.yaml
Labels: bug

#1326 Fix link to custom log format example in docs
  docs-web/configuration/global-configuration/configmap-resource.md
Labels: documentation

#1327 Fix link to custom log format example in docs for release
  docs-web/configuration/global-configuration/configmap-resource.md
Labels: documentation
