Repository nginx/kubernetes-ingress, pull requests merged in 2021-06, with the labels that each got.

#1594 fix some App Protect logs links
  docs-web/app-protect/configuration.md
Labels: documentation

#1646 Improve Dockerfile
  .dockerignore
  .gitignore
  build/Dockerfile
Labels: chore

#1647 Fix env vars in edge workflow
  .github/workflows/edge.yml
Labels: bug

#1648 Fix caching in Edge workflow
  .github/workflows/edge.yml
Labels: bug

#1513 AP: add support for multiple log configs
  docs-web/configuration/ingress-resources/advanced-configuration-with-annotations.md
  internal/configs/configurator.go
  internal/configs/configurator_test.go
  internal/configs/ingress.go
  internal/configs/ingress_test.go
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.ingress.tmpl
  internal/k8s/appprotect/app_protect_resources.go
  internal/k8s/appprotect/app_protect_resources_test.go
  internal/k8s/controller.go
  internal/k8s/reference_checkers.go
  internal/k8s/reference_checkers_test.go
  tests/data/appprotect/syslog2.yaml
  tests/suite/custom_assertions.py
  tests/suite/resources_utils.py
  tests/suite/test_app_protect_grpc.py
  tests/suite/test_app_protect_integration.py
  tests/suite/test_app_protect_waf_policies.py
  tests/suite/test_transport_server_tcp_load_balance.py
  tests/suite/test_transport_server_udp_load_balance.py
Labels: documentation, enhancement

#1662 Add jq and git to the gitlab test dockerfile
  tests/docker/gitlab.Dockerfile
Labels: chore

#1663 Enable Docker scan result upload on PR
  .github/workflows/edge.yml
Labels: chore

#1661 Add UBI with NAP to Dockerfile
  .github/workflows/edge.yml
  Makefile
  build/Dockerfile
  build/DockerfileWithAppProtectForPlusForOpenShift
Labels: chore

#1649 Add how NGINX IC works doc
  docs-web/index.rst
  docs-web/intro/how-nginx-ingress-controller-works-images/control-loop.png
  docs-web/intro/how-nginx-ingress-controller-works-images/controller-sync.png
  docs-web/intro/how-nginx-ingress-controller-works-images/ic-high-level.png
  docs-web/intro/how-nginx-ingress-controller-works-images/ic-pod.png
  docs-web/intro/how-nginx-ingress-controller-works-images/ic-process-components.png
  docs-web/intro/how-nginx-ingress-controller-works-images/ic-process.png
  docs-web/intro/how-nginx-ingress-controller-works.md
  docs-web/intro/index.rst
  docs-web/intro/overview.md
Labels: documentation

#1654 Fix config and warnings about secrets at IC start
  internal/k8s/controller.go
  internal/k8s/controller_test.go
  internal/k8s/secrets/store.go
Labels: bug

#1501 Fix ungraceful shutdown of NGINX
  build/Dockerfile
Labels: bug

#1671 Simplify Dockerfile stages for Debian
  build/Dockerfile
Labels: chore

#1670 Update Release workflow
  .github/release-drafter.yml
  .github/workflows/release.yml
Labels: chore

#1668 Fix Building the Ingress Controller Image doc
  docs-web/installation/building-ingress-controller-image.md
Labels: documentation

#1676 Update liblz4-1 to fix CVE-2021-3520
  build/Dockerfile
Labels: bug, dependencies

#1684 fix: fix for latest container scanning vulnerabilities
  .gitignore
  build/Dockerfile
Labels: bug, dependencies

#1652 Add HTTPS option to prometheus endpoint
  cmd/nginx-ingress/main.go
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/values.yaml
  docs-web/configuration/global-configuration/command-line-arguments.md
  docs-web/installation/installation-with-helm.md
  docs-web/logging-and-monitoring/prometheus.md
  internal/metrics/listener.go
  tests/data/prometheus/secret.yaml
  tests/suite/test_prometheus_metrics.py
Labels: documentation, enhancement

#1688 Add errorlint
  .golangci.yml
  cmd/nginx-ingress/aws.go
  cmd/nginx-ingress/main.go
  internal/configs/configurator.go
  internal/configs/parsing_helpers.go
  internal/k8s/appprotect/app_protect_resources.go
  internal/k8s/controller.go
  internal/k8s/controller_test.go
  internal/k8s/secrets/store_test.go
  internal/k8s/secrets/validation.go
  internal/k8s/spiffe.go
  internal/k8s/utils.go
  internal/metrics/collectors/latency.go
  internal/metrics/collectors/processes.go
  internal/metrics/listener.go
  internal/metrics/syslog_listener.go
  internal/nginx/manager.go
  internal/nginx/utils.go
  internal/nginx/verify.go
  pkg/apis/configuration/validation/transportserver.go
Labels: chore

#1686 Use latest Docker image for golangci-lint
  Makefile
  go.mod
  go.sum
  tools.go
Labels: dependencies

#1698 chore: add k8s 1.21 to the matrix and bump the patch versions
  .github/workflows/edge.yml
  .github/workflows/nightly.yml
Labels: chore

#1693 Add gofumpt linter
  .golangci.yml
  cmd/nginx-ingress/main_test.go
  internal/configs/configurator.go
  internal/configs/ingress_test.go
  internal/configs/parsing_helpers_test.go
  internal/configs/transportserver_test.go
  internal/configs/version1/templates_test.go
  internal/configs/version2/templates_test.go
  internal/k8s/appprotect/app_protect_configuration.go
  internal/k8s/appprotect/app_protect_configuration_test.go
  internal/k8s/appprotect/app_protect_resources_test.go
  internal/k8s/handlers.go
  internal/k8s/reference_checkers.go
  internal/k8s/status.go
  internal/k8s/status_test.go
  internal/metrics/collectors/latency_test.go
  internal/metrics/collectors/workqueue.go
  internal/nginx/verify_test.go
  pkg/apis/configuration/validation/policy.go
  pkg/apis/configuration/validation/transportserver_test.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/configuration/v1/fake/fake_policy.go
  pkg/client/clientset/versioned/typed/configuration/v1/fake/fake_virtualserver.go
  pkg/client/clientset/versioned/typed/configuration/v1/fake/fake_virtualserverroute.go
  pkg/client/clientset/versioned/typed/configuration/v1alpha1/fake/fake_globalconfiguration.go
  pkg/client/clientset/versioned/typed/configuration/v1alpha1/fake/fake_transportserver.go
Labels: chore

#1694 Publish IngressLink doc
  docs-web/f5-ingresslink.md
  docs-web/index.rst
Labels: documentation

#1707 Release 1.12.0 (#1695)
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs-web/app-protect/configuration.md
  docs-web/app-protect/installation.md
  docs-web/configuration/configuration-examples.md
  docs-web/configuration/global-configuration/configmap-resource.md
  docs-web/configuration/global-configuration/custom-templates.md
  docs-web/configuration/handling-host-and-listener-collisions.md
  docs-web/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs-web/configuration/ingress-resources/basic-configuration.md
  docs-web/configuration/ingress-resources/cross-namespace-configuration.md
  docs-web/configuration/ingress-resources/custom-annotations.md
  docs-web/configuration/policy-resource.md
  docs-web/configuration/transportserver-resource.md
  docs-web/configuration/virtualserver-and-virtualserverroute-resources.md
  docs-web/installation/building-ingress-controller-image.md
  docs-web/installation/installation-with-helm.md
  docs-web/installation/installation-with-manifests.md
  docs-web/installation/installation-with-operator.md
  docs-web/releases.md
  docs-web/technical-specifications.md
Labels: documentation

#1710 docs: fix CSRF typo in release changlog
  docs-web/releases.md
Labels: documentation
