Repository nginx/kubernetes-ingress, pull requests merged in 2022-04, with the labels that each got.

#2455 increase memory available for xml parser
  internal/nginx/manager.go
Labels: enhancement

#2566 Unbind policy from preview policies
  deployments/common/crds/k8s.nginx.org_policies.yaml
  deployments/helm-chart/crds/k8s.nginx.org_policies.yaml
  docs/content/configuration/policy-resource.md
  docs/content/installation/installation-with-manifests.md
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/validation/policy.go
  pkg/apis/configuration/validation/policy_test.go
  tests/suite/test_app_protect_waf_policies_grpc.py
  tests/suite/test_ingress_mtls.py
  tests/suite/test_jwt_policies.py
  tests/suite/test_jwt_policies_vsr.py
  tests/suite/test_policy_ingress_class.py
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
Labels: enhancement, documentation

#2556 Add build for AWS Marketplace
  .github/workflows/ci.yml
Labels: chore

#2577 Update automated tests to support IPv6
  tests/data/access-control/configmap/nginx-config.yaml
  tests/data/common/app/secure/app.yaml
  tests/data/common/app/vsr/secure/single.yaml
  tests/data/dos/nginx-config.yaml
  tests/data/transport-server-tls-passthrough/standard/secure-app.yaml
  tests/suite/ssl_utils.py
  tests/suite/test_transport_server_tcp_load_balance.py
  tests/suite/test_transport_server_udp_load_balance.py
  tests/suite/test_v_s_route_api.py
  tests/suite/test_virtual_server_api.py
Labels: tests

#2578 Add parameter for `ipFamily` in kind
  tests/Makefile
Labels: tests

#2572 Implement cert-manager for support for VirtualServer resources
  cmd/nginx-ingress/main.go
  deployments/common/crds/k8s.nginx.org_virtualservers.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/crds/k8s.nginx.org_virtualservers.yaml
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/values.yaml
  deployments/rbac/rbac.yaml
  docs/content/configuration/global-configuration/command-line-arguments.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  examples/custom-resources/certmanager/README.md
  examples/custom-resources/certmanager/cafe-virtual-server.yaml
  examples/custom-resources/certmanager/cafe.yaml
  examples/custom-resources/certmanager/self-signed.yaml
  go.mod
  go.sum
  internal/certmanager/cm_controller.go
  internal/certmanager/cm_controller_test.go
  internal/certmanager/helper.go
  internal/certmanager/helper_test.go
  internal/certmanager/sync.go
  internal/certmanager/sync_test.go
  internal/certmanager/test_files/actions.go
  internal/certmanager/test_files/context_builder.go
  internal/certmanager/test_files/reactors.go
  internal/certmanager/test_files/recorder.go
  internal/certmanager/test_files/util.go
  internal/configs/config_params.go
  internal/k8s/configuration_test.go
  internal/k8s/controller.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/v1/zz_generated.deepcopy.go
  pkg/apis/configuration/validation/virtualserver.go
  pkg/apis/configuration/validation/virtualserver_test.go
  tests/data/virtual-server-certmanager/ca-issuer.yaml
  tests/data/virtual-server-certmanager/certmanager.yaml
  tests/data/virtual-server-certmanager/self-signed.yaml
  tests/data/virtual-server-certmanager/standard/virtual-server.yaml
  tests/data/virtual-server-certmanager/virtual-server-no-secret.yaml
  tests/data/virtual-server-certmanager/virtual-server-updated.yaml
  tests/suite/fixtures.py
  tests/suite/test_virtual_server_certmanager.py
  tests/suite/yaml_utils.py
Labels: enhancement, documentation, dependencies

#2580 Create -enable-oidc command line argument for OIDC policy
  cmd/nginx-ingress/main.go
  deployments/common/crds/k8s.nginx.org_policies.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/crds/k8s.nginx.org_policies.yaml
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/values.yaml
  docs/content/configuration/global-configuration/command-line-arguments.md
  docs/content/configuration/policy-resource.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.tmpl
  internal/k8s/controller.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/validation/policy.go
  pkg/apis/configuration/validation/policy_test.go
Labels: documentation

#2584 Replace Release Drafter with GitHub API
  .github/release-drafter.yml
  .github/release.yml
  .github/workflows/release-drafter-branches.yml
  .github/workflows/release.yaml
Labels: chore

#2596 Update packages for CVE-2022-1271
  .github/workflows/ci.yml
  .github/workflows/update-docker-images.yml
  build/Dockerfile
Labels: dependencies

#2593 Update RBAC in Helm template
  deployments/helm-chart/templates/rbac.yaml
  examples/custom-resources/certmanager/README.md
Labels: documentation

#2156 Add more badges to README
  .github/workflows/dockerhub-description.yml
  README.md
Labels: documentation, proposal, chore

#2598 Update release step in CI
  .github/workflows/ci.yml
  .github/workflows/release.yaml
Labels: chore

#2582 Rename UBI based images
  Makefile
  docs/content/app-protect/installation.md
  docs/content/installation/building-ingress-controller-image.md
Labels: documentation, proposal, chore

#2600 Update updater for 2.2.0
  .github/workflows/update-docker-images.yml
Labels: chore

#2602 Fix links and spacing in release notes
  docs/content/releases.md
Labels: bug, documentation, chore

#2613 Add Slack to contacts and update link
  README.md
Labels: documentation, chore

#2617 Fix Dockerfile for amd64 microarchitectures
  build/Dockerfile
Labels: bug, chore

#2619 Update packages for CVE-2022-1271
  build/Dockerfile
Labels: dependencies

#2611 Update build containers to 1.17
  build/Dockerfile
  tests/test-servers/Dockerfile
Labels: bug

#2581 Add OpenTracing to all Debian and Alpine based images
  .github/workflows/ci.yml
  Makefile
  build/Dockerfile
  docs/content/installation/building-ingress-controller-image.md
  docs/content/technical-specifications.md
  docs/content/third-party-modules/opentracing.md
Labels: enhancement, documentation, proposal
