Repository nginx/kubernetes-ingress, pull requests merged in 2022-01, with the labels that each got.

#2324 chore: Cleanup Dockerfile for DoS
  build/Dockerfile
Labels: chore

#2327 Update arbitrator chart for release
  deployments/helm-chart-dos-arbitrator/Chart.yaml
  deployments/helm-chart-dos-arbitrator/README.md
Labels: enhancement, documentation

#2333 Fix goreleaser
  .github/workflows/ci.yml
Labels: bug

#2335 Revert "Upload NGINX Ingress Controller binaries to release (#2044)"
  .github/workflows/ci.yml
  .goreleaser.yml
Labels: bug

#2338 Remove reviewer from dependabot
  .github/dependabot.yml
Labels: chore

#2341 fix: DOCOPS-560 add DOCS-XXX metadata to KIC docs
  docs/.hugo_build.lock
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect-dos/dos-protected.md
  docs/content/app-protect-dos/installation-with-helm-dos-arbitrator.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect/configuration.md
  docs/content/app-protect/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/command-line-arguments.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/global-configuration/globalconfiguration-resource.md
  docs/content/configuration/global-configuration/reporting-resources-status.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-snippets.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/security.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/f5-ingresslink.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/running-multiple-ingress-controllers.md
  docs/content/installation/using-aws-marketplace-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/how-nginx-ingress-controller-works.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/intro/overview.md
  docs/content/logging-and-monitoring/logging.md
  docs/content/logging-and-monitoring/prometheus.md
  docs/content/logging-and-monitoring/status-page.md
  docs/content/releases.md
  docs/content/technical-specifications.md
  docs/content/third-party-modules/opentracing.md
  docs/content/troubleshooting/troubleshoot-ingress-controller.md
  docs/content/troubleshooting/troubleshooting-with-app-protect-dos.md
  docs/content/troubleshooting/troubleshooting-with-app-protect.md
Labels: documentation

#2343 fix: Fix broken links in KIC docs
  docs/content/app-protect-dos/dos-protected.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect/configuration.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/technical-specifications.md
Labels: bug, documentation

#2342 Bump syslog server image version in tests
  tests/data/ap-waf-grpc/syslog.yaml
  tests/data/ap-waf/syslog.yaml
  tests/data/appprotect/syslog.yaml
  tests/data/appprotect/syslog2.yaml
  tests/data/dos/dos-syslog.yaml
  tests/data/virtual-server-dos/syslog.yaml
Labels: no-autoupdate, tests

#2349 Update JWT in tests and add flaky reruns to common failures
  tests/data/jwt-auth-mergeable/tokens/jwt-auth-minion-token.jwt
  tests/suite/test_v_s_route_focused_canary.py
  tests/suite/test_virtual_server_grpc.py
Labels: tests

#2350 Bump kind to 1.23.1
  .github/workflows/ci.yml
Labels: dependencies

#2351 chore: applied january doc theme updates
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/feedback-form.html
  docs/_vendor/modules.txt
  docs/go.mod
  docs/go.sum
Labels: dependencies

#2353 Applies Jan doc theme update to master
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/feedback-form.html
  docs/_vendor/modules.txt
  docs/go.mod
  docs/go.sum
Labels: dependencies

#2352 Applies Jan theme updates to release-2.1 branch
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/feedback-form.html
  docs/_vendor/modules.txt
  docs/go.mod
  docs/go.sum
Labels: dependencies

#2362 Remove UBI 7 and condense WAF/DOS builds
  Makefile
  build/Dockerfile
  docs/content/technical-specifications.md
Labels: documentation, chore

#2363 Add support for s390x on UBI
  .github/workflows/ci.yml
  docs/content/technical-specifications.md
Labels: documentation, chore

#2364 Add default options to tests
  .github/actions/smoke-tests/action.yaml
  tests/pytest.ini
Labels: tests

#2365 Pass patch file to golangci-lint, align with CI
  .golangci.yml
  Makefile
Labels: chore

#2368 Remove note from operator installation doc
  docs/content/installation/installation-with-operator.md
Labels: documentation

#2312 Push Plus images to gcr.io
  .github/workflows/ci.yml
Labels: chore

#2375 Remove push on PRs for Plus, add nightly
  .github/workflows/ci.yml
Labels: chore

#2376 Use fixed variable in CI to use cache
  .github/actions/smoke-tests/action.yaml
  .github/workflows/ci.yml
Labels: chore, skip-changelog

#2381 Update packages for CVE-2021-3995 and CVE-2021-3996
  build/Dockerfile
Labels: dependencies

#2382 Use IC_VERSION only on tags in CI
  .github/workflows/ci.yml
Labels: chore

#2384 docs: Fix typo
  docs/content/installation/installation-with-manifests.md
Labels: bug, documentation

#2385 Use actions/github-script to get data for notifications
  .github/workflows/notifications.yml
Labels: chore

#2395 Hide tutorials section from docs
  docs/content/tutorials/_index.md
  docs/content/tutorials/index.md
Labels: documentation

#2396 Hide tutorials section from live docs
  docs/content/tutorials/_index.md
  docs/content/tutorials/index.md
Labels: documentation

#2394 Fix notification for long commit messages
  .github/workflows/notifications.yml
Labels: bug, chore
