Repository nginx/kubernetes-ingress, pull requests merged in 2022-02, with the labels that each got.

#2403 Add architecture and k8s version to logs
  cmd/nginx-ingress/main.go
Labels: chore

#2413 Update syslog image tag
  examples/appprotect-dos/syslog.yaml
  examples/appprotect-dos/syslog2.yaml
  examples/appprotect/syslog.yaml
  examples/custom-resources/dos/syslog.yaml
  examples/custom-resources/dos/syslog2.yaml
  examples/custom-resources/waf/syslog.yaml
Labels: chore

#2429 chore: applied february doc theme updates
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/archetypes/api.md
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/archetypes/concept.md
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/archetypes/default.md
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/archetypes/openapi.md
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/archetypes/reference.md
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/archetypes/troubleshooting.md
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/archetypes/tutorial.md
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/bootstrap-docs.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/f5-hugo.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/highlight.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/styles.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/shortversions.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/versions.html
  docs/_vendor/modules.txt
  docs/config/_default/config.toml
  docs/go.mod
  docs/go.sum
Labels: documentation, dependencies

#2433 Update packages for CVE-2022-22822
  build/Dockerfile
Labels: dependencies

#2406 Fix notification and add alpine-opentracing
  .github/workflows/ci.yml
  .github/workflows/update-docker-images.yml
Labels: chore

#2431 chore: applied february doc theme updates
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/archetypes/api.md
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/archetypes/concept.md
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/archetypes/default.md
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/archetypes/openapi.md
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/archetypes/reference.md
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/archetypes/troubleshooting.md
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/archetypes/tutorial.md
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/bootstrap-docs.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/f5-hugo.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/highlight.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/styles.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/shortversions.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/versions.html
  docs/_vendor/modules.txt
  docs/config/_default/config.toml
  docs/go.mod
  docs/go.sum
Labels: documentation, dependencies

#2430 chore: applied february doc theme updates
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/archetypes/api.md
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/archetypes/concept.md
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/archetypes/default.md
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/archetypes/openapi.md
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/archetypes/reference.md
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/archetypes/troubleshooting.md
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/archetypes/tutorial.md
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/bootstrap-docs.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/f5-hugo.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/highlight.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/styles.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/shortversions.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/versions.html
  docs/_vendor/modules.txt
  docs/config/_default/config.toml
  docs/go.mod
  docs/go.sum
Labels: documentation, dependencies

#2436 Release 2.1.1
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect-dos/installation-with-helm-dos-arbitrator.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect/configuration.md
  docs/content/app-protect/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
Labels: documentation, chore

#2437 Bump kind to 1.22.5 and 1.23.3
  .github/workflows/ci.yml
Labels: dependencies

#2404 Start nginx with -e stderr parameter
  internal/nginx/manager.go
Labels: bug

#2414 Fix in file nginx-plus.virtualserver.tmpl ApDosMonitor->ApDosMonitorURI
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: bug

#2447 fix: DOCOPS-593 fix 2 broken links
  docs/content/troubleshooting/troubleshooting-with-app-protect-dos.md
Labels: bug, documentation

#2453 Fix CVE-2022-24407
  build/Dockerfile
Labels: bug

#2449 Release 2.1.1 (#2436)
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect-dos/installation-with-helm-dos-arbitrator.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect/configuration.md
  docs/content/app-protect/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
Labels: documentation

#2460 Use Docker cache only in PRs
  .github/workflows/ci.yml
  .github/workflows/update-docker-images.yml
Labels: chore

#2450 Shuffle tests
  Makefile
  hack/test-cover.sh
Labels: tests

#2461 Fix for CVE-2022-24407 in Debian
  build/Dockerfile
Labels: bug
