Repository nginx/kubernetes-ingress, pull requests merged in 2022-06, with the labels that each got.

#2742 Add additional unit tests to confirm special characters can't be used in the lb-method annotation
  internal/k8s/validation_test.go
Labels: enhancement

#2733 Add string validation to server-tokens annotation
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  internal/k8s/validation.go
  internal/k8s/validation_test.go
Labels: enhancement, documentation

#2734 Validate rewrite annotation
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  internal/configs/parsing_helpers.go
  internal/k8s/validation.go
  internal/k8s/validation_test.go
Labels: enhancement, documentation

#2752 Update operator docs for latest release
  docs/content/installation/installation-with-operator.md
Labels: documentation

#2753 Update operator docs for latest release (#2752)
  docs/content/installation/installation-with-operator.md
Labels: documentation

#2741 Use `NGINX_PLUS_VERSION` in the repo for Alpine and UBI
  build/Dockerfile
Labels: chore

#2740 Use Go build info from the binary
  .goreleaser.yml
  Makefile
  build/Dockerfile
  cmd/nginx-ingress/main.go
Labels: chore

#2757 Update packages for CVE-2022-1271 and CVE-2022-1586
  build/Dockerfile
Labels: dependencies

#2751 Add string validation to sticky-cookie-services annotation
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  internal/configs/parsing_helpers.go
  internal/k8s/validation.go
  internal/k8s/validation_test.go
Labels: enhancement, documentation

#2775 Add validation to Ingress path
  internal/k8s/validation.go
  internal/k8s/validation_test.go
Labels: enhancement

#2759 feat: add support for HTTP01 Challenges on VirtualServer resources
  internal/k8s/configuration.go
  internal/k8s/configuration_test.go
  internal/k8s/controller.go
  internal/k8s/utils.go
  internal/k8s/validation.go
Labels: enhancement

#2762 Add external DNS endpoint CRD
  deployments/common/crds/externaldns.nginx.org_dnsendpoints.yaml
  deployments/helm-chart/crds/externaldns.nginx.org_dnsendpoints.yaml
  examples/custom-resources/external-dns/README.md
  examples/custom-resources/external-dns/dnsendpoint.yaml
  examples/custom-resources/external-dns/external-dns-route53.yaml
  go.mod
  go.sum
  hack/update-codegen.sh
  pkg/apis/externaldns/register.go
  pkg/apis/externaldns/v1/doc.go
  pkg/apis/externaldns/v1/register.go
  pkg/apis/externaldns/v1/types.go
  pkg/apis/externaldns/v1/zz_generated.deepcopy.go
  pkg/apis/externaldns/validation/doc.go
  pkg/apis/externaldns/validation/externaldns.go
  pkg/apis/externaldns/validation/externaldns_test.go
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/externaldns/v1/dnsendpoint.go
  pkg/client/clientset/versioned/typed/externaldns/v1/doc.go
  pkg/client/clientset/versioned/typed/externaldns/v1/externaldns_client.go
  pkg/client/clientset/versioned/typed/externaldns/v1/fake/doc.go
  pkg/client/clientset/versioned/typed/externaldns/v1/fake/fake_dnsendpoint.go
  pkg/client/clientset/versioned/typed/externaldns/v1/fake/fake_externaldns_client.go
  pkg/client/clientset/versioned/typed/externaldns/v1/generated_expansion.go
  pkg/client/informers/externalversions/externaldns/interface.go
  pkg/client/informers/externalversions/externaldns/v1/dnsendpoint.go
  pkg/client/informers/externalversions/externaldns/v1/interface.go
  pkg/client/informers/externalversions/factory.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/listers/externaldns/v1/dnsendpoint.go
  pkg/client/listers/externaldns/v1/expansion_generated.go
Labels: enhancement, documentation, dependencies, go

#2782 docs: Add missing doc update
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
Labels: documentation

#2799 Bump NGINX Plus to R27
  Makefile
  build/Dockerfile
  docs/content/technical-specifications.md
Labels: documentation, dependencies

#2801 Add SBOMs to release
  .github/workflows/ci.yml
  .goreleaser.yml
Labels: enhancement

#2803 Record error and continue running tests
  pkg/apis/externaldns/validation/externaldns_test.go
Labels: tests

#2809 Bump cert-manager to 1.8.2
  go.mod
  go.sum
Labels: dependencies

#2810 Automatically close milestone on release
  .goreleaser.yml
Labels: chore
