Repository nginx/kubernetes-ingress, pull requests merged in 2022-05, with the labels that each got.

#2644 Update packages for CVE-2022-22576
  build/Dockerfile
Labels: dependencies

#2624 Fix typo in documentation
  docs/content/configuration/global-configuration/command-line-arguments.md
Labels: bug, documentation

#2656 Update cert-manager
  go.mod
  go.sum
Labels: dependencies

#2657 Use new format for images metadata
  .github/workflows/ci.yml
  .github/workflows/update-docker-images.yml
Labels: chore

#2653 Update OIDC example note for IPv6
  examples/custom-resources/oidc/README.md
Labels: documentation

#2665 Upload Docker images to Quay.io
  .github/workflows/ci.yml
  .github/workflows/release.yaml
  README.md
  hack/minor-changelog-template.txt
Labels: documentation, chore

#2669 Update packages for CVE-2022-27404
  build/Dockerfile
Labels: dependencies

#2663 Update codegen and fix check
  .github/workflows/ci.yml
  pkg/client/clientset/versioned/clientset.go
Labels: bug, chore

#2418 [helm-chart] Add support for allocateLoadBalancerNodePorts, ipFamilyPolicy
  deployments/helm-chart/templates/controller-service.yaml
  deployments/helm-chart/values.yaml
  docs/content/installation/installation-with-helm.md
Labels: enhancement

#2328 Add handling of multiple log destinations
  deployments/common/crds/k8s.nginx.org_policies.yaml
  deployments/helm-chart/crds/k8s.nginx.org_policies.yaml
  docs/content/configuration/policy-resource.md
  examples/custom-resources/waf/waf.yaml
  internal/configs/ingress.go
  internal/configs/version1/templates_test.go
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  internal/k8s/configuration.go
  internal/k8s/controller.go
  internal/k8s/controller_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/v1/zz_generated.deepcopy.go
  pkg/apis/configuration/validation/virtualserver.go
  tests/data/ap-waf/syslog-1.yaml
  tests/suite/ap_resources_utils.py
  tests/suite/test_app_protect_waf_policies.py
Labels: enhancement, documentation

#2645 Correct spelling mistakes
  CHANGELOG.md
  README.md
  deployments/common/crds/appprotectdos.f5.com_dosprotectedresources.yaml
  deployments/helm-chart/crds/appprotectdos.f5.com_dosprotectedresources.yaml
  docs/content/app-protect-dos/configuration.md
  docs/content/configuration/policy-resource.md
  examples/custom-resources/egress-mtls/README.md
  examples/custom-resources/grpc-upstreams/README.md
  examples/custom-resources/ingress-mtls/README.md
  examples/wildcard-tls-certificate/README.md
  hack/repo-changelog-template.txt
  internal/configs/annotations.go
  internal/configs/configurator_test.go
  internal/configs/ingress_test.go
  internal/configs/oidc/oidc.conf
  internal/configs/transportserver_test.go
  internal/configs/version1/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  internal/k8s/appprotect/app_protect_configuration_test.go
  internal/k8s/configuration_test.go
  internal/k8s/controller.go
  internal/k8s/handlers_test.go
  internal/k8s/utils.go
  internal/metrics/collectors/latency.go
  internal/metrics/collectors/processes.go
  internal/nginx/fake_manager.go
  pkg/apis/configuration/validation/transportserver_test.go
  pkg/apis/configuration/validation/virtualserver_test.go
  pkg/apis/dos/v1beta1/types.go
  tests/data/ingress-mtls/policies/ingress-mtls-invalid.yaml
  tests/data/virtual-server-certmanager/certmanager.yaml
  tests/settings.py
  tests/suite/fixtures.py
  tests/suite/resources_utils.py
  tests/suite/test_ac_policies_vsr.py
  tests/suite/test_transport_server.py
Labels: documentation

#2654 Sync changes from OIDC repo, add field in policy
  deployments/common/crds/k8s.nginx.org_policies.yaml
  deployments/helm-chart/crds/k8s.nginx.org_policies.yaml
  docs/content/configuration/policy-resource.md
  internal/configs/oidc/oidc_common.conf
  internal/configs/oidc/openid_connect.js
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/v1/zz_generated.deepcopy.go
  pkg/apis/configuration/validation/policy.go
  pkg/apis/configuration/validation/policy_test.go
Labels: bug, documentation

#2689 docs: Hugo theme May update
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/docs-nginx-com/style.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/f5-hugo.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/_default/docs.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/dimensions.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/icon-bug.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/icon-feature.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/icon-resolved.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/metrics.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/static/images/icons/NGINX-for-Azure-icon.svg
  docs/_vendor/modules.txt
  docs/go.mod
  docs/go.sum
Labels: dependencies

#2686 Release 2.2.1
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart-dos-arbitrator/README.md
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-nsm.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect-dos/installation-with-helm-dos-arbitrator.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect/configuration.md
  docs/content/app-protect/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
Labels: documentation, chore

#2695 Update packages for CVE-2022-1292
  build/Dockerfile
Labels: dependencies

#2697 Update packages for CVE-2022-1292
  build/Dockerfile
Labels: dependencies

#2690 docs: Hugo theme May update (cherrypick)
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/docs-nginx-com/style.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/f5-hugo.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/_default/docs.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/dimensions.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/icon-bug.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/icon-feature.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/icon-resolved.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/metrics.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/static/images/icons/NGINX-for-Azure-icon.svg
  docs/_vendor/modules.txt
  docs/go.mod
  docs/go.sum
Labels: dependencies

#2699 docs: Hugo theme May update - CP
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/docs-nginx-com/style.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/assets/css/f5-hugo.css
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/_default/docs.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/dimensions.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/icon-bug.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/icon-feature.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/icon-resolved.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/shortcodes/metrics.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/static/images/icons/NGINX-for-Azure-icon.svg
  docs/_vendor/modules.txt
  docs/go.mod
  docs/go.sum
Labels: dependencies

#2711 Release 2.2.2
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart-dos-arbitrator/README.md
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-nsm.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect-dos/installation-with-helm-dos-arbitrator.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect/configuration.md
  docs/content/app-protect/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
  hack/common-release-prep.sh
Labels: documentation, chore

#2714 Update packages for CVE-2022-29155 and CVE-2022-29824
  build/Dockerfile
Labels: dependencies

#2715 Don't run some workflows on forks
  .github/sync.yml
  .github/workflows/dockerhub-description.yml
  .github/workflows/fossa.yml
  .github/workflows/notifications.yml
  .github/workflows/sync.yml
Labels: chore

#2718 Fix cases where CM enabled but no TLS block specified in VS
  internal/certmanager/sync.go
  internal/certmanager/sync_test.go
  tests/data/virtual-server-certmanager/tls-secret.yaml
  tests/data/virtual-server-certmanager/virtual-server-no-cm.yaml
  tests/data/virtual-server-certmanager/virtual-server-no-tls.yaml
  tests/suite/test_virtual_server_certmanager.py
Labels: bug

#2722 Fix CVE-2022-1664
  build/Dockerfile
Labels: bug

#2625 allow configuring topologySpreadConstraints in Helm chart
  deployments/helm-chart/README.md
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/values.yaml
Labels: enhancement

#2720 Release 2.2.2 to main
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart-dos-arbitrator/README.md
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-nsm.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect-dos/installation-with-helm-dos-arbitrator.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect/configuration.md
  docs/content/app-protect/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
  go.mod
  go.sum
  hack/common-release-prep.sh
  tests/docker/Dockerfile
Labels: documentation, dependencies, chore
