Repository nginx/kubernetes-ingress, pull requests merged in 2022-10, with the labels that each got.

#3122 Update helm rbac template for watch-ns
  deployments/helm-chart/templates/rbac.yaml
Labels: bug

#3124 Announce release in Community Slack
  .github/workflows/ci.yml
  .goreleaser.yml
Labels: chore

#3123 Upload Release artifacts to Azure
  .github/workflows/ci.yml
  .goreleaser.yml
Labels: chore

#3125 Don't use `latest` tag for AWS images
  .github/workflows/ci.yml
Labels: chore

#3109 Release 2.4.0
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart-dos-arbitrator/Chart.yaml
  deployments/helm-chart-dos-arbitrator/README.md
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-nsm.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect-dos/installation-with-helm-dos-arbitrator.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect-waf/configuration.md
  docs/content/app-protect-waf/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
Labels: documentation

#3126 docs: Release note fix
  deployments/helm-chart/README.md
  docs/content/installation/installation-with-helm.md
  docs/content/intro/how-nginx-ingress-controller-works.md
  docs/content/releases.md
Labels: documentation

#3113 Add JSON Schema for Helm Chart
  deployments/helm-chart/values.schema.json
  deployments/helm-chart/values.yaml
Labels: enhancement

#3141 Re-order and adjust custom resource headings for installation via manifest
  docs/content/installation/installation-with-manifests.md
Labels: documentation

#3110 Add make target for running staticcheck locally
  Makefile
Labels: chore

#3132 Add OpenSSF Scorecard Github Action and Badge
  .github/workflows/scorecards.yml
  README.md
Labels: documentation, chore

#3136 Add controller.dnsPolicy to the helm chart
  deployments/helm-chart/README.md
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/values.yaml
Labels: documentation

#3139 Remove all IPV6 listeners in ingress resources with -disable-ipv6 command line
  internal/configs/ingress.go
  internal/configs/ingress_test.go
  internal/configs/version1/config.go
  tests/suite/resources_utils.py
  tests/suite/test_disable_ipv6.py
Labels: bug, tests

#3131 Push NAP DoS image to AWS Marketplace
  .github/workflows/ci.yml
  .goreleaser.yml
  build/Dockerfile
Labels: chore

#3162 Restore pushing `edge` for Plus images
  .github/workflows/ci.yml
Labels: chore

#3153 Update golang.org/x/text for CVE-2022-32149
  go.mod
  go.sum
Labels: dependencies

#3151 Add CODEOWNERS
  CODEOWNERS
Labels: chore

#3163 Run CI for docs changes
  .github/workflows/ci.yml
Labels: chore

#3175 Update Go dependencies - 2.4
  go.mod
  go.sum
Labels: dependencies

#3176 Update packages for CVEs - 2.4
  build/Dockerfile
Labels: dependencies

#3180 Chery Pick #3139 #3157
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  internal/configs/ingress.go
  internal/configs/ingress_test.go
  internal/configs/version1/config.go
  tests/suite/resources_utils.py
  tests/suite/test_disable_ipv6.py
Labels: documentation, tests

#3177 Add CODEOWNERS - 2.4
  CODEOWNERS
Labels: chore

#3184 Release 2.4.1
  .goreleaser.yml
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart-dos-arbitrator/Chart.yaml
  deployments/helm-chart-dos-arbitrator/README.md
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-nsm.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect-dos/installation-with-helm-dos-arbitrator.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect-waf/configuration.md
  docs/content/app-protect-waf/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
Labels: documentation

#3181 chore: Update cert-manager to latest
  go.mod
  go.sum
Labels: dependencies

#3193 Docs: fix proxy protocol link
  docs/content/configuration/global-configuration/configmap-resource.md
Labels: documentation

#3192 Fix helm version in docs
  docs/content/technical-specifications.md
Labels: documentation

#3143 Add annotations for deployment and daemonset
  deployments/helm-chart/README.md
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/values.yaml
Labels: enhancement, documentation

#3065 Helm Chart: Add annotations to the service account in the Helm chart
  deployments/helm-chart/README.md
  deployments/helm-chart/templates/controller-serviceaccount.yaml
  deployments/helm-chart/values.yaml
Labels: documentation

#3189 Update test action
  .github/actions/smoke-tests/action.yaml
Labels: chore

#3211 fix: fix 2 broken links
  docs/content/installation/using-the-jwt-token-docker-secret.md
Labels: documentation
