Repository nginx/kubernetes-ingress, pull requests merged in 2022-07, with the labels that each got.

#2811 docs: Create real examples for basic auth
  examples/basic-auth/README.md
  examples/basic-auth/cafe-ingress.yaml
  examples/basic-auth/cafe-passwd.yaml
  examples/basic-auth/cafe-secret.yaml
  examples/basic-auth/cafe.yaml
  examples/custom-resources/basic-auth/README.md
  examples/custom-resources/basic-auth/basic-auth-policy.yaml
  examples/custom-resources/basic-auth/cafe-passwd.yaml
  examples/custom-resources/basic-auth/cafe-secret.yaml
  examples/custom-resources/basic-auth/cafe-virtual-server.yaml
  examples/custom-resources/basic-auth/cafe.yaml
Labels: documentation

#2825 Update readme
  examples/custom-resources/external-dns/README.md
Labels: documentation

#2834 Fix the latest CVES
  build/Dockerfile
Labels: bug

#2835 Fix the docs for nginxReloadTimeout cli arg
  docs/content/configuration/global-configuration/command-line-arguments.md
  docs/content/installation/installation-with-helm.md
Labels: documentation

#2838 Update images versions
  docs/content/technical-specifications.md
Labels: documentation

#2837 Remove OpenTracing images in Updater
  .github/workflows/update-docker-images.yml
Labels: chore

#2846 Update path for CRD generation to include all
  Makefile
  deployments/common/crds/appprotectdos.f5.com_dosprotectedresources.yaml
  deployments/common/crds/externaldns.nginx.org_dnsendpoints.yaml
  deployments/helm-chart/crds/appprotectdos.f5.com_dosprotectedresources.yaml
  deployments/helm-chart/crds/externaldns.nginx.org_dnsendpoints.yaml
Labels: chore

#2844 Merge `release-2.3` to `main`
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart-dos-arbitrator/Chart.yaml
  deployments/helm-chart-dos-arbitrator/README.md
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-nsm.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect-dos/installation-with-helm-dos-arbitrator.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect/configuration.md
  docs/content/app-protect/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
Labels: documentation

#2848 fix: Change alpine version grab to include a colon in the updater
  .github/workflows/update-docker-images.yml
Labels: bug

#2842 Bump kind 1.21 and 1.22, add 1.23
  .github/workflows/ci.yml
Labels: chore

#2868 fix: fix 2 broken links to NAP and NAP DoS docs
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect/configuration.md
Labels: bug, documentation

#2869 fix: fix 2 broken links to NAP and NAP DoS docs
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect/configuration.md
Labels: bug, documentation

#2874 Allow multiple markers in tests
  .github/actions/smoke-tests/action.yaml
Labels: tests

#2878 Update Go lib for CVE-2022-29526
  go.mod
  go.sum
Labels: dependencies, chore

#2831 Add ServiceMonitor to Helm Chart
  deployments/helm-chart/README.md
  deployments/helm-chart/templates/_helpers.tpl
  deployments/helm-chart/templates/controller-servicemonitor.yaml
  deployments/helm-chart/values.yaml
Labels: enhancement

#2884 Feature/flag include year
  cmd/nginx-ingress/flags.go
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/values.yaml
  docs/content/configuration/global-configuration/command-line-arguments.md
  docs/content/installation/installation-with-helm.md
  go.mod
  go.sum
Labels: enhancement, documentation, dependencies

#2891 Remove multiple markers from tests
  .github/workflows/update-docker-images.yml
Labels: chore
