Repository nginx/kubernetes-ingress, pull requests merged in 2022-12, with the labels that each got.

#3261 Deep service insight endpoint
  cmd/nginx-ingress/flags.go
  cmd/nginx-ingress/main.go
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/values.schema.json
  deployments/helm-chart/values.yaml
  docs/content/configuration/global-configuration/command-line-arguments.md
  docs/content/installation/installation-with-helm.md
  docs/content/logging-and-monitoring/service-insight.md
  go.mod
  go.sum
  internal/configs/configurator.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  internal/healthcheck/healthcheck.go
  internal/healthcheck/healthcheck_test.go
  tests/data/common/service/loadbalancer-with-additional-ports.yaml
  tests/data/common/service/nodeport-with-additional-ports.yaml
  tests/data/service-insight/app.yaml
  tests/data/service-insight/secret.yaml
  tests/suite/fixtures/fixtures.py
  tests/suite/test_virtual_server_service_insight.py
  tests/suite/utils/resources_utils.py
Labels: enhancement, documentation, dependencies, tests, helm_chart

#3305 Add hashes to python deps
  tests/docker/Dockerfile
  tests/docker/gitlab.Dockerfile
  tests/requirements.txt
Labels: chore, tests

#3340 Fix conditions for Docker build and cache name
  .github/workflows/update-docker-images.yml
Labels: chore

#3341 Set value of `$remote_addr` to client IP when TLSPassthrough and Proxy Protocol are enabled
  examples/shared-examples/proxy-protocol/README.md
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.tmpl
Labels: documentation

#3348 Restore versioned repo
  build/Dockerfile
Labels: chore

#3363 Update GitLab branch
  .gitlab-ci.yml
Labels: chore

#3359 Add k8s 1.25 to the nightly matrix
  .github/workflows/ci.yml
Labels: chore

#3384 Update packages and dependencies for CVEs
  build/Dockerfile
  go.mod
  go.sum
Labels: dependencies, chore

#3376 NSM OSS integration
  cmd/nginx-ingress/flags.go
  deployments/helm-chart/values-nsm.yaml
  deployments/helm-chart/values.yaml
  docs/content/configuration/global-configuration/command-line-arguments.md
Labels: documentation, helm_chart
