Repository nginx/kubernetes-ingress, pull requests merged in 2022-09, with the labels that each got.

#2984 remove repeat test and add wait_and_assert
  .github/actions/smoke-tests/action.yaml
  tests/suite/test_app_protect_integration.py
  tests/suite/test_app_protect_waf_policies.py
  tests/suite/test_smoke.py
  tests/suite/test_v_s_route_upstream_tls.py
  tests/suite/test_virtual_server.py
  tests/suite/test_virtual_server_certmanager.py
  tests/suite/test_virtual_server_dos.py
  tests/suite/test_virtual_server_focused_canary.py
  tests/suite/test_virtual_server_mixed_grpc.py
  tests/suite/test_virtual_server_upstream_tls.py
  tests/suite/test_virtual_server_validation.py
  tests/suite/test_virtual_server_wildcard.py
  tests/suite/test_wildcard_tls_secret.py
Labels: tests

#2993 Accept proxy protocol when TLS passthrough enabled
  cmd/nginx-ingress/main.go
  docs/content/configuration/transportserver-resource.md
  internal/configs/configmaps.go
  internal/configs/configmaps_test.go
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.tmpl
  internal/k8s/controller.go
  tests/data/transport-server-tls-passthrough/nginx-config.yaml
  tests/suite/resources_utils.py
  tests/suite/test_ts_tls_passthrough.py
Labels: enhancement, documentation

#2997 Remove workaround for Dependabot
  build/Dockerfile
Labels: chore

#3013 Fix typo in anchor link
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
Labels: documentation

#3018 Remove duplicate print for k8s version, use right check for args
  cmd/nginx-ingress/flags.go
  internal/k8s/utils.go
Labels: chore

#3023 Add docs for NAP DoS images
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect-waf/installation.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/technical-specifications.md
Labels: documentation

#3022 Fix docs label name, remove test for unit tests
  .github/labeler.yml
Labels: chore

#3020 docs: Fix typo in anchor link (#3013)
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
Labels: documentation

#3030 Update kind versions in nightly
  .github/workflows/ci.yml
Labels: chore

#2979 Allow to specify image with digest in helm chart
  deployments/helm-chart/README.md
  deployments/helm-chart/templates/_helpers.tpl
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/values.yaml
  docs/content/installation/installation-with-helm.md
Labels: documentation

#3031 adding automountServiceAccountToken to helm chart
  deployments/common/ns-and-sa.yaml
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
Labels: enhancement

#3046 Cherry pick #3031
  deployments/common/ns-and-sa.yaml
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
Labels: chore

#3051 Add labeler to release-2.3
  .github/labeler.yml
  .github/release-drafter.yml
  .github/release.yml
  .github/workflows/labeler.yml
  .github/workflows/release-drafter-pr.yml
Labels: chore

#3049 Bump Go deps
  go.mod
  go.sum
Labels: dependencies

#3048 Bump NGINX to 1.23.1
  build/Dockerfile
Labels: dependencies

#3050 Add docs for NAP DoS images
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect/installation.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/technical-specifications.md
Labels: documentation

#3047 Release 2.3.1
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart-dos-arbitrator/README.md
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-nsm.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect-dos/installation-with-helm-dos-arbitrator.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect/configuration.md
  docs/content/app-protect/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
Labels: documentation

#2971 fix: Correct error message on missing path in path validation
  docs/content/configuration/ingress-resources/basic-configuration.md
  internal/k8s/validation.go
Labels: bug, documentation

#3005 Add lifecycle for controller container to helm chart
  deployments/helm-chart/README.md
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/values.yaml
  docs/content/installation/installation-with-helm.md
Labels: documentation

#3063 Update dependencies for CVEs
  build/Dockerfile
  go.mod
  go.sum
Labels: dependencies

#3064 Add Helm test for Plus
  .github/actions/smoke-tests/action.yaml
  .github/workflows/ci.yml
  tests/ci-files/helm-http-test.sh
Labels: chore, tests

#2996 Dos tests
  tests/suite/dos_utils.py
  tests/suite/test_dos.py
  tests/suite/test_virtual_server_dos.py
Labels: tests

#3066 Fix secrets formatting in workflow
  .github/actions/smoke-tests/action.yaml
  .github/workflows/ci.yml
Labels: chore

#3072 Change timeout for attack ended
  tests/suite/test_dos.py
  tests/suite/test_virtual_server_dos.py
Labels: tests

#3003 Add customConfigMap to helm charts
  deployments/helm-chart/README.md
  deployments/helm-chart/templates/_helpers.tpl
  deployments/helm-chart/values.yaml
  docs/content/installation/installation-with-helm.md
Labels: documentation

#3084 Merge branch 'release-2.3' into main
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart-dos-arbitrator/README.md
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-nsm.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect-dos/installation-with-helm-dos-arbitrator.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect-waf/configuration.md
  docs/content/app-protect-waf/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
  go.mod
  go.sum
Labels: documentation, dependencies

#3085 Update release prep script
  hack/common-release-prep.sh
Labels: chore

#3082 Update containers in examples and tests
  examples/custom-resources/app-protect-dos/syslog.yaml
  examples/custom-resources/app-protect-dos/syslog2.yaml
  examples/custom-resources/app-protect-waf/syslog.yaml
  examples/custom-resources/basic-tcp-udp/dns.yaml
  examples/custom-resources/external-dns/external-dns-route53.yaml
  examples/ingress-resources/app-protect-dos/syslog.yaml
  examples/ingress-resources/app-protect-dos/syslog2.yaml
  examples/ingress-resources/app-protect-waf/syslog.yaml
  examples/ingress-resources/tcp-udp/dns.yaml
  tests/data/ap-waf-grpc/syslog.yaml
  tests/data/ap-waf/syslog-1.yaml
  tests/data/ap-waf/syslog.yaml
  tests/data/appprotect/syslog.yaml
  tests/data/appprotect/syslog2.yaml
  tests/data/dos/dos-syslog.yaml
  tests/data/transport-server-status/standard/service_deployment.yaml
  tests/data/virtual-server-certmanager/certmanager.yaml
  tests/data/virtual-server-dos/syslog.yaml
  tests/data/virtual-server-external-dns/external-dns.yaml
Labels: dependencies, tests

#3091 Add `helloworld.proto` and re-generate files
  pyproject.toml
  tests/docker/Dockerfile
  tests/pytest.ini
  tests/suite/__init__.py
  tests/suite/grpc/README.md
  tests/suite/grpc/helloworld.proto
  tests/suite/grpc/helloworld_pb2.py
  tests/suite/grpc/helloworld_pb2_grpc.py
Labels: documentation, tests

#3083 Update Helm Chart apiVersion to v2
  deployments/helm-chart/Chart.yaml
Labels: chore

#3029 Remove deprecated kubernetes.io/ingress.class from examples
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  examples/ingress-resources/app-protect-waf/cafe-ingress.yaml
  examples/ingress-resources/basic-auth/README.md
  examples/ingress-resources/custom-annotations/README.md
  examples/ingress-resources/externalname-services/README.md
  examples/ingress-resources/grpc-services/README.md
  examples/ingress-resources/health-checks/README.md
  examples/ingress-resources/jwt/README.md
  examples/ingress-resources/mergeable-ingress-types/cafe-master.yaml
  examples/ingress-resources/mergeable-ingress-types/coffee-minion.yaml
  examples/ingress-resources/mergeable-ingress-types/tea-minion.yaml
  examples/shared-examples/wildcard-tls-certificate/README.md
Labels: documentation, chore

#3087 chore: Allow omitting the default server secret from Helm installs
  deployments/helm-chart/README.md
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/templates/controller-secret.yaml
  deployments/helm-chart/values.yaml
  docs/content/installation/installation-with-helm.md
Labels: documentation, chore

#3088 Feat/ignore helm secrets
  internal/k8s/controller.go
  tests/data/filter-secrets/filtered-secret-1.yaml
  tests/data/filter-secrets/filtered-secret-2.yaml
  tests/data/filter-secrets/nginx-ingress-secret.yaml
  tests/suite/test_filter_secrets.py
Labels: enhancement, tests

#3041 Feat/transport server external name
  docs/content/configuration/transportserver-resource.md
  examples/custom-resources/externalname-services/transport-server/README.md
  examples/custom-resources/externalname-services/transport-server/externalname-svc.yaml
  examples/custom-resources/externalname-services/transport-server/nginx-config.yaml
  examples/custom-resources/externalname-services/transport-server/secure-app-external.yaml
  internal/configs/configurator.go
  internal/configs/transportserver.go
  internal/configs/transportserver_test.go
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version2/nginx-plus.transportserver.tmpl
  internal/configs/version2/stream.go
  internal/configs/version2/templates_test.go
  internal/k8s/controller.go
  tests/data/transport-server-externalname/external-svc-deployment.yaml
  tests/data/transport-server-externalname/externalname-svc.yaml
  tests/data/transport-server-externalname/nginx-config.yaml
  tests/data/transport-server-externalname/standard/global-configuration.yaml
  tests/data/transport-server-externalname/standard/service_deployment.yaml
  tests/data/transport-server-externalname/standard/transport-server.yaml
  tests/suite/test_transport_server_external_name.py
Labels: enhancement, documentation, tests

#3096 Change AppProtect warning message
  tests/suite/test_app_protect_integration.py
  tests/suite/test_app_protect_waf_policies.py
Labels: tests

#3104 Eliminate dead code
  internal/configs/annotations.go
  internal/configs/configmaps.go
  internal/configs/parsing_helpers.go
  internal/configs/parsing_helpers_test.go
Labels: chore

#3102 Add `ARCH` in Makefile, make Dockerfile more compatible with podman
  Makefile
  build/Dockerfile
  build/README.md
  docs/content/installation/building-ingress-controller-image.md
Labels: documentation, chore

#3094 Optimise path validation
  internal/k8s/validation.go
  internal/k8s/validation_test.go
  pkg/apis/configuration/validation/virtualserver_test.go
Labels: bug

#2991 Apdoslogconf will warning case format is not splunk
  deployments/common/crds/appprotectdos.f5.com_apdoslogconfs.yaml
  deployments/helm-chart/crds/appprotectdos.f5.com_apdoslogconfs.yaml
  docs/content/app-protect-dos/configuration.md
  examples/custom-resources/app-protect-dos/apdos-logconf.yaml
  examples/ingress-resources/app-protect-dos/apdos-logconf.yaml
  internal/k8s/appprotectdos/app_protect_dos_configuration.go
  internal/k8s/appprotectdos/app_protect_dos_configuration_test.go
  internal/k8s/controller.go
  pkg/apis/dos/validation/dos.go
  pkg/apis/dos/validation/dos_test.go
  tests/data/dos/dos-logconf.yaml
  tests/data/virtual-server-dos/dos-logconf.yaml
Labels: documentation, tests

#3116 add canary header and update ap waf log pod
  tests/data/ap-waf/syslog2.yaml
  tests/suite/test_app_protect_integration.py
  tests/suite/test_app_protect_waf_policies.py
  tests/suite/test_virtual_server_focused_canary.py
Labels: tests

#3112 Pass Git info to Docker
  .dockerignore
  build/Dockerfile
Labels: chore
