Repository nginx/kubernetes-ingress, pull requests merged in 2023-10, with the labels that each got.

#4449 Update operator docs for ingressClass
  docs/content/installation/installation-with-operator.md
Labels: documentation

#4461 Use httptest server for running healthcheck tests
  internal/healthcheck/healthcheck_test.go
Labels: tests

#4458 Update Operator doc
  docs/content/installation/installation-with-operator.md
Labels: documentation

#4459 Update Operator doc
  docs/content/installation/installation-with-operator.md
Labels: documentation

#4465 Use regexp2 pkg for path validation
  go.mod
  go.sum
  internal/k8s/validation.go
  internal/k8s/validation_test.go
  pkg/apis/configuration/validation/virtualserver.go
  pkg/apis/configuration/validation/virtualserver_test.go
Labels: dependencies, chore

#4474 Update helm readme and docs
  charts/nginx-ingress/README.md
  docs/content/installation/installation-with-helm.md
Labels: documentation, helm_chart

#4472 Issue 4471: Update README linking to correct complete example
  examples/custom-resources/basic-configuration/README.md
Labels: documentation

#4476 Update helm readme and website docs
  deployments/helm-chart/README.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-operator.md
Labels: documentation, helm_chart

#4481 fix: link fix
  docs/content/installation/integrations/app-protect-dos/configuration.md
  docs/content/overview/design.md
Labels: documentation

#4489 Doc 259 rewrite manifests
  docs/content/configuration/global-configuration/command-line-arguments.md
  docs/content/includes/index.md
  docs/content/includes/installation/create-common-resources.md
  docs/content/includes/installation/manifests/daemonset.md
  docs/content/includes/installation/manifests/deployment.md
  docs/content/includes/installation/manifests/verify-pods-are-running.md
  docs/content/includes/rbac/set-up-rbac.md
  docs/content/installation/building-nginx-ingress-controller.md
  docs/content/installation/installing-nic/installation-with-manifests.md
  docs/content/installation/integrations/app-protect-dos/installation.md
  docs/content/installation/integrations/app-protect-waf/installation.md
  docs/content/installation/nic-images/pulling-ingress-controller-image.md
  docs/content/installation/nic-images/using-the-jwt-token-docker-secret.md
  docs/content/releases.md
Labels: documentation

#4492 Update gc doc with vs listeners
  docs/content/configuration/global-configuration/globalconfiguration-resource.md
Labels: documentation

#4391 Add HPA Custom Behavior
  charts/nginx-ingress/README.md
  charts/nginx-ingress/templates/controller-hpa.yaml
  charts/nginx-ingress/values.yaml
Labels: documentation, helm_chart

#4498 Revert "Update gc doc with vs listeners (#4492)"
  docs/content/configuration/global-configuration/globalconfiguration-resource.md
Labels: documentation

#4497 Bump Go to 1.21.3
  go.mod
Labels: dependencies, chore

#4501 Bump Go to 1.21.3 (#4497)
  go.mod
Labels: dependencies

#4502 Bump Go dependencies
  go.mod
  go.sum
Labels: dependencies

#4500 Update python version and test
  tests/Dockerfile
  tests/suite/test_transport_server_tcp_load_balance.py
Labels: tests

#4464 Allow `default_server` listeners to be customised
  charts/nginx-ingress/README.md
  charts/nginx-ingress/templates/controller-daemonset.yaml
  charts/nginx-ingress/templates/controller-deployment.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  cmd/nginx-ingress/flags.go
  cmd/nginx-ingress/main.go
  docs/content/configuration/global-configuration/command-line-arguments.md
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.tmpl
  internal/configs/version1/template_test.go
  tests/suite/test_default_server.py
Labels: enhancement, documentation, tests, helm_chart

#4507 Update gc doc with vs listeners
  docs/content/configuration/global-configuration/globalconfiguration-resource.md
Labels: documentation

#4409 implement issuance of temporary certificate when using VirtualServer cert-manager integration
  deployments/common/crds/k8s.nginx.org_virtualservers.yaml
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  internal/certmanager/helper.go
  internal/certmanager/helper_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/v1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/doc.go
  pkg/client/informers/externalversions/factory.go
Labels: documentation, backlog

#4513 Bump Go dependencies
  go.mod
  go.sum
Labels: dependencies

#4514 Bump golang.org/x/net to 0.17.0
  go.mod
  go.sum
Labels: dependencies

#4505 Add Ingress-NGINX Controller migration document
  docs/content/glossary.md
  docs/content/installation/_index.md
  docs/content/installation/ingress-nginx.md
  docs/content/installation/installing-nic/installation-with-helm.md
  docs/content/installation/migration/_index.md
  docs/content/overview/controller-comparison.md
  docs/content/overview/design.md
  docs/content/releases.md
  docs/content/technical-specifications.md
Labels: documentation

#4516 Update packages for CVEs
  build/Dockerfile
Labels: dependencies

#4517 Update packages for CVEs (#4516)
  build/Dockerfile
Labels: dependencies

#4518 Update NAP build step (#4429)
  .github/workflows/ci.yml
Labels: chore

#4515 Release 3.3.1
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect-waf/configuration.md
  docs/content/app-protect-waf/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
  docs/content/tutorials/oidc-custom-configuration.md
Labels: documentation, helm_chart

#4522 Fix Operator version
  docs/content/technical-specifications.md
Labels: documentation

#4524 Update docs for 3.3.1
  .markdownlint-cli2.yaml
  README.md
  charts/nginx-ingress/Chart.yaml
  charts/nginx-ingress/README.md
  charts/nginx-ingress/values-icp.yaml
  charts/nginx-ingress/values-plus.yaml
  charts/nginx-ingress/values.yaml
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect-waf/configuration.md
  docs/content/app-protect-waf/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
  docs/content/tutorials/oidc-custom-configuration.md
Labels: documentation, helm_chart

#4428 Add single CRDs files
  .github/workflows/ci.yml
  Makefile
  charts/nginx-ingress/crds
  config/crd/app-protect-dos/kustomization.yaml
  config/crd/app-protect-waf/kustomization.yaml
  config/crd/bases/appprotect.f5.com_aplogconfs.yaml
  config/crd/bases/appprotect.f5.com_appolicies.yaml
  config/crd/bases/appprotect.f5.com_apusersigs.yaml
  config/crd/bases/appprotectdos.f5.com_apdoslogconfs.yaml
  config/crd/bases/appprotectdos.f5.com_apdospolicy.yaml
  config/crd/bases/appprotectdos.f5.com_dosprotectedresources.yaml
  config/crd/bases/externaldns.nginx.org_dnsendpoints.yaml
  config/crd/bases/k8s.nginx.org_globalconfigurations.yaml
  config/crd/bases/k8s.nginx.org_policies.yaml
  config/crd/bases/k8s.nginx.org_transportservers.yaml
  config/crd/bases/k8s.nginx.org_virtualserverroutes.yaml
  config/crd/bases/k8s.nginx.org_virtualservers.yaml
  config/crd/kustomization.yaml
  deploy/crds-nap-dos.yaml
  deploy/crds-nap-waf.yaml
  deploy/crds.yaml
  deployments/common/crds/appprotectdos.f5.com_dosprotectedresources.yaml
  deployments/common/crds/externaldns.nginx.org_dnsendpoints.yaml
  deployments/common/crds/k8s.nginx.org_globalconfigurations.yaml
  deployments/common/crds/k8s.nginx.org_policies.yaml
  deployments/common/crds/k8s.nginx.org_transportservers.yaml
  deployments/common/crds/k8s.nginx.org_virtualserverroutes.yaml
  deployments/common/crds/k8s.nginx.org_virtualservers.yaml
  examples/custom-resources/external-dns/README.md
  tests/Dockerfile
  tests/settings.py
  tests/suite/fixtures/fixtures.py
  tests/suite/fixtures/ic_fixtures.py
  tests/suite/test_app_protect_integration.py
  tests/suite/test_virtual_server.py
Labels: documentation, chore, tests, helm_chart

#4526 Update use of http2 listen directive to align with deprecation
  internal/configs/version1/nginx-plus.ingress.tmpl
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.ingress.tmpl
  internal/configs/version1/nginx.tmpl
  internal/configs/version1/template_test.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  tests/suite/test_virtual_server_configmap_keys.py
Labels: enhancement, tests

#4534 chore: rewrite f5-ingresslink doc
  docs/content/installation/integrations/f5-ingresslink.md
Labels: documentation

#4542 update documentation for -ingress-class
  docs/content/configuration/global-configuration/command-line-arguments.md
Labels: documentation

#4549 update documentation for -ingress-class
  docs/content/configuration/global-configuration/command-line-arguments.md
Labels: documentation

#4276 Use Lease for leader election
  charts/nginx-ingress/templates/clusterrole.yaml
  charts/nginx-ingress/templates/clusterrolebiding.yaml
  charts/nginx-ingress/templates/controller-role.yaml
  charts/nginx-ingress/templates/controller-rolebiding.yaml
  charts/nginx-ingress/values.yaml
  internal/k8s/leader.go
Labels: enhancement, helm_chart

#4539 Update k8s versions in nightly
  .github/workflows/ci.yml
Labels: chore

#4571 Bump opentelemtery
  go.mod
  go.sum
Labels: dependencies

#4572 Bump nginx from 1.25.2 to 1.25.3
  build/Dockerfile
Labels: dependencies

#4569 Bump Go dependencies
  go.mod
  go.sum
Labels: dependencies

#4575 update dockerfile for debian N+
  build/Dockerfile
Labels: bug

#4586 update example certs for grpc tests
  tests/data/ap-waf-grpc/tls-secret.yaml
  tests/data/virtual-server-grpc-mixed/tls-secret.yaml
  tests/data/virtual-server-grpc/tls-secret.yaml
Labels: tests
