Repository nginx/kubernetes-ingress, pull requests merged in 2023-07, with the labels that each got.

#3983 Check for ready endpoints
  internal/k8s/controller.go
  internal/k8s/controller_test.go
Labels: change, tests

#4072 Remove obsolete test placeholder
  internal/k8s/controller_test.go
Labels: tests

#3346 Small Update to troubleshooting document
  docs/content/troubleshooting/troubleshoot-common.md
  docs/content/troubleshooting/troubleshoot-configmap-policy.md
  docs/content/troubleshooting/troubleshoot-ingress-controller.md
  docs/content/troubleshooting/troubleshoot-ingress.md
  docs/content/troubleshooting/troubleshoot-transportserver.md
  docs/content/troubleshooting/troubleshoot-virtualserver.md
  docs/content/troubleshooting/troubleshooting-app-protect-dos.md
  docs/content/troubleshooting/troubleshooting-app-protect-waf.md
Labels: documentation

#4078 Cherry-pick troubleshooting documentation from main branch
  docs/content/troubleshooting/troubleshoot-common.md
  docs/content/troubleshooting/troubleshoot-configmap-policy.md
  docs/content/troubleshooting/troubleshoot-ingress-controller.md
  docs/content/troubleshooting/troubleshoot-ingress.md
  docs/content/troubleshooting/troubleshoot-transportserver.md
  docs/content/troubleshooting/troubleshoot-virtualserver.md
  docs/content/troubleshooting/troubleshooting-app-protect-dos.md
  docs/content/troubleshooting/troubleshooting-app-protect-waf.md
Labels: documentation

#4079 Strip trailing whitespace from TARGET variable
  Makefile
Labels: bug

#4071 Remove Operator note
  docs/content/installation/installation-with-operator.md
Labels: documentation

#4080 Expose Location Zones metrics
  docs/content/logging-and-monitoring/prometheus.md
  internal/configs/version1/nginx-plus.ingress.tmpl
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: enhancement, documentation

#4066 Update manifest installation guide, fix theme highlighting & spec table
  docs/config/_default/config.toml
  docs/content/installation/installation-with-manifests.md
  docs/content/technical-specifications.md
  docs/go.sum
Labels: documentation

#4085 Update library paths and requirements file
  perf-tests/README.md
  perf-tests/conftest.py
  perf-tests/requirements.txt
  perf-tests/suite/test_ap_reload_perf.py
Labels: documentation

#4090 Update installation-with-manifests.md
  docs/content/installation/installation-with-manifests.md
Labels: documentation

#4098 disable ap-waf tests
  .github/workflows/ci.yml
Labels: tests

#4093 Add explicit note to that docs apply to latest release
  README.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
Labels: documentation

#4113 Add docs dependency to dependabot config
  .github/dependabot.yml
Labels: chore

#4105 Update dependabot config after refactor
  .github/dependabot.yml
Labels: chore

#4112 Add strip to all Makefile variables
  Makefile
Labels: chore

#4070 Check if API is available in Helm Chart
  deployments/helm-chart/templates/controller-hpa.yaml
Labels: chore, helm_chart

#4135 NGINX Ingress with Linkerd virtualserver example
  docs/content/tutorials/nginx-ingress-linkerd.md
Labels: documentation

#4134 Add permissions to all workflows
  .github/workflows/build-oss.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/dockerhub-description.yml
  .github/workflows/fossa.yml
  .github/workflows/issues.yaml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/notifications.yml
  .github/workflows/stale.yml
  .github/workflows/sync.yml
  .github/workflows/update-docker-images.yml
  .github/workflows/updates-notification.yml
Labels: chore

#4145 Fix permissions in Helm job and Docker update
  .github/workflows/ci.yml
  .github/workflows/update-docker-images.yml
Labels: chore

#4146 Move configs to central repo
  .github/dependency-review-config.yml
  .github/labels.yml
  .github/workflows/dependency-review.yml
  .github/workflows/sync.yml
Labels: chore

#4136 Bump balabit/syslog-ng and coredns/coredns
  examples/custom-resources/app-protect-dos/syslog.yaml
  examples/custom-resources/app-protect-dos/syslog2.yaml
  examples/custom-resources/app-protect-waf/syslog.yaml
  examples/ingress-resources/app-protect-dos/syslog.yaml
  examples/ingress-resources/app-protect-dos/syslog2.yaml
  examples/ingress-resources/app-protect-waf/syslog.yaml
  tests/data/ap-waf-grpc/syslog.yaml
  tests/data/ap-waf/syslog.yaml
  tests/data/ap-waf/syslog2.yaml
  tests/data/appprotect/syslog.yaml
  tests/data/appprotect/syslog2.yaml
  tests/data/dos/dos-syslog.yaml
  tests/data/transport-server-externalname/external-svc-deployment.yaml
  tests/data/transport-server-externalname/standard/service_deployment.yaml
  tests/data/virtual-server-dos/syslog.yaml
Labels: dependencies, tests

#3977 Add support for `controller.selectorLabels`
  deployments/helm-chart/templates/_helpers.tpl
  deployments/helm-chart/values.yaml
Labels: helm_chart, backlog

#4127 Add path-regex annotation for ingress
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  examples/ingress-resources/path-regex/README.md
  internal/configs/annotations.go
  internal/configs/version1/nginx-plus.ingress.tmpl
  internal/configs/version1/nginx.ingress.tmpl
  internal/configs/version1/template_helper.go
  internal/configs/version1/template_helper_test.go
  internal/configs/version1/templates_test.go
  internal/k8s/validation.go
  internal/k8s/validation_test.go
Labels: enhancement, documentation
