Repository nginx/kubernetes-ingress, pull requests merged in 2023-08, with the labels that each got.

#4150 Update Helm schema
  deployments/helm-chart/values.schema.json
  deployments/helm-chart/values.yaml
Labels: chore, helm_chart

#4149 Upgrade nginx-hugo-theme version to support newer Hugo releases
  docs/Makefile
  docs/README.md
  docs/content/intro/how-nginx-ingress-controller-works.md
  docs/go.mod
  docs/go.sum
  netlify.toml
Labels: documentation

#4176 Remove duplicated logic from templates
  internal/configs/version1/nginx-plus.ingress.tmpl
  internal/configs/version1/nginx.ingress.tmpl
  internal/configs/version1/template_helper.go
  internal/configs/version1/template_helper_test.go
Labels: enhancement

#4177 Update AP tests and remove redundant ones
  .github/workflows/ci.yml
  tests/suite/test_app_protect.py
  tests/suite/test_app_protect_grpc.py
  tests/suite/test_app_protect_integration.py
  tests/suite/test_app_protect_waf_policies.py
  tests/suite/test_app_protect_waf_policies_grpc.py
Labels: tests

#4160 Update JWT/JWKS policy validation
  internal/configs/version2/templates_test.go
  pkg/apis/configuration/validation/policy.go
  pkg/apis/configuration/validation/policy_test.go
Labels: bug

#4175 Remove GitLab related files
  .github/actions/smoke-tests/action.yaml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/update-docker-images.yml
  .gitlab-ci.yml
  tests/Dockerfile
  tests/docker/gitlab.Dockerfile
Labels: chore, tests

#4174 Add Hugo mod tidy
  docs/Makefile
  docs/README.md
  docs/go.sum
Labels: documentation

#4178 Upgrade nginx-hugo-theme version to support newer Hugo releases (#4149)
  docs/Makefile
  docs/README.md
  docs/content/intro/how-nginx-ingress-controller-works.md
  docs/go.mod
  docs/go.sum
  netlify.toml
Labels: documentation

#4158 Add mend workflow
  .github/workflows/mend.yml
Labels: chore

#4181 Sign checksum with cosign
  .github/workflows/ci.yml
  .goreleaser.yml
Labels: chore

#4182 Add docs team as codeowners
  CODEOWNERS
Labels: chore

#4180 Update workflows
  .github/workflows/build-plus.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/update-docker-images.yml
Labels: chore

#4212 Change links on NGINX Plus introduction page to relative links
  docs/content/intro/nginx-plus.md
Labels: documentation

#4200 Add support for path-regex annotation in Ingress Master-Minion
  internal/configs/version1/nginx-plus.ingress.tmpl
  internal/configs/version1/nginx.ingress.tmpl
  internal/configs/version1/template_helper.go
  internal/configs/version1/template_helper_test.go
  internal/configs/version1/template_test.go
  internal/configs/version1/templates_test.go
Labels: enhancement

#4108 Add command line argument for custom TLS Passthrough port
  cmd/nginx-ingress/flags.go
  cmd/nginx-ingress/main.go
  deployments/helm-chart/README.md
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/values.schema.json
  deployments/helm-chart/values.yaml
  docs/content/configuration/global-configuration/command-line-arguments.md
  docs/content/installation/installation-with-helm.md
  examples/custom-resources/tls-passthrough/README.md
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.tmpl
  internal/configs/version1/template_test.go
  internal/k8s/controller.go
  tests/data/common/service/loadbalancer-with-additional-ports.yaml
  tests/data/common/service/nodeport-with-additional-ports.yaml
  tests/suite/fixtures/fixtures.py
  tests/suite/fixtures/ic_fixtures.py
  tests/suite/test_ts_tls_passthrough.py
  tests/suite/utils/resources_utils.py
Labels: enhancement, documentation, tests, helm_chart

#4228 Add workflow to update docs/go.mod
  .github/workflows/dependabot-hugo.yml
Labels: chore

#4223 Path-Regex annotation on master and minions are set independently
  internal/configs/version1/template_helper.go
  internal/configs/version1/template_helper_test.go
  internal/configs/version1/template_test.go
Labels: enhancement

#4235 Add examples for master-minion path-regex
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  examples/ingress-resources/path-regex/README.md
Labels: documentation

#4155 Add gotype comments in templates to map types between go template and go files
  internal/configs/version1/nginx-plus.ingress.tmpl
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.ingress.tmpl
  internal/configs/version1/nginx.tmpl
  internal/configs/version2/nginx-plus.transportserver.tmpl
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.transportserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
Labels: chore

#4232 Update workflows for release branch
  .github/workflows/ci.yml
Labels: chore

#4058 Add clusterIP to service if specified in values
  deployments/helm-chart/README.md
  deployments/helm-chart/templates/controller-service.yaml
  deployments/helm-chart/values.yaml
Labels: documentation, helm_chart

#4248 Update Go docs for path-regex
  internal/configs/version1/template_helper.go
Labels: enhancement

#4236 Bump NGINX Plus to R30
  build/Dockerfile
  docs/content/technical-specifications.md
Labels: documentation, dependencies

#3884 Update JWT install guide
  docs/content/installation/using-the-jwt-token-docker-secret.md
Labels: documentation

#4254 Update AP tests and remove redundant ones (#4177)
  .github/workflows/ci.yml
  tests/suite/test_app_protect.py
  tests/suite/test_app_protect_grpc.py
  tests/suite/test_app_protect_integration.py
  tests/suite/test_app_protect_waf_policies.py
  tests/suite/test_app_protect_waf_policies_grpc.py
Labels: chore, tests

#4230 Bump Go to 1.21
  go.mod
  go.sum
Labels: dependencies, chore

#4231 Bump Go dependencies
  deployments/common/crds/appprotectdos.f5.com_dosprotectedresources.yaml
  deployments/common/crds/externaldns.nginx.org_dnsendpoints.yaml
  deployments/common/crds/k8s.nginx.org_globalconfigurations.yaml
  deployments/common/crds/k8s.nginx.org_policies.yaml
  deployments/common/crds/k8s.nginx.org_transportservers.yaml
  deployments/common/crds/k8s.nginx.org_virtualserverroutes.yaml
  deployments/common/crds/k8s.nginx.org_virtualservers.yaml
  deployments/helm-chart/crds/appprotectdos.f5.com_dosprotectedresources.yaml
  deployments/helm-chart/crds/externaldns.nginx.org_dnsendpoints.yaml
  deployments/helm-chart/crds/k8s.nginx.org_globalconfigurations.yaml
  deployments/helm-chart/crds/k8s.nginx.org_policies.yaml
  deployments/helm-chart/crds/k8s.nginx.org_transportservers.yaml
  deployments/helm-chart/crds/k8s.nginx.org_virtualserverroutes.yaml
  deployments/helm-chart/crds/k8s.nginx.org_virtualservers.yaml
  go.mod
  go.sum
Labels: dependencies, helm_chart

#4257 Fix CVEs in UBI NAP images
  build/Dockerfile
Labels: dependencies

#4259 Bump nginx images to 1.25.2
  build/Dockerfile
Labels: dependencies

#4258 Sign checksum with cosign (#4181)
  .github/workflows/ci.yml
  .goreleaser.yml
Labels: chore

#4260 Fix CVEs in UBI NAP images (#4257)
  build/Dockerfile
Labels: dependencies

#4261 Bump NGINX Plus to R30 (#4236)
  build/Dockerfile
  docs/content/technical-specifications.md
Labels: documentation, dependencies

#4263 Update JWT install guide (#3884)
  docs/content/installation/using-the-jwt-token-docker-secret.md
Labels: documentation

#4264 Release 3.2.1
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect-waf/configuration.md
  docs/content/app-protect-waf/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
  docs/content/tutorials/oidc-custom-configuration.md
Labels: documentation, helm_chart

#4227 Bump test containers to 0.2.1
  tests/data/common/app/dos/app.yaml
  tests/data/common/app/grpc-vs-mixed/app.yaml
  tests/data/common/app/grpc-vs/app.yaml
  tests/data/common/app/grpc/app.yaml
  tests/data/transport-server-tcp-load-balance/standard/service_deployment.yaml
  tests/data/transport-server-udp-load-balance/standard/service_deployment.yaml
Labels: dependencies, tests

#4265 Release 3.2.1 (#4264)
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect-waf/configuration.md
  docs/content/app-protect-waf/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
  docs/content/tutorials/oidc-custom-configuration.md
Labels: documentation, helm_chart

#4266 Add howto doc for path-regex annotations
  docs/content/tutorials/ingress-path-regex-annotation.md
Labels: documentation

#3962 Match file permissions for GID 0 as owner UID 101
  build/Dockerfile
Labels: backlog

#4252 Make containerPort and hostPort customizable
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/values.schema.json
  deployments/helm-chart/values.yaml
Labels: enhancement, helm_chart

#4272 Docs/upgrade using helm
  docs/content/installation/installation-with-helm.md
Labels: documentation

#4271 Add custom listener controls to VirtualServer
  deployments/common/crds/k8s.nginx.org_globalconfigurations.yaml
  deployments/common/crds/k8s.nginx.org_virtualservers.yaml
  deployments/helm-chart/crds/k8s.nginx.org_globalconfigurations.yaml
  deployments/helm-chart/crds/k8s.nginx.org_virtualservers.yaml
  examples/custom-resources/custom-listeners/README.md
  examples/custom-resources/custom-listeners/cafe-secret.yaml
  examples/custom-resources/custom-listeners/cafe-virtual-server.yaml
  examples/custom-resources/custom-listeners/cafe.yaml
  examples/custom-resources/custom-listeners/global-configuration.yaml
  internal/configs/configurator.go
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  internal/k8s/configuration.go
  internal/k8s/configuration_test.go
  internal/k8s/controller.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/v1alpha1/types.go
  pkg/apis/configuration/validation/globalconfiguration.go
  pkg/apis/configuration/validation/globalconfiguration_test.go
  pkg/apis/configuration/validation/transportserver.go
  pkg/apis/configuration/validation/transportserver_test.go
Labels: enhancement, documentation, helm_chart

#4285 Update example spec comment for GlobalConfiguration in helm values.yaml
  deployments/helm-chart/values.yaml
Labels: chore, helm_chart

#4294 Add tutorial doc for VirtualServer configuration with Custom Listener Ports
  docs/content/configuration/global-configuration/globalconfiguration-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/tutorials/virtual-server-with-custom-listener-ports.md
Labels: documentation
