Repository nginx/kubernetes-ingress, pull requests merged in 2023-06, with the labels that each got.

#3951 Add GCP Marketplace to technical-specifications and release
  .github/workflows/ci.yml
  docs/content/technical-specifications.md
  hack/minor-changelog-template.txt
Labels: documentation

#3933 fix --enternal-service flag when using serviceNameOverride
  deployments/helm-chart/templates/_helpers.tpl
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/templates/controller-service.yaml
Labels: helm_chart

#3950 Fix release notes condition
  .github/workflows/ci.yml
Labels: chore

#4000 Add dependency review workflow and config
  .github/dependency-review-config.yml
  .github/workflows/dependency-review.yml
Labels: chore

#4016 Bail fast if function returns error
  internal/metrics/collectors/latency_test.go
Labels: tests

#3974 Update GoReleaser config
  .goreleaser.yml
  Makefile
Labels: chore

#4015 update numbering in manifest installation
  docs/content/installation/installation-with-manifests.md
Labels: documentation

#3979 Update theme version, adjust weight of top level pages & sections
  docs/content/f5-ingresslink.md
  docs/content/releases.md
  docs/content/technical-specifications.md
  docs/content/troubleshooting/_index.md
  docs/content/tutorials/_index.md
  docs/go.mod
  docs/go.sum
Labels: documentation

#4022 Add document to tutorial section for configuring the default oidc implementation
  docs/content/tutorials/oidc-custom-configuration.md
Labels: documentation

#3972 fix links and product name usage in NAP WAF config guide
  docs/content/app-protect-waf/configuration.md
Labels: documentation

#4033 Update packages for CVEs
  build/Dockerfile
Labels: chore

#4035 Bump CodeQL actions to v2.20.0
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/scorecards.yml
Labels: dependencies

#4036 Bump golang.org/x/exp
  go.mod
  go.sum
Labels: dependencies

#4020 Cleanup Makefile
  Makefile
  build/Dockerfile
  hack/docker.sh
Labels: chore

#3973 Update notification and build workflows
  .github/workflows/build-oss.yml
  .github/workflows/updates-notification.yml
Labels: chore

#4031 Add Alpine image with FIPS inside
  .github/workflows/build-plus.yml
  .github/workflows/ci.yml
  Makefile
  build/Dockerfile
  internal/configs/version1/nginx-plus.tmpl
Labels: enhancement

#3715 Custom listen ports document
  docs/content/tutorials/custom-listen-ports.md
Labels: documentation

#4041 Create tags for OSS images on release branch
  .github/workflows/build-oss.yml
Labels: chore

#4048 Add FIPS to the list of images
  docs/content/installation/building-ingress-controller-image.md
  docs/content/technical-specifications.md
Labels: documentation

#4044 Update README
  README.md
Labels: documentation

#4054 Make NAP independent from Plus
  build/Dockerfile
Labels: chore

#4053 Bump alpine-fips to 0.1.1-alpine3.18
  build/Dockerfile
Labels: dependencies

#3954 Tutorial for FCP
  docs/content/usage-reporting.md
  examples/shared-examples/usage-reporting/cluster-connector.yaml
Labels: documentation

#4060 fix: bump hugo theme to 0.33
  docs/go.mod
Labels: documentation

#4045 Add step to publish to AWS Marketplace
  .github/workflows/build-plus.yml
  .github/workflows/ci.yml
Labels: chore

#3993 NGINX Ingresswith Linkerd guide
  docs/content/tutorials/nginx-ingress-linkerd.md
Labels: documentation

#4055 Release 3.2.0
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect-waf/configuration.md
  docs/content/app-protect-waf/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
  docs/content/tutorials/custom-listen-ports.md
  docs/content/tutorials/nginx-ingress-istio.md
  docs/content/tutorials/nginx-ingress-osm.md
  docs/content/tutorials/oidc-custom-configuration.md
  examples/custom-resources/externalname-services/transport-server/README.md
  examples/custom-resources/service-insight/README.md
Labels: documentation, helm_chart

#4056 Bump kind versions in nightly
  .github/workflows/ci.yml
Labels: dependencies

#4063 Use correct product ID in AWS action
  .github/workflows/build-plus.yml
Labels: chore
