Repository nginx/kubernetes-ingress, pull requests merged in 2023-05, with the labels that each got.

#3592 Add NGINX Ingress controller with OSM tutorial
  docs/content/tutorials/nginx-ingress-osm.md
Labels: documentation

#3832 Remove replace no longer needed
  go.mod
Labels: dependencies

#3835 Add NGINX Ingress controller with OSM tutorial (#3592)
  docs/content/tutorials/nginx-ingress-osm.md
Labels: documentation

#3840 indent to annotations key in leader-elec cm
  deployments/helm-chart/templates/controller-leader-election-configmap.yaml
Labels: bug, helm_chart

#3831 Update packages for CVEs
  build/Dockerfile
Labels: dependencies

#3833 Bump NGINX Plus to R29
  build/Dockerfile
Labels: dependencies

#3838 Use OIDC to login to GCR
  .github/workflows/build-plus.yml
Labels: chore

#3837 Update Arbitrator to v1.1.1
  deployments/deployment/appprotect-dos-arb.yaml
  tests/data/dos/appprotect-dos-arb.yaml
Labels: dependencies, tests

#3801 Swap cpu and memory in HPA template
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/templates/controller-hpa.yaml
Labels: chore, helm_chart

#3847 Egress via Ingress VirtualServer Resource (#3491)
  deployments/common/crds/k8s.nginx.org_virtualservers.yaml
  deployments/helm-chart/crds/k8s.nginx.org_virtualservers.yaml
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
Labels: bug, documentation, helm_chart

#3848 Updated NGINX Service Mesh references in Helm templates (#3602)
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
Labels: bug, helm_chart

#3849 Inherit NET_BIND_SERVICE from IC to Nginx (#3722)
  build/Dockerfile
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
Labels: bug, helm_chart

#3850 Update packages for CVEs (#3831)
  build/Dockerfile
Labels: dependencies

#3851 Bump NGINX Plus to R29 (#3833)
  build/Dockerfile
Labels: dependencies

#3853 Add serviceNameOverride (#3802)
  deployments/helm-chart/templates/controller-service.yaml
Labels: bug, helm_chart

#3854 Fix GlobalConfiguration name in Helm Chart (#3815)
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/templates/controller-globalconfiguration.yaml
Labels: bug, helm_chart

#3861 increase counter and add retries to jwks and mtls ingress tests
  tests/suite/test_ingress_mtls.py
  tests/suite/test_jwt_policies_jwksuri.py
  tests/suite/test_jwt_policies_jwksuri_vsr.py
Labels: tests

#3857 Update NAP DoS test container (#3663)
  pyproject.toml
  tests/data/common/app/dos/app.yaml
  tests/data/common/app/grpc-vs-mixed/app.yaml
  tests/data/common/app/grpc-vs/app.yaml
  tests/data/common/app/grpc/app.yaml
  tests/data/transport-server-tcp-load-balance/standard/service_deployment.yaml
  tests/data/transport-server-udp-load-balance/standard/service_deployment.yaml
  tests/suite/test_virtual_server_dos.py
  tests/suite/utils/resources_utils.py
Labels: chore, tests

#3852 Bump nginx to 1.23.4
  build/Dockerfile
  docs/content/technical-specifications.md
Labels: documentation, dependencies

#3856 Update VirtualServer to ignore CRL for EgressMTLS (#3737)
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  tests/data/common/app/secure-ca/app.yaml
  tests/data/egress-mtls/policies/egress-mtls-invalid.yaml
  tests/data/egress-mtls/policies/egress-mtls.yaml
  tests/data/egress-mtls/route-subroute/virtual-server-mtls.yaml
  tests/data/egress-mtls/route-subroute/virtual-server-route-mtls.yaml
  tests/data/egress-mtls/route-subroute/virtual-server-vsr.yaml
  tests/data/egress-mtls/secret/egress-mtls-secret-crl.yaml
  tests/data/egress-mtls/secret/egress-mtls-secret.yaml
  tests/data/egress-mtls/secret/tls-secret.yaml
  tests/data/egress-mtls/spec/virtual-server-mtls-diff-host.yaml
  tests/data/egress-mtls/spec/virtual-server-mtls.yaml
  tests/data/egress-mtls/standard/virtual-server.yaml
  tests/suite/test_egress_mtls.py
Labels: bug, tests

#3862 indent in annotations key in leader-elec cm
  deployments/helm-chart/templates/controller-leader-election-configmap.yaml
Labels: bug, helm_chart

#3844 Fix gunzip support for VS and add python tests
  deployments/common/crds/k8s.nginx.org_virtualservers.yaml
  deployments/helm-chart/crds/k8s.nginx.org_virtualservers.yaml
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  examples/custom-resources/jwt/README.md
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/validation/virtualserver.go
  pkg/apis/configuration/validation/virtualserver_test.go
  tests/data/virtual-server/virtual-server-gunzip.yaml
  tests/suite/test_virtual_server.py
Labels: enhancement, documentation, tests, helm_chart

#3846 Bump dependencies to latest patch version
  deployments/common/crds/appprotectdos.f5.com_dosprotectedresources.yaml
  deployments/common/crds/externaldns.nginx.org_dnsendpoints.yaml
  deployments/common/crds/k8s.nginx.org_globalconfigurations.yaml
  deployments/common/crds/k8s.nginx.org_policies.yaml
  deployments/common/crds/k8s.nginx.org_transportservers.yaml
  deployments/common/crds/k8s.nginx.org_virtualserverroutes.yaml
  deployments/common/crds/k8s.nginx.org_virtualservers.yaml
  deployments/helm-chart/crds/appprotectdos.f5.com_dosprotectedresources.yaml
  deployments/helm-chart/crds/externaldns.nginx.org_dnsendpoints.yaml
  deployments/helm-chart/crds/k8s.nginx.org_globalconfigurations.yaml
  deployments/helm-chart/crds/k8s.nginx.org_policies.yaml
  deployments/helm-chart/crds/k8s.nginx.org_transportservers.yaml
  deployments/helm-chart/crds/k8s.nginx.org_virtualserverroutes.yaml
  deployments/helm-chart/crds/k8s.nginx.org_virtualservers.yaml
  go.mod
  go.sum
Labels: dependencies, helm_chart

#3865 increase counter and add retries to jwks and mtls ingress tests (#3861)
  tests/suite/test_ingress_mtls.py
  tests/suite/test_jwt_policies_jwksuri.py
  tests/suite/test_jwt_policies_jwksuri_vsr.py
Labels: tests

#3858 Update CI for release-3.1
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dockerhub-description.yml
  .github/workflows/fossa.yml
  .github/workflows/issues.yaml
  .github/workflows/lint.yml
  .github/workflows/notifications.yml
  .github/workflows/scorecards.yml
  .github/workflows/stale.yml
  .github/workflows/sync.yml
  .github/workflows/update-docker-images.yml
  .github/workflows/updates-notification.yml
Labels: chore

#3860 Release 3.1.1
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect-waf/configuration.md
  docs/content/app-protect-waf/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
  hack/common-release-prep.sh
Labels: documentation, helm_chart

#3869 Release 3.1.1 (#3860)
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect-waf/configuration.md
  docs/content/app-protect-waf/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
Labels: documentation, helm_chart

#3864 Update official Ingress resource link
  docs/content/intro/overview.md
Labels: documentation

#3818 Simplify validators
  pkg/apis/configuration/validation/common.go
  pkg/apis/configuration/validation/globalconfiguration.go
  pkg/apis/configuration/validation/policy.go
  pkg/apis/configuration/validation/policy_test.go
  pkg/apis/configuration/validation/transportserver.go
  pkg/apis/configuration/validation/virtualserver.go
Labels: chore

#3870 Add Funcs() method to UpdateVirtualServerTemplate method
  internal/configs/version2/template_executor.go
Labels: bug

#3885 Simplify validation code for listener protocol
  pkg/apis/configuration/validation/transportserver.go
Labels: chore

#3863 Fix/OIDC - relaxed OIDC scope validation
  docs/content/configuration/policy-resource.md
  pkg/apis/configuration/validation/common.go
  pkg/apis/configuration/validation/policy.go
  pkg/apis/configuration/validation/policy_test.go
Labels: bug, documentation

#3892 Make TransportServer tests run in parallel
  pkg/apis/configuration/validation/transportserver_test.go
Labels: chore

#3906 Update expired CRL and Certificates for IngressMTLS python tests
  tests/data/ingress-mtls/client-auth/crl/webapp.crl
  tests/data/ingress-mtls/client-auth/not-revoked/client-cert.pem
  tests/data/ingress-mtls/client-auth/not-revoked/client-key.pem
  tests/data/ingress-mtls/client-auth/revoked/client-cert.pem
  tests/data/ingress-mtls/client-auth/revoked/client-key.pem
  tests/data/ingress-mtls/secret/ingress-mtls-secret-crl.yaml
Labels: tests

#3836 Update CI
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/ci.yml
  .github/workflows/draft-release.yaml
  .github/workflows/release.yml
Labels: chore

#3910 Run tests in parallel
  internal/k8s/configuration_test.go
  internal/k8s/controller_test.go
  internal/k8s/handlers_test.go
  internal/k8s/reference_checkers_test.go
  internal/k8s/status_test.go
  internal/k8s/validation_test.go
Labels: chore

#3814 Remove semverCompare for allocateLoadBalancerNodePorts
  deployments/helm-chart/templates/controller-service.yaml
Labels: bug, helm_chart

#3909 Simplify validators
  internal/k8s/validation.go
Labels: chore

#3922 Skip JWKS tests
  tests/suite/test_jwt_policies_jwksuri.py
  tests/suite/test_jwt_policies_jwksuri_vsr.py
Labels: tests

#3905 Reverse order of NAPDOS maxDaemons and maxWorkers in Helm chart
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
Labels: helm_chart

#3921 Update operator docs
  docs/content/installation/installation-with-operator.md
  docs/content/technical-specifications.md
Labels: documentation

#3936 Update error handling
  pkg/apis/dos/validation/dos.go
  pkg/apis/dos/validation/dos_test.go
Labels: chore

#3926 Remove explicit `fsGroup` definition
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  docs/content/configuration/security.md
Labels: documentation, helm_chart
