Repository nginx/kubernetes-ingress, pull requests merged in 2023-01, with the labels that each got.

#3361 Add healthcheck for transport server
  docs/content/logging-and-monitoring/service-insight.md
  go.mod
  go.sum
  internal/configs/configurator.go
  internal/configs/configurator_test.go
  internal/configs/transportserver.go
  internal/configs/virtualserver.go
  internal/healthcheck/healthcheck.go
  internal/healthcheck/healthcheck_test.go
  tests/suite/test_transport_server_service_insight.py
  tests/suite/test_virtual_server_service_insight.py
Labels: enhancement, documentation, dependencies, tests

#3382 Add comments to requirements.txt
  tests/requirements.txt
Labels: tests

#3404 Bump golang.org/x/exp
  go.mod
  go.sum
Labels: dependencies

#3412 fix: update github url for app-protect-waf
  docs/content/app-protect-waf/configuration.md
Labels: documentation

#3413 fix: update github url for app-protect-waf
  docs/content/app-protect-waf/configuration.md
Labels: documentation

#3337 feat: Fix minor issues, add docs contribution quickstart.
  docs/README.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/tutorials/nginx-ingress-istio.md
Labels: documentation

#3347 Import JWKS from URL on JWT policy
  deployments/common/crds/k8s.nginx.org_policies.yaml
  deployments/helm-chart/crds/k8s.nginx.org_policies.yaml
  docs/content/configuration/policy-resource.md
  examples/custom-resources/jwks/README.md
  examples/custom-resources/jwks/jwks.yaml
  examples/custom-resources/jwks/keycloak.yaml
  examples/custom-resources/jwks/nginx-config.yaml
  examples/custom-resources/jwks/tls-secret.yaml
  examples/custom-resources/jwks/virtual-server-idp.yaml
  examples/custom-resources/jwks/virtual-server.yaml
  examples/custom-resources/jwks/webapp.yaml
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  internal/k8s/controller.go
  internal/k8s/controller_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/validation/policy.go
  pkg/apis/configuration/validation/policy_test.go
Labels: enhancement, documentation, helm_chart

#3379 DoS Status
  docs/content/logging-and-monitoring/status-page.md
  internal/configs/version1/nginx-plus.tmpl
  tests/suite/test_dos.py
Labels: documentation, tests

#3034 Allow extra args to be provided to the OIDC auth endpoint
  deployments/common/crds/k8s.nginx.org_policies.yaml
  deployments/helm-chart/crds/k8s.nginx.org_policies.yaml
  docs/content/configuration/policy-resource.md
  internal/configs/oidc/openid_connect.js
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/virtualserver.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/v1/zz_generated.deepcopy.go
  pkg/apis/configuration/validation/policy.go
  pkg/apis/configuration/validation/policy_test.go
Labels: documentation, helm_chart

#3429 Release 3.0.0
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart-dos-arbitrator/Chart.yaml
  deployments/helm-chart-dos-arbitrator/README.md
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect-dos/installation-with-helm-dos-arbitrator.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect-waf/configuration.md
  docs/content/app-protect-waf/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
Labels: documentation, helm_chart

#3434 Release 3.0.0 (#3429)
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart-dos-arbitrator/Chart.yaml
  deployments/helm-chart-dos-arbitrator/README.md
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect-dos/installation-with-helm-dos-arbitrator.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect-waf/configuration.md
  docs/content/app-protect-waf/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
Labels: documentation

#3435 Update workflow for UBI image
  .github/workflows/update-docker-images.yml
Labels: chore

#3302 Reseting default TLS settings and making them optional
  .github/workflows/ci.yml
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/values.yaml
  docs/content/installation/installation-with-manifests.md
  examples/shared-examples/default-server-secret/default-server-secret.yaml
  tests/data/common/default-server-secret.yaml
  tests/suite/fixtures/fixtures.py
  tests/suite/test_default_server.py
  tests/suite/utils/resources_utils.py
Labels: enhancement, documentation, tests, helm_chart

#3449 Correct values.schema.json nodeSelector
  deployments/helm-chart/values.schema.json
Labels: helm_chart

#3447 Update packages for CVEs
  build/Dockerfile
Labels: chore

#3442 Add websocket protocol option to monitor directive
  deployments/common/crds/appprotectdos.f5.com_dosprotectedresources.yaml
  deployments/helm-chart/crds/appprotectdos.f5.com_dosprotectedresources.yaml
  docs/content/app-protect-dos/dos-protected.md
  pkg/apis/dos/v1beta1/types.go
  pkg/apis/dos/validation/dos.go
  pkg/apis/dos/validation/dos_test.go
Labels: documentation, helm_chart

#3452 Fix dependabot for test deps and run checks weekly
  .github/dependabot.yml
Labels: chore

#3456 Fix dependabot for test
  .github/dependabot.yml
Labels: chore

#3463 Support non-vs created Challenge Ingress
  internal/k8s/configuration.go
  internal/k8s/configuration_test.go
Labels: bug

#3454 Move test containers to separate repo
  tests/README.md
  tests/data/common/app/grpc-vs-mixed/app.yaml
  tests/data/common/app/grpc-vs/app.yaml
  tests/data/common/app/grpc/app.yaml
  tests/data/transport-server-tcp-load-balance/standard/service_deployment.yaml
  tests/data/transport-server-udp-load-balance/standard/service_deployment.yaml
  tests/test-servers/Dockerfile
  tests/test-servers/README.md
  tests/test-servers/tcp/main.go
  tests/test-servers/udp/main.go
Labels: documentation, chore, tests

#3467 Remove sync with internal repo
  .github/workflows/sync.yml
Labels: chore

#3451 feat: Enable keepalive-time for healthchecks in VS and VSR
  deployments/common/crds/k8s.nginx.org_virtualserverroutes.yaml
  deployments/common/crds/k8s.nginx.org_virtualservers.yaml
  deployments/helm-chart/crds/k8s.nginx.org_virtualserverroutes.yaml
  deployments/helm-chart/crds/k8s.nginx.org_virtualservers.yaml
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  examples/custom-resources/health-checks/README.md
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/validation/virtualserver.go
  pkg/apis/configuration/validation/virtualserver_test.go
  tests/data/virtual-server-upstream-options/plus-virtual-server-with-invalid-keys-openapi.yaml
  tests/data/virtual-server-upstream-options/plus-virtual-server-with-invalid-keys.yaml
  tests/suite/test_virtual_server_grpc.py
  tests/suite/test_virtual_server_upstream_options.py
Labels: enhancement, documentation, tests, helm_chart

#3470 Add documentation for the Helm Operator OOM issue
  docs/content/installation/installation-with-operator.md
Labels: documentation

#3466 Correct typo in JWKS documentation
  examples/custom-resources/jwks/README.md
Labels: documentation

#3438 Add missing file to update IC version for release
  hack/common-release-prep.sh
Labels: chore

#3465 Document and make public new issue lifecycle
  CONTRIBUTING.md
  ISSUE_LIFECYCLE.md
Labels: documentation

#3326 Add support for custom environment variables on the Nginx Controller container
  deployments/helm-chart/README.md
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/values.schema.json
  deployments/helm-chart/values.yaml
  docs/content/installation/installation-with-helm.md
Labels: documentation, helm_chart

#3475 Move logic for `-enable-leader-election` flag in helm templates
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/templates/controller-leader-election-configmap.yaml
Labels: bug, helm_chart

#3453 clarify deep service insight
  docs/content/logging-and-monitoring/service-insight.md
Labels: documentation

#3481 Add missing OSS internal routes
  internal/configs/version1/nginx.ingress.tmpl
  internal/configs/version1/nginx.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
Labels: bug

#3484 Update package for CVE-2022-44617
  build/Dockerfile
Labels: chore

#3483 Release 3.0.1
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart-dos-arbitrator/Chart.yaml
  deployments/helm-chart-dos-arbitrator/README.md
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect-dos/installation-with-helm-dos-arbitrator.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect-waf/configuration.md
  docs/content/app-protect-waf/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
Labels: documentation, helm_chart

#3494 Sync only once a week
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/scorecards.yml
  .github/workflows/stale.yml
  .github/workflows/sync.yml
  .github/workflows/update-docker-images.yml
Labels: chore
