Repository nginx/kubernetes-ingress, pull requests merged in 2023-03, with the labels that each got.

#3589 Add detect-private-key to pre-commit
  .pre-commit-config.yaml
Labels: chore

#3604 Update proxy cache zone name
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: bug

#3607 set Content-Length "" for jwks uri and enable test
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  tests/suite/test_jwt_policies_jwksuri.py
Labels: bug, tests

#3612 skip jwksuri test
  tests/suite/test_jwt_policies_jwksuri.py
Labels: tests

#3573 Rework port binding logic without privileges
  .github/workflows/ci.yml
  build/Dockerfile
  cmd/nginx-ingress/main.go
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart-dos-arbitrator/Chart.yaml
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  docs/content/technical-specifications.md
Labels: documentation, proposal, helm_chart

#3628 Update packages for CVEs
  build/Dockerfile
Labels: dependencies

#3627 Add SBOMs for Docker images
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  README.md
  build/Dockerfile
  tests/docker/Dockerfile
Labels: documentation, chore, tests

#3637 fix: Requeue DNSEndpoint request when create fails with already exists error
  internal/externaldns/sync.go
  tests/suite/test_virtual_server_externaldns.py
  tests/suite/utils/custom_assertions.py
Labels: tests

#3629 Use the "runtime default" seccomp profile
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
Labels: enhancement, helm_chart

#3648 Remove strict permissions for Helm in CI
  .github/workflows/ci.yml
Labels: chore

#3606 Fix Helm Chart labels and templates. Move version update to labels
  .github/workflows/ci.yml
  cmd/nginx-ingress/main.go
  deployments/helm-chart/templates/_helpers.tpl
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/templates/controller-globalconfiguration.yaml
  deployments/helm-chart/templates/controller-hpa.yaml
  deployments/helm-chart/templates/controller-ingress-class.yaml
  deployments/helm-chart/templates/controller-pdb.yaml
  deployments/helm-chart/templates/controller-service.yaml
  deployments/helm-chart/templates/controller-serviceaccount.yaml
  deployments/helm-chart/templates/controller-servicemonitor.yaml
  deployments/helm-chart/templates/rbac.yaml
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-nsm.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.schema.json
  deployments/helm-chart/values.yaml
Labels: chore, helm_chart

#3647 Add workaround for using latest UBI 8 for NAP
  build/Dockerfile
Labels: chore

#3605 fix: Add missing directory to NGINX App Protect DoS Instructions
  docs/content/app-protect-dos/installation.md
Labels: documentation

#3596 feat: Fix instruction link for NGINX Ingress Helm Operator
  docs/content/installation/installation-with-operator.md
Labels: documentation

#3652 Add Contributing Guidelines to bot response
  .github/workflows/issues.yaml
Labels: chore

#3654 Update service-insight.md to fix helm parameter typo
  docs/content/logging-and-monitoring/service-insight.md
Labels: documentation

#3474 feat: Add access token support in the OIDC
  deployments/common/crds/k8s.nginx.org_policies.yaml
  deployments/helm-chart/crds/k8s.nginx.org_policies.yaml
  docs/content/configuration/policy-resource.md
  examples/custom-resources/oidc/oidc.yaml
  internal/configs/oidc/oidc_common.conf
  internal/configs/oidc/openid_connect.js
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/validation/policy_test.go
Labels: documentation, helm_chart

#3664 Don't use blocking status check
  .codecov.yml
Labels: chore

#3646 Remove app protect agent
  cmd/nginx-ingress/main.go
  internal/nginx/fake_manager.go
  internal/nginx/manager.go
Labels: enhancement

#3660 remove unwanted chars from label value
  cmd/nginx-ingress/main.go
Labels: bug

#3677 Revert "Add WAF Bundle example (#3656)"
  docs/content/app-protect-waf/configuration.md
  docs/content/app-protect-waf/installation.md
  docs/content/installation/installation-with-manifests.md
Labels: documentation

#3437 PRs with docs changes appear in their own sections in changelog
  .github/release.yml
Labels: chore

#3674 Move NAP DoS chart to new repo
  deployments/helm-chart-dos-arbitrator/.helmignore
  deployments/helm-chart-dos-arbitrator/Chart.yaml
  deployments/helm-chart-dos-arbitrator/README.md
  deployments/helm-chart-dos-arbitrator/chart-icon.png
  deployments/helm-chart-dos-arbitrator/templates/_helpers.tpl
  deployments/helm-chart-dos-arbitrator/templates/controller-deployment.yaml
  deployments/helm-chart-dos-arbitrator/templates/controller-service.yaml
  deployments/helm-chart-dos-arbitrator/values.yaml
  deployments/helm-chart/README.md
  docs/content/app-protect-dos/installation-with-helm-dos-arbitrator.md
  docs/content/app-protect-dos/installation.md
  hack/common-release-prep.sh
Labels: documentation, chore, helm_chart

#3675 Switch to draft-release action
  .github/workflows/draft-release.yaml
Labels: chore

#3684 Update Service Insight docs
  docs/content/logging-and-monitoring/service-insight.md
Labels: documentation

#3689 Only get the subject of the commit message for notifications
  .github/workflows/updates-notification.yml
Labels: chore

#3700 Release 3.1.0
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect-waf/configuration.md
  docs/content/app-protect-waf/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/security.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
Labels: documentation

#3663 Update NAP DoS test container
  pyproject.toml
  tests/data/common/app/dos/app.yaml
  tests/data/common/app/grpc-vs-mixed/app.yaml
  tests/data/common/app/grpc-vs/app.yaml
  tests/data/common/app/grpc/app.yaml
  tests/data/transport-server-tcp-load-balance/standard/service_deployment.yaml
  tests/data/transport-server-udp-load-balance/standard/service_deployment.yaml
  tests/suite/test_virtual_server_dos.py
  tests/suite/utils/resources_utils.py
Labels: chore, tests

#3690 Move build docker steps after tests
  .github/workflows/ci.yml
Labels: chore

#3698 Update Helm docs
  deployments/helm-chart/README.md
  docs/content/installation/installation-with-helm.md
  hack/common-release-prep.sh
Labels: documentation, helm_chart

#3691 Example for the service insight feature (VS and TS)
  examples/custom-resources/service-insight/README.md
  examples/custom-resources/service-insight/service-insight-secret.yaml
Labels: documentation

#3704 Update release file with additional information
  docs/content/releases.md
Labels: documentation
