Repository nginx/kubernetes-ingress, pull requests merged in 2023-02, with the labels that each got.

#3485 Remove tests from Docker update
  .github/workflows/update-docker-images.yml
Labels: chore

#3507 Support empty path for ImplementationSpecific pathType
  docs/content/configuration/ingress-resources/basic-configuration.md
  internal/k8s/validation.go
  internal/k8s/validation_test.go
  pkg/apis/configuration/validation/virtualserver_test.go
  tests/data/smoke/implementation-specific-pathtype/smoke-ingress.yaml
  tests/suite/test_smoke.py
Labels: enhancement, documentation, tests

#3505 Change flow in CI workflow
  .github/actions/smoke-tests/action.yaml
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/ci.yml
  .github/workflows/draft-release.yaml
  .github/workflows/release.yml
  .github/workflows/update-docker-images.yml
Labels: chore

#3513 Update Operator docs
  docs/content/installation/installation-with-operator.md
Labels: documentation

#3497 Fix helm values to match chart value
  deployments/helm-chart/README.md
Labels: documentation, helm_chart

#3511 Add tests for jwt jwksuri
  .github/actions/smoke-tests/action.yaml
  .github/workflows/ci.yml
  examples/custom-resources/jwks/README.md
  tests/conftest.py
  tests/data/jwt-policy-jwksuri/configmap/nginx-config.yaml
  tests/data/jwt-policy-jwksuri/policies/jwt-policy-valid.yaml
  tests/data/jwt-policy-jwksuri/virtual-server/virtual-server-policy-route.yaml
  tests/data/jwt-policy-jwksuri/virtual-server/virtual-server-policy-spec.yaml
  tests/suite/test_jwt_policies_jwksuri.py
Labels: documentation, tests

#3517 Bump Go to 1.20
  go.mod
Labels: dependencies

#3518 Only add the test container to cache once
  .github/actions/smoke-tests/action.yaml
  .github/workflows/ci.yml
Labels: chore

#3519 fix: Add OnDelete to allowed strategy values
  deployments/helm-chart/README.md
  deployments/helm-chart/values.schema.json
  deployments/helm-chart/values.yaml
  docs/content/installation/installation-with-helm.md
Labels: documentation, helm_chart

#3528 make changes to req type and parameters
  tests/suite/test_jwt_policies_jwksuri.py
Labels: tests

#3533 docs: Hugo theme February 23 update (#3532)
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/archetypes/policy.md
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/footer.html
  docs/_vendor/gitlab.com/f5/nginx/controller/poc/f5-hugo/layouts/partials/meta.html
  docs/_vendor/modules.txt
  docs/go.mod
  docs/go.sum
Labels: documentation

#3527 fix: controller.topologySpreadConstraints schema
  deployments/helm-chart/values.schema.json
Labels: helm_chart

#3248 add pod disruption budget for ingress controller
  deployments/helm-chart/README.md
  deployments/helm-chart/templates/controller-pdb.yaml
  deployments/helm-chart/values.schema.json
  deployments/helm-chart/values.yaml
  docs/content/installation/installation-with-helm.md
Labels: documentation, helm_chart

#3536 Update packages for CVE-2023-0286
  build/Dockerfile
Labels: chore

#3540 Decouple UBI images for Plus and NAP
  build/Dockerfile
  docs/content/technical-specifications.md
Labels: documentation, chore

#3537 Update schema references to k8s v1.26.1
  deployments/helm-chart/values.schema.json
Labels: chore, helm_chart

#3550 Update package for CVE-2022-47629
  build/Dockerfile
Labels: dependencies

#3547 Release 3.0.2
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart-dos-arbitrator/Chart.yaml
  deployments/helm-chart-dos-arbitrator/README.md
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect-dos/installation-with-helm-dos-arbitrator.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect-waf/configuration.md
  docs/content/app-protect-waf/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
Labels: documentation, helm_chart

#3482 Use new NSM Spiffe and Cert rotation library
  go.mod
  go.sum
  internal/k8s/controller.go
  internal/k8s/spiffe.go
Labels: enhancement, dependencies

#3557 Update docs in main for Release 3.0.2 (#3547)
  CHANGELOG.md
  README.md
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart-dos-arbitrator/Chart.yaml
  deployments/helm-chart-dos-arbitrator/README.md
  deployments/helm-chart/Chart.yaml
  deployments/helm-chart/README.md
  deployments/helm-chart/values-icp.yaml
  deployments/helm-chart/values-plus.yaml
  deployments/helm-chart/values.yaml
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect-dos/installation-with-helm-dos-arbitrator.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect-waf/configuration.md
  docs/content/app-protect-waf/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
Labels: documentation, helm_chart

#3462 feat: Add initial support for SSL termination for TransportServer
  deployments/common/crds/k8s.nginx.org_transportservers.yaml
  deployments/helm-chart/crds/k8s.nginx.org_transportservers.yaml
  docs/content/configuration/transportserver-resource.md
  internal/configs/transportserver.go
  internal/configs/transportserver_test.go
  internal/configs/version2/nginx-plus.transportserver.tmpl
  internal/configs/version2/nginx.transportserver.tmpl
  internal/configs/version2/stream.go
  internal/k8s/controller.go
  pkg/apis/configuration/v1alpha1/types.go
  pkg/apis/configuration/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/configuration/validation/transportserver.go
  pkg/apis/configuration/validation/transportserver_test.go
  tests/data/transport-server-tcp-load-balance/tcp-tls-secret.yaml
  tests/data/transport-server-tcp-load-balance/transport-server-tls.yaml
  tests/suite/test_transport_server_tcp_load_balance.py
  tests/suite/test_virtual_server_certmanager.py
  tests/suite/utils/yaml_utils.py
Labels: enhancement, documentation, tests, helm_chart

#3563 Update packages for CVE-2023-0361 and CVE-2023-23916
  build/Dockerfile
Labels: dependencies

#3565 Update golang.org/x/net for CVE-2022-41723
  go.mod
  go.sum
Labels: dependencies

#3561 Initial install guide for GCP Marketplace Package
  docs/content/installation/using-gcp-marketplace-package.md
  docs/static/img/gke-create-cluster.png
  docs/static/img/gke-creating-cluster.png
  docs/static/img/gke-existing-cluster.png
  docs/static/img/gke-ingress-controller-application.png
  docs/static/img/gke-install-to-new-cluster.png
Labels: documentation

#3560 App Policy Bundle
  deployments/common/crds/k8s.nginx.org_policies.yaml
  deployments/helm-chart/crds/k8s.nginx.org_policies.yaml
  internal/configs/configurator.go
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/validation/policy.go
  pkg/apis/configuration/validation/policy_test.go
Labels: helm_chart

#3576 Replace deprecated command with environment file
  .github/workflows/issues.yaml
Labels: chore

#3583 Update keyCache path for JWKs to avoid conflict with OIDC
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: bug

#3590 Format shell scripts
  build/generate_default_cert_and_key.sh
  hack/docker.sh
  hack/prepare-major-release.sh
  hack/verify-codegen.sh
  tests/data/dos/bad_clients_xff.sh
  tests/data/dos/good_clients_xff.sh
Labels: chore, tests

#3586 chore: Add new label and metadata to pod
  cmd/nginx-ingress/main.go
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/templates/_helpers.tpl
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/templates/rbac.yaml
  deployments/rbac/rbac.yaml
Labels: chore, helm_chart

#3603 Update packages for CVEs
  build/Dockerfile
Labels: dependencies
