Repository nginx/kubernetes-ingress, pull requests merged in 2023-04, with the labels that each got.

#3713 Update correct path for default-server-secret
  docs/content/installation/installation-with-manifests.md
Labels: documentation

#3602 Updated NGINX Service Mesh references in Helm templates
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
Labels: helm_chart

#3762 Update docs for operator 1.4.0
  docs/content/installation/installation-with-operator.md
Labels: documentation

#3491 Egress via Ingress VirtualServer Resource
  deployments/common/crds/k8s.nginx.org_virtualservers.yaml
  deployments/helm-chart/crds/k8s.nginx.org_virtualservers.yaml
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
Labels: documentation, helm_chart

#3788 Add k8s 1.26 to nightly run as k8s_latest is 1.27
  .github/workflows/ci.yml
Labels: chore

#3789 update gitlab dockerfile
  tests/docker/gitlab.Dockerfile
Labels: bug, tests

#3773 Swap cpu and memory in HPA template
  deployments/helm-chart/templates/controller-deployment.yaml
  deployments/helm-chart/templates/controller-hpa.yaml
Labels: helm_chart

#3800 Initial install guide for GCP Marketplace Package (#3561)
  docs/content/installation/using-gcp-marketplace-package.md
  docs/static/img/gke-create-cluster.png
  docs/static/img/gke-creating-cluster.png
  docs/static/img/gke-existing-cluster.png
  docs/static/img/gke-ingress-controller-application.png
  docs/static/img/gke-install-to-new-cluster.png
Labels: documentation

#3797 Add AWS startup log
  cmd/nginx-ingress/flags.go
Labels: chore

#3790 Gunzip for VS
  deployments/common/crds/k8s.nginx.org_virtualservers.yaml
  deployments/helm-chart/crds/k8s.nginx.org_virtualservers.yaml
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/validation/virtualserver.go
  pkg/apis/configuration/validation/virtualserver_test.go
Labels: enhancement, documentation, helm_chart

#3737 Update VirtualServer to ignore CRL for EgressMTLS
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  tests/data/common/app/secure-ca/app.yaml
  tests/data/egress-mtls/policies/egress-mtls-invalid.yaml
  tests/data/egress-mtls/policies/egress-mtls.yaml
  tests/data/egress-mtls/route-subroute/virtual-server-mtls.yaml
  tests/data/egress-mtls/route-subroute/virtual-server-route-mtls.yaml
  tests/data/egress-mtls/route-subroute/virtual-server-vsr.yaml
  tests/data/egress-mtls/secret/egress-mtls-secret-crl.yaml
  tests/data/egress-mtls/secret/egress-mtls-secret.yaml
  tests/data/egress-mtls/secret/tls-secret.yaml
  tests/data/egress-mtls/spec/virtual-server-mtls-diff-host.yaml
  tests/data/egress-mtls/spec/virtual-server-mtls.yaml
  tests/data/egress-mtls/standard/virtual-server.yaml
  tests/suite/test_egress_mtls.py
Labels: bug, tests

#3736 docs: Address two minor issues and update product nouns
  docs/content/configuration/policy-resource.md
  docs/content/installation/pulling-ingress-controller-image.md
Labels: documentation

#3802 added serviceNameOverride
  deployments/helm-chart/templates/controller-service.yaml
Labels: bug, helm_chart

#3722 Inherit NET_BIND_SERVICE from IC to Nginx
  build/Dockerfile
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/helm-chart/templates/controller-daemonset.yaml
  deployments/helm-chart/templates/controller-deployment.yaml
Labels: helm_chart
