Repository nginx/kubernetes-ingress, pull requests merged in 2023-11, with the labels that each got.

#4587 update example test certs
  tests/data/ap-waf-grpc/tls-secret.yaml
  tests/data/virtual-server-grpc-mixed/tls-secret.yaml
  tests/data/virtual-server-grpc/tls-secret.yaml
Labels: tests

#4578 update dockerfile for debian N+
  build/Dockerfile
Labels: bug

#4595 Remove deprecated preview policy flag
  charts/nginx-ingress/README.md
  charts/nginx-ingress/templates/controller-daemonset.yaml
  charts/nginx-ingress/templates/controller-deployment.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  cmd/nginx-ingress/flags.go
  docs/content/configuration/global-configuration/command-line-arguments.md
  tests/suite/test_auth_basic_policies.py
  tests/suite/test_auth_basic_policies_vsr.py
Labels: enhancement, documentation, tests, helm_chart

#4594 Update hack files for release
  hack/changelog-template.txt
  hack/common-release-prep.sh
  hack/minor-changelog-template.txt
  hack/operator-note.txt
  hack/prepare-major-release.sh
  hack/prepare-minor-release.sh
  hack/repo-changelog-template.txt
Labels: chore

#4591 Bump github.com/cert-manager/cert-manager from 1.13.1 to 1.13.2 (#4580)
  go.mod
  go.sum
Labels: dependencies

#4597 chore: revamp Running multiple ingres controllers
  docs/content/installation/running-multiple-ingress-controllers.md
Labels: documentation

#4564 Don't throw annotation deprication warning when `ingressClassName` is not used in an Ingress resource
  internal/k8s/controller.go
  internal/k8s/controller_test.go
Labels: bug

#4600 Release 3.3.2 (#4596)
  README.md
  charts/nginx-ingress/Chart.yaml
  charts/nginx-ingress/README.md
  charts/nginx-ingress/values-icp.yaml
  charts/nginx-ingress/values-plus.yaml
  charts/nginx-ingress/values.yaml
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  docs/content/app-protect-dos/configuration.md
  docs/content/app-protect-dos/installation.md
  docs/content/app-protect-waf/configuration.md
  docs/content/app-protect-waf/installation.md
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-ingress-controller-image.md
  docs/content/installation/installation-with-helm.md
  docs/content/installation/installation-with-manifests.md
  docs/content/installation/installation-with-operator.md
  docs/content/installation/pulling-ingress-controller-image.md
  docs/content/installation/using-the-jwt-token-docker-secret.md
  docs/content/intro/nginx-ingress-controllers.md
  docs/content/intro/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
  docs/content/tutorials/oidc-custom-configuration.md
Labels: documentation, helm_chart

#4551 Move static files to scratch image
  build/Dockerfile
Labels: chore

#4608 Change busybox variant to musl
  build/Dockerfile
Labels: chore

#4610 Install QEMU for s390x
  .github/workflows/build-plus.yml
Labels: chore

#4560 Add string comparison functions to Go template executors
  docs/content/configuration/ingress-resources/custom-annotations.md
  internal/configs/version1/template_helper.go
  internal/configs/version1/template_helper_test.go
  internal/configs/version2/template_helper.go
  internal/configs/version2/template_helper_test.go
Labels: documentation

#4632 Fix version numbers in revamp branch
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/building-nginx-ingress-controller.md
  docs/content/installation/installing-nic/installation-with-helm.md
  docs/content/installation/installing-nic/installation-with-manifests.md
  docs/content/installation/installing-nic/installation-with-operator.md
  docs/content/installation/integrations/app-protect-dos/configuration.md
  docs/content/installation/integrations/app-protect-dos/installation.md
  docs/content/installation/integrations/app-protect-waf/configuration.md
  docs/content/installation/integrations/app-protect-waf/installation.md
  docs/content/installation/nic-images/pulling-ingress-controller-image.md
  docs/content/installation/nic-images/using-the-jwt-token-docker-secret.md
  docs/content/overview/controller-comparison.md
  docs/content/overview/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
  docs/content/tutorials/oidc-custom-configuration.md
Labels: documentation

#4631 Update Makefile references to tests/Dockerfile
  tests/Makefile
Labels: tests

#4559 Add process namespace sharing for ingress controller
  charts/nginx-ingress/README.md
  charts/nginx-ingress/templates/controller-daemonset.yaml
  charts/nginx-ingress/templates/controller-deployment.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
Labels: documentation, helm_chart

#4645 Fix additional Helm-related chart versioning drift in documentation
  docs/content/installation/installing-nic/installation-with-helm.md
  docs/content/technical-specifications.md
Labels: documentation

#4654 Fix additional Helm-related versioning issues
  docs/content/installation/nic-images/using-the-jwt-token-docker-secret.md
Labels: documentation

#4504 Delete the DNSEndpoint resource when VS is deleted & Ratelimit requeues on errors.
  internal/certmanager/cm_controller.go
  internal/externaldns/controller.go
  internal/externaldns/sync.go
Labels: enhancement, backlog

#4651 Add initContainerResources Helm configuration
  charts/nginx-ingress/README.md
  charts/nginx-ingress/templates/controller-daemonset.yaml
  charts/nginx-ingress/templates/controller-deployment.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
Labels: documentation, helm_chart

#4640 Fixed APPolicy CRD
  config/crd/bases/appprotect.f5.com_appolicies.yaml
  deploy/crds-nap-waf.yaml
Labels: backlog

#4677 fix: update release action to use script
  .github/scripts/release-version-update.sh
  .github/workflows/release-pr.yml
  README.md
  charts/nginx-ingress/README.md
  charts/nginx-ingress/values.schema.json
  docs/content/configuration/security.md
  docs/content/installation/installing-nic/installation-with-helm.md
  docs/content/installation/nic-images/using-the-jwt-token-docker-secret.md
  docs/content/troubleshooting/troubleshoot-common.md
  docs/content/tutorials/custom-listen-ports.md
  examples/custom-resources/service-insight/README.md
Labels: documentation, github_actions, helm_chart, good first issue

#4696 docs: Fix Path Regex link in Advanced Configuration
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
Labels: documentation

#4698 Fix issue [#4679]: Incorrect default value for main-template-path and…
  docs/content/configuration/global-configuration/command-line-arguments.md
Labels: documentation

#4704 update kind make targets for local & CI use
  .github/actions/smoke-tests/action.yaml
  .gitignore
  Makefile
  tests/Makefile
Labels: tests

#4706 kind test make target to use cluster name
  tests/Makefile
Labels: tests

#4717 fix tls-passthrough-custom-port test cleanup
  .gitignore
  Makefile
  tests/Makefile
  tests/suite/fixtures/ic_fixtures.py
Labels: tests

#4718 consolidate dependabot updates
  .github/workflows/dependency-review.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  go.mod
  go.sum
  tests/requirements.txt
Labels: dependencies

#4681 fix: address security concerns
  .github/workflows/release-pr.yml
Labels: github_actions
