Repository nginx/kubernetes-ingress, pull requests merged in 2024-06, with the labels that each got.

#5627 Add Granular Services Counts to Telemetry
  docs/content/overview/product-telemetry.md
  internal/configs/configurator.go
  internal/telemetry/cluster.go
  internal/telemetry/cluster_test.go
  internal/telemetry/collector.go
  internal/telemetry/collector_test.go
  internal/telemetry/data.avdl
  internal/telemetry/exporter.go
  internal/telemetry/nicresourcecounts_attributes_generated.go
Labels: enhancement, documentation, go

#5678 Release 3.5.2
  README.md
  charts/nginx-ingress/Chart.yaml
  charts/nginx-ingress/README.md
  charts/nginx-ingress/values-icp.yaml
  charts/nginx-ingress/values-plus.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/security.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/includes/installation/create-custom-resources.md
  docs/content/installation/building-nginx-ingress-controller.md
  docs/content/installation/installing-nic/installation-with-helm.md
  docs/content/installation/installing-nic/installation-with-manifests.md
  docs/content/installation/installing-nic/installation-with-operator.md
  docs/content/installation/integrations/app-protect-dos/configuration.md
  docs/content/installation/integrations/app-protect-dos/installation.md
  docs/content/installation/integrations/app-protect-waf/configuration.md
  docs/content/installation/integrations/app-protect-waf/installation.md
  docs/content/installation/nic-images/pulling-ingress-controller-image.md
  docs/content/installation/nic-images/using-the-jwt-token-docker-secret.md
  docs/content/overview/controller-comparison.md
  docs/content/overview/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
  docs/content/troubleshooting/troubleshoot-common.md
  docs/content/tutorials/custom-listen-ports.md
  docs/content/tutorials/oidc-custom-configuration.md
  docs/content/tutorials/security-monitoring.md
  docs/content/tutorials/virtual-server-with-custom-listener-ports.md
  docs/content/usage-reporting.md
Labels: documentation, helm_chart

#5684 update release 3.5.2 docs
  docs/content/releases.md
Labels: documentation

#5685 [cherry-pick] update release 3.5.2 docs
  docs/content/releases.md
Labels: documentation

#5681 address bug where base & head ref are not always correct
  .github/workflows/dependency-review.yml
Labels: github_actions, chore

#5682 make helm-publish workflow re-usable
  .github/workflows/ci.yml
  .github/workflows/publish-helm.yml
Labels: github_actions, chore

#5688 address "Invalid Semantic Version" error when building helm chart for…
  .github/workflows/ci.yml
Labels: github_actions, chore

#5693 Upgrade Go v1.22.4 with security fixes
  go.mod
Labels: dependencies, go

#5699 Add grpc example
  examples/custom-resources/grpc-upstreams/README.md
  examples/custom-resources/grpc-upstreams/greeter-app.yaml
  examples/custom-resources/grpc-upstreams/greeter-secret.yaml
  examples/custom-resources/grpc-upstreams/greeter-virtual-server.yaml
  examples/custom-resources/grpc-upstreams/helloworld.proto
  examples/custom-resources/grpc-upstreams/nginx-config.yaml
Labels: documentation

#5229 helm: add knob to control cluster level rbac rendering
  charts/nginx-ingress/README.md
  charts/nginx-ingress/templates/clusterrole.yaml
  charts/nginx-ingress/templates/clusterrolebinding.yaml
  charts/nginx-ingress/templates/controller-rolebinding.yaml
  charts/nginx-ingress/values.yaml
  docs/content/installation/installing-nic/installation-with-helm.md
Labels: documentation, helm_chart

#5700 update to gorelease 2.0 config syntax
  .github/workflows/ci.yml
  .goreleaser.yml
Labels: dependencies, github_actions, chore

#5709 Bump telemetry-exporter version to v0.1.0
  go.mod
  go.sum
Labels: dependencies, go

#5711 assign packages write permission to ghcr push
  .github/workflows/update-docker-images.yml
Labels: github_actions, chore

#5613 Test reducing size of UBI NAP images
  build/Dockerfile
  build/scripts/agent.sh
  build/scripts/common.sh
  build/scripts/nap-dos.sh
  build/scripts/nap-waf.sh
Labels: docker

#5728 Fix ratelimit-scaling for mergable ingresses #5727
  internal/configs/ingress.go
  internal/configs/ingress_test.go
Labels: go

#5725 Fix test_dos_sec_logs_on
  tests/suite/test_dos.py
Labels: python, tests

#5736 enable external service args
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
Labels: enhancement

#5698 Integrate NAP WAF v5
  .github/config/config-plus-gcr-release
  .github/config/config-plus-nginx
  .github/scripts/copy-images.sh
  .github/workflows/build-plus.yml
  .github/workflows/ci.yml
  Makefile
  build/Dockerfile
  build/scripts/agent.sh
  build/scripts/nap-waf.sh
  charts/nginx-ingress/README.md
  charts/nginx-ingress/templates/_helpers.tpl
  charts/nginx-ingress/templates/controller-daemonset.yaml
  charts/nginx-ingress/templates/controller-deployment.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  cmd/nginx-ingress/flags.go
  cmd/nginx-ingress/main.go
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/configurator.go
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
Labels: enhancement, documentation, go, github_actions, docker, chore, helm_chart

#5740 Mount config and deployments dirs to smoke containers
  .github/actions/smoke-tests/action.yaml
  internal/k8s/controller.go
  tests/Makefile
Labels: go, github_actions, chore, tests

#5742 add release workflow
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/cache-update.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/update-docker-sha.yml
Labels: github_actions, chore

#5749 Don't count Custom Resources if not enabled at NIC startup
  internal/configs/configurator_test.go
  internal/k8s/controller.go
  internal/telemetry/cluster.go
  internal/telemetry/collector.go
  internal/telemetry/collector_test.go
Labels: bug, go

#5751 add slack notifications to release workflow
  .github/workflows/release.yml
Labels: github_actions, chore

#5754 Update top level documentation pages for style consistency
  docs/content/community.md
  docs/content/glossary.md
  docs/content/overview/about.md
  docs/content/overview/design.md
  docs/content/overview/nginx-plus.md
  docs/content/overview/product-telemetry.md
  docs/content/technical-specifications.md
  docs/content/usage-reporting.md
Labels: documentation

#5760 replace skopeo action with skopeo image
  .github/actions/install-skopeo/action.yml
  .github/scripts/copy-images.sh
  .github/scripts/create-release-tarballs.sh
  .github/workflows/oss-release.yml
  .github/workflows/plus-release.yml
  .github/workflows/release.yml
  .github/workflows/retag-images.yml
  build/Dockerfile
  tests/Dockerfile
Labels: github_actions, docker, chore, tests

#5580 Support APIKey authentication
  build/scripts/common.sh
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  docs/content/overview/product-telemetry.md
  examples/custom-resources/api-key/README.md
  examples/custom-resources/api-key/api-key-policy.yaml
  examples/custom-resources/api-key/api-key-secret.yaml
  examples/custom-resources/api-key/cafe-secret.yaml
  examples/custom-resources/api-key/cafe-virtual-server.yaml
  examples/custom-resources/api-key/cafe.yaml
  internal/configs/configurator.go
  internal/configs/njs/apikey_auth.js
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.tmpl
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
  internal/configs/version2/template_helper.go
  internal/configs/version2/template_helper_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  internal/k8s/controller.go
  internal/k8s/controller_test.go
  internal/k8s/secrets/validation.go
  internal/k8s/secrets/validation_test.go
  internal/telemetry/cluster.go
  internal/telemetry/collector.go
  internal/telemetry/data.avdl
  internal/telemetry/exporter.go
  internal/telemetry/nicresourcecounts_attributes_generated.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/v1/zz_generated.deepcopy.go
  pkg/apis/configuration/validation/policy.go
  pkg/apis/configuration/validation/policy_test.go
  tests/data/apikey-auth-policy/policies/apikey-policy-server.yaml
  tests/data/apikey-auth-policy/policies/apikey-policy-valid-2.yaml
  tests/data/apikey-auth-policy/policies/apikey-policy-valid.yaml
  tests/data/apikey-auth-policy/policies/apikey-policy-vs-route.yaml
  tests/data/apikey-auth-policy/secret/apikey-secret-1.yaml
  tests/data/apikey-auth-policy/secret/apikey-secret-2.yaml
  tests/data/apikey-auth-policy/secret/apikey-secret-route.yaml
  tests/data/apikey-auth-policy/secret/apikey-secret-server.yaml
  tests/data/apikey-auth-policy/spec/virtual-server-policy-single.yaml
  tests/data/apikey-auth-policy/spec/vsr/backend1-vsr.yaml
  tests/data/apikey-auth-policy/spec/vsr/backend2-vsr.yaml
  tests/data/apikey-auth-policy/spec/vsr/virtual-server-with-vsr.yaml
  tests/suite/test_apikey_auth_policies.py
  tests/suite/utils/resources_utils.py
Labels: enhancement, documentation, go, python, tests

#5752 API Key Auth Policy Docs
  docs/content/configuration/policy-resource.md
Labels: documentation

#5758 add functional tests for rate-limit scaling
  tests/data/rate-limit/ingress/mergeable-scaled/annotations-rl-ingress.yaml
  tests/data/rate-limit/ingress/standard-scaled/annotations-rl-ingress.yaml
  tests/data/rate-limit/policies/rate-limit-primary-scaled.yaml
  tests/data/rate-limit/route-subroute/virtual-server-route-pri-subroute-scaled.yaml
  tests/data/rate-limit/spec/virtual-server-primary-scaled.yaml
  tests/suite/test_rl_ingress.py
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
  tests/suite/utils/resources_utils.py
Labels: python, tests

#5771 ensure wafv5 base images are created
  .github/workflows/build-base-images.yml
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/cache-update.yml
Labels: github_actions, chore

#5774 check pod readiness in ingress scale test
  tests/conftest.py
  tests/suite/test_rl_ingress.py
Labels: python, tests

#5772 update values schema from 1.29 to 1.30
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  internal/telemetry/collector_test.go
Labels: go, helm_chart

#5785 Pipeline fixes
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/image-promotion.yml
Labels: github_actions, chore

#5784 Add examples for app protect waf v5
  examples/custom-resources/app-protect-waf-v5/README.md
  examples/custom-resources/app-protect-waf-v5/syslog.yaml
  examples/custom-resources/app-protect-waf-v5/virtual-server.yaml
  examples/custom-resources/app-protect-waf-v5/waf.yaml
  examples/custom-resources/app-protect-waf-v5/webapp.yaml
Labels: documentation

#5788 Change results order to allow auto-merge
  .github/workflows/ci.yml
Labels: github_actions, chore

#5780 update debian nap waf/dos image to debian:12
  build/Dockerfile
Labels: docker

#5735 Snapshot testing for templates
  .pre-commit-config.yaml
  Makefile
  go.mod
  go.sum
  internal/configs/version1/__snapshots__/template_test.snap
  internal/configs/version1/template_test.go
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/templates_test.go
Labels: dependencies, go

#5759 add docker scout scan to pipelines
  .github/workflows/build-base-images.yml
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/cache-update.yml
  .github/workflows/ci.yml
  .github/workflows/image-promotion.yml
  build/Dockerfile
  tests/Dockerfile
Labels: github_actions, docker, chore, tests

#5791 Remove duplicate repo owner and fix smoke test requirement
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: github_actions, chore

#5793 Add name to image promotion and always run promotion
  .github/workflows/image-promotion.yml
Labels: github_actions, chore

#5795 [cherry-pick] Add name to image promotion and always run promotion (#5793)
  .github/workflows/image-promotion.yml
Labels: github_actions, chore

#5799 add addiitional pr tag to images
  .github/scripts/variables.sh
  .github/workflows/ci.yml
Labels: github_actions, chore

#5786 Change log level, to Info and above, before calling prometheus exporter functions
  cmd/nginx-ingress/main.go
  internal/metrics/listener.go
Labels: bug, go, needs cherry pick

#5801 Enable auto-merge for dependabot
  .github/workflows/dependabot-auto-merge.yml
Labels: github_actions, chore

#5809 add regression workflow
  .github/workflows/ci.yml
  .github/workflows/regression.yml
Labels: github_actions, chore, needs cherry pick

#5803 Test splitting smoke tests by dependency
  .github/actions/smoke-tests/action.yaml
  .github/data/matrix-smoke-nap.json
  .github/data/matrix-smoke-oss.json
  .github/data/matrix-smoke-plus.json
  .github/data/matrix-smoke.json
  .github/workflows/ci.yml
  .github/workflows/regression.yml
  .github/workflows/setup-smoke.yml
Labels: github_actions, chore

#5814 [cherry-pick] add pr tag
  .github/scripts/variables.sh
  .github/workflows/ci.yml
Labels: github_actions, chore

#5812 Re-order docker builds
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  build/Dockerfile
Labels: github_actions, docker, chore

#5810 [cherry-pick] docker updates
  build/Dockerfile
Labels: docker

#5815 consolidate image generation matrices
  .github/data/matrix-images-nap.json
  .github/data/matrix-images-oss.json
  .github/data/matrix-images-plus.json
  .github/workflows/build-base-images.yml
  .github/workflows/build-oss.yml
  .github/workflows/cache-update.yml
  .github/workflows/ci.yml
  .github/workflows/image-promotion.yml
Labels: github_actions, chore

#5818 Run Trivy & DockerScout on main & release branches
  .github/workflows/build-plus.yml
  .github/workflows/image-promotion.yml
Labels: github_actions, chore

#5827 Skip upload test results on skipped tests
  .github/workflows/setup-smoke.yml
Labels: github_actions, chore

#5829 Change test upload logic to match test run logic
  .github/workflows/setup-smoke.yml
Labels: github_actions, chore

#5831 add permissions to update released images
  .github/workflows/update-docker-images.yml
Labels: github_actions, chore

#5835 Forked workflow build
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/ci.yml
Labels: github_actions, chore

#5839 Add actionlint pre commit plugin
  .github/workflows/build-oss.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Labels: github_actions, chore

#5719 WAF v5 docs update
  docs/content/installation/building-nginx-ingress-controller.md
  docs/content/installation/integrations/app-protect-dos/_index.md
  docs/content/installation/integrations/app-protect-waf-v5/_index.md
  docs/content/installation/integrations/app-protect-waf-v5/configuration.md
  docs/content/installation/integrations/app-protect-waf-v5/installation.md
  docs/content/installation/integrations/app-protect-waf/troubleshooting-app-protect-waf.md
  docs/content/installation/integrations/f5-ingresslink.md
  docs/content/installation/integrations/opentracing.md
  docs/content/installation/nic-images/pulling-ingress-controller-image.md
  docs/content/overview/about.md
  docs/go.mod
  docs/go.sum
  examples/custom-resources/service-insight/README.md
Labels: documentation, needs cherry pick

#5847 fix path
  docs/content/installation/nic-images/pulling-ingress-controller-image.md
Labels: documentation, needs cherry pick

#5844 Fix build arg for templates
  build/Dockerfile
Labels: docker, needs cherry pick

#5838 fix api key policy undefined routes
  examples/custom-resources/api-key/README.md
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  tests/suite/test_apikey_auth_policies.py
Labels: bug, documentation, go, python, tests, needs cherry pick

#5851 check for non 50x 404 response
  tests/suite/test_ac_policies_vsr.py
  tests/suite/utils/resources_utils.py
Labels: python, tests

#5850 remove sarif artifact upload for images in feature branches
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
Labels: github_actions, chore

#5853 ensure example versions are updated
  .github/scripts/release-version-update.sh
Labels: chore

#5854 add git config to tag job
  .github/scripts/create-release-tarballs.sh
  .github/workflows/release.yml
Labels: github_actions, chore

#5858 Release workflow upload fixes
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/release.yml
Labels: github_actions, chore

#5861 fix dry_run logic in milestone release job
  .github/workflows/release.yml
Labels: github_actions, chore

#5862 [cherry-pick] Add permissions for gcr login to base image build (#5860)
  .github/workflows/build-base-images.yml
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
Labels: github_actions, chore

#5863 release pipeline fixes
  .github/config/config-plus-azure
  .github/config/config-plus-ecr
  .github/config/config-plus-gcr-public
  .github/workflows/publish-helm.yml
  .github/workflows/release.yml
Labels: github_actions, chore

#5864 terminate milestone api call
  .github/workflows/release.yml
Labels: github_actions, chore

#5865 Update release skip job logic
  .github/scripts/create-release-tarballs.sh
  .github/workflows/release.yml
Labels: github_actions, chore

#5868 add v prefix to github version
  .github/workflows/release.yml
Labels: github_actions, chore

#5866 Chore/python clean up, and unused variable check to pre commit
  .pre-commit-config.yaml
  perf-tests/suite/ap_request_perf.py
  perf-tests/suite/test_ap_reload_perf.py
  perf-tests/suite/test_vs_perf.py
  tests/suite/fixtures/ic_fixtures.py
  tests/suite/grpc/helloworld_pb2.py
  tests/suite/grpc/helloworld_pb2_grpc.py
  tests/suite/test_annotations.py
  tests/suite/test_app_protect_integration.py
  tests/suite/test_app_protect_waf_policies.py
  tests/suite/test_app_protect_waf_policies_grpc.py
  tests/suite/test_build_info.py
  tests/suite/test_default_server.py
  tests/suite/test_egress_mtls.py
  tests/suite/test_jwt_policies_jwksuri.py
  tests/suite/test_jwt_policies_jwksuri_vsr.py
  tests/suite/test_multiple_ns_perf.py
  tests/suite/test_rl_ingress.py
  tests/suite/test_rl_policies.py
  tests/suite/test_transport_server_backup_service.py
  tests/suite/test_transport_server_service_insight.py
  tests/suite/test_upgrade_resources.py
  tests/suite/test_use_cluster_ip.py
  tests/suite/test_v_s_route_grpc.py
  tests/suite/test_v_s_route_weight_changes_dynamic_reload.py
  tests/suite/test_v_s_route_weight_changes_dynamic_reload_many_splits.py
  tests/suite/test_virtual_server_configmap_keys.py
  tests/suite/test_virtual_server_error_pages.py
  tests/suite/test_virtual_server_grpc.py
  tests/suite/test_virtual_server_mixed_grpc.py
  tests/suite/test_virtual_server_use_cluster_ip_reloads.py
  tests/suite/test_virtual_server_validation.py
  tests/suite/test_virtual_server_weight_changes_without_reload.py
  tests/suite/test_watch_secret_namespace.py
  tests/suite/utils/resources_utils.py
  tests/suite/utils/ssl_utils.py
Labels: python, chore, tests

#5869 skip closing already closed milestone
  .github/workflows/release.yml
Labels: github_actions, chore

#5874 update docs to 3.6.0 & pipeline fixes for release
  .github/config/config-plus-azure
  .github/config/config-plus-ecr
  .github/config/config-plus-gcr-public
  .github/scripts/create-release-tarballs.sh
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/publish-helm.yml
  .github/workflows/release.yml
  README.md
  charts/nginx-ingress/Chart.yaml
  charts/nginx-ingress/README.md
  charts/nginx-ingress/values-icp.yaml
  charts/nginx-ingress/values-plus.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/security.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/includes/installation/create-custom-resources.md
  docs/content/installation/building-nginx-ingress-controller.md
  docs/content/installation/installing-nic/installation-with-helm.md
  docs/content/installation/installing-nic/installation-with-manifests.md
  docs/content/installation/installing-nic/installation-with-operator.md
  docs/content/installation/integrations/app-protect-dos/configuration.md
  docs/content/installation/integrations/app-protect-dos/installation.md
  docs/content/installation/integrations/app-protect-waf/configuration.md
  docs/content/installation/integrations/app-protect-waf/installation.md
  docs/content/installation/nic-images/pulling-ingress-controller-image.md
  docs/content/installation/nic-images/using-the-jwt-token-docker-secret.md
  docs/content/overview/controller-comparison.md
  docs/content/overview/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
  docs/content/troubleshooting/troubleshoot-common.md
  docs/content/tutorials/custom-listen-ports.md
  docs/content/tutorials/nginx-dynamic-module.md
  docs/content/tutorials/oidc-custom-configuration.md
  docs/content/tutorials/security-monitoring.md
  docs/content/tutorials/virtual-server-with-custom-listener-ports.md
  docs/content/usage-reporting.md
Labels: documentation, github_actions, helm_chart

#5875 Exclude files from stable tag which don't impact build or test
  .github/scripts/exclude_ci_files.txt
  .github/scripts/variables.sh
Labels: chore

#5883 Split VSR matrix in 3
  .github/data/matrix-smoke-oss.json
  .github/data/matrix-smoke-plus.json
  tests/suite/test_rewrites.py
  tests/suite/test_v_s_route.py
  tests/suite/test_v_s_route_advanced_routing.py
  tests/suite/test_v_s_route_api.py
  tests/suite/test_v_s_route_canned_responses.py
  tests/suite/test_v_s_route_error_pages.py
  tests/suite/test_v_s_route_externalname.py
  tests/suite/test_v_s_route_focused_canary.py
  tests/suite/test_v_s_route_grpc.py
  tests/suite/test_v_s_route_redirects.py
  tests/suite/test_v_s_route_regexp_location.py
  tests/suite/test_v_s_route_split_traffic.py
  tests/suite/test_v_s_route_status.py
  tests/suite/test_v_s_route_upstream_options.py
  tests/suite/test_v_s_route_upstream_tls.py
  tests/suite/test_v_s_route_weight_changes_dynamic_reload.py
  tests/suite/test_v_s_route_weight_changes_dynamic_reload_many_splits.py
  tests/suite/test_watch_secret_namespace.py
Labels: python, chore, tests

#5885 Add default telemetry endpoint
  internal/k8s/controller.go
Labels: bug, go, needs cherry pick

#5888 Move some python tests from vs1 to vs2
  .github/data/matrix-smoke-oss.json
  .github/data/matrix-smoke-plus.json
  tests/suite/test_virtual_server_api.py
  tests/suite/test_virtual_server_backup_service.py
  tests/suite/test_virtual_server_configmap_keys.py
  tests/suite/test_virtual_server_focused_canary.py
  tests/suite/test_virtual_server_upstream_options.py
  tests/suite/test_virtual_server_use_cluster_ip_reloads.py
Labels: python, chore, tests, needs cherry pick
