Repository nginx/kubernetes-ingress, pull requests merged in 2024-07, with the labels that each got.

#5894 add nap-v5 images to image patch workflow
  .github/workflows/update-docker-images.yml
Labels: github_actions, chore

#5898 Change always references to not cancelled
  .github/workflows/ci.yml
  .github/workflows/regression.yml
Labels: github_actions, chore

#5900 ensure release draft occurs
  .github/workflows/image-promotion.yml
Labels: github_actions, chore

#5901 Pod logs in tests when startup fails
  tests/suite/utils/resources_utils.py
Labels: python, tests

#5912 remove fips from tests, image patching & release
  .github/config/config-plus-nginx
  .github/data/matrix-smoke-nap.json
  .github/workflows/update-docker-images.yml
Labels: github_actions, chore, needs cherry pick

#5911 make markers strict, and add project.toml to local python tests,
  pyproject.toml
  tests/Makefile
  tests/suite/test_v_s_route_weight_changes_dynamic_reload.py
  tests/suite/test_v_s_route_weight_changes_dynamic_reload_many_splits.py
  tests/suite/test_virtual_server_grpc.py
  tests/suite/test_virtual_server_weight_changes_without_reload.py
Labels: python, chore, tests

#5891 Remove enable preview policies flag from docs
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  docs/content/configuration/global-configuration/command-line-arguments.md
  pkg/apis/configuration/v1/types.go
Labels: documentation, go

#5194 Add transportserver-template config
  docs/content/configuration/global-configuration/configmap-resource.md
  examples/shared-examples/custom-templates/README.md
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/configurator.go
  internal/configs/version2/template_executor.go
Labels: documentation, go

#5897 ensure example versions are updated
  .github/scripts/release-version-update.sh
Labels: chore

#5915 Delete netlify.toml
  netlify.toml
Labels: chore

#5922 Initial test data for ingress NAP and VS DOS templates
  internal/configs/version1/__snapshots__/template_test.snap
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/template_test.go
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/templates_test.go
Labels: go

#5929 Bump Go version - fix vulnerability in the std lib
  go.mod
Labels: dependencies, go

#5932 Mount pyproject.toml in smoke tests
  .github/actions/smoke-tests/action.yaml
Labels: github_actions, chore, needs cherry pick

#5925 remove reference to auth_request off
  docs/content/configuration/policy-resource.md
  examples/custom-resources/api-key/README.md
  examples/custom-resources/api-key/cafe-virtual-server.yaml
  examples/custom-resources/api-key/cafe.yaml
Labels: documentation, needs cherry pick

#5945 Add missing write permission for release draft
  .github/workflows/image-promotion.yml
Labels: github_actions, chore, needs cherry pick

#5950 [cherry-pick] Image matrix
  .github/data/matrix-images-nap.json
  .github/data/matrix-images-oss.json
  .github/data/matrix-images-plus.json
  .github/workflows/build-base-images.yml
  .github/workflows/build-oss.yml
  .github/workflows/cache-update.yml
  .github/workflows/ci.yml
  .github/workflows/image-promotion.yml
Labels: github_actions, chore

#5955 add flaky label to some flaky tests
  tests/suite/test_ac_policies_vsr.py
  tests/suite/test_v_s_route_weight_changes_dynamic_reload_many_splits.py
  tests/suite/test_virtual_server_use_cluster_ip_reloads.py
Labels: python, tests

#5919 OT dependency build
  .github/scripts/exclude_ci_files.txt
  .github/workflows/build-ot-dependency.yml
Labels: github_actions, chore

#5956 Change OpenTracing dependency to local image
  build/Dockerfile
Labels: docker

#5958 update docs to 3.6.1
  README.md
  charts/nginx-ingress/Chart.yaml
  charts/nginx-ingress/README.md
  charts/nginx-ingress/values-icp.yaml
  charts/nginx-ingress/values-plus.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/security.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/includes/installation/create-custom-resources.md
  docs/content/installation/building-nginx-ingress-controller.md
  docs/content/installation/installing-nic/installation-with-helm.md
  docs/content/installation/installing-nic/installation-with-manifests.md
  docs/content/installation/installing-nic/installation-with-operator.md
  docs/content/installation/integrations/app-protect-dos/configuration.md
  docs/content/installation/integrations/app-protect-dos/installation.md
  docs/content/installation/integrations/app-protect-waf-v5/configuration.md
  docs/content/installation/integrations/app-protect-waf-v5/installation.md
  docs/content/installation/integrations/app-protect-waf/configuration.md
  docs/content/installation/integrations/app-protect-waf/installation.md
  docs/content/installation/nic-images/pulling-ingress-controller-image.md
  docs/content/installation/nic-images/using-the-jwt-token-docker-secret.md
  docs/content/overview/controller-comparison.md
  docs/content/overview/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
  docs/content/troubleshooting/troubleshoot-common.md
  docs/content/tutorials/custom-listen-ports.md
  docs/content/tutorials/oidc-custom-configuration.md
  docs/content/tutorials/security-monitoring.md
  docs/content/tutorials/virtual-server-with-custom-listener-ports.md
  docs/content/usage-reporting.md
  examples/custom-resources/service-insight/README.md
Labels: documentation, helm_chart

#5966 Update readme to show the regression workflow results
  README.md
Labels: documentation

#5969 test single image workflow
  .github/scripts/exclude_ci_files.txt
  .github/workflows/single-image-regression.yml
Labels: github_actions, chore

#5971 pull test image
  .github/workflows/single-image-regression.yml
Labels: github_actions, chore

#5973 [cherry-pick] fips docs
  docs/content/releases.md
  docs/content/technical-specifications.md
Labels: documentation

#5968 Add BUILD_OS to Telemetry
  build/Dockerfile
  cmd/nginx-ingress/main.go
  docs/content/overview/product-telemetry.md
  internal/k8s/controller.go
  internal/telemetry/cluster.go
  internal/telemetry/collector.go
  internal/telemetry/collector_test.go
  internal/telemetry/data.avdl
  internal/telemetry/exporter.go
  internal/telemetry/nicresourcecounts_attributes_generated.go
Labels: enhancement, documentation, go, docker

#5953 Shortcode for NIC version in docs
  .github/scripts/release-version-update.sh
  .github/workflows/release-pr.yml
  .pre-commit-config.yaml
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/security.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/includes/installation/create-custom-resources.md
  docs/content/installation/building-nginx-ingress-controller.md
  docs/content/installation/installing-nic/installation-with-helm.md
  docs/content/installation/installing-nic/installation-with-manifests.md
  docs/content/installation/installing-nic/installation-with-operator.md
  docs/content/installation/integrations/app-protect-dos/configuration.md
  docs/content/installation/integrations/app-protect-dos/installation.md
  docs/content/installation/integrations/app-protect-waf-v5/configuration.md
  docs/content/installation/integrations/app-protect-waf-v5/installation.md
  docs/content/installation/integrations/app-protect-waf/configuration.md
  docs/content/installation/integrations/app-protect-waf/installation.md
  docs/content/installation/nic-images/pulling-ingress-controller-image.md
  docs/content/installation/nic-images/using-the-jwt-token-docker-secret.md
  docs/content/overview/controller-comparison.md
  docs/content/overview/nginx-plus.md
  docs/content/technical-specifications.md
  docs/content/troubleshooting/troubleshoot-common.md
  docs/content/tutorials/custom-listen-ports.md
  docs/content/tutorials/oidc-custom-configuration.md
  docs/content/tutorials/security-monitoring.md
  docs/content/tutorials/virtual-server-with-custom-listener-ports.md
  docs/content/usage-reporting.md
  docs/layouts/shortcodes/nic-helm-version.html
  docs/layouts/shortcodes/nic-operator-version.html
  docs/layouts/shortcodes/nic-version.html
Labels: documentation, github_actions, chore, needs cherry pick

#5824 Dos - Allow list
  build/scripts/nap-dos.sh
  config/crd/bases/appprotectdos.f5.com_dosprotectedresources.yaml
  deploy/crds-nap-dos.yaml
  docs/content/installation/integrations/app-protect-dos/dos-protected.md
  examples/custom-resources/app-protect-dos/apdos-protected.yaml
  examples/ingress-resources/app-protect-dos/apdos-protected.yaml
  internal/configs/configurator.go
  internal/configs/configurator_test.go
  internal/configs/dos.go
  internal/configs/dos_test.go
  internal/configs/ingress.go
  internal/configs/ingress_test.go
  internal/configs/version1/__snapshots__/template_test.snap
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.ingress.tmpl
  internal/configs/version1/template_test.go
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  internal/k8s/controller.go
  pkg/apis/dos/v1beta1/types.go
  pkg/apis/dos/v1beta1/zz_generated.deepcopy.go
  pkg/apis/dos/validation/dos.go
  pkg/apis/dos/validation/dos_test.go
  tests/data/dos/dos-accesslog.yaml
  tests/data/dos/dos-protected.yaml
  tests/data/virtual-server-dos/dos-protected.yaml
  tests/suite/fixtures/ic_fixtures.py
  tests/suite/test_dos.py
  tests/suite/test_virtual_server_dos.py
  tests/suite/utils/custom_resources_utils.py
Labels: documentation, go, python, tests

#5989 change supported version order
  docs/content/technical-specifications.md
Labels: documentation

#5991 cherry-pick: change supported version order (#5989)
  docs/content/technical-specifications.md
Labels: documentation

#5997 Move common UBI tasks to script
  build/Dockerfile
  build/scripts/ubi-clean.sh
  build/scripts/ubi-setup.sh
Labels: docker

#5999 Reduce NAP CI time
  .github/data/matrix-smoke-nap.json
  pyproject.toml
  tests/suite/test_app_protect_waf_policies.py
  tests/suite/test_dos.py
Labels: python, chore, tests

#6005 Workflow to build ppc64le binary for ubi
  .github/workflows/build-ubi-dependency.yml
  build/dependencies/Dockerfile.ubi-ppc64le
Labels: github_actions, chore

#6018 update WAF v5 documentation
  docs/content/installation/integrations/app-protect-waf-v5/configuration.md
Labels: documentation, needs cherry pick

#6011 Fix: Add security note about JWT and passwords in shell history
  docs/content/includes/installation/jwt-password-note.md
  docs/content/installation/nic-images/using-the-jwt-token-docker-secret.md
Labels: documentation

#6036 Update custom http listener example readme
  examples/custom-resources/custom-listeners/README.md
Labels: bug, documentation

#5335 [Helm] Choose NodePort values for controller.service.type = LoadBalancer
  charts/nginx-ingress/README.md
  charts/nginx-ingress/templates/controller-service.yaml
  charts/nginx-ingress/values.yaml
Labels: documentation, helm_chart

#6050 ensure scan results directory is unique
  .github/workflows/image-promotion.yml
Labels: github_actions, chore

#6008 Align OSS and Plus UBI images
  build/Dockerfile
Labels: docker

#6038 Update plain Markdown callouts to Hugo callouts
  docs/content/configuration/policy-resource.md
  docs/content/installation/installing-nic/installation-with-helm.md
  docs/content/installation/integrations/app-protect-dos/configuration.md
  docs/content/installation/integrations/app-protect-waf/configuration.md
  docs/content/tutorials/oidc-custom-configuration.md
Labels: documentation

#5905 bump versions of alpine fips modules
  build/Dockerfile
  docs/content/technical-specifications.md
Labels: documentation, docker, needs cherry pick

#6049 update keycloak version in OIDC example
  examples/custom-resources/oidc/keycloak.yaml
  examples/custom-resources/oidc/keycloak_setup.md
  examples/custom-resources/oidc/oidc.yaml
Labels: documentation

#6027 Add GitHub workflow for docs deployments
  .github/actions/docs-build-push.yml
  docs/README.md
Labels: documentation, github_actions, chore

#6063 move docs workflow to workflow directory
  .github/scripts/exclude_ci_files.txt
  .github/workflows/docs-build-push.yml
Labels: github_actions, chore

#6065 don't cache smoke test image build
  .github/workflows/setup-smoke.yml
Labels: github_actions, chore, skip changelog

#5057 fix: ensure subsequent calls of "make clean" succeed
  Makefile
Labels: chore

#6080 temporarily remove fips images from release registry
  .github/config/config-plus-gcr-release
Labels: chore

#6075 set ic-version parameter when building images
  .github/workflows/ci.yml
  .github/workflows/image-promotion.yml
Labels: github_actions, chore

#6069 build single image
  .github/scripts/exclude_ci_files.txt
  .github/workflows/build-single-image.yml
  Makefile
  build/Dockerfile
Labels: github_actions, docker, chore

#6007 Add govulncheck action to linting workflow
  .github/workflows/image-promotion.yml
Labels: github_actions, chore

#6085 remove unused aws marketplace images
  .github/config/config-gcr-retag
  .github/config/config-plus-gcr-release
  .github/data/matrix-images-nap.json
  .github/data/matrix-images-plus.json
  .github/workflows/update-docker-images.yml
Labels: github_actions, chore

#6086 Fix govluncheck sarif upload
  .github/workflows/image-promotion.yml
Labels: github_actions, chore

#6082 Add permission to allow PR comments for preview urls
  .github/workflows/docs-build-push.yml
  docs/README.md
Labels: documentation, github_actions, chore

#6101 remove link to ingress example
  docs/content/installation/integrations/app-protect-waf-v5/installation.md
Labels: documentation, needs cherry pick

#6104 be explicit where images are tagged
  .github/config/config-oss-dockerhub
  .github/config/config-oss-ecr
  .github/config/config-oss-gcr-release
  .github/config/config-oss-github
  .github/config/config-oss-quay
  .github/config/config-plus-azure
  .github/config/config-plus-ecr
  .github/config/config-plus-gcr-public
  .github/config/config-plus-nginx
  .github/scripts/copy-images.sh
  .github/workflows/oss-release.yml
  .github/workflows/plus-release.yml
  .github/workflows/release.yml
  .github/workflows/update-docker-images.yml
Labels: github_actions, chore

#6107 ensure nginx-agent is installed on WAF images
  .github/workflows/build-base-images.yml
  .github/workflows/build-plus.yml
  .github/workflows/setup-smoke.yml
Labels: github_actions, chore, needs cherry pick

#6100 add AWS login to marketplace publish
  .github/scripts/create-release-tarballs.sh
  .github/workflows/release.yml
Labels: github_actions, chore

#6110 inherit secrets on force image promotion call
  .github/workflows/ci.yml
Labels: github_actions, chore

#6109 [cherry-pick] ensure nginx-agent is installed on WAF images
  .github/workflows/build-base-images.yml
  .github/workflows/build-plus.yml
  .github/workflows/ci.yml
  .github/workflows/image-promotion.yml
Labels: github_actions, chore, skip changelog

#6111 Add test to check for agent
  .github/data/matrix-smoke-nap.json
  pyproject.toml
  tests/suite/utils/test_agent_app_protect.py
Labels: python, chore, tests, needs cherry pick

#6015 Documentation style changes for the "Installation" section
  docs/content/installation/build-nginx-ingress-controller.md
  docs/content/installation/ingress-nginx.md
  docs/content/installation/installing-nic/installation-with-helm.md
  docs/content/installation/installing-nic/installation-with-manifests.md
  docs/content/installation/installing-nic/installation-with-operator.md
  docs/content/installation/integrations/app-protect-dos/configuration.md
  docs/content/installation/integrations/app-protect-dos/installation.md
  docs/content/installation/integrations/app-protect-dos/troubleshoot-app-protect-dos.md
  docs/content/installation/integrations/app-protect-waf-v5/installation.md
  docs/content/installation/integrations/app-protect-waf/configuration.md
  docs/content/installation/integrations/app-protect-waf/installation.md
  docs/content/installation/integrations/app-protect-waf/troubleshoot-app-protect-waf.md
  docs/content/installation/integrations/f5-ingresslink.md
  docs/content/installation/integrations/opentracing.md
  docs/content/installation/nic-images/_index.md
  docs/content/installation/nic-images/get-image-using-jwt.md
  docs/content/installation/nic-images/get-registry-image.md
  docs/content/installation/nic-images/use-aws-image.md
  docs/content/installation/nic-images/use-gcp-image.md
  docs/content/installation/run-multiple-ingress-controllers.md
  docs/content/logging-and-monitoring/prometheus.md
  docs/content/technical-specifications.md
Labels: documentation

#6114 move test to correct directory
  tests/suite/test_agent_app_protect.py
Labels: python, tests, needs cherry pick
