Repository nginx/kubernetes-ingress, pull requests merged in 2024-11, with the labels that each got.

#6309 add license reporting process
  build/scripts/common.sh
  cmd/nginx-ingress/main.go
  internal/common_cluster_info/common_cluster_info.go
  internal/configs/version1/nginx-plus.tmpl
  internal/license_reporting/license_reporting.go
  internal/license_reporting/license_reporting_test.go
  internal/nginx/manager.go
  internal/telemetry/cluster.go
Labels: go

#6758 Update ubi-ppc64le to nginx 1.27.2
  build/Dockerfile
Labels: docker, needs cherry pick

#6760 Add OIDC fix for ID token nonce claim validation
  .github/scripts/variables.sh
  internal/configs/oidc/openid_connect.js
Labels: bug, chore, needs cherry pick

#6766 Update community call information
  README.md
Labels: documentation

#6768 Fix docs 404s
  site/content/configuration/host-and-listener-collisions.md
  site/content/installation/integrations/app-protect-waf/installation.md
  site/content/logging-and-monitoring/prometheus.md
Labels: documentation

#6767 Upgrade Go to 1.23.3
  go.mod
Labels: dependencies, go

#6694 Docs/waf v5 docs
  site/content/configuration/security.md
  site/content/installation/integrations/app-protect-waf-v5/installation.md
Labels: documentation

#6797 remove fips images from documentation until OpenSSL fix is available
  site/content/technical-specifications.md
Labels: documentation

#6799 remove fips images from documentation until OpenSSL fix is available …
  site/content/technical-specifications.md
Labels: documentation

#6780 Use default VS and TS templates when CfgMap obj is deleted
  internal/configs/configmaps.go
  internal/configs/configurator.go
  internal/configs/configurator_test.go
  internal/configs/version2/template_executor.go
  internal/configs/version2/template_executor_test.go
Labels: bug, go

#6800 Deprecate v1alpha1 CRDs for GlobalConfiguration, Policy & TransportServer
  config/crd/bases/k8s.nginx.org_globalconfigurations.yaml
  config/crd/bases/k8s.nginx.org_policies.yaml
  config/crd/bases/k8s.nginx.org_transportservers.yaml
  deploy/crds.yaml
  examples/custom-resources/backup-directive/transport-server/transport-server-passthrough.yaml
  examples/custom-resources/custom-listeners/README.md
  examples/custom-resources/custom-listeners/global-configuration.yaml
  examples/custom-resources/externalname-services/transport-server/README.md
  internal/k8s/status_test.go
  pkg/apis/configuration/v1alpha1/doc.go
  pkg/apis/configuration/v1alpha1/register.go
  pkg/apis/configuration/v1alpha1/types.go
  pkg/apis/configuration/v1alpha1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/configuration/v1alpha1/configuration_client.go
  pkg/client/clientset/versioned/typed/configuration/v1alpha1/doc.go
  pkg/client/clientset/versioned/typed/configuration/v1alpha1/fake/doc.go
  pkg/client/clientset/versioned/typed/configuration/v1alpha1/fake/fake_configuration_client.go
  pkg/client/clientset/versioned/typed/configuration/v1alpha1/fake/fake_globalconfiguration.go
  pkg/client/clientset/versioned/typed/configuration/v1alpha1/fake/fake_policy.go
  pkg/client/clientset/versioned/typed/configuration/v1alpha1/fake/fake_transportserver.go
  pkg/client/clientset/versioned/typed/configuration/v1alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/configuration/v1alpha1/globalconfiguration.go
  pkg/client/clientset/versioned/typed/configuration/v1alpha1/policy.go
  pkg/client/clientset/versioned/typed/configuration/v1alpha1/transportserver.go
  pkg/client/informers/externalversions/configuration/interface.go
  pkg/client/informers/externalversions/configuration/v1alpha1/globalconfiguration.go
  pkg/client/informers/externalversions/configuration/v1alpha1/interface.go
  pkg/client/informers/externalversions/configuration/v1alpha1/policy.go
  pkg/client/informers/externalversions/configuration/v1alpha1/transportserver.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/listers/configuration/v1alpha1/expansion_generated.go
  pkg/client/listers/configuration/v1alpha1/globalconfiguration.go
  pkg/client/listers/configuration/v1alpha1/policy.go
  pkg/client/listers/configuration/v1alpha1/transportserver.go
  tests/suite/utils/custom_resources_utils.py
Labels: documentation, go, python, tests

#6806 remove unused functions
  internal/configs/config_params.go
Labels: go

#6808 refactor special secret input and validation
  internal/configs/configurator.go
  internal/k8s/controller.go
Labels: go

#6814 allow k8s events in initial validation
  cmd/nginx-ingress/main.go
  internal/k8s/controller.go
Labels: go

#6819 Chore/add events to configmap
  cmd/nginx-ingress/main.go
  internal/configs/configmaps.go
  internal/configs/configmaps_test.go
  internal/k8s/controller.go
  tests/data/virtual-server-configmap-keys/configmap-invalid.yaml
  tests/data/virtual-server-configmap-keys/configmap-valid.yaml
  tests/suite/test_virtual_server_configmap_keys.py
Labels: go, python, tests

#6823 refactor secret name for clarity
  cmd/nginx-ingress/main.go
  internal/configs/configurator.go
  internal/k8s/controller.go
Labels: go

#6831 update docs
  README.md
  charts/nginx-ingress/Chart.yaml
  charts/nginx-ingress/values-icp.yaml
  charts/nginx-ingress/values-plus.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  examples/custom-resources/service-insight/README.md
  site/content/releases.md
  site/content/technical-specifications.md
  site/layouts/shortcodes/nic-helm-version.html
  site/layouts/shortcodes/nic-operator-version.html
  site/layouts/shortcodes/nic-version.html
Labels: documentation, helm_chart

#6832 chore: refactor resolver in template
  internal/configs/version1/__snapshots__/template_test.snap
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/template_helper.go
  internal/configs/version1/template_helper_test.go
Labels: go

#6833 fix: allow both default & wildcard secrets to be used at the same time
  internal/k8s/controller.go
Labels: bug, go

#6837 update oidc.conf
  internal/configs/oidc/oidc.conf
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: bug

#6846 build UBI s390x nginx package for OSS images
  .github/workflows/build-ubi-dependency.yml
  .github/workflows/update-docker-sha.yml
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
Labels: github_actions, docker, chore, needs cherry pick

#6838 update oidc_template and conf
  internal/configs/oidc/oidc.conf
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: bug

#6855 add endpoint to product telemetry doc
  site/content/overview/product-telemetry.md
Labels: documentation, needs cherry pick

#6859 update go toolchain and NIC version
  site/content/installation/integrations/app-protect-waf-v5/installation.md
  site/go.mod
Labels: bug, documentation

#6870 Update README.md
  README.md
Labels: documentation

#6874 add ubi-9 container image tag
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/image-promotion.yml
  build/Dockerfile
Labels: github_actions, docker, chore

#6872 set staticSSLPath to a variable for reuse
  cmd/nginx-ingress/main.go
  internal/configs/version1/template_test.go
Labels: go

#6873 refactor configmap.go for extensability
  internal/k8s/configmap.go
  internal/k8s/controller.go
Labels: go

#6877 add secret type for getAndValidateSecret()
  cmd/nginx-ingress/main.go
Labels: go

#6875 refactor handleSpecialSecretUpdate
  internal/configs/configurator.go
  internal/k8s/controller.go
Labels: go

#6878 add events to special secrets
  cmd/nginx-ingress/main.go
Labels: go

#6885 refactor lbc to add metadata struct
  cmd/nginx-ingress/main.go
  internal/k8s/controller.go
  internal/k8s/ingress_link.go
  internal/k8s/leader.go
Labels: go
