Repository nginx/kubernetes-ingress, pull requests merged in 2024-08, with the labels that each got.

#6116 add appprotect and agent to regression suite
  .github/data/matrix-regression.json
Labels: chore

#6123 only run docs review on internal PR's
  .github/workflows/docs-build-push.yml
Labels: github_actions, chore

#5886 Add WAF policy compile instructions
  docs/content/installation/integrations/app-protect-waf/compile-waf-policies.md
Labels: documentation

#6125 Don't log errors for not implemented grpc metrics
  internal/metrics/collectors/latency.go
Labels: bug, go

#6135 Communicate clearly func intent
  cmd/nginx-ingress/flags.go
  cmd/nginx-ingress/main.go
Labels: go

#6099 add plus credentials to single image build
  .github/workflows/build-single-image.yml
  Makefile
Labels: github_actions, chore

#6119 add workflow to update the helm k8s schema version
  .github/scripts/exclude_ci_files.txt
  .github/workflows/update-kubernetes-version.yml
Labels: github_actions, chore

#6136 Communicate clearly func intent
  cmd/nginx-ingress/flags.go
  cmd/nginx-ingress/main.go
Labels: go

#6092 Support End Session Endpoint for OIDC and allow customizable Post-logout Redirect URI
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  docs/content/configuration/policy-resource.md
  examples/custom-resources/oidc/README.md
  examples/custom-resources/oidc/keycloak_setup.md
  examples/custom-resources/oidc/logout.png
  examples/custom-resources/oidc/nginx-config.yaml
  examples/custom-resources/oidc/oidc.yaml
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/validation/policy.go
  pkg/apis/configuration/validation/policy_test.go
Labels: enhancement, documentation, go

#6150 Don't log errors for not implemented grpc metrics (#6125)
  internal/metrics/collectors/latency.go
Labels: go

#6149 Fixed broken link
  examples/ingress-resources/session-persistence/README.md
Labels: documentation, needs cherry pick

#6159 Fix staticcheck linter complains
  internal/k8s/appprotect/app_protect_configuration.go
  internal/k8s/appprotect/app_protect_configuration_test.go
Labels: go

#6160 Remove unused code
  internal/telemetry/collector_test.go
Labels: go

#5648 Make access_log in http context configurable
  docs/content/configuration/global-configuration/configmap-resource.md
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/configmaps_test.go
  internal/configs/version1/__snapshots__/template_test.snap
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.tmpl
  internal/configs/version1/template_test.go
Labels: enhancement, documentation, go, backlog

#6167 pin wafv5 module
  build/Dockerfile
Labels: enhancement, docker

#6170 pin wafv5 module
  build/Dockerfile
Labels: enhancement, docker

#6169 Docs/wafv5 cfgmgr enfrcr
  docs/content/installation/integrations/app-protect-waf-v5/configuration.md
  docs/content/installation/integrations/app-protect-waf-v5/installation.md
Labels: documentation, needs cherry pick

#6168 operator release updates
  .github/workflows/release.yml
Labels: github_actions, chore, needs cherry pick

#6188 update example for WAF v5
  examples/custom-resources/app-protect-waf-v5/waf.yaml
Labels: documentation, needs cherry pick

#6190 update README.md
  examples/ingress-resources/session-persistence/README.md
Labels: documentation

#6152 add unit-tests to regression pipeline
  .github/workflows/regression.yml
  Makefile
  hack/test-cover.sh
Labels: github_actions, chore

#6195 update telemetry exporter to v0.1.1
  go.mod
  go.sum
  internal/telemetry/data.avdl
  internal/telemetry/data_attributes_generated.go
  internal/telemetry/exporter.go
  internal/telemetry/nicresourcecounts_attributes_generated.go
Labels: enhancement, dependencies, go, needs cherry pick

#6198 add workflow to for an update to the release draft
  .github/scripts/exclude_ci_files.txt
  .github/workflows/ci.yml
  .github/workflows/update-release-draft.yml
Labels: github_actions, chore

#6208 [cherry-pick] Fix manifest CRD documentation
  docs/content/includes/installation/create-custom-resources.md
  docs/content/installation/installing-nic/installation-with-manifests.md
Labels: documentation

#6213 correct base workflow permissions
  .github/workflows/build-ot-dependency.yml
  .github/workflows/build-ubi-dependency.yml
Labels: github_actions, chore

#6218 update nginx to 1.27.1
  build/Dockerfile
  build/dependencies/Dockerfile.ubi-ppc64le
  docs/content/technical-specifications.md
  examples/custom-resources/api-key/README.md
Labels: documentation, docker, needs cherry pick

#6182 Add missing tests for template executor and helpers
  internal/configs/parsing_helpers_test.go
  internal/configs/version1/template_test.go
Labels: go

#6223 re-order mounting debian apt source file
  build/Dockerfile
Labels: docker, needs cherry pick

#6224 update nic build dependencies to nginx 1.27.1
  build/Dockerfile
Labels: docker

#6226 [cherry-pick] nginx 1.27.1 dependencies
  build/Dockerfile
  build/scripts/ubi-clean.sh
  build/scripts/ubi-setup.sh
  docs/content/technical-specifications.md
  examples/custom-resources/api-key/README.md
Labels: documentation, docker

#6216 fix: broken links
  charts/nginx-ingress/README.md
Labels: documentation, helm_chart

#6230 fix typo: Scount -> Scout
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/image-promotion.yml
Labels: github_actions, chore

#6235 update helm docs
  .github/scripts/release-version-update.sh
  charts/nginx-ingress/README.md
Labels: documentation, chore, helm_chart, needs cherry pick

#6238 remove extended body from curl examples
  examples/custom-resources/access-control/README.md
  examples/custom-resources/api-key/README.md
  examples/custom-resources/basic-auth/README.md
  examples/custom-resources/ingress-mtls/README.md
  examples/custom-resources/jwks/README.md
  examples/custom-resources/jwt/README.md
  examples/custom-resources/rate-limit/README.md
  examples/ingress-resources/basic-auth/README.md
  examples/ingress-resources/rate-limit/README.md
Labels: documentation

#6240 fix docs in release branch
  docs/content/installation/integrations/app-protect-waf-v5/installation.md
Labels: documentation

#6241 add ap wafv5 options in docs
  docs/content/installation/installing-nic/installation-with-helm.md
Labels: documentation, needs cherry pick

#6247 add ap wafv5 options in docs
  docs/content/installation/installing-nic/installation-with-helm.md
Labels: documentation

#6239 Release 3.6.2 - docs update
  README.md
  charts/nginx-ingress/Chart.yaml
  charts/nginx-ingress/values-icp.yaml
  charts/nginx-ingress/values-plus.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  docs/content/releases.md
  docs/content/technical-specifications.md
  docs/layouts/shortcodes/nic-helm-version.html
  docs/layouts/shortcodes/nic-operator-version.html
  docs/layouts/shortcodes/nic-version.html
  examples/custom-resources/service-insight/README.md
Labels: documentation, helm_chart

#6249 add user email
  .github/workflows/cherry-pick.yml
Labels: github_actions, chore

#6252 move fips note to top of release notes
  docs/content/releases.md
Labels: documentation, needs cherry pick

#6254 use nginx-bot as author for cp
  .github/workflows/cherry-pick.yml
Labels: github_actions, chore

#6253 exclude image build on docs only fork workflows
  .github/workflows/ci.yml
Labels: github_actions, chore

#6255 move fips note to top of release notes
  docs/content/releases.md
Labels: documentation

#6227 fix broken sha generation in docker update
  .github/workflows/update-docker-sha.yml
Labels: github_actions, chore

#6207 update dos ubi image to v9
  .github/data/matrix-images-nap.json
  .github/data/matrix-images-plus.json
  .github/data/matrix-smoke-nap.json
  .github/data/matrix-smoke-plus.json
  .github/workflows/build-plus.yml
  .github/workflows/setup-smoke.yml
  Makefile
  build/Dockerfile
Labels: github_actions, docker, chore

#6261 fix wafv5 docs
  docs/content/installation/installing-nic/installation-with-helm.md
Labels: documentation, needs cherry pick

#6212 refactor App Protect DoS controller
  internal/k8s/appprotect_dos.go
  internal/k8s/controller.go
  internal/k8s/handlers.go
Labels: go

#5209 Update max_message_size to reflect nap behavior change - https://docs.nginx.com/nginx-app-protect-waf/releases/release-notes-4.7/#resolved-issues
  docs/content/installation/integrations/app-protect-waf/configuration.md
Labels: documentation

#6264 Update max_message_size to reflect nap behavior change
  docs/content/installation/integrations/app-protect-waf/configuration.md
Labels: documentation

#6232 Fix panic when creating VirtualServer
  internal/k8s/controller.go
  internal/k8s/controller_test.go
Labels: go

#6265 ignore generated go files for codecov report
  .codecov.yml
Labels: chore

#6271 tag and release ubi8 waf images
  .github/config/config-gcr-retag
  .github/config/config-plus-gcr-release
  .github/config/config-plus-nginx
  .github/data/matrix-smoke-nap.json
Labels: chore

#6280 Chore/ensure telemetry generation up to date
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  internal/telemetry/data.avdl
Labels: github_actions, chore

#6269 Update bug report template to use issue form fields
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: documentation, github_actions, chore

#6263 refactor App Protect WAF controller
  internal/k8s/appprotect_dos.go
  internal/k8s/appprotect_waf.go
  internal/k8s/appprotect_waf_test.go
  internal/k8s/controller.go
  internal/k8s/controller_test.go
  internal/k8s/handlers.go
Labels: go

#6298 trigger mend workflow from release
  .github/workflows/mend.yml
  .github/workflows/release.yml
Labels: github_actions, chore

#6301 include version.txt
  .github/scripts/release-version-update.sh
Labels: chore

#6307 assert version from log and chart
  .github/actions/smoke-tests/action.yaml
  tests/settings.py
  tests/suite/test_build_info.py
Labels: python, github_actions, chore, tests

#6308 update runners to ubuntu-24.04
  .github/workflows/build-base-images.yml
  .github/workflows/build-oss.yml
  .github/workflows/build-ot-dependency.yml
  .github/workflows/build-plus.yml
  .github/workflows/build-single-image.yml
  .github/workflows/build-test-image.yml
  .github/workflows/build-ubi-dependency.yml
  .github/workflows/cache-update.yml
  .github/workflows/cherry-pick.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependabot-hugo.yml
  .github/workflows/dependency-review.yml
  .github/workflows/dockerhub-description.yml
  .github/workflows/docs-build-push.yml
  .github/workflows/fossa.yml
  .github/workflows/image-promotion.yml
  .github/workflows/issues.yaml
  .github/workflows/labeler.yml
  .github/workflows/lint-format.yml
  .github/workflows/mend.yml
  .github/workflows/notifications.yml
  .github/workflows/oss-release.yml
  .github/workflows/patch-image.yml
  .github/workflows/plus-release.yml
  .github/workflows/publish-helm.yml
  .github/workflows/regression.yml
  .github/workflows/release-pr.yml
  .github/workflows/release.yml
  .github/workflows/retag-images.yml
  .github/workflows/scorecards.yml
  .github/workflows/setup-smoke.yml
  .github/workflows/single-image-regression.yml
  .github/workflows/stale.yml
  .github/workflows/update-docker-images.yml
  .github/workflows/update-docker-sha.yml
  .github/workflows/update-kubernetes-version.yml
  .github/workflows/update-release-draft.yml
  .github/workflows/updates-notification.yml
  .github/workflows/version-bump.yml
Labels: github_actions, chore

#6317 Add docs for proxy-set-header
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
Labels: documentation, needs cherry pick
