Repository nginx/kubernetes-ingress, pull requests merged in 2024-10, with the labels that each got.

#6547 move docs and fix go toolchain
  docs/content/installation/integrations/app-protect-waf-v5/compile-waf-policies.md
  docs/go.mod
Labels: documentation, needs cherry pick

#6550 Simplify bug report
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Labels: github_actions, chore

#6544 Update docs 3.7.0
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  README.md
  charts/nginx-ingress/Chart.yaml
  charts/nginx-ingress/values-icp.yaml
  charts/nginx-ingress/values-plus.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  docs/content/installation/integrations/app-protect-waf-v5/installation.md
  docs/content/releases.md
  docs/content/technical-specifications.md
  docs/layouts/shortcodes/nic-helm-version.html
  docs/layouts/shortcodes/nic-operator-version.html
  docs/layouts/shortcodes/nic-version.html
  examples/custom-resources/service-insight/README.md
Labels: documentation, github_actions, helm_chart

#6551 refactor: replace glog in controller.go
  cmd/nginx-ingress/main.go
  internal/k8s/configuration_test.go
  internal/k8s/controller.go
  internal/k8s/controller_test.go
Labels: go, skip changelog

#6555 add ubi8 images patching
  .github/data/patch-images.json
Labels: chore

#6559 Bump Go version
  go.mod
Labels: dependencies, go, needs cherry pick

#6569 Update NGINX Plus Version for v3.6.2 and v3.7.0
  docs/content/technical-specifications.md
Labels: documentation

#6571 Update NGINX Plus Version for v3.6.2 and v3.7.0
  site/content/technical-specifications.md
Labels: documentation

#6568 Add wrapper functions for log levels
  internal/logger/logger.go
Labels: go

#6573 refactor: cmd slog wrapper
  cmd/nginx-ingress/flags.go
  cmd/nginx-ingress/main.go
  cmd/nginx-ingress/main_test.go
Labels: go, skip changelog

#6563 refactor: replace glog in global_configuration.go
  internal/k8s/global_configuration.go
Labels: go, skip changelog

#6574 refactor: update slog wrapper for controller.go
  internal/k8s/controller.go
  internal/k8s/controller_test.go
Labels: go, skip changelog

#6575 refactor: replace glog in k8s package 1
  internal/k8s/appprotect_dos.go
  internal/k8s/appprotect_waf.go
  internal/k8s/configmap.go
  internal/k8s/endpoint_slice.go
  internal/k8s/handlers.go
  internal/k8s/handlers_test.go
  internal/k8s/ingress_link.go
  internal/k8s/leader.go
Labels: go

#6577 docs: enableGitInfo config
  site/config/_default/config.toml
Labels: needs cherry pick

#6576 refactor: replace glog in k8s package 2
  internal/k8s/controller.go
  internal/k8s/namespace.go
  internal/k8s/policy.go
  internal/k8s/service.go
  internal/k8s/status.go
  internal/k8s/status_test.go
  internal/k8s/task_queue.go
  internal/k8s/transport_server.go
Labels: go, skip changelog

#6583 Generate valid yaml for readOnly fs
  charts/nginx-ingress/templates/_helpers.tpl
Labels: bug, helm_chart

#6586 refactor: replace glog in externaldns & certmanager
  internal/certmanager/cm_controller.go
  internal/certmanager/sync.go
  internal/externaldns/controller.go
  internal/externaldns/sync.go
  internal/externaldns/sync_test.go
  internal/k8s/controller.go
Labels: go, skip changelog

#6585 refactor: replace glog in the nginx package
  cmd/nginx-ingress/main.go
  internal/nginx/fake_manager.go
  internal/nginx/manager.go
  internal/nginx/utils.go
  internal/nginx/verify.go
  internal/nginx/verify_test.go
Labels: go, skip changelog

#6587 refactor: replace glog in metrics & telemetry packages
  cmd/nginx-ingress/main.go
  internal/metrics/collectors/latency.go
  internal/metrics/collectors/processes.go
  internal/metrics/listener.go
  internal/metrics/syslog_listener.go
  internal/telemetry/collector.go
Labels: go, skip changelog

#6597 Add docker specific docs config to disable gitInfo
  site/Makefile
  site/config/docker/config.toml
  site/hugo-entrypoint.sh
Labels: needs cherry pick

#6598 refactor: replace glog in validation/appprotect.go
  internal/k8s/appprotect/app_protect_configuration.go
  internal/k8s/appprotect/app_protect_configuration_test.go
  internal/k8s/controller.go
  pkg/apis/configuration/validation/appprotect.go
  pkg/apis/configuration/validation/appprotect_test.go
Labels: go, skip changelog

#6623 Removed note mentioning R33 from NIC RNs.
  site/content/releases.md
Labels: documentation, needs cherry pick

#6620 refactor: fix nil pointer when glog is removed & update old `-v=` to `-log-level=`
  cmd/nginx-ingress/flags.go
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  examples/shared-examples/usage-reporting/cluster-connector.yaml
  internal/telemetry/collector_test.go
  site/content/configuration/global-configuration/command-line-arguments.md
  site/content/logging-and-monitoring/logging.md
  tests/data/virtual-server-certmanager/certmanager.yaml
  tests/suite/test_app_protect_watch_namespace_label.py
  tests/suite/test_dos.py
  tests/suite/test_filter_secrets.py
  tests/suite/test_transport_server_backup_service.py
  tests/suite/test_transport_server_tcp_load_balance.py
  tests/suite/test_v_s_route_weight_changes_dynamic_reload_many_splits.py
  tests/suite/test_virtual_server_backup_service.py
  tests/suite/test_virtual_server_dos.py
  tests/suite/test_virtual_server_external_name.py
Labels: documentation, go, python, tests

#6631 Update nic-version.html
  site/layouts/shortcodes/nic-helm-version.html
  site/layouts/shortcodes/nic-operator-version.html
  site/layouts/shortcodes/nic-version.html
Labels: documentation

#6632 Update psuedo-variable shortcodes
  site/layouts/shortcodes/nic-helm-version.html
  site/layouts/shortcodes/nic-operator-version.html
  site/layouts/shortcodes/nic-version.html
Labels: documentation

#6628 refactor: replace glog in healthcheck.go & remove glog dependency
  go.mod
  go.sum
  internal/healthcheck/healthcheck.go
  internal/healthcheck/healthcheck_test.go
Labels: dependencies, go

#6635 Bug fix for UpstreamServer Fields Logs Displayed as Memory Addresses
  internal/nginx/manager.go
  internal/nginx/manager_test.go
Labels: bug, go

#6639 Update Helm_Chart to 2.0.0 to prepare for NIC 4.0.0 breaking change
  .github/data/version.txt
Labels: chore, helm_chart

#6647 Fix `make staticcheck`, (use NewInformerWithOptions and TypedRateLimitingInterface)
  internal/externaldns/controller.go
  internal/externaldns/handlers.go
  internal/k8s/status_test.go
Labels: go, chore

#6649 chore: add static check action to CI
  .github/workflows/ci.yml
Labels: github_actions, chore

#6650 Pin static check binary version
  .github/workflows/ci.yml
Labels: github_actions, chore

#6651 Update python to 3.13 and disable pytest-profiling
  pyproject.toml
  tests/Dockerfile
  tests/requirements.txt
Labels: python, docker, chore

#6659 remove pytest-profiling from requirements.txt for tests
  tests/requirements.txt
Labels: python

#6665 update helm schema examples
  charts/nginx-ingress/values.schema.json
Labels: needs cherry pick

#6667 Helm schema examples
  charts/nginx-ingress/values.schema.json
Labels: helm_chart

#6687 Update python to 3.13 and disable pytest-profiling
  pyproject.toml
  tests/Dockerfile
  tests/requirements.txt
Labels: python, docker, chore

#6661 Revert to original main-template without pod downtime
  internal/configs/configmaps.go
  internal/configs/configurator.go
  internal/configs/configurator_test.go
  internal/configs/version1/template_executor.go
  internal/configs/version1/template_executor_test.go
Labels: bug, go

#6572 Migrate access control example to documentation website
  examples/custom-resources/access-control/README.md
  site/content/configuration/access-control.md
  site/content/configuration/host-and-listener-collisions.md
  site/content/configuration/policy-resource.md
  site/content/configuration/transportserver-resource.md
  site/content/configuration/virtualserver-and-virtualserverroute-resources.md
Labels: documentation, needs cherry pick

#6605 Feat/transport server sni
  examples/custom-resources/tls-passthrough/README.md
  examples/custom-resources/transport-server-sni/README.md
  examples/custom-resources/transport-server-sni/cafe-secret.yaml
  examples/custom-resources/transport-server-sni/cafe-transport-server.yaml
  examples/custom-resources/transport-server-sni/mongo-secret.yaml
  examples/custom-resources/transport-server-sni/mongo-transport-server.yaml
  examples/custom-resources/transport-server-sni/mongo.yaml
  examples/custom-resources/transport-server-sni/tcp-echo-server.yaml
  internal/configs/configurator.go
  internal/configs/configurator_test.go
  internal/configs/transportserver.go
  internal/configs/transportserver_test.go
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/nginx-plus.transportserver.tmpl
  internal/configs/version2/nginx.transportserver.tmpl
  internal/configs/version2/stream.go
  internal/configs/version2/template_helper.go
  internal/configs/version2/template_helper_test.go
  internal/configs/version2/templates_test.go
  internal/k8s/configuration.go
  internal/k8s/configuration_test.go
  pkg/apis/configuration/validation/transportserver.go
  pkg/apis/configuration/validation/transportserver_test.go
  site/content/configuration/host-and-listener-collisions.md
  site/content/configuration/transportserver-resource.md
  tests/data/transport-server-with-host/cafe-secret.yaml
  tests/data/transport-server-with-host/transport-server-with-host.yaml
  tests/suite/test_transport_server_tcp_load_balance.py
  tests/suite/test_transport_server_udp_load_balance.py
  tests/suite/test_transport_server_with_host.py
Labels: enhancement, documentation, go, python, tests

#6712 remove external golang dependencies
  go.mod
  go.sum
  internal/certmanager/test_files/actions.go
  internal/healthcheck/healthcheck.go
  internal/healthcheck/healthcheck_test.go
  internal/metrics/listener.go
Labels: dependencies, go

#6733 add nil check to apikey suppliedIn
  pkg/apis/configuration/validation/policy.go
  pkg/apis/configuration/validation/policy_test.go
Labels: bug, go, needs cherry pick

#6736 renew expired certificate used in tests
  .github/actions/smoke-tests/action.yaml
  examples/common-secrets/virtual-server-tls-grpc-secret-virtual-server.example.com.yaml
  tests/Makefile
  tests/data/ap-waf-grpc/tls-secret.yaml
  tests/data/virtual-server-grpc-mixed/tls-secret.yaml
  tests/data/virtual-server-grpc/tls-secret.yaml
Labels: python, github_actions, chore, tests, needs cherry pick

#6708 add support for readonlyrootfilesystem test for wafv5
  tests/suite/fixtures/ic_fixtures.py
  tests/suite/test_app_protect_wafv5_integration_rorfs.py
  tests/suite/utils/resources_utils.py
Labels: python, tests
