Repository nginx/kubernetes-ingress, pull requests merged in 2024-03, with the labels that each got.

#5199 Update zone size for transportserver resource
  internal/configs/version1/template_test.go
  internal/configs/version2/nginx-plus.transportserver.tmpl
  internal/configs/version2/nginx.transportserver.tmpl
Labels: enhancement

#5201 Fix/version2 template test
  internal/configs/version1/template_test.go
Labels: bug

#5208 Bump Go version to 1.22.1
  go.mod
Labels: dependencies, chore

#5211 Move set above rewrite to fix uninitialized variable
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
Labels: bug

#5224 add metrics logic to perf tests
  perf-tests/suite/test_ap_reload_perf.py
  perf-tests/suite/test_ingress_perf.py
  perf-tests/suite/test_vs_perf.py
  tests/suite/utils/resources_utils.py
Labels: tests

#5217 Feat/telemetry platform
  internal/configs/configurator.go
  internal/telemetry/cluster.go
  internal/telemetry/cluster_test.go
  internal/telemetry/collector.go
  internal/telemetry/collector_test.go
  internal/telemetry/exporter.go
Labels: enhancement

#5245 Add number of NIC replicas to telemetry data
  charts/nginx-ingress/templates/clusterrole.yaml
  deployments/rbac/rbac.yaml
  internal/k8s/controller.go
  internal/telemetry/cluster.go
  internal/telemetry/cluster_test.go
  internal/telemetry/collector.go
  internal/telemetry/collector_test.go
  internal/telemetry/exporter.go
Labels: enhancement, helm_chart

#5237 Update Telemetry Job with GRPC endpoint
  charts/nginx-ingress/README.md
  charts/nginx-ingress/templates/_helpers.tpl
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  cmd/nginx-ingress/flags.go
  cmd/nginx-ingress/flags_test.go
  cmd/nginx-ingress/main.go
  docs/content/configuration/global-configuration/command-line-arguments.md
  docs/content/installation/installing-nic/installation-with-helm.md
  go.mod
  internal/k8s/controller.go
  internal/k8s/controller_test.go
  internal/telemetry/collector.go
  internal/telemetry/exporter.go
  tests/suite/utils/resources_utils.py
Labels: enhancement, documentation, dependencies, tests, helm_chart

#5251 update docs for aplogconf
  docs/content/installation/integrations/app-protect-waf/configuration.md
Labels: documentation

#5250 Developer documentation for generating telemetry schema
  Makefile
  docs/content/configuration/global-configuration/command-line-arguments.md
  docs/content/installation/installing-nic/installation-with-helm.md
  docs/developer/telemetry-schema-generation.md
  internal/telemetry/data.avdl
  internal/telemetry/exporter.go
Labels: documentation

#5259 Add support for apLogBundle in WAF policy
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  docs/content/configuration/policy-resource.md
  docs/content/installation/integrations/app-protect-waf/configuration.md
  internal/configs/configurator.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/validation/policy.go
  pkg/apis/configuration/validation/policy_test.go
Labels: documentation

#5253 Documentation on what Telemetry Data is collected + how to opt-in/opt-out
  docs/content/overview/product-telemetry.md
Labels: documentation

#5261 Add `dataType` field to generated attributes
  go.mod
  go.sum
  internal/telemetry/data.avdl
  internal/telemetry/data_attributes_generated.go
  internal/telemetry/nicresourcecounts_attributes_generated.go
Labels: enhancement, dependencies

#5269 Add missing description to logbundle example
  docs/content/installation/integrations/app-protect-waf/configuration.md
Labels: documentation

#5212 Weight changes Dynamic Reload
  build/Dockerfile
  charts/nginx-ingress/README.md
  charts/nginx-ingress/templates/_helpers.tpl
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  cmd/nginx-ingress/flags.go
  cmd/nginx-ingress/main.go
  docs/content/configuration/global-configuration/command-line-arguments.md
  go.mod
  go.sum
  internal/configs/config_params.go
  internal/configs/configurator.go
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.tmpl
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  internal/k8s/controller.go
  internal/k8s/handlers.go
  internal/nginx/fake_manager.go
  internal/nginx/manager.go
  tests/data/common/app/weight-changes-dynamic-reload-vsr-many-splits/app.yaml
  tests/data/common/app/weight-changes-dynamic-reload-vsr/app.yaml
  tests/data/virtual-server-route-weight-changes-dynamic-reload/configmap/nginx-config.yaml
  tests/data/virtual-server-route-weight-changes-dynamic-reload/standard/virtual-server-many.yaml
  tests/data/virtual-server-route-weight-changes-dynamic-reload/standard/virtual-server.yaml
  tests/data/virtual-server-route-weight-changes-dynamic-reload/virtual-server-route-initial.yaml
  tests/data/virtual-server-route-weight-changes-dynamic-reload/virtual-server-route-many-splits-initial.yaml
  tests/data/virtual-server-route-weight-changes-dynamic-reload/virtual-server-route-many-splits-swap.yaml
  tests/data/virtual-server-route-weight-changes-dynamic-reload/virtual-server-route-swap.yaml
  tests/data/virtual-server-weight-changes-dynamic-reload/standard/virtual-server.yaml
  tests/data/virtual-server-weight-changes-dynamic-reload/virtual-server-weight-swap.yaml
  tests/suite/test_v_s_route_weight_changes_dynamic_reload.py
  tests/suite/test_v_s_route_weight_changes_dynamic_reload_many_splits.py
  tests/suite/test_virtual_server_weight_changes_without_reload.py
Labels: documentation, dependencies, tests, helm_chart

#5270 Add missing data points to product telemetry docs
  docs/content/overview/product-telemetry.md
Labels: documentation

#5274 Remove `the` before `NGINX Ingress Controller` in some cases
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  build/Dockerfile
  charts/nginx-ingress/README.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/installation/building-nginx-ingress-controller.md
  docs/content/installation/installing-nic/installation-with-helm.md
  docs/content/installation/integrations/app-protect-dos/configuration.md
  docs/content/installation/nic-images/using-the-jwt-token-docker-secret.md
  docs/content/logging-and-monitoring/logging.md
  docs/content/logging-and-monitoring/prometheus.md
  docs/content/overview/about.md
  docs/content/overview/nginx-plus.md
  docs/content/overview/product-telemetry.md
  docs/content/releases.md
  docs/content/technical-specifications.md
  docs/content/tutorials/nginx-ingress-linkerd.md
  docs/content/tutorials/nginx-ingress-osm.md
  docs/content/tutorials/oidc-custom-configuration.md
  docs/content/tutorials/virtual-server-with-custom-listener-ports.md
  docs/content/usage-reporting.md
  examples/custom-resources/backup-directive/virtual-server/README.md
  examples/ingress-resources/mergeable-ingress-types/README.md
  examples/ingress-resources/path-regex/README.md
  grafana/NGINXPlusICDashboard.json
  grafana/README.md
Labels: documentation, helm_chart

#5287 correct helm version in docs
  charts/nginx-ingress/README.md
  docs/content/installation/installing-nic/installation-with-helm.md
  docs/content/installation/nic-images/using-the-jwt-token-docker-secret.md
Labels: documentation, helm_chart

#5300 Fix incorrect example versions
  docs/content/includes/installation/create-custom-resources.md
  docs/content/installation/integrations/app-protect-dos/installation.md
  docs/content/installation/integrations/app-protect-waf/installation.md
  docs/content/tutorials/virtual-server-with-custom-listener-ports.md
  examples/custom-resources/service-insight/README.md
Labels: documentation

#5302 Wait before assertion in weight changes dynamic reload test
  tests/suite/test_v_s_route_weight_changes_dynamic_reload_many_splits.py
Labels: tests

#5301 Security monitoring docs
  docs/content/tutorials/security-monitoring.md
Labels: documentation

#5313 update helm flag in docs for enableWeightChangesDynamicReload
  charts/nginx-ingress/README.md
  docs/content/installation/installing-nic/installation-with-helm.md
Labels: documentation, helm_chart

#5312 update docs
  docs/content/releases.md
Labels: documentation

#5315 Cherry Pick: update helm flag in docs for enableWeightChangesDynamicReload (#5313)
  charts/nginx-ingress/README.md
  docs/content/installation/installing-nic/installation-with-helm.md
Labels: documentation, helm_chart

#5311 simplify smoke-test action
  .github/actions/smoke-tests/action.yaml
  .github/workflows/build-plus.yml
  .github/workflows/ci.yml
  tests/Makefile
Labels: tests
