Repository nginx/kubernetes-ingress, pull requests merged in 2024-04, with the labels that each got.

#5327 docs version update to 3.5.0
  README.md
  charts/nginx-ingress/Chart.yaml
  charts/nginx-ingress/README.md
  charts/nginx-ingress/values-icp.yaml
  charts/nginx-ingress/values-plus.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  docs/content/configuration/configuration-examples.md
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/handling-host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/ingress-resources/cross-namespace-configuration.md
  docs/content/configuration/ingress-resources/custom-annotations.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/security.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/includes/installation/create-custom-resources.md
  docs/content/installation/building-nginx-ingress-controller.md
  docs/content/installation/installing-nic/installation-with-helm.md
  docs/content/installation/installing-nic/installation-with-manifests.md
  docs/content/installation/installing-nic/installation-with-operator.md
  docs/content/installation/integrations/app-protect-dos/configuration.md
  docs/content/installation/integrations/app-protect-dos/installation.md
  docs/content/installation/integrations/app-protect-waf/configuration.md
  docs/content/installation/integrations/app-protect-waf/installation.md
  docs/content/installation/nic-images/pulling-ingress-controller-image.md
  docs/content/installation/nic-images/using-the-jwt-token-docker-secret.md
  docs/content/overview/controller-comparison.md
  docs/content/overview/nginx-plus.md
  docs/content/releases.md
  docs/content/technical-specifications.md
  docs/content/troubleshooting/troubleshoot-common.md
  docs/content/tutorials/custom-listen-ports.md
  docs/content/tutorials/oidc-custom-configuration.md
  docs/content/tutorials/security-monitoring.md
  docs/content/tutorials/virtual-server-with-custom-listener-ports.md
  docs/content/usage-reporting.md
Labels: documentation, helm_chart

#5318 Don't reload when `use-cluster-ip` endpoints update, and change the ingress `use-cluster-ip` implementation to use the cluster ip instead of the fqdn
  internal/configs/ingress.go
  internal/configs/ingress_test.go
  internal/k8s/controller.go
  tests/data/use-cluster-ip/ingress/mergeable/minion-ingress.yaml
  tests/data/use-cluster-ip/ingress/mergeable/use-cluster-ip-ingress.yaml
  tests/data/use-cluster-ip/ingress/standard/use-cluster-ip-ingress.yaml
  tests/data/virtual-server-use-cluster-ip/standard/virtual-server.yaml
  tests/suite/test_use_cluster_ip.py
  tests/suite/test_virtual_server_use_cluster_ip_reloads.py
  tests/suite/utils/custom_assertions.py
Labels: bug, tests

#5354 Bump Go version to v1.22.2
  go.mod
Labels: dependencies, chore

#5356 Fix heading in agent config doc
  docs/content/tutorials/security-monitoring.md
Labels: documentation

#5359 Fix heading in agent config doc
  docs/content/tutorials/security-monitoring.md
Labels: documentation

#5360 update doc for waf-dos image
  docs/content/installation/nic-images/pulling-ingress-controller-image.md
Labels: documentation

#5369 update doc for waf-dos image
  docs/content/installation/nic-images/pulling-ingress-controller-image.md
Labels: documentation

#5367 Update community call dates
  README.md
Labels: documentation

#5375 fix status for invalid vs and vsr, for weight changes dynamic reload
  internal/k8s/controller.go
Labels: bug

#5381 update labeller config
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: dependencies, chore

#5386 only apply test label to test file changes
  .github/labeler.yml
Labels: tests

#5384 ensure minimum of protobuf 1.33.0
  .github/labeler.yml
  go.mod
  go.sum
Labels: dependencies, go

#5205 Preserve valid listeners when invalid listeners are present in GlobalConfiguration
  docs/content/configuration/global-configuration/globalconfiguration-resource.md
  internal/k8s/configuration.go
  internal/k8s/configuration_test.go
  internal/k8s/controller.go
  pkg/apis/configuration/validation/globalconfiguration.go
  pkg/apis/configuration/validation/globalconfiguration_test.go
  tests/data/transport-server-status/standard/global-configuration-invalid-preceding-udp.yaml
  tests/data/transport-server-status/standard/global-configuration-invalid-tcp.yaml
  tests/data/virtual-server-custom-listeners/global-configuration-forbidden-port-http.yaml
  tests/data/virtual-server-custom-listeners/global-configuration-forbidden-port-preceding-udp.yaml
  tests/data/virtual-server-custom-listeners/global-configuration-repeated-http-port.yaml
  tests/suite/test_transport_server_status.py
  tests/suite/test_virtual_server_custom_listeners.py
  tests/suite/utils/resources_utils.py
Labels: enhancement, documentation, tests

#5391 cherry pick go updates to release-3.5
  go.mod
  go.sum
Labels: dependencies

#5366 Add proxy-set-headers annotation for ingress
  internal/configs/annotations.go
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/ingress.go
  internal/configs/parsing_helpers.go
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.ingress.tmpl
  internal/configs/version1/nginx.ingress.tmpl
  internal/configs/version1/template_helper.go
  internal/configs/version1/template_helper_test.go
  internal/configs/version1/template_test.go
  internal/k8s/validation.go
  internal/k8s/validation_test.go
  tests/data/annotations/mergeable/minion-annotations-differ.yaml
  tests/data/annotations/standard/annotations-ingress.yaml
  tests/suite/test_annotations.py
Labels: enhancement, tests

#5370 Republish helm chart workflow
  .github/workflows/publish-helm.yml
  docs/content/technical-specifications.md
Labels: documentation, chore

#5396 use inclusive language
  docs/content/installation/ingress-nginx.md
  examples/ingress-resources/custom-annotations/README.md
  examples/ingress-resources/tcp-udp/README.md
  internal/configs/annotations.go
Labels: documentation

#5392 update github labels
  .github/labeler.yml
Labels: chore

#5404 Collect count of secrets
  charts/nginx-ingress/values.yaml
  cmd/nginx-ingress/main.go
  docs/content/overview/product-telemetry.md
  internal/k8s/controller.go
  internal/k8s/secrets/store.go
  internal/k8s/secrets/store_test.go
  internal/k8s/secrets/validation.go
  internal/telemetry/cluster.go
  internal/telemetry/cluster_test.go
  internal/telemetry/collector.go
  internal/telemetry/collector_test.go
  internal/telemetry/data.avdl
  internal/telemetry/exporter.go
  internal/telemetry/nicresourcecounts_attributes_generated.go
Labels: documentation, go, helm_chart

#5406 Add telemetry data - ingresses
  docs/content/overview/product-telemetry.md
  internal/telemetry/cluster.go
  internal/telemetry/collector.go
  internal/telemetry/collector_test.go
  internal/telemetry/data.avdl
  internal/telemetry/exporter.go
  internal/telemetry/nicresourcecounts_attributes_generated.go
Labels: enhancement, documentation, go

#5410 fix link to rbac template
  docs/content/configuration/security.md
Labels: documentation

#5411 Set reporting endpoint in makefile
  Makefile
  cmd/nginx-ingress/main.go
  internal/k8s/controller.go
Labels: go, chore

#5412 fix link to rbac template
  docs/content/configuration/security.md
Labels: documentation

#5414 fix example path
  examples/ingress-resources/custom-templates/README.md
Labels: documentation

#5413 Add docs for proxy-set-header annotation in Ingress
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  examples/ingress-resources/proxy-set-headers/README.md
Labels: documentation

#5418 Add Ingress Classes to Telemetry data
  charts/nginx-ingress/templates/clusterrole.yaml
  deployments/rbac/rbac.yaml
  docs/content/overview/product-telemetry.md
  internal/telemetry/cluster.go
  internal/telemetry/cluster_test.go
  internal/telemetry/collector.go
  internal/telemetry/collector_test.go
  internal/telemetry/data.avdl
  internal/telemetry/exporter.go
  internal/telemetry/nicresourcecounts_attributes_generated.go
Labels: enhancement, documentation, go, helm_chart

#5415 Collect usage of GlobalConfiguration resources
  docs/content/overview/product-telemetry.md
  internal/k8s/controller.go
  internal/telemetry/collector.go
  internal/telemetry/collector_test.go
  internal/telemetry/data.avdl
  internal/telemetry/exporter.go
  internal/telemetry/nicresourcecounts_attributes_generated.go
Labels: documentation, go

#5424 Remove community call time column
  README.md
Labels: documentation

#5433 pin ap compiler
  build/Dockerfile
Labels: bug, docker

#5437 filter README changes in examples
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
Labels: github_actions, chore

#5431 Add examples for ProxySetHeaders Annotation
  examples/ingress-resources/proxy-set-headers/mergeable-ingress/cafe-master.yaml
  examples/ingress-resources/proxy-set-headers/mergeable-ingress/cafe-secret.yaml
  examples/ingress-resources/proxy-set-headers/mergeable-ingress/cafe.yaml
  examples/ingress-resources/proxy-set-headers/mergeable-ingress/coffee-minion.yaml
  examples/ingress-resources/proxy-set-headers/mergeable-ingress/tea-minion.yaml
  examples/ingress-resources/proxy-set-headers/standard-ingress/cafe-ingress.yaml
  examples/ingress-resources/proxy-set-headers/standard-ingress/cafe-secret.yaml
  examples/ingress-resources/proxy-set-headers/standard-ingress/cafe.yaml
Labels: documentation

#5456 Add support for named ports in ingresses which use-cluster-ip
  internal/configs/ingress_test.go
  internal/k8s/controller.go
Labels: bug, go

#5426 Fix nginx breaking & remove unused code for ProxySetHeaders annotation
  internal/configs/configmaps.go
  internal/configs/version1/template_helper_test.go
  internal/k8s/validation.go
Labels: bug, go

#5463 Cherrypick: Don't reload when `use-cluster-ip` endpoints update
  internal/configs/ingress.go
  internal/configs/ingress_test.go
  internal/k8s/controller.go
  tests/data/use-cluster-ip/ingress/mergeable/minion-ingress.yaml
  tests/data/use-cluster-ip/ingress/mergeable/use-cluster-ip-ingress.yaml
  tests/data/use-cluster-ip/ingress/standard/use-cluster-ip-ingress.yaml
  tests/data/virtual-server-use-cluster-ip/standard/virtual-server.yaml
  tests/suite/test_use_cluster_ip.py
  tests/suite/test_virtual_server_use_cluster_ip_reloads.py
  tests/suite/utils/custom_assertions.py
Labels: go, tests

#5457 Add policies count to telemetry
  docs/content/overview/product-telemetry.md
  internal/k8s/controller.go
  internal/telemetry/cluster.go
  internal/telemetry/collector.go
  internal/telemetry/collector_test.go
  internal/telemetry/data.avdl
  internal/telemetry/exporter.go
  internal/telemetry/nicresourcecounts_attributes_generated.go
Labels: enhancement, documentation, go

#5477 Remove bank holiday from community call dates
  README.md
Labels: documentation
