Repository nginx/kubernetes-ingress, pull requests merged in 2024-01, with the labels that each got.

#4851 Update docs to include CRD upgrade
  docs/content/installation/installing-nic/installation-with-operator.md
Labels: documentation

#4852 Update docs to include CRD upgrade
  docs/content/installation/installing-nic/installation-with-operator.md
Labels: documentation

#4850 Update N+
  build/Dockerfile
  docs/content/technical-specifications.md
Labels: enhancement, documentation

#4855 Immutable binaries
  .github/actions/smoke-tests/action.yaml
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/ci.yml
  examples/custom-resources/backup-directive/virtual-server/README.md
  examples/custom-resources/custom-listeners/README.md
Labels: documentation

#4865 pass go_md5 value to smoke action input
  .github/actions/smoke-tests/action.yaml
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/ci.yml
Labels: chore

#4862 Add use-cluster-ip annotation for ingress resources
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/tutorials/nginx-ingress-istio.md
  examples/ingress-resources/mergeable-ingress-types/cafe.yaml
  internal/configs/annotations.go
  internal/configs/config_params.go
  internal/configs/ingress.go
  internal/configs/ingress_test.go
  internal/k8s/validation.go
  internal/k8s/validation_test.go
Labels: enhancement, documentation

#4870 split ingresses test marker
  .github/data/matrix-regression.json
  .github/data/matrix-smoke.json
  .github/workflows/ci.yml
  tests/suite/test_annotations.py
  tests/suite/test_auth_basic_auth_mergeable.py
  tests/suite/test_auth_basic_secrets.py
  tests/suite/test_hsts.py
  tests/suite/test_watch_namespace.py
  tests/suite/test_watch_namespace_label.py
  tests/suite/test_wildcard_tls_secret.py
Labels: tests

#4845 Report User Agent for Alpine and UBI
  build/Dockerfile
Labels: chore

#4854 Update to UBI9
  .github/actions/smoke-tests/action.yaml
  .github/data/matrix-smoke.json
  .github/workflows/ci.yml
  Makefile
  build/Dockerfile
  docs/content/technical-specifications.md
Labels: documentation

#4660 Add annotations for controlling request rate limiting
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  internal/configs/annotations.go
  internal/configs/annotations_test.go
  internal/configs/config_params.go
  internal/configs/ingress.go
  internal/configs/ingress_test.go
  internal/configs/parsing_helpers.go
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.ingress.tmpl
  internal/configs/version1/nginx.ingress.tmpl
  internal/configs/version1/template_test.go
Labels: enhancement, documentation

#4895 Fix broken link to container build doc
  build/README.md
Labels: documentation

#4893 Update UBI string for new images
  build/Dockerfile
Labels: chore

#4907 Add rate-limit example
  examples/ingress-resources/custom-annotations/README.md
  examples/ingress-resources/rate-limit/README.md
  examples/ingress-resources/rate-limit/cafe-ingress.yaml
  examples/ingress-resources/rate-limit/cafe-secret.yaml
  examples/ingress-resources/rate-limit/cafe.yaml
Labels: documentation

#4886 Cherry pick 3.4.1
  .github/scripts/release-version-update.sh
  .github/workflows/build-plus.yml
  .github/workflows/ci.yml
  build/Dockerfile
  cmd/nginx-ingress/main.go
  docs/content/technical-specifications.md
  go.mod
  go.sum
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/configurator.go
  internal/configs/configurator_test.go
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/template_test.go
  internal/nginx/fake_manager.go
  internal/nginx/manager.go
  internal/nginx/manager_test.go
  tests/suite/test_virtual_server_backup_service.py
Labels: documentation, dependencies, tests

#4871 Base image hash
  build/Dockerfile
  tests/Dockerfile
Labels: tests

#4914 add retry to dos learning test
  tests/suite/utils/dos_utils.py
Labels: tests

#4917 Base image hash (#4871)
  build/Dockerfile
  tests/Dockerfile
Labels: tests

#4919 add ingress rate-limit automation tests
  tests/data/rate-limit/ingress/mergeable/annotations-rl-ingress.yaml
  tests/data/rate-limit/ingress/standard/annotations-rl-ingress.yaml
  tests/suite/test_rl_ingress.py
  tests/suite/utils/dos_utils.py
Labels: tests

#4922 correct kind version from Dockerfile
  tests/Makefile
Labels: tests

#4948 only setup go when building/testing
  .github/workflows/ci.yml
Labels: github_actions, chore

#4953 Add docs links to helm NOTES.txt
  charts/nginx-ingress/README.md
  charts/nginx-ingress/templates/NOTES.txt
  docs/content/installation/installing-nic/installation-with-helm.md
Labels: documentation, helm_chart

#4959 update pytest-html to 4.1.1
  tests/requirements.txt
Labels: dependencies, python

#4962 add alpine fips image options to installation docs
  docs/content/installation/nic-images/pulling-ingress-controller-image.md
  docs/content/installation/nic-images/using-the-jwt-token-docker-secret.md
  docs/content/technical-specifications.md
Labels: documentation

#4973 switch to using static file for version
  .github/data/version.txt
  .github/workflows/ci.yml
  .goreleaser.yml
  Makefile
Labels: github_actions

#5009 Add version formatting for NGINX pod label
  internal/nginx/manager.go
  internal/nginx/manager_test.go
  internal/nginx/version.go
  internal/nginx/version_test.go
Labels: bug

#5016 Use NGINX Version method to format the pod label string
  cmd/nginx-ingress/main.go
Labels: tests
