Repository nginx/kubernetes-ingress, pull requests merged in 2024-12, with the labels that each got.

#6895 Helm unit tests
  .pre-commit-config.yaml
  Makefile
  charts/tests/__snapshots__/helmunit_test.snap
  charts/tests/helmunit_test.go
  charts/tests/testdata/app-protect-dos.yaml
  charts/tests/testdata/app-protect-waf.yaml
  charts/tests/testdata/app-protect-wafv5.yaml
  charts/tests/testdata/custom-resources.yaml
  charts/tests/testdata/daemonset.yaml
  charts/tests/testdata/global-configuration.yaml
  charts/tests/testdata/ingress-class.yaml
  charts/tests/testdata/plus.yaml
  go.mod
  go.sum
Labels: dependencies, go

#6899 update usage-reporting
  site/content/usage-reporting.md
Labels: documentation, needs cherry pick

#6903 add license secret and mgmt config map for r33
  .github/actions/smoke-tests/action.yaml
  .github/data/matrix-images-plus.json
  .github/workflows/ci.yml
  .github/workflows/regression.yml
  .github/workflows/setup-smoke.yml
  .github/workflows/single-image-regression.yml
  build/Dockerfile
  charts/nginx-ingress/templates/_helpers.tpl
  charts/nginx-ingress/templates/controller-configmap.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  charts/tests/__snapshots__/helmunit_test.snap
  cmd/nginx-ingress/flags.go
  cmd/nginx-ingress/main.go
  deployments/common/plus-mgmt-configmap.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  internal/configs/commonhelpers/common_template_helpers.go
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/configmaps_test.go
  internal/configs/configurator.go
  internal/configs/configurator_test.go
  internal/configs/parsing_helpers.go
  internal/configs/version1/__snapshots__/template_test.snap
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/template_helper.go
  internal/configs/version1/template_test.go
  internal/k8s/configmap.go
  internal/k8s/controller.go
  internal/k8s/secrets/validation.go
  internal/k8s/secrets/validation_test.go
  site/content/installation/installing-nic/installation-with-helm.md
  site/content/installation/integrations/app-protect-waf-v5/installation.md
  tests/conftest.py
  tests/settings.py
  tests/suite/fixtures/fixtures.py
  tests/suite/utils/resources_utils.py
Labels: documentation, change, go, python, github_actions, docker, chore, tests, helm_chart

#6916 upgrade go client and prometheus exporter
  cmd/nginx-ingress/main.go
  go.mod
  go.sum
  internal/healthcheck/healthcheck.go
  internal/healthcheck/healthcheck_test.go
  internal/metrics/listener.go
  internal/nginx/fake_manager.go
  internal/nginx/manager.go
  internal/nginx/manager_test.go
Labels: dependencies, go

#6917 Update license reporting
  cmd/nginx-ingress/main.go
  internal/license_reporting/license_reporting.go
  internal/license_reporting/license_reporting_test.go
  internal/nginx/manager.go
Labels: go

#6926 prevent auto publishing docs on push to release branch
  .github/workflows/docs-build-push.yml
Labels: github_actions, chore

#6921 add additional mgmt config parameters
  build/scripts/common.sh
  charts/nginx-ingress/templates/_helpers.tpl
  charts/nginx-ingress/templates/controller-configmap.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  cmd/nginx-ingress/main.go
  examples/shared-examples/nginx-plus-secret/README.md
  examples/shared-examples/nginx-plus-secret/configmap.yaml
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/configurator.go
  internal/configs/configurator_test.go
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/template_helper.go
  internal/configs/version1/template_helper_test.go
  internal/k8s/controller.go
  site/content/configuration/global-configuration/command-line-arguments.md
  site/content/configuration/global-configuration/mgmt-configmap-resource.md
  site/content/includes/installation/download-jwt.md
  site/content/installation/installing-nic/create-license-secret.md
  site/content/installation/installing-nic/installation-with-helm.md
  site/content/installation/installing-nic/installation-with-manifests.md
  site/content/installation/installing-nic/installation-with-operator.md
  tests/suite/fixtures/fixtures.py
Labels: documentation, go, python, tests, helm_chart

#6928 remove marketplace plus images from docs for 4.0.0
  README.md
  hack/changelog-template.txt
  site/content/installation/nic-images/use-aws-image.md
  site/content/installation/nic-images/use-gcp-image.md
  site/content/technical-specifications.md
Labels: documentation

#6931 Update Go version
  go.mod
Labels: dependencies, go

#6939 fix helm plus regression
  .github/workflows/regression.yml
Labels: bug, github_actions, chore

#6947 Update secrets when mgmt configmap changes
  internal/k8s/controller.go
  tests/data/mgmt-configmap-keys/plus-token-name-keys.yaml
  tests/suite/test_mgmt_configmap_keys.py
Labels: go, python, tests

#6809 Fix Makefile Bug
  Makefile
Labels: chore

#6958 ensure tag exists before scanning
  .github/workflows/image-promotion.yml
Labels: github_actions, chore, needs cherry pick

#6957 Add mgmt configmap tests
  internal/configs/configurator.go
  internal/configs/configurator_test.go
  internal/k8s/controller.go
  tests/data/mgmt-configmap-keys/all-options.yaml
  tests/data/mgmt-configmap-keys/ssl-cert.yaml
  tests/data/mgmt-configmap-keys/ssl-trusted-cert.yaml
  tests/suite/test_mgmt_configmap_keys.py
Labels: go, python, tests, needs cherry pick

#6961 allow scan uploads to fail
  .github/workflows/image-promotion.yml
Labels: github_actions, chore

#6968 allow scan uploads to fail (#6961)
  .github/workflows/image-promotion.yml
Labels: github_actions, chore

#6964 Security update for Go crypto pkg
  go.mod
  go.sum
Labels: dependencies, go, needs cherry pick

#6970 Bump up 3rd party deps for K8s
  go.mod
  go.sum
Labels: dependencies, go, needs cherry pick

#6974 update regression matrix to include old k8s
  .github/workflows/regression.yml
Labels: github_actions, chore, needs cherry pick

#6987 Expand mgmt configmap tests
  internal/configs/configmaps.go
  internal/configs/configmaps_test.go
  internal/validation/validation.go
  internal/validation/validation_test.go
  pkg/apis/dos/validation/dos.go
  pkg/apis/dos/validation/dos_test.go
Labels: go, needs cherry pick

#7007 Docs: Fix link in security.md
  site/content/configuration/security.md
Labels: documentation

#7008 [cherry-pick] Docs: Fix link in security.md (#7007)
  site/content/configuration/security.md
Labels: documentation

#7018 Add minikube as option for running tests
  tests/Makefile
Labels: tests

#7021 Fixed documentation for specifying NAP enforcer and configManager images in Helm values
  site/content/installation/installing-nic/installation-with-helm.md
Labels: documentation, needs cherry pick

#7026 Fixed documentation for specifying NAP enforcer and configManager images in Helm values
  site/content/installation/installing-nic/installation-with-helm.md
Labels: documentation

#7027 Update main docs to 4.0.0
  .github/data/version.txt
  README.md
  charts/nginx-ingress/Chart.yaml
  charts/nginx-ingress/values-icp.yaml
  charts/nginx-ingress/values-plus.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  charts/tests/__snapshots__/helmunit_test.snap
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  examples/custom-resources/service-insight/README.md
  site/content/releases.md
  site/content/technical-specifications.md
  site/layouts/shortcodes/nic-helm-version.html
  site/layouts/shortcodes/nic-operator-version.html
  site/layouts/shortcodes/nic-version.html
  tests/data/annotations/grpc/annotations-ingress.yaml
  tests/data/common/app/secure/app.yaml
  tests/data/hsts/mergeable-tls/hsts-ingress.yaml
  tests/data/hsts/standard-tls/hsts-ingress.yaml
Labels: documentation, python, tests, helm_chart

#7032 add plus jwt to local tests
  tests/Makefile
Labels: tests

#7036 update upgrade docs
  site/content/includes/installation/create-custom-resources.md
  site/content/installation/installing-nic/installation-with-helm.md
  site/content/installation/installing-nic/upgrade-to-v4.md
Labels: documentation, needs cherry pick

#7033 remove all attestation layers from AWS marketplace images
  .github/workflows/build-plus.yml
Labels: github_actions, chore, needs cherry pick

#7035 add tests for kubernetes versions
  cmd/nginx-ingress/main.go
  cmd/nginx-ingress/main_test.go
Labels: go
