Repository nginx/kubernetes-ingress, pull requests merged in 2024-09, with the labels that each got.

#6321 refactor ConfigMap controller
  internal/k8s/configmap.go
  internal/k8s/controller.go
  internal/k8s/handlers.go
Labels: go

#6323 refactor EndpointSlice controller
  internal/k8s/controller.go
  internal/k8s/endpoint_slice.go
  internal/k8s/handlers.go
Labels: go

#6320 Bump documentation theme version
  docs/Makefile
  docs/go.mod
  docs/go.sum
Labels: needs cherry pick

#6326 images to patch sourced from json file
  .github/data/patch-images.json
  .github/workflows/image-promotion.yml
  .github/workflows/oss-release.yml
  .github/workflows/plus-release.yml
  .github/workflows/regression.yml
  .github/workflows/release.yml
  .github/workflows/update-docker-images.yml
Labels: github_actions, chore, needs cherry pick

#6336 remove fips & unused aws images from release
  .github/config/config-plus-gcr-release
  .github/scripts/copy-images.sh
Labels: chore

#6335 Image patching fix
  .github/workflows/update-docker-images.yml
Labels: github_actions, chore

#6294 Fix NAP WAF v5 example link, minor style issues
  docs/content/installation/integrations/app-protect-waf-v5/configuration.md
Labels: documentation, needs cherry pick

#6327 refactor GlobalConfiguration controller
  internal/k8s/controller.go
  internal/k8s/global_configuration.go
  internal/k8s/handlers.go
Labels: go

#6282 Cherry pick documentation updates from main for 3.6
  docs/content/configuration/global-configuration/configmap-resource.md
  docs/content/configuration/global-configuration/custom-templates.md
  docs/content/configuration/host-and-listener-collisions.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-annotations.md
  docs/content/configuration/ingress-resources/advanced-configuration-with-snippets.md
  docs/content/configuration/ingress-resources/basic-configuration.md
  docs/content/configuration/policy-resource.md
  docs/content/configuration/transportserver-resource.md
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/installation/build-nginx-ingress-controller.md
  docs/content/installation/ingress-nginx.md
  docs/content/installation/installing-nic/installation-with-helm.md
  docs/content/installation/installing-nic/installation-with-manifests.md
  docs/content/installation/installing-nic/installation-with-operator.md
  docs/content/installation/integrations/app-protect-dos/configuration.md
  docs/content/installation/integrations/app-protect-dos/installation.md
  docs/content/installation/integrations/app-protect-dos/troubleshoot-app-protect-dos.md
  docs/content/installation/integrations/app-protect-waf-v5/installation.md
  docs/content/installation/integrations/app-protect-waf/compile-waf-policies.md
  docs/content/installation/integrations/app-protect-waf/configuration.md
  docs/content/installation/integrations/app-protect-waf/installation.md
  docs/content/installation/integrations/app-protect-waf/troubleshoot-app-protect-waf.md
  docs/content/installation/integrations/f5-ingresslink.md
  docs/content/installation/integrations/opentracing.md
  docs/content/installation/nic-images/_index.md
  docs/content/installation/nic-images/get-image-using-jwt.md
  docs/content/installation/nic-images/get-registry-image.md
  docs/content/installation/nic-images/use-aws-image.md
  docs/content/installation/nic-images/use-gcp-image.md
  docs/content/installation/run-multiple-ingress-controllers.md
  docs/content/logging-and-monitoring/prometheus.md
  docs/content/overview/about.md
  docs/content/technical-specifications.md
  docs/content/tutorials/oidc-custom-configuration.md
  docs/content/usage-reporting.md
Labels: documentation

#6339 Update documentation Makefile and README
  docs/Makefile
  docs/README.md
Labels: documentation, needs cherry pick

#6345 fix formatting
  docs/content/overview/about.md
Labels: documentation

#6337 Bump Go version to v1.23
  .github/workflows/ci.yml
  go.mod
Labels: dependencies, go, github_actions

#6352 remove extra endifs
  docs/Makefile
Labels: documentation, needs cherry pick

#6350 update go version format
  go.mod
Labels: dependencies, go

#6349 refactor Leader controller
  internal/k8s/controller.go
  internal/k8s/leader.go
Labels: go

#6348 refactor IngressLink controller
  internal/k8s/controller.go
  internal/k8s/handlers.go
  internal/k8s/ingress_link.go
Labels: go

#6368 update go version
  go.mod
Labels: dependencies, go

#6373 Reduce cyclomatic complexity in controller.go
  internal/k8s/controller.go
Labels: go

#6377 Listener directive refactor
  internal/configs/version2/template_helper.go
Labels: go

#6351 Update docs-actions
  .github/workflows/docs-build-push.yml
Labels: github_actions, chore

#6383 Add CLA bot workflow
  .github/scripts/exclude_ci_files.txt
  .github/workflows/f5-cla.yml
  CONTRIBUTING.md
Labels: documentation, github_actions

#6389 refactor TransportServer controller
  internal/k8s/controller.go
  internal/k8s/handlers.go
  internal/k8s/transport_server.go
Labels: go

#6388 refactor Policy controller
  internal/k8s/controller.go
  internal/k8s/handlers.go
  internal/k8s/policy.go
Labels: go

#6372 Create unique lease obj for each NIC installed via Helm
  charts/nginx-ingress/templates/controller-lease.yaml
  charts/nginx-ingress/templates/controller-role.yaml
  charts/nginx-ingress/values.yaml
Labels: bug, helm_chart

#6392 Use Go v1.23 alpine as golang_builder
  build/Dockerfile
Labels: docker, needs cherry pick

#6393 don't publish images we don't update on the Marketplace
  .github/workflows/update-docker-images.yml
Labels: github_actions, chore

#6402 add 1.25 to regression
  .github/workflows/regression.yml
  docs/content/technical-specifications.md
Labels: documentation, github_actions, chore, needs cherry pick

#6396 move Namespace Controller to it's own file
  internal/k8s/controller.go
  internal/k8s/handlers.go
  internal/k8s/namespace.go
Labels: go

#6404 update readme community call dates and badge
  README.md
Labels: documentation

#6395 refactor Service Controller to it's own file
  internal/k8s/controller.go
  internal/k8s/handlers.go
  internal/k8s/handlers_test.go
  internal/k8s/service.go
  internal/k8s/service_test.go
Labels: go

#6405 add appprotect and agent to regression suite
  .github/data/matrix-regression.json
Labels: chore

#6407 update waf v5 docs
  docs/content/installation/integrations/app-protect-waf-v5/installation.md
Labels: documentation, needs cherry pick

#6415 Fix issues reported by staticcheck
  internal/certmanager/sync_test.go
  internal/certmanager/test_files/context_builder.go
  internal/configs/virtualserver_test.go
  internal/externaldns/sync_test.go
  internal/k8s/appprotect/app_protect_configuration.go
  internal/k8s/validation.go
  pkg/apis/configuration/validation/common.go
Labels: go

#6421 Fix error message to comply with staticcheck
  pkg/apis/dos/validation/dos.go
Labels: go

#6419 Fix typo, feedback
  docs/content/overview/design.md
Labels: documentation

#6420 Remove double import
  internal/k8s/service.go
Labels: go

#6429 Change dos doc for dosAccessLogDest and dosSecurityLog.dosLogDest
  docs/content/installation/integrations/app-protect-dos/dos-protected.md
Labels: documentation

#6406 fix udp/http listener validation logic
  pkg/apis/configuration/validation/globalconfiguration.go
  pkg/apis/configuration/validation/globalconfiguration_test.go
  tests/data/udp-http-listeners-together/global-configuration.yaml
  tests/data/udp-http-listeners-together/transport-server.yaml
  tests/data/udp-http-listeners-together/virtual-server.yaml
  tests/suite/test_udp_http_listeners_together.py
  tests/suite/test_virtual_server_custom_listeners.py
Labels: bug, go, python, tests

#6441 Update bug issue template to use `needs triage` label
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Labels: github_actions, chore

#6442 Bump docs-action to v1.0.5
  .github/workflows/docs-build-push.yml
Labels: github_actions, chore, needs cherry pick

#6367 Add IP to TransportServer Listener
  charts/nginx-ingress/values.schema.json
  docs/content/configuration/global-configuration/globalconfiguration-resource.md
  examples/custom-resources/custom-ip-listeners/transportserver/README.md
  examples/custom-resources/custom-ip-listeners/transportserver/dns.yaml
  examples/custom-resources/custom-ip-listeners/transportserver/global-configuration.yaml
  examples/custom-resources/custom-ip-listeners/transportserver/tcp-transport-server.yaml
  examples/custom-resources/custom-ip-listeners/transportserver/udp-transport-server.yaml
  internal/configs/transportserver.go
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/stream.go
  internal/configs/version2/template_helper.go
  internal/configs/version2/template_helper_test.go
  internal/configs/version2/templates_test.go
  internal/k8s/configuration.go
  internal/k8s/controller.go
  internal/k8s/global_configuration.go
  internal/k8s/transport_server.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/validation/globalconfiguration.go
  pkg/apis/configuration/validation/globalconfiguration_test.go
  tests/data/transport-server-custom-ip-listener/global-configuration.yaml
  tests/data/transport-server-custom-ip-listener/transport-server.yaml
  tests/suite/test_transport_server_custom_ip_listener.py
Labels: enhancement, documentation, go, python, tests, helm_chart

#6444 Aws mktpl docs updates
  docs/Makefile
  docs/content/installation/nic-images/use-aws-image.md
  docs/go.mod
  docs/go.sum
Labels: documentation

#6423 Add benchmark tests for configurator
  internal/configs/configurator_bench_test.go
Labels: go

#6422 Add initial benchmark tests for NIC
  internal/configs/annotations_test.go
Labels: go

#6457 update aws deployment docs with helm instructions
  docs/content/installation/nic-images/use-aws-image.md
Labels: documentation

#6462 Docs: Update broken URL is docs
  docs/content/configuration/virtualserver-and-virtualserverroute-resources.md
  docs/content/logging-and-monitoring/service-insight.md
Labels: documentation

#6464 disable Trivy until SBOM 3.0 review
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/image-promotion.yml
Labels: github_actions, chore

#6456 add NIC+WAFv5 tests
  .github/actions/smoke-tests/action.yaml
  .github/data/matrix-smoke-nap.json
  .github/workflows/build-test-image.yml
  .github/workflows/ci.yml
  .github/workflows/regression.yml
  .github/workflows/setup-smoke.yml
  .github/workflows/single-image-regression.yml
  pyproject.toml
  tests/Dockerfile
  tests/conftest.py
  tests/data/ap-waf-v5/policies/waf.yaml
  tests/data/ap-waf-v5/standard/virtual-server.yaml
  tests/data/ap-waf-v5/virtual-server-route-waf-subroute.yaml
  tests/data/ap-waf-v5/virtual-server-waf-route.yaml
  tests/data/ap-waf-v5/virtual-server-waf-spec.yaml
  tests/data/ap-waf-v5/wafv5.json
  tests/settings.py
  tests/suite/fixtures/ic_fixtures.py
  tests/suite/test_app_protect_wafv5_integration.py
  tests/suite/utils/resources_utils.py
Labels: python, github_actions, docker, chore, tests

#6446 fix: disable batch reload when batch finishes
  internal/k8s/controller.go
Labels: go

#6478 add wafv5 tests to regression matrix
  .github/data/matrix-regression.json
Labels: chore

#6479 Remove unnessary type assertion
  internal/certmanager/test_files/reactors.go
Labels: go

#6489 fix regression job
  .github/workflows/regression.yml
  tests/conftest.py
  tests/suite/test_app_protect_wafv5_integration.py
Labels: python, github_actions, chore, tests

#6491 add marker to conftest
  tests/conftest.py
Labels: python, tests

#6502 add retry to version check in logs
  tests/suite/test_build_info.py
Labels: python, tests, needs cherry pick

#6506 Update community call dates
  README.md
Labels: documentation, needs cherry pick

#6507 WAFv5 update to 5.3/alpine update
  .github/workflows/regression.yml
  .github/workflows/setup-smoke.yml
  build/Dockerfile
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  docs/content/installation/installing-nic/installation-with-helm.md
  tests/settings.py
Labels: documentation, python, github_actions, docker, chore, tests, helm_chart, needs cherry pick

#6501 refactor to prepare for struct logs
  cmd/nginx-ingress/flags.go
  cmd/nginx-ingress/main.go
Labels: go

#6467 Docs: Added Support page
  docs/content/troubleshooting/troubleshoot-common.md
  docs/content/troubleshooting/troubleshoot-configmap-policy.md
  docs/content/troubleshooting/troubleshoot-support.md
  docs/content/troubleshooting/troubleshoot-transportserver.md
  docs/content/troubleshooting/troubleshoot-virtualserver.md
Labels: documentation, needs cherry pick

#6474 Slog handler
  internal/logger/glog/handler.go
  internal/logger/glog/handler_test.go
  internal/logger/logger.go
Labels: go

#6515 Docs: Added Support page (#6467)
  docs/content/troubleshooting/troubleshoot-common.md
  docs/content/troubleshooting/troubleshoot-configmap-policy.md
  docs/content/troubleshooting/troubleshoot-support.md
  docs/content/troubleshooting/troubleshoot-transportserver.md
  docs/content/troubleshooting/troubleshoot-virtualserver.md
Labels: documentation

#6509 prevent final result from succeeding if any image builds fail
  .github/workflows/ci.yml
Labels: github_actions, chore, needs cherry pick

#6511 grafana template update that works with grafana v11.2.0
  grafana/NGINXPlusICDashboard.json
Labels: chore, needs cherry pick

#6526 grafana template update that works with grafana v11.2.0 (#6511)
  grafana/NGINXPlusICDashboard.json
Labels: bug

#6520 Add LogLevel & LogFormat flags
  charts/nginx-ingress/templates/_helpers.tpl
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  cmd/nginx-ingress/flags.go
  cmd/nginx-ingress/flags_test.go
  cmd/nginx-ingress/main.go
  cmd/nginx-ingress/main_test.go
  docs/content/configuration/global-configuration/command-line-arguments.md
  docs/content/installation/installing-nic/installation-with-helm.md
  docs/content/troubleshooting/troubleshoot-common.md
Labels: enhancement, documentation, change, go, helm_chart

#6530 refactor: replace glog in flags.go
  cmd/nginx-ingress/flags.go
  cmd/nginx-ingress/main.go
  cmd/nginx-ingress/main_test.go
  internal/logger/glog/handler.go
  internal/logger/glog/handler_test.go
  internal/logger/levels/levels.go
Labels: go

#6531 refactor: replace glog in main.go
  cmd/nginx-ingress/main.go
Labels: go

#6536 Add docs auto deployment from release 3.7 to prod
  .github/workflows/docs-build-push.yml
Labels: github_actions, chore, needs cherry pick
