Repository nginx/kubernetes-ingress, pull requests merged in 2025-04, with the labels that each got.

#7591 Update docs to fix kubernates typos
  site/content/installation/installing-nic/installation-with-helm.md
Labels: documentation, needs cherry pick

#7606 temporarily disable builds failing for NAP WAF v4 on UBI
  .github/config/config-gcr-retag
  .github/config/config-plus-gcr-release
  .github/config/config-plus-nginx
  .github/data/matrix-images-nap.json
  .github/data/matrix-smoke-nap.json
Labels: chore

#7567 Remove support for Open Tracing for NGINX Plus
  build/Dockerfile
  internal/configs/configmaps.go
  internal/configs/configmaps_test.go
  internal/configs/version1/__snapshots__/template_test.snap
  internal/configs/version1/nginx-plus.tmpl
Labels: go, docker

#7597 update NGINX Plus to R34 and App Protect to 4.14 & 5.6
  .github/config/config-gcr-retag
  .github/config/config-plus-gcr-release
  .github/config/config-plus-nginx
  .github/data/matrix-images-nap.json
  .github/data/matrix-smoke-nap.json
  .github/workflows/regression.yml
  .github/workflows/setup-smoke.yml
  Makefile
  build/Dockerfile
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  charts/tests/__snapshots__/helmunit_test.snap
  site/content/installation/installing-nic/installation-with-helm.md
  site/content/installation/integrations/app-protect-waf-v5/installation.md
  site/content/technical-specifications.md
  tests/settings.py
Labels: documentation, python, github_actions, docker, chore, tests, helm_chart

#7607 Bump Go version to 1.24.2
  build/Dockerfile
  go.mod
Labels: dependencies, go, docker

#7560 Add forward proxy support to mgmt config
  Makefile
  charts/nginx-ingress/templates/controller-configmap.yaml
  charts/nginx-ingress/templates/controller-daemonset.yaml
  charts/nginx-ingress/templates/controller-deployment.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  charts/tests/__snapshots__/helmunit_test.snap
  charts/tests/helmunit_test.go
  charts/tests/testdata/plus-mgmt-custom-endpoint.yaml
  charts/tests/testdata/plus-mgmt-proxy-host-auth.yaml
  charts/tests/testdata/plus-mgmt-proxy-host.yaml
  charts/tests/testdata/plus-mgmt.yaml
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/configmaps_test.go
  internal/configs/version1/__snapshots__/template_test.snap
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/template_test.go
  internal/validation/validation.go
  site/content/configuration/global-configuration/mgmt-configmap-resource.md
  site/content/installation/installing-nic/installation-with-helm.md
Labels: documentation, go, chore, helm_chart

#7579 Update NAP documentation for 4.1 release
  site/content/includes/compatibility-tables/nic-nap.md
  site/content/installation/integrations/app-protect-waf-v5/configuration.md
  site/content/installation/integrations/app-protect-waf-v5/installation.md
  site/content/installation/integrations/app-protect-waf-v5/troubleshoot-app-protect-waf.md
  site/content/installation/integrations/app-protect-waf/configuration.md
  site/content/installation/integrations/app-protect-waf/installation.md
Labels: documentation, needs cherry pick

#7613 only run race condition checks in pipeline
  Makefile
Labels: chore

#7616 Update kubernetes version to 1.32.3 in helm schema file
  charts/nginx-ingress/values.schema.json
Labels: chore, needs cherry pick

#7638 replace patch with delete and create
  tests/suite/utils/vs_vsr_resources_utils.py
Labels: python, tests

#7633 Remove OpenTracing Support from NIC
  .github/workflows/build-ot-dependency.yml
  build/Dockerfile
  cmd/nginx-ingress/main.go
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/configmaps_test.go
  internal/configs/configurator.go
  internal/configs/configurator_test.go
  internal/configs/version1/__snapshots__/template_test.snap
  internal/configs/version1/config.go
  internal/configs/version1/nginx.tmpl
  internal/configs/version1/template_executor_test.go
  internal/nginx/fake_manager.go
  internal/nginx/manager.go
  internal/nginx/verify.go
  internal/nginx/verify_test.go
  site/content/configuration/global-configuration/configmap-resource.md
  site/content/installation/integrations/opentracing.md
  site/content/technical-specifications.md
Labels: change

#7641 Update the `zone-sync` ConfigMap key note
  site/content/configuration/global-configuration/configmap-resource.md
Labels: documentation, needs cherry pick

#7643 add retries to test logic
  tests/suite/test_rl_ingress.py
  tests/suite/test_rl_policies.py
Labels: python, tests

#7651 Use pod labels as headless selector labels
  charts/nginx-ingress/templates/_helpers.tpl
  charts/tests/__snapshots__/helmunit_test.snap
  cmd/nginx-ingress/main.go
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  internal/k8s/service.go
  internal/telemetry/cluster_test.go
Labels: go, helm_chart, needs cherry pick

#7658 remove extra chars in zone-sync note
  site/content/configuration/global-configuration/configmap-resource.md
Labels: documentation, needs cherry pick

#7662 5.0.0 docs
  .github/data/version.txt
  README.md
  charts/nginx-ingress/Chart.yaml
  charts/nginx-ingress/values-icp.yaml
  charts/nginx-ingress/values-plus.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  charts/tests/__snapshots__/helmunit_test.snap
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  examples/custom-resources/service-insight/README.md
  site/content/releases.md
  site/layouts/shortcodes/nic-helm-version.html
  site/layouts/shortcodes/nic-operator-version.html
  site/layouts/shortcodes/nic-version.html
Labels: documentation, helm_chart

#7663 Remove community slack notification
  .github/workflows/release.yml
Labels: github_actions, chore, needs cherry pick

#7674 update tech spec with supported versions
  site/content/technical-specifications.md
Labels: documentation, needs cherry pick

#7667 Minor fixes to RN 5.0.0.
  site/content/releases.md
Labels: documentation

#7681 Update the ConfigMap Zone Sync documentation
  site/content/configuration/global-configuration/configmap-resource.md
Labels: documentation, needs cherry pick

#7676 add separator to the end of the new release notes
  hack/changelog-template.txt
Labels: chore, needs cherry pick

#7688 docs: Adds installation guide for NIC and waf
  site/content/installation/installing-nic/deploy-with-nap-using-helm.md
Labels: documentation

#7695 Add ConfigMapKeys & MGMTConfigMapKeys to Telemetry
  internal/k8s/controller.go
  internal/telemetry/cluster.go
  internal/telemetry/cluster_test.go
  internal/telemetry/collector.go
  internal/telemetry/collector_test.go
  internal/telemetry/data.avdl
  internal/telemetry/exporter.go
  internal/telemetry/nicresourcecounts_attributes_generated.go
  site/content/overview/product-telemetry.md
Labels: documentation, go

#7705 Add Context to logging for JSON and TEXT formats
  cmd/nginx-ingress/main.go
  cmd/nginx-ingress/main_test.go
Labels: go

#7691 add flag based fix to avoid default endpoint
  cmd/nginx-ingress/main.go
  internal/k8s/configmap.go
  internal/k8s/controller.go
  internal/k8s/controller_test.go
Labels: bug, go

#7715 Cherry pick wafv5 install doc(#7416)
  site/content/installation/installing-nic/deploy-with-nap-using-helm.md
Labels: documentation
