Repository nginx/kubernetes-ingress, pull requests merged in 2025-09, with the labels that each got.

#8208 Update NGINX Agent to 3.3
  Makefile
  build/Dockerfile
  tests/data/modules/data.json
Labels: dependencies, docker

#8133 Move proxy values balancing to the beginning of parsing
  charts/nginx-ingress/templates/_helpers.tpl
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  cmd/nginx-ingress/flags.go
  cmd/nginx-ingress/main.go
  config/crd/bases/k8s.nginx.org_virtualserverroutes.yaml
  config/crd/bases/k8s.nginx.org_virtualservers.yaml
  deploy/crds.yaml
  docs/crd/k8s.nginx.org_virtualserverroutes.md
  docs/crd/k8s.nginx.org_virtualservers.md
  internal/configs/annotations.go
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/configmaps_test.go
  internal/configs/configurator.go
  internal/configs/ingress.go
  internal/configs/parsing_helpers.go
  internal/configs/parsing_helpers_test.go
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.ingress.tmpl
  internal/configs/version1/nginx.ingress.tmpl
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  internal/k8s/configuration.go
  internal/k8s/configuration_test.go
  internal/k8s/controller.go
  internal/k8s/validation.go
  internal/k8s/validation_test.go
  internal/validation/data_types.go
  internal/validation/data_types_test.go
  internal/validation/validation.go
  internal/validation/validation_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/validation/common.go
  pkg/apis/configuration/validation/virtualserver.go
  tests/data/virtual-server-configmap-keys/configmap-no-validation-keys-invalid-no-proxies.yaml
  tests/suite/test_virtual_server_configmap_keys.py
Labels: enhancement, go, python

#8196 Adds sha256 hash to quay.io/skopeo import
  tests/Dockerfile
Labels: docker, chore

#8221 Fix gofumpt empty string errors
  cmd/nginx-ingress/utils.go
  internal/certmanager/test_files/context_builder.go
  internal/certmanager/test_files/reactors.go
  internal/k8s/utils.go
Labels: go, chore

#8220 update golang to 1.25
  build/Dockerfile
  go.mod
Labels: go, docker, chore

#8229 update prometheus metrics with N+ license expiry
  cmd/nginx-ingress/main.go
  go.mod
  go.sum
  internal/healthcheck/healthcheck.go
  internal/healthcheck/healthcheck_test.go
  internal/license_reporting/license_reporting.go
  internal/license_reporting/license_reporting_test.go
  internal/nginx/fake_manager.go
  internal/nginx/manager.go
  internal/nginx/manager_test.go
Labels: enhancement, go

#8233 Correct yaml indentation for daemon-set readiness probe
  deployments/daemon-set/nginx-ingress.yaml
Labels: chore

#8226 Fix Proxy Buffer Config Adjustments
  internal/configs/annotations.go
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/configmaps_test.go
  internal/configs/ingress.go
  internal/configs/parsing_helpers.go
  internal/configs/parsing_helpers_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  internal/k8s/validation.go
  internal/k8s/validation_test.go
  internal/validation/data_types.go
  internal/validation/data_types_test.go
  internal/validation/validation.go
  internal/validation/validation_test.go
  pkg/apis/configuration/validation/common.go
  pkg/apis/configuration/validation/virtualserver.go
Labels: go, chore

#8246 Docker image update e10758e1 (#8244)
  build/Dockerfile
  tests/Dockerfile
Labels: dependencies, docker

#8272 Update main with 5.2.0
  README.md
  charts/nginx-ingress/Chart.yaml
  charts/nginx-ingress/values-icp.yaml
  charts/nginx-ingress/values-plus.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  deployments/stateful-set/nginx-ingress.yaml
  deployments/stateful-set/nginx-plus-ingress.yaml
  examples/custom-resources/service-insight/README.md
Labels: chore

#8273 update dependencies
  .github/workflows/notifications.yml
  .github/workflows/release.yml
  .github/workflows/updates-notification.yml
  tests/requirements.txt
Labels: python, github_actions, chore

#8281 Fix helm not found in CI pipeline
  .github/workflows/publish-helm.yml
Labels: github_actions, chore

#8282 Bring F5 self-hosted runners to release-5.2
  .github/actionlint.yaml
  .github/workflows/build-artifacts.yml
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/ci.yml
  .github/workflows/image-promotion.yml
  .github/workflows/patch-image.yml
  .github/workflows/publish-helm.yml
  .github/workflows/release.yml
Labels: github_actions, chore

#8317 Pin all NAP WAF package versions
  Makefile
  build/Dockerfile
Labels: docker, chore, needs cherry pick
