Repository nginx/kubernetes-ingress, pull requests merged in 2025-08, with the labels that each got.

#8094 Add integration test for agent
  tests/suite/test_agent.py
Labels: python, tests

#8119 Don't send request headers & body to jwks uri
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/nginx-plus.virtualserver.tmpl
Labels: bug, needs cherry pick

#8115 chore(deps): bump the go group across 1 directory with 3 updates (#8096)
  go.mod
  go.sum
Labels: dependencies, go

#8136 update test dockerfile
  tests/Dockerfile
Labels: docker, tests, needs cherry pick

#7971 Update to NGINX OSS 1.29.1, PLUS R35, Agent v3.2, App Protect and Alpine 3.22
  .github/workflows/regression.yml
  .github/workflows/setup-smoke.yml
  Makefile
  build/Dockerfile
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  charts/tests/__snapshots__/helmunit_test.snap
  tests/data/agent/agent-v3.conf
  tests/data/modules/data.json
  tests/settings.py
Labels: dependencies, python, github_actions, docker, needs cherry pick

#8139 Update to NGINX OSS 1.29.1, PLUS R35, Agent v3.2, App Protect and Alpine 3.22
  .github/workflows/regression.yml
  .github/workflows/setup-smoke.yml
  Makefile
  build/Dockerfile
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  charts/tests/__snapshots__/helmunit_test.snap
  tests/settings.py
Labels: dependencies

#8005 add nginx content cache as cache policy
  .github/data/matrix-smoke-oss.json
  .github/data/matrix-smoke-plus.json
  charts/nginx-ingress/templates/_helpers.tpl
  charts/nginx-ingress/templates/controller-service.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  docs/crd/k8s.nginx.org_policies.md
  examples/custom-resources/cache-policy/README.md
  examples/custom-resources/cache-policy/cache.yaml
  examples/custom-resources/cache-policy/cafe-secret.yaml
  examples/custom-resources/cache-policy/cafe-virtual-server.yaml
  examples/custom-resources/cache-policy/cafe.yaml
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  internal/k8s/controller_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/v1/zz_generated.deepcopy.go
  pkg/apis/configuration/validation/policy.go
  pkg/apis/configuration/validation/policy_test.go
  pyproject.toml
  tests/data/cache-policy/policies/cache-policy-advanced.yaml
  tests/data/cache-policy/policies/cache-policy-basic.yaml
  tests/data/cache-policy/policies/cache-policy-purge.yaml
  tests/data/cache-policy/route/virtual-server-cache-policy-advanced-route.yaml
  tests/data/cache-policy/route/virtual-server-cache-policy-basic-route.yaml
  tests/data/cache-policy/spec/virtual-server-cache-policy-advanced-spec.yaml
  tests/data/cache-policy/spec/virtual-server-cache-policy-basic-spec.yaml
  tests/data/cache-policy/spec/virtual-server-cache-policy-purge.yaml
  tests/data/cache-policy/vsr/virtual-server-route-cache-policy-advanced.yaml
  tests/data/cache-policy/vsr/virtual-server-route-cache-policy-basic.yaml
  tests/data/cache-policy/vsr/virtual-server-route-cache-policy-purge.yaml
  tests/data/cache-policy/vsr/virtual-server.yaml
  tests/suite/test_cache_policies_vs.py
  tests/suite/test_cache_policies_vsr.py
  tests/suite/utils/resources_utils.py
Labels: enhancement, go, python

#8166 Always run tests when inputs.run_tests is true
  .github/workflows/ci.yml
  .github/workflows/setup-smoke.yml
Labels: github_actions, chore

#8157 Fix hyperlink to image build procedure in README.md
  build/README.md
Labels: documentation

#8158 Fix broken hyperlink to F5 Container Registry Download doc in README.md
  README.md
Labels: documentation

#8171 Ensure all links resolve correctly in README.md
  README.md
Labels: documentation

#8176 add helm setup gh action
  .github/workflows/ci.yml
  .github/workflows/lint-format.yml
  .github/workflows/regression.yml
Labels: github_actions, chore

#8181 Remove existence check from templates before range
  internal/configs/version1/nginx-plus.ingress.tmpl
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.ingress.tmpl
  internal/configs/version1/nginx.tmpl
Labels: chore

#8197 Update CI workflow_call boolean inputs
  .github/workflows/ci.yml
Labels: github_actions, chore
