Repository nginx/kubernetes-ingress, pull requests merged in 2025-01, with the labels that each got.

#7058 remove index annotations from AWS marketplace images
  .github/workflows/build-plus.yml
Labels: github_actions, chore, needs cherry pick

#7062 Update Community Call Dates for the next quarter
  README.md
Labels: documentation

#7034 Add unprivileged port validation
  cmd/nginx-ingress/flags.go
  cmd/nginx-ingress/flags_test.go
  internal/validation/validation.go
  internal/validation/validation_test.go
  pkg/apis/dos/validation/dos.go
Labels: go

#7067 pre-commit: silence markdownlint
  .markdownlint-cli2.yaml
Labels: chore

#7084 update APIKey suppliedIn docs
  site/content/configuration/policy-resource.md
Labels: documentation, needs cherry pick

#7094 Fix broken link to NIM Security Monitoring
  site/content/releases.md
Labels: documentation, needs cherry pick

#7095 Fix broken link to NIM Security Monitoring
  site/content/releases.md
Labels: documentation

#7093 remove ubi images from CI
  .github/config/config-gcr-retag
  .github/config/config-plus-gcr-release
  .github/config/config-plus-nginx
  .github/data/matrix-images-nap.json
  .github/data/matrix-images-oss.json
  .github/data/matrix-images-plus.json
  .github/data/matrix-smoke-nap.json
  .github/data/matrix-smoke-oss.json
  .github/data/matrix-smoke-plus.json
  .github/data/patch-images.json
Labels: chore

#7104 remove additional ubi config
  .github/scripts/copy-images.sh
  .github/workflows/release.yml
  .github/workflows/update-docker-images.yml
Labels: github_actions, chore

#7110 Fix broken url in compile-waf-policies.md
  site/content/installation/integrations/app-protect-waf-v5/compile-waf-policies.md
Labels: documentation, needs cherry pick

#7120 Update Community Call time
  README.md
Labels: documentation

#7129 Docs: Fix links to NIM App-protect docs
  site/content/installation/integrations/app-protect-waf-v5/compile-waf-policies.md
  site/content/releases.md
Labels: documentation, needs cherry pick

#7131 refactor: replace `golang.org/x/exp` with stdlib
  go.mod
  go.sum
  internal/k8s/controller.go
  internal/k8s/controller_test.go
  pkg/apis/externaldns/validation/externaldns.go
Labels: dependencies, go

#7137 Update build instruction link, remove EoS versions from specifications
  build/README.md
  site/content/technical-specifications.md
Labels: documentation, needs cherry pick

#7151 update master/minion allowed ingress annotations
  examples/ingress-resources/mergeable-ingress-types/README.md
Labels: documentation, needs cherry pick

#7160 Bump Go version to 1.23.5
  go.mod
Labels: dependencies, go, needs cherry pick

#7054 Increase port number range
  internal/configs/parsing_helpers.go
  internal/k8s/validation_test.go
Labels: go

#7178 Fixed typo
  site/content/installation/integrations/app-protect-waf-v5/installation.md
Labels: documentation

#7185 Correct typo in helm lease annotations template
  charts/nginx-ingress/templates/controller-lease.yaml
  charts/nginx-ingress/values.yaml
Labels: helm_chart, needs cherry pick

#7175 Ratelimit based on JWT claim
  examples/custom-resources/rate-limit-jwt-claim/README.md
  examples/custom-resources/rate-limit-jwt-claim/rate-limit.yaml
  examples/custom-resources/rate-limit-jwt-claim/token.jwt
  examples/custom-resources/rate-limit-jwt-claim/virtual-server.yaml
  examples/custom-resources/rate-limit-jwt-claim/webapp.yaml
  pkg/apis/configuration/validation/policy.go
  site/content/configuration/policy-resource.md
  tests/data/rate-limit/policies/rate-limit-jwt-claim-sub.yaml
  tests/data/rate-limit/spec/virtual-server-jwt-claim-sub.yaml
  tests/suite/test_rl_policies.py
Labels: documentation, go, python, tests

#7191 Fix mountPath directory for NAP5 policy documentation
  site/content/installation/integrations/app-protect-waf-v5/compile-waf-policies.md
Labels: documentation, needs cherry pick

#7208 Remove kind 1.32.1 from available kind versions
  .github/workflows/ci.yml
  .github/workflows/regression.yml
Labels: github_actions, chore, needs cherry pick

#7211 VS template test tidy up
  internal/configs/configurator_test.go
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/nginx.virtualserver.tmpl
  internal/configs/version2/template_executor_test.go
  internal/configs/version2/templates_test.go
Labels: go

#7215 add central event reasons to the log package
  cmd/nginx-ingress/main.go
  internal/certmanager/sync.go
  internal/configs/configmaps.go
  internal/externaldns/sync.go
  internal/k8s/appprotect/app_protect_configuration.go
  internal/k8s/appprotect/app_protect_configuration_test.go
  internal/k8s/appprotect_dos.go
  internal/k8s/appprotect_waf.go
  internal/k8s/appprotectdos/app_protect_dos_configuration.go
  internal/k8s/appprotectdos/app_protect_dos_configuration_test.go
  internal/k8s/configuration.go
  internal/k8s/configuration_test.go
  internal/k8s/controller.go
  internal/k8s/global_configuration.go
  internal/k8s/policy.go
  internal/k8s/transport_server.go
  internal/license_reporting/license_reporting.go
  internal/logger/events.go
Labels: go

#7213 Fix broken URLs from repository migration
  site/content/configuration/policy-resource.md
  site/content/installation/integrations/app-protect-dos/installation.md
  site/content/releases.md
  site/content/tutorials/oidc-custom-configuration.md
Labels: documentation, needs cherry pick

#7205 add auth_jwt_claim_set in nginx plus virtualserver template
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/templates_test.go
Labels: enhancement, go

#7232 refactor policy config structs
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
Labels: go

#7246 re-enable ubi image build & publish
  .github/config/config-gcr-retag
  .github/config/config-plus-gcr-release
  .github/config/config-plus-nginx
  .github/data/matrix-images-nap.json
  .github/data/matrix-images-oss.json
  .github/data/matrix-images-plus.json
  .github/data/matrix-smoke-nap.json
  .github/data/matrix-smoke-oss.json
  .github/data/matrix-smoke-plus.json
  .github/data/patch-images.json
  .github/scripts/copy-images.sh
  .github/workflows/release.yml
  .github/workflows/update-docker-images.yml
Labels: github_actions, chore, needs cherry pick

#7247 Remove email support
  site/content/troubleshooting/troubleshoot-support.md
Labels: documentation, needs cherry pick

#7242 Add OIDC test using keycloak as idp
  .github/data/matrix-smoke-plus.json
  pyproject.toml
  tests/Dockerfile
  tests/data/common/app/keycloak/app.yaml
  tests/data/oidc/client-secret.yaml
  tests/data/oidc/nginx-config.yaml
  tests/data/oidc/nginx-ingress-headless.yaml
  tests/data/oidc/oidc.yaml
  tests/data/oidc/virtual-server-idp.yaml
  tests/data/oidc/virtual-server.yaml
  tests/requirements.in
  tests/requirements.txt
  tests/suite/test_oidc.py
Labels: python, docker, chore, tests
