Repository nginx/kubernetes-ingress, pull requests merged in 2025-03, with the labels that each got.

#7431 Fix linter issues
  internal/k8s/appprotect/app_protect_configuration.go
  internal/k8s/appprotectdos/app_protect_dos_configuration.go
Labels: bug, go

#7422 improve single image build & test workflows
  .github/workflows/build-single-image.yml
  .github/workflows/single-image-regression.yml
Labels: github_actions, chore

#7440 add zone-sync support to OIDC tests
  tests/data/oidc/nginx-config-zs.yaml
  tests/suite/test_oidc.py
  tests/suite/test_zone_sync.py
Labels: python, tests

#7283 update WAF to latest version
  .github/workflows/regression.yml
  .github/workflows/setup-smoke.yml
  build/Dockerfile
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  charts/tests/__snapshots__/helmunit_test.snap
  site/content/installation/installing-nic/installation-with-helm.md
  site/content/installation/integrations/app-protect-waf-v5/installation.md
  tests/settings.py
Labels: documentation, python, github_actions, docker, chore, tests, helm_chart

#7447 add latest version to bug report template
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
Labels: github_actions, chore

#7445 update zone-sync headless service selector label
  charts/nginx-ingress/templates/_helpers.tpl
  charts/tests/__snapshots__/helmunit_test.snap
  cmd/nginx-ingress/main.go
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  internal/k8s/service.go
  internal/telemetry/cluster_test.go
Labels: go, helm_chart

#7419 Documentation for jwt claim based tiered rate limit
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  examples/custom-resources/rate-limit-tiered-jwt-claim/README.md
  pkg/apis/configuration/v1/types.go
  site/content/configuration/policy-resource.md
Labels: documentation, go

#7457 Update Go version to v1.24.1
  .github/workflows/ci.yml
  build/Dockerfile
  go.mod
Labels: dependencies, go, github_actions, docker

#7462 update nginx versions in docs
  README.md
  charts/nginx-ingress/Chart.yaml
  charts/nginx-ingress/values-icp.yaml
  charts/nginx-ingress/values-plus.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  examples/custom-resources/service-insight/README.md
  site/content/releases.md
  site/content/technical-specifications.md
  site/layouts/shortcodes/nic-helm-version.html
  site/layouts/shortcodes/nic-operator-version.html
  site/layouts/shortcodes/nic-version.html
Labels: documentation, helm_chart

#7477 Update manifest install
  site/content/installation/installing-nic/installation-with-manifests.md
Labels: documentation, needs cherry pick

#7468 Rate limit zone sync
  internal/configs/ingress.go
  internal/configs/ingress_test.go
  internal/configs/version1/__snapshots__/template_test.snap
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.ingress.tmpl
  internal/configs/version1/template_test.go
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  internal/k8s/controller.go
  internal/k8s/controller_test.go
  pyproject.toml
  tests/suite/test_rl_ingress.py
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
  tests/suite/test_zone_sync.py
  tests/suite/utils/nginx_api_utils.py
Labels: go, python, chore, tests

#7482 sets opentracing to false based on configmap keys
  internal/configs/configmaps.go
  internal/configs/configmaps_test.go
Labels: bug, go

#7479 update zone sync docs to describe the functionality
  site/content/configuration/global-configuration/configmap-resource.md
Labels: documentation

#7497 update version of golangci-lint
  .pre-commit-config.yaml
Labels: chore, needs cherry pick

#7480 update rate limit docs to describe zone sync
  site/content/configuration/policy-resource.md
Labels: documentation

#7554 update golangci lint config to support v2
  .golangci.yml
Labels: chore

#7519 add new directory for rofs
  charts/nginx-ingress/templates/_helpers.tpl
  deployments/daemon-set/nginx-ingress.yaml
  deployments/daemon-set/nginx-plus-ingress.yaml
  deployments/deployment/nginx-ingress.yaml
  deployments/deployment/nginx-plus-ingress.yaml
  tests/suite/utils/resources_utils.py
Labels: bug, python, tests, helm_chart

#7521 Rate limit with zone sync and scale
  internal/configs/ingress.go
  internal/configs/ingress_test.go
  internal/configs/version1/__snapshots__/template_test.snap
  internal/configs/version1/nginx-plus.ingress.tmpl
  internal/configs/version1/template_test.go
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  tests/suite/test_rl_ingress.py
  tests/suite/test_rl_policies.py
  tests/suite/test_rl_policies_vsr.py
  tests/suite/utils/resources_utils.py
Labels: go, python, tests

#7559 Update zone sync doc
  site/content/configuration/global-configuration/configmap-resource.md
Labels: documentation

#7570 update triage call dates
  README.md
Labels: documentation

#7576 Update docs for helm and security monitoring
  site/content/releases.md
  site/content/tutorials/security-monitoring.md
Labels: documentation, needs cherry pick

#7531 Update Basic configuration documentation
  site/content/configuration/ingress-resources/basic-configuration.md
Labels: documentation, needs cherry pick
