Repository nginx/kubernetes-ingress, pull requests merged in 2025-07, with the labels that each got.

#8011 Allow StartupProbe to be configured via helm
  charts/nginx-ingress/templates/controller-daemonset.yaml
  charts/nginx-ingress/templates/controller-deployment.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  charts/tests/__snapshots__/helmunit_test.snap
  charts/tests/helmunit_test.go
  charts/tests/testdata/startupstatus-invalid.yaml
  charts/tests/testdata/startupstatus-valid.yaml
  examples/ingress-resources/startup-probe/README.md
  examples/ingress-resources/startup-probe/startup-probe-ingress.yaml
Labels: enhancement, go

#8032 update snaps
  charts/tests/__snapshots__/helmunit_test.snap
Labels: tests, needs cherry pick

#7991 Ensure packages are installed on images
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  tests/Makefile
  tests/data/modules/data.json
  tests/requirements.txt
  tests/scripts/check_container_packages.py
Labels: python, github_actions, tests

#8034 Update community call dates
  README.md
Labels: chore

#7992 add crd docs in dev docs
  .codecov.yml
  Makefile
  docs/crd/appprotect.f5.com_aplogconfs.md
  docs/crd/appprotect.f5.com_appolicies.md
  docs/crd/appprotect.f5.com_apusersigs.md
  docs/crd/appprotectdos.f5.com_apdoslogconfs.md
  docs/crd/appprotectdos.f5.com_apdospolicy.md
  docs/crd/appprotectdos.f5.com_dosprotectedresources.md
  docs/crd/externaldns.nginx.org_dnsendpoints.md
  docs/crd/k8s.nginx.org_globalconfigurations.md
  docs/crd/k8s.nginx.org_policies.md
  docs/crd/k8s.nginx.org_transportservers.md
  docs/crd/k8s.nginx.org_virtualserverroutes.md
  docs/crd/k8s.nginx.org_virtualservers.md
  go.mod
  hack/generate-crd-docs.go
Labels: go, chore

#8045 Collapse package report comment
  .github/workflows/ci.yml
  tests/scripts/check_container_packages.py
Labels: python, github_actions, chore

#8043 update interval checks
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
  internal/configs/configmaps.go
  internal/configs/configmaps_test.go
Labels: bug, go, needs cherry pick

#7584 fix: service insight for cross namespace configuration
  internal/configs/configurator.go
  internal/configs/configurator_test.go
Labels: go

#7993 Add SNI to NIC JWT Policy
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/validation/policy.go
  pkg/apis/configuration/validation/policy_test.go
Labels: enhancement, go

#8053 Add GOPROXY to binary builds
  .github/workflows/ci.yml
  .github/workflows/image-promotion.yml
Labels: github_actions, chore

#8068 Add control labels to Agent for N1C
  internal/nginx/manager.go
Labels: go, chore

#8067 Remove extra double quote in variable assignment
  .github/workflows/image-promotion.yml
Labels: github_actions, chore

#8081 Update to ubuntu 24.04 runners
  .github/workflows/build-base-images.yml
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/build-single-image.yml
  .github/workflows/build-test-image.yml
  .github/workflows/build-ubi-dependency.yml
  .github/workflows/cache-update.yml
  .github/workflows/certify-ubi-image.yml
  .github/workflows/cherry-pick.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependency-review.yml
  .github/workflows/dockerhub-description.yml
  .github/workflows/f5-cla.yml
  .github/workflows/fossa.yml
  .github/workflows/image-promotion.yml
  .github/workflows/issues.yaml
  .github/workflows/labeler.yml
  .github/workflows/lint-format.yml
  .github/workflows/notifications.yml
  .github/workflows/oss-release.yml
  .github/workflows/patch-image.yml
  .github/workflows/plus-release.yml
  .github/workflows/publish-helm.yml
  .github/workflows/regression.yml
  .github/workflows/release-pr.yml
  .github/workflows/release.yml
  .github/workflows/retag-images.yml
  .github/workflows/scorecards.yml
  .github/workflows/setup-smoke.yml
  .github/workflows/single-image-regression.yml
  .github/workflows/stale.yml
  .github/workflows/update-docker-images.yml
  .github/workflows/update-docker-sha.yml
  .github/workflows/update-kubernetes-version.yml
  .github/workflows/update-release-draft.yml
  .github/workflows/updates-notification.yml
  .github/workflows/version-bump.yml
Labels: github_actions, chore
