Repository nginx/kubernetes-ingress, pull requests merged in 2025-05, with the labels that each got.

#7731 update triage dates
  README.md
Labels: documentation

#7729 Removed unused configurations parameters for helm installation
  site/content/installation/installing-nic/installation-with-helm.md
Labels: documentation, needs cherry pick

#7733 Removed unused serviceMonitor configuration parameters from helm installation docs
  site/content/installation/installing-nic/installation-with-helm.md
Labels: documentation

#7728 doc: formatted example clone repo command as codeblock
  site/content/installation/installing-nic/installation-with-manifests.md
Labels: documentation

#7678 cherry pick to chosen branch
  .github/workflows/cherry-pick.yml
Labels: github_actions, chore

#7739 Revert "cherry pick to chosen branch"
  .github/workflows/cherry-pick.yml
Labels: github_actions, chore

#7744 Update docs for watch-secret-namespace
  site/content/configuration/global-configuration/command-line-arguments.md
  site/content/installation/installing-nic/installation-with-helm.md
Labels: documentation, needs cherry pick

#7748 add ; in oidc files
  internal/configs/oidc/oidc_common.conf
Labels: bug

#7750 revert OIDC updates to unblock
  internal/configs/oidc/oidc.conf
  internal/configs/oidc/oidc_common.conf
  internal/configs/oidc/openid_connect.js
Labels: bug

#7753 update ci files to build on oidc conf changes
  .github/scripts/variables.sh
  internal/configs/oidc/oidc.conf
Labels: bug, chore

#7755 update NIC about page
  site/content/overview/about.md
Labels: documentation, needs cherry pick

#7782 Add note to the Tech Specs about removal of archs
  site/content/technical-specifications.md
Labels: documentation, needs cherry pick

#7784 remove s390x, arm/7 and ppc64le
  .github/data/matrix-images-oss.json
  .github/data/matrix-regression.json
  .github/workflows/build-base-images.yml
  .github/workflows/build-oss.yml
  .github/workflows/build-plus.yml
  .github/workflows/build-ubi-dependency.yml
  .github/workflows/patch-image.yml
  .goreleaser.yml
  site/content/installation/build-nginx-ingress-controller.md
  site/content/technical-specifications.md
Labels: documentation, github_actions, chore

#7758 Clean up Agent values file and tests
  .github/data/matrix-smoke-nap.json
  charts/nginx-ingress/values.yaml
  charts/tests/__snapshots__/helmunit_test.snap
  charts/tests/helmunit_test.go
  charts/tests/testdata/app-protect-waf-agentv2.yaml
  charts/tests/testdata/app-protect-wafv5-agentv2.yaml
  pyproject.toml
  tests/suite/test_agent_app_protect.py
Labels: go, python, chore, tests, helm_chart

#7801 Replace archive.builds with .ids in goreleaser
  .goreleaser.yml
Labels: chore

#7786 correct namespace for mgmt secrets
  internal/k8s/controller.go
Labels: bug, go

#7822 fix markdown linter issues
  CHANGELOG.md
  CONTRIBUTING.md
  deployments/README.md
  examples/custom-resources/oidc/README.md
  examples/ingress-resources/daemon-set/README.md
  examples/shared-examples/rbac/README.md
Labels: bug, documentation

#7832 add request_method to rate-limit policy
  pkg/apis/configuration/validation/policy.go
  pkg/apis/configuration/validation/policy_test.go
  site/content/configuration/policy-resource.md
Labels: enhancement, documentation, go

#7843 trigger an image rebuild if the js or conf files change
  .github/scripts/variables.sh
Labels: chore

#7834 Reference main mend job
  .github/workflows/mend.yml
Labels: github_actions, chore

#7837 Run codeql from referenced workflow
  .github/workflows/codeql-analysis.yml
Labels: github_actions, chore

#7642 Add OpenTelemetry support
  .github/data/matrix-smoke-nap.json
  .github/data/matrix-smoke-oss.json
  .github/data/matrix-smoke-plus.json
  .github/workflows/build-ubi-dependency.yml
  .github/workflows/update-docker-sha.yml
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
  build/dependencies/Dockerfile.ubi8
  build/dependencies/Dockerfile.ubi9
  examples/shared-examples/otel/README.md
  examples/shared-examples/otel/nginx-config.yaml
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/configmaps_test.go
  internal/configs/version1/__snapshots__/template_test.snap
  internal/configs/version1/config.go
  internal/configs/version1/nginx-plus.tmpl
  internal/configs/version1/nginx.tmpl
  internal/configs/version1/template_test.go
  pyproject.toml
  site/content/configuration/global-configuration/configmap-resource.md
  site/content/technical-specifications.md
  tests/Makefile
  tests/data/otel/configmap-with-all-except-endpoint.yaml
  tests/data/otel/configmap-with-all.yaml
  tests/data/otel/configmap-with-endpoint.yaml
  tests/data/otel/configmap-with-header.yaml
  tests/data/otel/configmap-with-only-header-name.yaml
  tests/data/otel/configmap-with-only-header-value.yaml
  tests/data/otel/configmap-with-otel-trace.yaml
  tests/data/otel/configmap-with-service-name.yaml
  tests/data/otel/default-configmap.yaml
  tests/suite/test_otel.py
  tests/suite/utils/resources_utils.py
Labels: enhancement, documentation, go, python, github_actions, docker, chore, tests

#7815 Docs for connecting NIC to NGINX One Console
  site/content/installation/integrations/nic-n1-console.md
Labels: documentation

#7849 Add `control-id` label to Agent as required for N1C
  internal/nginx/manager.go
Labels: go
