Repository nginx/kubernetes-ingress, pull requests merged in 2025-02, with the labels that each got.

#7239 Add initial `zone_sync` values to the ConfigMap
  internal/configs/config_params.go
  internal/configs/configmaps.go
  internal/configs/configmaps_test.go
  internal/configs/version1/config.go
Labels: enhancement, go

#7230 allow newline in helm helpers when enabling debug
  charts/nginx-ingress/templates/_helpers.tpl
  charts/tests/__snapshots__/helmunit_test.snap
  charts/tests/helmunit_test.go
  charts/tests/testdata/plus-debug.yaml
Labels: go, helm_chart

#7297 Pin app protect v5 version
  .github/workflows/build-base-images.yml
  .github/workflows/build-oss.yml
  .github/workflows/build-ot-dependency.yml
  .github/workflows/build-plus.yml
  .github/workflows/build-single-image.yml
  .github/workflows/build-test-image.yml
  .github/workflows/build-ubi-dependency.yml
  .github/workflows/cache-update.yml
  .github/workflows/certify-ubi-image.yml
  .github/workflows/cherry-pick.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependabot-hugo.yml
  .github/workflows/dependency-review.yml
  .github/workflows/dockerhub-description.yml
  .github/workflows/fossa.yml
  .github/workflows/image-promotion.yml
  .github/workflows/issues.yaml
  .github/workflows/labeler.yml
  .github/workflows/lint-format.yml
  .github/workflows/mend.yml
  .github/workflows/notifications.yml
  .github/workflows/oss-release.yml
  .github/workflows/patch-image.yml
  .github/workflows/plus-release.yml
  .github/workflows/publish-helm.yml
  .github/workflows/regression.yml
  .github/workflows/release-pr.yml
  .github/workflows/release.yml
  .github/workflows/retag-images.yml
  .github/workflows/scorecards.yml
  .github/workflows/setup-smoke.yml
  .github/workflows/single-image-regression.yml
  .github/workflows/stale.yml
  .github/workflows/update-docker-images.yml
  .github/workflows/update-docker-sha.yml
  .github/workflows/update-kubernetes-version.yml
  .github/workflows/update-release-draft.yml
  .github/workflows/updates-notification.yml
  .github/workflows/version-bump.yml
  build/Dockerfile
Labels: github_actions, docker, chore

#7298 Pin app protect version
  .github/workflows/build-base-images.yml
  .github/workflows/build-oss.yml
  .github/workflows/build-ot-dependency.yml
  .github/workflows/build-plus.yml
  .github/workflows/build-single-image.yml
  .github/workflows/build-test-image.yml
  .github/workflows/build-ubi-dependency.yml
  .github/workflows/cache-update.yml
  .github/workflows/certify-ubi-image.yml
  .github/workflows/cherry-pick.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependabot-hugo.yml
  .github/workflows/dependency-review.yml
  .github/workflows/dockerhub-description.yml
  .github/workflows/fossa.yml
  .github/workflows/image-promotion.yml
  .github/workflows/issues.yaml
  .github/workflows/labeler.yml
  .github/workflows/lint-format.yml
  .github/workflows/mend.yml
  .github/workflows/notifications.yml
  .github/workflows/oss-release.yml
  .github/workflows/patch-image.yml
  .github/workflows/plus-release.yml
  .github/workflows/publish-helm.yml
  .github/workflows/regression.yml
  .github/workflows/release-pr.yml
  .github/workflows/release.yml
  .github/workflows/retag-images.yml
  .github/workflows/scorecards.yml
  .github/workflows/setup-smoke.yml
  .github/workflows/single-image-regression.yml
  .github/workflows/stale.yml
  .github/workflows/update-docker-images.yml
  .github/workflows/update-docker-sha.yml
  .github/workflows/update-kubernetes-version.yml
  .github/workflows/update-release-draft.yml
  .github/workflows/updates-notification.yml
  .github/workflows/version-bump.yml
  build/Dockerfile
Labels: github_actions, docker, chore

#7295 Clean up and fix for NIC Pod failing to bind when NGINX exits unexpectedly
  cmd/nginx-ingress/main.go
Labels: bug, go

#7299 update to nginx 1.27.4
  build/Dockerfile
  build/dependencies/Dockerfile.ubi
Labels: docker, needs cherry pick

#7306 Update opentracing module
  build/Dockerfile
Labels: docker, needs cherry pick

#7281 update helm snaps versions when creating release PR
  .github/scripts/release-version-update.sh
Labels: chore, needs cherry pick

#7310 Ubi dependecy update for NGINX 1.27.4
  build/Dockerfile
Labels: dependencies

#7238 generate auth_jwt_claim_set directive
  config/crd/bases/k8s.nginx.org_policies.yaml
  deploy/crds.yaml
  internal/configs/version2/__snapshots__/templates_test.snap
  internal/configs/version2/http.go
  internal/configs/version2/nginx-plus.virtualserver.tmpl
  internal/configs/version2/templates_test.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
  pkg/apis/configuration/v1/types.go
  pkg/apis/configuration/v1/zz_generated.deepcopy.go
  pkg/apis/configuration/validation/policy.go
  pkg/apis/configuration/validation/policy_test.go
Labels: enhancement, go

#7328 only run codegen if go code/modules have changed
  .github/workflows/ci.yml
Labels: github_actions, chore

#7327 only mark pipeline as succeeded when image build jobs pass
  .github/workflows/ci.yml
Labels: github_actions, chore

#7336 Update Go version to Go v1.23.6
  go.mod
Labels: dependencies, go, needs cherry pick

#7348 Update or remove mentions to NGINX Community Slack
  CONTRIBUTING.md
  README.md
  site/content/community.md
Labels: documentation, needs cherry pick

#7318 allow customization of service http and https port names through helm
  charts/nginx-ingress/templates/controller-service.yaml
  charts/nginx-ingress/values.schema.json
  charts/nginx-ingress/values.yaml
Labels: helm_chart, needs triage

#7390 Tiered Rate limit group maps
  internal/configs/version2/http.go
  internal/configs/virtualserver.go
  internal/configs/virtualserver_test.go
Labels: enhancement, go

#7393 Rate limit group example
  .pre-commit-config.yaml
  examples/custom-resources/rate-limit-jwt-claim/README.md
  examples/custom-resources/rate-limit-tiered-jwt-claim/README.md
  examples/custom-resources/rate-limit-tiered-jwt-claim/basic-token.jwt
  examples/custom-resources/rate-limit-tiered-jwt-claim/cafe-secret.yaml
  examples/custom-resources/rate-limit-tiered-jwt-claim/cafe-virtual-server.yaml
  examples/custom-resources/rate-limit-tiered-jwt-claim/coffee.yaml
  examples/custom-resources/rate-limit-tiered-jwt-claim/default-token.jwt
  examples/custom-resources/rate-limit-tiered-jwt-claim/premium-token.jwt
  examples/custom-resources/rate-limit-tiered-jwt-claim/rate-limits.yaml
Labels: enhancement, documentation, chore

#7396 enable jwksuri tests with keycloak
  tests/data/jwt-policy-jwksuri/configmap/nginx-config.yaml
  tests/data/jwt-policy-jwksuri/policies/jwt-policy-invalid.yaml
  tests/data/jwt-policy-jwksuri/policies/jwt-policy-valid.yaml
  tests/suite/test_jwt_policies_jwksuri.py
  tests/suite/test_jwt_policies_jwksuri_vsr.py
Labels: python, tests

#7400 Add tracking.info and copy into plus images
  build/Dockerfile
  build/dependencies/tracking.info.default
Labels: bug, docker

#7324 add delay & retry to flakey weight splits test
  tests/suite/test_v_s_route_weight_changes_dynamic_reload_many_splits.py
Labels: python, tests

#7415 Update packages listed by govuncheck
  go.mod
  go.sum
Labels: dependencies, go

#7418 Update split tests to use delete and create lib function
  tests/suite/test_v_s_route_weight_changes_dynamic_reload_many_splits.py
  tests/suite/utils/vs_vsr_resources_utils.py
Labels: python, tests

#7424 Cherry-pick updated packages
  go.mod
  go.sum
Labels: dependencies, go

#7434 Add zone-sync ConfigMap Keys to docs
  site/content/configuration/global-configuration/configmap-resource.md
  site/content/configuration/policy-resource.md
Labels: documentation
